[2022-06-01 15:24] chriswep opened #283 "[question/suggestion] why require old passphrase in `changeEncryptionSecret`?"
I wonder why it is necessary to pass the old passphrase when changing the stored secret? As far as i can see the underlying keychain interface (at least on iOS) does not request it. I see the following problem: If by any means (bug, crash, user issue; doesn't matter) we end up in a situation where we don't know the old passphrase anymore, the situation is unrecoverable, even beyond app re-install

[2022-06-01 16:57] Sampath-Lokuge opened #284 "Help: Related to the latest Delete workflow"
Hi,

Execute the deleteExportedRows method which physically deletes all table's rows having 1 as value for the sql_deleted column prior to the last_exported_date in your local database.

I have seen this related to the Delete workflow. But do we need to manually set the `setSyncDate`? We have not done that with the older version of this plugin hence it does by the Trigger. i.e. `last_modified`

I

[2022-06-02 05:46] jepiqueau commented on #284
@Sampath-Lokuge no it is not a typo read the readme.md. there is an app shoping this https://github.com/jepiqueau/angular-sqlite-synchronization-app. It is working fine on iOS,
 Android and electron there is an issue with the web

[2022-06-02 05:46] Sampath-Lokuge commented on #281
I would like to accept this change due to maintain a consistent API across the tables. i.e. I have done that change now on my tables.

[2022-06-02 05:46] #281 closed

[2022-06-02 05:48] jepiqueau commented on #283
@chriswep it is required for security anyone hacking your device cannot change the passphrase without knowing the old one

[2022-06-02 07:23] chriswep commented on #283
@jepiqueau does this method actually re-encrypt the data? If not, I don't see the security implications. Access to the data will just fail after setting a new/wrong passphrase with this method or?

[2022-06-02 08:00] chriswep commented on #283
doesn't that mean that the old passphrase is already required to access the data / open the database? is there an added security by also adding it to this method? i feel it just prevents a legitimate use case (like overwriting the passphrase of a previous app-install).

[2022-06-02 14:23] Sampath-Lokuge commented on #284
Do we need to manually set the `setSyncDate`? We have not done that with the older version of this plugin hence it does by the Trigger. i.e. `last_modified`

[2022-06-02 16:10] jepiqueau commented on #284
@Sampath-Lokuge yes it is required as it check the last_modified against the stored sync_date which need to be updated after successful export to the remote server

[2022-06-03 15:01] Sampath-Lokuge commented on #278
Due to the complexity of UI/UX and the new delete workflow changes on the plugin, I have decided to create a new Single PK  each and every time to avoid duplicate PKs with the deleted records. Thanks for the feedback.

[2022-06-09 12:14] s3vdev opened #285 "Problems with DELETE FROM"
**Describe the bug**
When attempting to call a delete statement using multiline strings, e.g.
[code]
the following error occurs:
`Error: Run: near "FROM": syntax error: , while compiling: UPDATE TE FROM sample_table SET sql_deleted = 1 WHERE col_1 = ?
        AND col_2 = ?`

Rewriting the query onto a single line, regardless of with backticks or apostrophes as string delimiters, leads to the follo

[2022-06-10 04:56] Sampath-Lokuge commented on #285
This works for me

[code]

[2022-06-10 06:42] jepiqueau commented on #285
@s3dev i do not understand the ' , col3 = ? ' comes from. There are some zpps demonstrating the use of the delete command on my site which works. capacitor-solid-sqlite is the one i use to test

[2022-06-11 15:35] marnec opened #286 "Web Angular/Ionic; Error: no connection open for data.db"
**Describe the bug**
After following the web documentation at:
https://github.com/capacitor-community/sqlite/blob/master/docs/Web-Usage.md

Whenever i try to run
[code]

I get the following error:

[code]
where `sqlite.service.ts` is copy-pasted from the documentation itself

Further notes: `data.db` file doesn't exist. I would manually create it but I don't know the default location the plugin lo

[2022-06-12 06:44] jepiqueau commented on #286
@marnec can you tell me which version of sql.js has been installed it should not be greater than 1.6.2. Otherwise look at angular-sqlite-app-starter

[2022-06-12 07:34] marnec commented on #286
checking the package.json of sql.js in my node_modules i see `"version"="1.7.0"`,

Apparently this is due to the fact that /jeep-sqlite specifies the sql.js dependency as `^1.6.2` instead of `1.6.2`.

I'll try to pin the 1.6.2 version in my package.json

Here you have the complete sql.js package.json
[code]

[2022-06-13 06:29] jepiqueau commented on #286
@marnec i just published the release 1.5.3 which is using strictly sql.js@1.6.2 can you try and report

[2022-06-13 06:38] jepiqueau commented on #283
@chriswep yes the old passphrase is required to open the database prior to rekey the new passphrase

[2022-06-13 06:38] #283 closed

[2022-06-13 06:50] jepiqueau commented on #282
@Sampath-Lokuge you must have a sql_deleted column on each of your table as well. The output message must be amended

[2022-06-13 06:52] #284 closed

[2022-06-13 06:53] jepiqueau commented on #285
@s3vdev any progress on this

[2022-06-13 11:49] Sampath-Lokuge commented on #282
Yes, we would like a more meaningful/complete message here. Maybe with a link to the readme file for that section.

[2022-06-13 12:47] s3vdev commented on #285
@jepiqueau Regarding "col_3", the table in question has nine columns (col_1 through col_9) plus "sql_deleted" and "last_modified".
For some reason, the third column gets included, although the original statement only has the first two.
That said, changing the query to only include col_3 (`DELETE FROM sample_table WHERE col_3 = ?`) however produces `Error: Run: near ",": syntax error: , while compi

[2022-06-13 16:57] jepiqueau commented on #286
@marnec difficult to understand can you share your project or a small repro project

[2022-06-15 15:29] CosminCraciun opened #287 "Drop database in electron"
Deleting the database from an electron app fails with the following error:
`Error: Error invoking remote method 'CapacitorSQLite-deleteDatabase': Error: Delete: Error: DeleteDB: deleteFile failed DeleteFileName: delete filePath failed DeleteFilePath: Error: EBUSY: resource busy or locked, unlink ...`

It works fine for other devices (web / android / ios).
I have tried closing the before deleting,

[2022-06-15 20:51] marnec commented on #286
I tried to create a new project from scratches in order to share a minimal reproucible environemnt where the error occurs but everything seem to work fine in the new project (while it keeps not working on the original project).

I gradually moved all the pieces of the original project to the new project in order to pinpoint what change triggers the error but the error never occurs in the new proje

[2022-06-15 20:51] #286 closed

[2022-06-16 06:08] jepiqueau commented on #286
@marnec i am happy that its works. I am on a personal project at this time and quite busy so i do not have too much time to give to support sqlite plugin right now . Good luck with your dev.

[2022-06-16 08:01] LgArcida commented on #287
+1

[2022-06-20 17:49] jepiqueau commented on #283
@chriswep Sorry i do not understand your reasoning.

[2022-06-20 18:02] jepiqueau commented on #287
@CosminCraciun can you share a small repro code showing the error. It will help me to identify the error.

[2022-06-20 18:43] jepiqueau commented on #285
@s3vdev you right composite primary keys have not been implemented as well as foreign key with multiple WHERE clause

[2022-06-21 05:47] jepiqueau commented on #283
@chriswep i am currently on a privat3 project which require all my time and attention feel free to make a PR resolving your case both in iOS and Android i will merge it

[2022-06-21 20:49] chriswep commented on #283
@jepiqueau i created this PR: https://github.com/capacitor-community/sqlite/pull/289

after looking at the code i decided to resolve the issue by creating the method `clearEncryptionSecret`. That way the current API and behaviour is not changed and there should be no security concerns (since using the method can only remove access to data for an attacker). this resolves the issue by providing a wa

[2022-06-26 13:20] marnec opened #292 "importFromJson not importing all values"
**Describe the bug**
When using the function `importFromJson()` only part of the data contained in the JSON is imported.

A simple illustrated example:
I have a service called `SyncService`. Upon instantiation the `SyncService` should retrieve a stored version of the DB (previously obtained calling the `exportToJson('full')` method and stored on a remote DB) and import its content using the `impor

[2022-06-26 15:42] moksamedia opened #293 "QUESTION: best practices for using SQLite connections in Vue/JS?"
Can someone point me to a guide on best practices for SQLite usage in Vue? Particularly with regard to connection management. Or just answer here.

I'm writing an app and abstracting out my SQLite access into a database module. I'm not sure how often I should be creating and closing connections. Should every function open a new connection and close it? Should each Vue module create a connection wh

[2022-07-01 09:34] maxcodefaster opened #294 "Return Object on insert"
It would be very helpful to return the inserted object on insert (to have id etc).

i have not seen an option for this

[2022-07-01 09:35] maxcodefaster commented on #294
nvm we can just use the `run` command

[2022-07-02 08:11] CosminCraciun commented on #287
@jepiqueau I created a simple app for you to try this. It just runs web and electron. I have specified how to run them in the readme.
You can find it [here](https://github.com/CosminCraciun/db-delete)
The app initializes the database on startup and tries to delete it when you press the button. The db location in electron is in `C:\ProgramData\Test-delete-db`

[2022-07-05 07:48] jepiqueau commented on #287
@CosminCraciun this is the procedure i followed
[code]

and everything work fine
in the browser to see that the database is deleted do not forget to refresh JeepSqliteStore and you will see under database that the key testSQLite.db is not there anymore

[2022-07-07 15:13] jepiqueau commented on #292
@marnec I do not really follow what you are doing from the additional context. the mode for the importFromJson is int the json object itself. i do not really understand what the export of the db is made for and i do not see the reason to do that at every write action. The purpose of the importFromJson and exportToJson is to synchronize the database with a remote database on a server. It seems that

[2022-07-07 15:31] CosminCraciun commented on #287
@jepiqueau  sorry for the late response

in the browser it works fine. Electron is the issue. Electron is not using JeepSqliteStore, the database is saved in C:\ProgramData\...

Regarding your steps: deleting the electron folder also deletes capacitor.config.ts,. On generation the new one does not have the plugin section with the sqlite location.

But I ran a few more tests now. And it does not se

[2022-07-08 08:00] jepiqueau commented on #287
@CosminCraciun i will publish the app i clone from you as what you described never happen to me so you can test it

[2022-07-10 17:25] jepiqueau commented on #287
@CosminCraciun look at https://github.com/jepiqueau/db-delete

[2022-07-11 07:48] CosminCraciun commented on #287
I have tried your repo and followed the steps described and I got the error on the first run. To clarify, I am running Windows. I have seen it under both windows 10 and 11.

`main.6f0cddbb95640978.js:1 ERROR Error: Uncaught (in promise): Error: Error invoking remote method 'CapacitorSQLite-deleteDatabase': Error: Delete: Error: DeleteDB: deleteFile testSQLite.db failed DeleteFileName: delete fileP

[2022-07-11 10:22] jepiqueau commented on #287
@CosminCraciun OK i did not test under Windows but under Mac so i will have a look when i got time free

[2022-07-12 18:13] jepiqueau commented on #287
@CosminCraciun I took some time to look at it. i reproduce the error. now if i remove
[code]
 in method ensureTablesExist() of database.service.ts it is working well

[2022-07-12 18:29] jepiqueau commented on #287
@CosminCraciun i do not really what to do from there. Do you really need to use the journal_mode WAL ?

[2022-07-13 12:39] CosminCraciun commented on #287
That was added due to a different issue. Concurrent writes to the database interfered with each other: https://github.com/capacitor-community/sqlite/issues/215
It looked like just Android had `WAL` as a default.

I could try reverting the pragma before deleting. Do you think it's rather an issue with `sqlite3` under windows?

[2022-07-13 12:59] CosminCraciun commented on #287
@jepiqueau
I have tried setting journal_mode to `OFF`. And it partly worked. I also had to add a delay after closing the database. Otherwise operation went through without errors, but the db file was still present on disk

[2022-07-13 16:01] jepiqueau commented on #287
@CosminCraciun remove the execute command where you set up the pragma so the default delete will be set. Delete physically the database files on your disk and restart the app fir me it works

[2022-07-13 16:06] jepiqueau commented on #287
@CosminCraciun it is a Windows problem with sqlite3 as it works fine on Mac. Test if the platform is Electron under Windows and do not do the execute with the pragma that's all what i can say.  You must avoid concurrent writes on the db .

[2022-07-14 06:52] CosminCraciun commented on #287
It is a bit hard to avoid, as we have a few services that could be triggered in parallel. I was hoping the database will handle that.
My solution is:

1. set journal mode to `OFF`
2. close the db
3. have a small delay (~100ms)
4. delete the db

This seems to work fine.
Thanks for your help!

[2022-07-14 06:52] #287 closed

[2022-07-14 07:31] jepiqueau commented on #287
@CosminCraciun it may be better to set the journal_mode to DELETE than OFF. Anyhow if you find a solution which works it is fine as i do not know what to do with it. Have a good development

[2022-07-15 13:33] jepiqueau commented on #292
@marnec Can you show the inbox page html and ts where you call the SyncService

[2022-07-15 15:10] jepiqueau commented on #292
@marnec Look at (angular-sqlite-app-starter)[https://github.com/jepiqueau/angular-sqlite-app-starter] i add a test for issue292 and everything work fine

[2022-07-16 05:40] #154 closed

[2022-07-19 07:48] rnmaaa opened #295 "How to connect to existing DB"
Hi,
i am using this plugin in my app. But i do not understand how to connect to my existing database to display information on the page.
I have my file test_db.db (sqlite database) in public/assets/databases. But the code creates connection to a new empty DB and not to the existing one. And i get the error that the table was not found in the database. What do i do wrong?
And another question is th

[2022-07-19 08:12] jepiqueau commented on #295
@rnmaaa you have to copy thedatabase from the asset folder to the internal database folder before to use it there is an example in https://github.com/jepiqueau/angular-sqlite-app-starter

[2022-07-19 10:25] #295 closed

[2022-07-21 08:20] SkoricIT opened #296 "Using read-only connection for querying data while a long running transaction is executed"
Thank you for your work on this.

We have a long-running SQL query that imports gigabytes of data and requires the use of the database connection with transaction enabled. Is there any way to read from the database while the queries are running so that the app stays usable?

[2022-07-21 11:11] jepiqueau commented on #296
@SkoricIT when a  transaction is running the database is locked till the transaction is commited. Try do do a full export the first tume you open the app and then partial import to import only what has been modified. This will réduction the import time

[2022-07-21 12:19] SkoricIT commented on #296
@jepiqueau We have to import many gigabytes the first time the app is opened and it takes hours. Meanwhile the app is unusable. SQLite does allow reading while a write is happening. Will this never be supported?

[2022-07-22 07:09] jepiqueau commented on #296
@SkoricIT Importing many gigabytes of data will always be long. As the importFromJson is done in one connection and one transaction, no data will be available to query before the transaction is completed and the connection closed. I thing you should organized your app differently.
- Create the schemas of the database when the application starts with or without a small number of data common to all

[2022-07-22 07:15] SkoricIT commented on #296
We do create the tables and we use thousands of 1MB sized sql files for the import. Queries still stall out and pages that require SQL stall for multiple seconds. The issue is not that the import takes a long time. Its that already available data is not queryable because the database connection is busy.

[2022-07-22 07:42] jepiqueau commented on #296
@SkoricIT Ok, the code as of now does not allow multiple connections to the same database. It will be quite a job to do this. Cannot you split your database in several smaller databases?

[2022-07-22 08:08] jepiqueau commented on #296
@SkoricIT Which platform and which framework are you using?  If this process happen only once why do not you create the database in the asset folder of your app and when the app is open the first time copy the database from the asset folder to the local sqlite folder. see https://github.com/jepiqueau/angular-sqlite-app-starter

[2022-07-22 08:10] jepiqueau commented on #296
@SkoricIT and from there you can import "partial" when there is some modification in the remote database server

[2022-07-22 08:14] SkoricIT commented on #296
@jepiqueau We are using ionic6 wit angular.

[2022-07-22 08:35] jepiqueau commented on #296
@SkoricIT Understand your problem, well  unfortunately, i do not have more idea for the time being and i do not have enough free time in front of me to start going through all the code to implement multiple connections(one write,  multiple read) to the same database. In top of this i am in a middle of solving issue#285 which is also not an easy task. May be you could look yourself and make a PR

[2022-07-22 08:39] SkoricIT commented on #296
@jepiqueau I fully understand. I can try to get a budget to support your work on one of the possible extensions that solve our problem if you are interested in something like that?

[2022-07-22 08:51] jepiqueau commented on #296
@SkoricIT I do this on my free time as an open source developer. I am a retired guy, i had plenty of time free when i started this development but now i have less time as i am fully refurbishing an old house to leave in when completed. No one asks for this before, it would have been easier to implement at the beginning when i create the DBConnection. I will put it in the list of TODOS but do not e

[2022-07-22 09:14] jepiqueau commented on #296
@SkoricIT Well you can try this. Would you start by iOS or Android ? Do it for one and when done if you want to share it, i will do it for the other and Electron.

[2022-07-22 13:29] harikvpy opened #297 "createSyncTable/getSyncDate with TypeORM"
When *SyncTable() functions are used after TypeORM is initialized via TypeORM.createConnection() API, further TypeORM query methods fail with the message that the table doesn't exist.

Is there any restriction to using the *SyncTable() functions when TypeORM is used as the primary means of data manipulation? Or any special flags to configure to get these two to work together?

What am I doing wron

[2022-07-22 14:33] harikvpy commented on #297
I think I figured out the cause of this issue. I was closing the SQLiteDBConnection object after retrieving the syncDate and afterwards TypeORM calls fail. It seems TypeORM expects the initial connection to the DB to be open throughout the course of the program.

[2022-07-22 14:33] #297 closed

[2022-07-22 14:33] jepiqueau commented on #297
@harikvpy i have not really an idea about this. I never test it , i am not really a typeOrm user. May be you could share your app ans i may have a look

[2022-07-22 14:34] jepiqueau commented on #297
@harikvpy OK fine

[2022-07-25 12:16] MonicaExplan opened #298 "Remove rows with sql_deleted = 1"
Hi

perodically I would like to purge my Db, how can I Remove rows with sql_deleted = 1?

I have found deleteExportedRows(...) Remove rows with sql_deleted = 1 after an export, BUT I don't make export.
Can I use deleteExportedRows even if I have no export in my App?

Thanks a lot
Monica

[2022-07-28 09:49] HarelM commented on #61
I have a follow question related to this issue (somewhat).
I've tried to read the docs but I'm not sure I fully understand them.
My use case is the following:
1. I download a sqlite database from the server.
2. I place it in the cache folder of the app (It's a large database ~ 100 Mb so I need to use cordova-file-transfer plugin to download it and I would like to continue working with the existing

[2022-07-29 06:22] jepiqueau commented on #61
@HarelM thanks for using the plugin. There are methods provided for this in the plugin.
After your db has been copied with the cordova plugin in a specific folder you can use
- GetMigratableDbList at the path of the specific folder to make sure that the db is there.
- addSQLiteSuffix to make the copy of  of the db to the right folder and add SQLite suffix to the db
- deleteOldDatabases to remove t

[2022-07-29 06:27] jepiqueau commented on #61
@HarelM you can have a look at the MigratingCordovaDatabases doc. If you do not want to have your db visible you can define in the capacitor-config.ts the location of your databases see https://github.com/jepiqueau/angular-sqlite-app-starter . Hope this clarify.

[2022-07-29 06:46] HarelM commented on #61
Thanks @jepiqueau, super useful!
So basically I need to use the addsqlitesuffix and give it the cache folder, right? This means I don't need to worry about copying the databased my self and I don't need to know where the database actually are? Cool!

[2022-07-29 06:54] jepiqueau commented on #61
@HarelM the database will be in the location specify in the capacitor-config.ts otherwise they will be à the default location. Test it and if you find an issue tell me. Have a good migration of your app

[2022-07-29 10:00] SkoricIT commented on #296
@jepiqueau That sounds great, will come back to you on that when one platform is implemented!

[2022-07-29 10:10] jepiqueau commented on #296
@SkoricIT 👍

[2022-07-29 20:27] HarelM commented on #61
I used the method you said - `addSQLiteSuffix` and `deleteOldDatabases` but when I open a connection it tells me that there are no tables.
I'm guessing that I'm doing something wrong in terms of opening the connection as it's probably creating a new database instead of using the existing.
Please let me know what I'm doing wrong...
the filename is for example `something.mbtiles` downloaded to cache

[2022-07-30 04:36] jepiqueau commented on #61
@HarelM may be it is .mbtiles. could you call it something_mbtiles. In that case you should create the connection as await this.createConnection("something_mbtiles",...)

[2022-07-30 05:30] jepiqueau commented on #61
@HarelM forget about what i said something.mbtiles should work
await this.sqlite.createConnection(something.mbtiles,...)
Use method getTableList to get the liste of tables in the database

[2022-07-30 08:03] HarelM commented on #61
Nothing is working for me :-(( I'm sure I'm missing something obvious...
I've tried to save the databases as .db files and remove all the mess around .mbtiles stuff but it doesn't seem to help.
I still see some databases in the database list.
I'll try to clean the app storage stuff and see.
Is it possible that replacing an existing database doesn't really replace it?

[2022-07-30 10:06] jepiqueau commented on #61
@HarelM well i never test with a file coming from the cache usually the path that i tested where physical pathes on the device itself.

[2022-07-30 10:11] jepiqueau commented on #61
@HarelM how do you download the database from the server http request? Have you made this process when you were using the cordova sqlite plugin. Can you share your app or a repro app i may have a look.

[2022-07-30 10:14] HarelM commented on #61
I'm using cordiva plugin file transfer.
The repo is here:
https://github.com/IsraelHikingMap/Site/tree/main/IsraelHiking.Web/src/application/services
Checkout the file.service and database.service in main and capacitor-migration branches.
The migration is still a work in progress...

[2022-07-30 10:28] jepiqueau commented on #61
@HarelM i will have a look when i am back home and will tell you if i fond something

[2022-07-30 11:47] HarelM commented on #61
OK, after cleaning up everything and making sure I don't open a connection before checking that the database exists I get the following error:
`Error: getDatabaseList: No databases available` so this means that there's something wrong with the copying of the databases.
HMM... come to think about it, I think I experienced this issue in the past. the problem was that I was trying to copy the files i

[2022-07-30 15:41] jepiqueau commented on #298
@MonicaExplan any news ? Or i will close the issue

[2022-07-30 19:32] HarelM commented on #61
I think I found the problem in the code, please let me know if you would like me to open a new issue in order to track this.
The problem is with the following method:
https://github.com/capacitor-community/sqlite/blob/master/android/src/main/java/com/getcapacitor/community/database/sqlite/SQLite/UtilsMigrate.java#L79
It doesn't know what to do with the `cache` folder and so it returns a different

[2022-07-30 20:07] HarelM commented on #61
BTW, I needed to add the following to build.gradle after adding this plugin:
[code]
Is there anything that can be done in order to avoid this? I'm guessing that this plugin and another one are using the same file...?

[2022-07-31 05:11] jepiqueau commented on #61
@HarelM would be better to open a new issue with à title somethink like this cannot migrate à Cordova database from cache. Then make a link to this one to not loose the history. I have to look how files are stored in the cache. Have you try on iOS? I never had to set  exclude build.data.properties. i am busy on private things for the next two days i will start looking à this after.

[2022-07-31 05:19] jepiqueau commented on #61
@HarelM i found that link to move à file from cache to internal  http://www.java2s.com/Code/Android/File/Moveafilestoredinthecachetotheinternalstorageofthespecifiedcontext.htm may be if you have time you should be looking at it and see how to implement it in utilsMigrate by adding a case cache

[2022-07-31 05:40] HarelM opened #300 "Plugin fails to copy from cache folder"
**Describe the bug**
When calling `addSqliteSuffix("cache", ...)` the method does not copy the databases from the cache folder in Android
See more info in #61

**To Reproduce**
Steps to reproduce the behavior:

1. Save a database in the cache folder
2. Call `addSqliteSuffix`

**Expected behavior**
The database should be copied and it should have the right suffix

**Screenshots**
N/A

**Desktop (pl

[2022-07-31 05:44] HarelM opened #301 "After adding the plugin Android compilation fails"
**Describe the bug**
There seems to be a duplicate file between this plugin and probably another one (not sure which) that when I add this plugin I get a compilation error message.
In order to solve this error I add the following lines to gradle.build file in the app folder:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install @capacitor-community/sqlite`
2. `npx cap sync`
3.

[2022-07-31 05:51] HarelM opened #302 "[Feature] Add addSqliteSuffixAndMove method"
**Is your feature request related to a problem? Please describe.**
When downloading a db file there's a need to copy it and then delete it.
This operation might take long in case of large databases (I have a database of 2Gb for example that might take a few minutes to copy).

**Describe the solution you'd like**
I would like to be able to do it faster by simply moving the file without copying it a

[2022-08-01 07:59] MonicaExplan commented on #298
@jepiqueau Hi

to tell the truth I was waiting for an answer because in the documentaizone I do not find the answer I need
Thank you

[2022-08-01 09:32] jepiqueau commented on #298
@MonicaExplan you do not need to use sql_deleted and last_modified columns in your ta les if you do not synchronize your database with a remote server database. In that case the records will be deleted for any DELETE commands.npw you can use deleteExportRows to remove all the rows having a sql_deleted equal to 1

[2022-08-01 13:19] MonicaExplan commented on #298
Thanks
Monica

[2022-08-01 13:19] #298 closed

[2022-08-02 17:55] jepiqueau commented on #285
@s3vdev this has been fixed in 3.5.2. can you test it and revert to me

[2022-08-04 06:44] #300 closed

[2022-08-04 14:23] jeremyburton opened #305 "Compatibility with Capacitor v4"
Is there a plan to create a version of this plugin that is compatible with Capacitor v4? If so, is there any projected timeline for this?

[2022-08-04 17:16] jepiqueau commented on #305
@jeremyburton thanks for asking there are few PRs to look at and merge prior to update to Capacitor 4. If you have time to do it and test it feel free to make a PR for this. For the time being i have no free time fforsoftware development and i do not know what are the main changes in Capacitor 4.

[2022-08-05 20:43] HarelM commented on #302
I've created a PR - #307

[2022-08-07 09:17] #302 closed

[2022-08-07 09:40] jepiqueau commented on #292
@marnec Where do you stand on this ?

[2022-08-07 09:42] jepiqueau commented on #282
@Sampath-Lokuge i think this has been fixed so i close the issue. Feel free to re-open it if it is not the case

[2022-08-07 09:42] #282 closed

[2022-08-07 09:44] jepiqueau commented on #285
@s3vdev Having no return from you, i assume it has been fixed. It was quite a job to to it, so at least i was hoping some follow up from your side. I will close then the issue

[2022-08-07 09:48] jepiqueau commented on #266
@richardliebmann Any progress on this?

[2022-08-07 09:49] jepiqueau commented on #301
@HarelM Is that still true with the latest release 3.7.0 ?

[2022-08-07 09:50] HarelM commented on #301
I'll check and let you know.

[2022-08-07 10:00] HarelM commented on #301
Yes, this is still relevant.

[2022-08-07 12:54] jepiqueau commented on #305
@jeremyburton Thanks to the contribution of @rdlabo, there is a preliminary release 4.0.0-1 accessible with `npm install @capacitor-community/sqlite@next

[2022-08-08 06:48] marnec commented on #292
sorry @jepiqueau I have been on vacation for some time and completely forgot about this, I'll have a look at this this evening and I'll let you know

[2022-08-15 00:45] gvcambraia opened #308 "Best Practices to implement addUpgradeStatement"
Hello guys, I'm struggling to find out how is the best way to implement `addUpgradeStatement `

I'm developing an Ionic APP using

[code]

My question is, should we add the upgrade on index.tsx?

i.g.
Schema V1
[code]
Schema V2
[code]

index.tsx
[code]

What is the right order to create the base schema and then update it?

We need to close the connection with version number =1 after running the `a

[2022-08-15 06:05] jepiqueau commented on #308
@gvcambraia look at the example in angular-sqlite-app-starter in https://github.com/jepiqueau  under the test folder

[2022-08-15 06:07] jepiqueau commented on #308
@gvcambraia you also got a Documentation upgrade database version in the docs folder.

[2022-08-16 00:07] gvcambraia commented on #308
@jepiqueau thanks for pointing out the direction!

I ended up with this solution

index.tsx
[code]

and on the create connection hook for the rest of the APP
[code]

[2022-08-16 05:41] StevieWag commented on #305
@jeremyburton have you tested @capacitor-community/sqlite@next in your project and is it working as expected? we are also thinking about updating it

[2022-08-16 06:39] jepiqueau commented on #305
@jeremyburton i did not test it yet, i hope some developers can do it and revert. It is generally not the way i work but i am busy on a private project and had no time to work on. Ones make a PR i approved it. Considering the doc of Capacitor 4 there are no big changes and i assume if you follow this doc for making recommended changes in your app it should work if not please revert to me i will ha

[2022-08-16 06:40] jepiqueau commented on #308
@gvcambraia is your implementation works?

[2022-08-16 09:02] jeremyburton commented on #305
@StevieWag yes, and it is working as expected in my project.

[2022-08-16 09:54] gvcambraia commented on #308
Yes, for this Version 2 it's working..
But it just raised a new question, once I need to update it again to v3, I need to initialize the DB on version 2 and then run:
`await sqlite.addUpgradeStatement("appConn", 2, 3, dbv3)` ?

[2022-08-17 05:06] jepiqueau commented on #305
@StevieWag thank you for your feedback

[2022-08-17 05:09] jepiqueau commented on #308
@gvcambraia yes you right and so on. To day you cannot come back to a previous migration that is all

[2022-08-17 06:02] rakibul111 commented on #257
@jepiqueau can you please guide me how can I use this sqlite plugin with nextjs-ionic setup.

[2022-08-17 06:22] jepiqueau commented on #257
@rakibul111 exactely the same way that for react, vue, solidjs or angular.

[2022-08-17 06:32] jepiqueau commented on #257
@rakibul111
Npm i -- save @capacitor/core
Npm i --save-dev @capacitor/cli
Npm i --save @capacitor/ios and Android
Npx cap init yourappname yourappid
Npm run build
Npx cap add ios
Npx cap add android
Npx cap sync
Npm run build
Npx cap copy
Npx cap open ios
Npx cap open android
Thatis it

[2022-08-17 06:46] rakibul111 commented on #257
@jepiqueau where to setup for jeep-sqlite?

[2022-08-17 07:47] rakibul111 commented on #257
@jepiqueau Uncaught (in promise) RuntimeError: Aborted(LinkError: WebAssembly.instantiate(): Import #33 module="a" function="I" error: function import requires a callable). Build with -s ASSERTIONS=1 for more info.
    at L (jeep-sqlite.entry.js:2591:71)
    at jeep-sqlite.entry.js:2641:387

[2022-08-17 08:16] tobiasmuecksch commented on #257
This is not the right issue for this discussion.
Please open a new issue for that.

[2022-08-17 10:08] gvcambraia commented on #308
@jepiqueau Ok, I really appreciate your help!
Congratulations on this project

[2022-08-17 10:08] #308 closed

[2022-08-17 17:15] jepiqueau commented on #308
@gvcambraia thanks have a good app développement

[2022-08-18 07:48] jepiqueau commented on #257
@rakibul111 as mentioned by @tobiasmuecksch this is not the right place. Any how delete the sql-wasm.wasm file from your assets folder and copy the one from the node_modules/sql.js/dist/sql_wasm.wasm to your asset folder this should solve the issue

[2022-08-19 12:44] hicham-barhoumi commented on #201
I have a similar issue, we trying to migrate from codova plugin, we have to put the database in a custom shared folder in developpement mode so we can access it with an SQL tool(ex:SQLPrime) to check data and do dev and tester stufs. but the "createNCConnection/open" does not use openOrCreateDatabase of SQLiteDatabase so the database do not get created. It is a key feature for us. Any idea if this

[2022-08-19 13:29] jepiqueau commented on #201
@hicham-barhoumi if you want to migrate from cordova i assume that the database that you want to access is already existing so you can use createNCConnection to access it and this should work. So may be i did not understand your point

[2022-08-19 13:35] hicham-barhoumi commented on #201
@jepiqueau it does not exist until the app is loaded after a fresh install, or for some reason the devlopper delete it in the developpement process. So the idea is to create the database "if not exitst" like the "openOrCreateDatabase" of the database driver do

[2022-08-19 13:41] hicham-barhoumi commented on #201
and in the "ncDB" mode there is some limitation in the execute and run methods

[2022-08-19 13:41] hicham-barhoumi commented on #201
and in the "ncDB" mode there is some limitation in the execute and run methods of the plugin

[2022-08-19 14:26] hicham-barhoumi commented on #201
@jepiqueau it does not exist until the app is loaded after a fresh install, or for some reason the devlopper delete it in the developpement process. So the idea is to create the database "if not exitst" like the "openOrCreateDatabase" of the database driver do. and in the "ncDB" mode there is some limitation in the execute and run methods of the plugin.

I have tested the 3.3.2 version and it work

[2022-08-19 16:02] jepiqueau commented on #201
@hicham-barhoumi it iis not really how the plugin works. Tne non conform features have been developed for existing cordova databases where the name was kept as these databases were shared with others plugins otherwise the advice it to use the standard way with the sqlite prefix. Now if you find some limitations in using the run and execute commands you have to be more specific about these limitati

[2022-08-19 17:03] hicham-barhoumi commented on #201
May be I was not clear enough, here an example of code that does not work on this plugin(I use TypeOrm)
[code]
Our main goal is to have access to database file with another App, and if we don't give the full path(ex: `/storage/emulated/0/Android/data/com.toto.app/files/`) in dbname it will be stored in `/data/data/fr.xelians.wms.mobile/databases` by default witch is protected by the system and not

[2022-08-25 05:56] hschindler opened #309 "sql-wasm.wasm not found on Angular PWA when hosting not on server root path"
My Anguar PWA ist hosted on https://server/sub-dir.

I had copied the file sql-wasm.wasm to assets. The PWA-App on Web Browser looking for it at url https://server/assets and not at the expected url https://server/sub-dir/assets.

How can I config this?

[2022-08-25 06:23] #305 closed

[2022-08-25 06:24] #285 closed

[2022-08-25 06:26] jepiqueau commented on #301
@HarelM Can you try 4.0.1

[2022-08-25 06:36] jepiqueau commented on #309
@hschindler i assume that you have an index.html at `https://server` which is the root for your PWA-App and this is the reason why the the plugin is looking at  https://server/assets . There is no way to day to configure this. In case you have several PWA-Apps in your https://server you will have only one copy of the wasm file and not one per app so for me nothing wrong.

[2022-08-25 06:41] jepiqueau commented on #293
@moksamedia there are several vue app example i n https://github.com/jepiqueau even if there are not all updated that will help you to start. You have to avoid to open and close a connection in every of your functions this is time consuming. in your function you just test if the connection is open in case not you open it otherwise you retrieve it

[2022-08-25 06:57] hschindler commented on #309
Thanks for the fast response.
My PWA ist hosted on an IIS. All PWAs are on their own path and are own applications. There is no index.html on the root of the IIS.

[2022-08-25 08:07] hschindler commented on #309
For now, I have solved it with a "rewrite rule" in IIS. A solution that makes it possible without a "rewrite rule" would be desirable.

[2022-08-25 08:15] hschindler opened #310 "SQL Syntax error on Web platform"
**Describe the bug**
I get SQL syntax error on web platform with my create database schema. On Android it works.

error messsage: "Execute: ExecuteSQL: ExecuteSQL: Execute: near "DROP ": syntax error"

When I remove all DROPS then the error mesages says near "CREATE": syntax error"

Here a sample of my SQL command:

`DROP TABLE IF EXISTS [SystemFlag];
CREATE TABLE IF NOT EXISTS [SystemFlag] (

[2022-08-25 08:31] HarelM commented on #301
I'll try and let you know. Thanks for taking the time to look into this!

[2022-08-25 11:29] HarelM commented on #301
@jepiqueau the issue still exists in 4.0.1.
You can try and use my project for testing if you would like:
https://github.com/IsraelHikingMap/Site/blob/da90897a8b2813e1851d623007f72036fae0e4fa/IsraelHiking.Web/package.json
basically run `npm i`, `npm run build:mobile`, `npx cap sync` and build in android studio.

[2022-08-25 13:48] jepiqueau commented on #301
@HarelM i will try when i am back home

[2022-08-25 16:53] zVynx opened #311 "Error: SetEncryptionSecret: keychain prefix must not be empty"
**Describe the bug**
When trying to set an EncryptionSecret, I get the error described above, this error I got so far only on IOS and there on the iPhone 12 Pro (IOS 15.5) and on the iPhone 13 Pro (IOS 15.5).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://github.com/zVynx/capSqliteKeyChainBug'
2. Download/Clone the Source Code
3. go into the downloaded Folder
4. Run npm inst

[2022-08-25 19:36] jepiqueau commented on #311
@zVynx Remove the `capacitor.config.json` file  and create a `capacitor.config.ts` file  containing:
[code]
this should work

[2022-08-26 11:23] zVynx commented on #311
works now, thank you!

[2022-08-26 11:23] #311 closed

[2022-08-26 17:09] jepiqueau commented on #301
@HarelM it seems that it may come from androidx.security:security-crypto where i use an alpha version but there is nothing i can do about.

[2022-08-26 17:19] jepiqueau commented on #310
@hschindler
try
[code]

[2022-08-26 19:46] HarelM commented on #301
Ok, thanks for letting me know!
I have a work around that maybe worth mentioning in the docs then...?

[2022-08-27 05:02] jepiqueau commented on #301
@HarelM can you make a PR for the doc?

[2022-08-27 05:51] jepiqueau commented on #310
@hschindler
i mean
[code]

[2022-08-27 06:33] jepiqueau commented on #309
@hschindler This has been fixed in jeep-sqlite@1.5.7

[2022-08-27 06:41] jepiqueau commented on #309
@hschindler in your app do
[code]
check the package.json file of the node_modules/jeep-sqlite it should be 1.5.7
modify the jeep-sqlite call in the html file or in the .ts file by adding the property wasmPath
[code]
it should now work

[2022-08-27 18:25] HarelM commented on #301
See #312

[2022-08-28 05:19] jepiqueau commented on #293
@moksamedia Assuming you found what you need So i close the issue Fell free to re-open it if required

[2022-08-28 05:19] #293 closed

[2022-08-28 22:08] R1NEJ0 opened #314 "Create database from methon instead json"
Hi everyone,

I'm triying to use the dependencies but I'm not able to create a database with a method instead JSON file...

Could someone help me?

I'd like use something like :

sQLite.create({
      name: "myDatabase.db",
      location: "default",
      version: 1
    })

Thanks in advance.

[2022-08-29 05:49] jepiqueau commented on #309
@hschindler Did you test it?

[2022-08-29 05:53] jepiqueau commented on #301
@HarelM i now close this issue, i will wait for a stable release of `androidx.security:security-crypto` from the android team. The reason why i use the alpha was that someone was asking for keeping the minimum API to 21 which the stable release 1.0.0 was not doing. Now that capacitor 4 does not support API 21 this is a bit stupid but it is difficult to step back.

[2022-08-29 05:54] #301 closed

[2022-08-29 05:55] jepiqueau commented on #314
@R1NEJ0 Look at the documentation and at the application starters under `https://github.com/jepiqueau` . You will find your way. Thanks anyhow to use the plugin

[2022-08-29 05:57] jepiqueau commented on #292
@marnec As i got no news from you i close the issue

[2022-08-29 05:57] #292 closed

[2022-08-29 05:59] jepiqueau commented on #270
@jrobeson Any progress on this ? I close the issue feel free to re-open it if something new and interesting for the developer's community

[2022-08-29 05:59] #270 closed

[2022-08-29 06:01] R1NEJ0 commented on #314
I’m having a look in al test of your starter repositorie, I think I know how to do it.

thanks.

[2022-08-29 07:10] hschindler commented on #310
I found a missing semicolon in my original 'create schema' that I didn't notice on Friday. It now works.
So sorry for wasting time.

[2022-08-29 07:10] #310 closed

[2022-08-29 20:11] phal0r commented on #258
@tobiasmuecksch @jepiqueau I stumbled upon the second error in this thread and I think this is still a unresolved bug, right?

Setting the PRAGMA throws, although it's not an actual error.

[2022-08-30 16:04] EMTmcruz commented on #309
@jepiqueau. I tried and db open was successful but have "Error: queryAll: no such table" on my query. Localhost working with the same query and table name but my hosting no working

[2022-08-30 16:36] tobiasmuecksch commented on #258
Yes this is still an issue. I circumvented it, by writing my own Queue in order to always execute SQL statements and queries in sequence instead of parallel.

I would advice you, to do the same.

[2022-08-31 06:02] jepiqueau commented on #309
@EMTmcruz i assume you work with @hschindler     the database does not work directly from the assets use copyFromAssets method and the open a connection to the database and do the query. You should look at the doc and app staters

[2022-08-31 06:05] jepiqueau commented on #258
@tobiasmuecksch could you share your que ingénieur implementation or make a PR to jeep-sqlite and @capacitor-community/sqlite electron so every developer can benefit from this.

[2022-08-31 08:27] hschindler commented on #309
@jepiqueau with jeep-sqlite version 1.5.7 and the **wasmPath** attribute it works. Thanks for help.

[2022-08-31 08:27] #309 closed

[2022-08-31 08:56] jepiqueau commented on #309
@hschindler you are welcome

[2022-09-05 07:27] jepiqueau commented on #314
@R1NEJ0 i assume you find your way so i close the issue

[2022-09-05 07:27] #314 closed

[2022-09-05 08:00] R1NEJ0 commented on #314
finally I'm moving the project to RN, with ionic I have bad perfomance.

Thanks!

[2022-09-05 13:15] jepiqueau commented on #314
@R1NEJ0 what is RN for my knowledge

[2022-09-06 06:53] jepiqueau commented on #296
@SkoricIT may be you should look at the new functionality
- create a database to the cache by using an http fetch
- move the database from cache to database folder by using moveDatabasesAndAddSuffix("cache")

have a look to `downloadtocacheandmove` test at [angular-sqlite-app-starter](https://github.com/jepiqueau/angular-sqlite-app-starter)
this should solve your problem tell me if not

[2022-09-06 06:59] jepiqueau commented on #314
@R1NEJ0 thanks for this, We have added a new functionality to transfer a database file from a remote server to the cache through a fetch request and when done and the to move the databases from cache  to the database folder. this process does not use the connection till its ended. May be those could have help you?

[2022-09-06 07:05] jepiqueau commented on #266
@richardliebmann As you did not provide the requested example, i consider that you are not anymore interested in. So i close the issue. Feel free to re-open it if you provide an example

[2022-09-06 07:05] #266 closed

[2022-09-06 10:10] R1NEJ0 commented on #314
My problem is that first I have to catch data from a .txt and parse that data and insert into database.

I'm going to try perfomance with react native first.

I will have ionic and these dependencies in mind.

[2022-09-06 16:37] phal0r commented on #258
@jepiqueau @tobiasmuecksch Queueing was the initial issue here. But you guys discusssed a second issue, which is a seperate bug:

When executing this sql, it throws an error, although no error has happened. This should be fixed independently of queueing.

[2022-09-06 16:41] jsteve507 opened #315 "feat: Prisma Integration?"
**General Information**
Hello, I have been using prisma for quite a while for my vue web app. I really enjoy the ease of use and the learning curve is really not that hard. This is the first time, i would like to develop my vue app into mobile platform via Capacitor, especially with this plugin. I am sure, that i asked too many for this. But, i don't have knowledge to build kind of like adapter. I

[2022-09-07 07:34] jepiqueau commented on #315
@jsteve507 thanks for looking at the plugin. Would be necessary do develop a provider for capacitor like it has been done for TypeORM.

[2022-09-07 15:38] SkoricIT commented on #296
We are downloading SQL statements in files and running them. I think that this would only help me if I copy the existing database, then update, then copy it back? This is not feasible with a 20GB SQLite file.

[2022-09-07 15:55] jepiqueau commented on #296
@SkoricIT so i so not know what to do to help

[2022-09-07 15:57] SkoricIT commented on #296
We can close this issue and i will open a pull request if we can get approval to implement the required changes! Thank you for your time and effort!

[2022-09-07 15:57] #296 closed

[2022-09-07 16:16] jepiqueau commented on #296
@SkoricIT 👍

[2022-09-08 06:58] LynearIngression opened #316 "Support for zip files with moveDatabaseAndAddSuffix()"
I'd like to download a database from the web into the Cache folder in zipped format, then move it and open it with sqlite.  It works as expected when the file is not compressed.

This appears to work, but once the database is opened, it has no tables.
await this.sqlite.moveDatabasesAndAddSuffix("cache",['custom.db.zip'])
CapacitorSQLite getTableList
{"values":[]}

This works as expected.
await thi

[2022-09-10 13:36] phal0r opened #317 "Executing PRAGMA Query throws false error"
**Describe the bug**
As described in #258 in comment https://github.com/capacitor-community/sqlite/issues/258#issuecomment-1102292817 executing PRAGMA queries throws an error, which is actually not an error. This breaks code, that tries to change WAL mode for example.

**To Reproduce**
Running the query as described in https://github.com/capacitor-community/sqlite/issues/258#issuecomment-110229281

[2022-09-10 20:26] mburger81 opened #318 "feat(): ionic storage module"
Is there a way to get work your capacitor sqlite plugin with `IonicStorage` Module, like we use with the cordova sqlite driver?

[code]
we also used the old cordova sqlite with AKITA state management
[code]

is there a way to use it with your capacitor plugin?

**If not could you implement this feature?**

[2022-09-11 05:01] jepiqueau commented on #318
@mburger81 i already answer this in[capacitor-data-storage-sqlite](https://github.com/jepiqueau/capacitor-data-storage-sqlite/issues/54).

[2022-09-11 05:04] jepiqueau commented on #315
@jsteve507 I will not develop it myself. Someone did it for TypeOrm. feel free to do it yourself or contact prisma to ask them to do it. I have enough work to develop and maintain this plugin

[2022-09-11 05:04] #315 closed

[2022-09-11 05:05] #318 closed

[2022-09-12 20:29] jepiqueau commented on #296
@SkoricIT i have added for iOS and Android in 4.1.0-7 a feature to open a connection in read-only mode. So now a database can simultaneously be opened in `read&write` mode and `readonly mode`
Question if i create a method reading from https a database which may be zipped and open a `read&write` connection to load it and have a readonly connection to read it while it is loaded by using the WAL2 PRA

[2022-09-13 06:39] SkoricIT commented on #296
This already seems like it is solving our problems at hand completely, will have to try it out! Thanks a lot!

I don't really understand the questions about downloading and executing completed files, as our usecase does not use that kind of process at all.

This is how we build the local database in JS pseudo code:
[code]
This runs the biggest set of files for an empty application (revision 0 -> c

[2022-09-14 07:23] SkoricIT commented on #296
@jepiqueau That kind of infrastructural change has been proposed to management, but there is no indication if or when a change like that might be approved.

[2022-09-14 07:55] bkostjens opened #319 "4.1.* broken on iOS - unexpected JSON returned"
**Describe the bug**
When running query the returned JSON includes an unexpected ios_columns entry:

From the logs:
```TO JS {"values":[{"ios_columns":["total_count","objects"]},{"total_count":0,"objects":"[]"}]}```

**To Reproduce**
Steps to reproduce the behavior:
Do any query on iOS.

- Capacitor: 4
- sqlite plugin: 4.1.0-7
- Device: iPhone 14 Pro (simulator)
- OS: iOS 16

**Expected behavior**

[2022-09-14 10:23] jepiqueau commented on #319
@bkostjens is that happen when your query returned zéro value

[2022-09-14 10:26] bkostjens commented on #319
Yes, the queries are against a fresh and empty database.

[2022-09-14 13:56] jepiqueau commented on #317
@phal0r if you update to @capacitor-community/sqlite@4.1.0-8 and upgrade in the electron folder of your app  sqlite3 to 5.1.0 it works fine with WAL2. You can have a look at [test with Wal2 & readonly](https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/test/testreadonly/testreadonly.page.ts) Hope this help

[2022-09-14 13:57] jepiqueau commented on #258
@tobiasmuecksch if you update to @capacitor-community/sqlite@4.1.0-8 and upgrade in the electron folder of your app  sqlite3 to 5.1.0 it works fine with WAL2. You can have a look at [test with Wal2 & readonly](https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/test/testreadonly/testreadonly.page.ts) hope this help

[2022-09-14 14:49] jepiqueau commented on #319
@bkostjens it is not an error this has been lengthly explained and solve in `Query returing multiple rows - Array` issue#195. i will test it with no returned values. Which framework are you using ? Are you calling the query through an `SQLiteDBConnection` or through the CapacitorSQLite plugin   ie
[code]
this sqlite is an SQLiteConnection
this.sqlitePlugin is the Capacitor SQLite plugin

the remov

[2022-09-15 07:00] bkostjens commented on #319
Thanks for your explanation. Has this behavior changed since v 3.x of this plugin as nothing in our codebase related to db connection / querying has been changed. The problem started after upgrading to capacitor 4 / sqlite plugin v4.1.0.

We connect like this:

[code]

And query is executed like:

[code]

[2022-09-15 07:46] phal0r commented on #317
@jepiqueau Thanks for the hint, but this bug is about executing the PRAGMA query, not the result of WAL2 or WAL. Let me clarify this bug next week with a more specific description.

[2022-09-15 08:41] jepiqueau commented on #317
@phal0r so i do not understand

[2022-09-15 08:49] bkostjens commented on #319
This behavior is only seen on iOS, not on Android. If I would discard the first result, then the app won't run correctly on Android anymore. On 3.x of the sqlite plugin it runs fine on both platforms with the provided code. Should I switch to using SQLiteDBConnection?

[2022-09-15 09:18] jepiqueau commented on #319
@bkostjens you can test if the platform is android or ios and do it only for ios. For me it would be better if you can use the SQLiteDBConnection but i do not know what is the work behind this in modifying your app so it is up to you

[2022-09-15 09:34] bkostjens commented on #319
Any pointer to docs regarding using SQLiteDBConnection?

[2022-09-15 10:17] jepiqueau commented on #319
@bkostjens look at the Documentation in the docs folder and look at the app starters dépend ingénieur on the framework you use

[2022-09-15 11:04] bkostjens commented on #319
Thanks. For now I went for platform detection. Might reconsider later down the line.

[2022-09-15 11:04] #319 closed

[2022-09-16 08:23] tobiasmuecksch commented on #258
@jepiqueau Thanks. I will test that and close the issue if the problem is fixed

[2022-09-17 08:29] jepiqueau commented on #296
@SkoricIT the full implementation for readonly is now available in release 4.1.0

[2022-09-17 14:26] SkoricIT commented on #296
@jepiqueau Thank you very much, greatly appreciated!

[2022-09-19 13:45] ChrisSmeets opened #320 "addUpgradeStatement doesn't create all versions when starting with an empty database"
**Describe the bug**
Using the new addUpgradeStatement(database, toVersion, statements) in version 4.1.0-6 doesn't create all versions when starting
with an empty database. It only executes the last added.

**To Reproduce**
starting with an empty database and define multiple versions with their statements

``export const SqliteStatements1 = [
        `CREATE TABLE IF NOT EXISTS ledger (

[2022-09-19 16:26] bot101 opened #321 "AndroidKeysetManager: keyset not found, will generate a new one"
**Describe the bug**
I get the following error message when I generate a signed release build of an Ionic 6 app:  `AndroidKeysetManager: keyset not found, will generate a new one`. This error doesn't come up in debug builds. The error stack trace is listed below:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Generate release build with `ionic capacitor build android --prod --relea

[2022-09-19 16:27] SkoricIT commented on #296
@jepiqueau Did I understand it correctly, that we can now open one write connection and 1..n read-only connections at the same time ?

[2022-09-19 17:20] jepiqueau commented on #320
@ChrisSmeets if you look at the example you will see that after creating the addUpgradeStatement for a version you must do a createConnection for that version, close the connectiob and later you define the second one and do again a createConnection with the next version and so on.
This is the way to do it hope this helpful

[2022-09-19 17:22] jepiqueau commented on #321
@bot101 can you share a demo app reproducing the error

[2022-09-19 17:24] jepiqueau commented on #296
@SkoricIT no you can open one connection readwrite and one connection readonly

[2022-09-20 11:15] ChrisSmeets commented on #320
That's odd. When I read the documentation it is explained:

The following scenarios may occur:

Opens a Version 0 database (empty database). Will execute version1Statements and version2Statements upgrade statements.
Opens a Version 1 database. Will execute version2Statements upgrade statements.
Opens a Version 2 database. Will not execute any upgrade statements (already on version 2).

This is not

[2022-09-20 15:04] scr2em opened #322 "Questions regarding migrating from 3.3.3 to 4.0.1"
Hi, I'm struggling migrating from 3.3.3 to 4.0.1

I have an application with an encrypted database (v.3.3.3)
[code]
which is working fine and the db is encrypted successfully

here are my steps to migrate to (4.0.1)

1- I added in `plugins` in `capacitor.config.json`
[code]

  2- I'm calling `isSecretStored` in my code

[code]

  Here is what I understand about what is happening with these setting

[2022-09-20 16:44] jepiqueau commented on #322
@scr2em have you replace MY_APP_NAME by the name of your app as defined in your package.json.  otherwise it is difficult to understand not having the code. May be should have been better to migrate to 3.7.0 and when everything is done and checked to migrate to 4.1.0

[2022-09-20 16:52] jepiqueau commented on #320
@dragermrb can you please answer that one

[2022-09-20 16:57] dragermrb commented on #320
What @ChrisSmeets  comments is correct, let me take a look...

[2022-09-20 17:02] jepiqueau commented on #321
@bot101 can i see the capacitor.config.ts

[2022-09-20 17:33] scr2em commented on #322
@jepiqueau Thank you for your fast reply, `MY_APP_NAME` is the same as `appName` in `capacitor.config.json` which is very different than `name` in `package.json`. is it required that it `iosKeychainPrefix` should be the same as `name` in `package.json` ?

[2022-09-20 18:21] jepiqueau commented on #322
@scr2em no but it should be unique so that why i though that the app name what the right thing to take

[2022-09-21 07:35] scr2em commented on #322
@jepiqueau
ok so about these
1- the old database will be moved from Documents to Library/CapacitorDatabase automatically (which is correct and tested)
2- iosIsEncryption is used when our old database is encrypted
3- isSecretStored is used to migrate the old keychain value to the new one with the prefix MY_APP_NAME

do I understand them correctly?

also how can I test that the keychain value has be

[2022-09-21 07:38] dragermrb commented on #320
I have created PR #323  to fix it

[2022-09-21 07:44] dragermrb commented on #320
I have created the PR https://github.com/jepiqueau/jeep-sqlite/pull/15 to fix the problem in jeepSqlite too

[2022-09-21 08:40] ChrisSmeets commented on #320
thanks for the fast fix! I will test it soon. It's a new project I'm working on and I have just one version of the database now.
But I was curious about the new feature and gave it a try. I think it's a great improvement!

[2022-09-21 18:07] #320 closed

[2022-09-22 14:40] aanders77 opened #324 "FeatureNotAvailableError after upgrading from Capacitor 3 to Capacitor 4"
I've been using this plugin without problems for several months. But after upgrading from Capacitor 3 to Capacitor 4 yesterday, all sqlite object methods are listed as not available and gives the error message `Uncaught (in promise) FeatureNotAvailableError: Feature not available on this platform/device. Check availability before attempting to call this method.`

This is my package.json
[code]

I'

[2022-09-22 18:42] jepiqueau commented on #324
@aanders77 i do not see the reason for this. look at [vue-sqlite-app-starter](https://github.com/jepiqueau/vue-sqlite-app-starter) which is working fine. Have you followed the recommendations from Ionic to migrate your app to Capacitor4 which is what i did:
[code]
my package.json file is as followed
[code]

[2022-09-22 19:25] aanders77 commented on #324
@jepiqueau Hi, thanks for your quick reply! Yes, that's how I did the migration.

I'll show you how I'm importing and initializing your plugin. Since I'm not using TypeScript, its a little different from your examples. It has been working up until now, though.

main.js
[code]

File_that_runs_after_main.js:
[code]

[2022-09-22 19:31] jepiqueau commented on #322
@scr2em  You understand correctly. there is no way to test the keychain value except in debugging your app by simulating a changeSecureSecret an put a breakpoint in line 28 of the class utilsSecret if it is going to line 29 means that the prefix is in and after this you stop the app.

[2022-09-22 19:40] jepiqueau commented on #324
@aanders77 In the main.js i do not see
[code]

[2022-09-22 19:45] aanders77 commented on #324
@jepiqueau It's there, I just overlooked it when copying the excerpt here. Sorry.

[2022-09-22 19:50] jepiqueau commented on #324
@aanders77 ok you can look at [vue-sqlite-app](https://github.com/jepiqueau/vue-sqlite-app) it is with the latest 3.7.0 of capacitor3 not yet 4.

[2022-09-22 19:52] jepiqueau commented on #324
@aanders77 i will stop for to night but i do not see the reason of what happens on your app.
by the way
[code]
i think
[code]
should work
Good luck

[2022-09-23 09:02] axkristiansen commented on #324
Here is a workaround for this problem.
Locate this file:
node_modules\vue-sqlite-hook\dist\util\feature-check.js
change :
export function isFeatureAvailable(plugin, method)
to -->
export async function isFeatureAvailable(plugin, method)

alternative hack: return true in any case inside that function as a test

[2022-09-23 14:08] kelchm commented on #324
I'm also seeing this problem after upgrading from capacitor 3 to capacitor 4, but on an Ionic React project.

The project is setup very similarly to `react-sqlite-app-starter`, so I'm at a bit of a loss why things are working as expected in the sample project.

[2022-09-23 17:55] jepiqueau commented on #324
@aanders77  check if with vue-sqlite-hook@3.0.3 it works you need to update also to @capacitor-community/sqlite@4.1.1
tell me if it works as i cannot test it as i do not get the error
@kelchm check if with react-sqlite-hook@3.0.2 it works you need to update also to @capacitor-community/sqlite@4.1.1
tell me if it works as i cannot test it as i do not get the error

[2022-09-25 09:56] aanders77 commented on #324
Thanks @axkristiansen and @jepiqueau. It works now :)

[2022-09-29 05:32] jepiqueau commented on #322
@scr2em any progress on this? can i close the issue

[2022-09-29 09:37] scr2em commented on #322
@jepiqueau I'm still stuck on it. but sure you can close it
also can you open Discussion on this repo ?
https://docs.github.com/en/discussions/quickstart

[2022-09-29 16:20] andrew-lyons opened #325 "checkConnectionsConsistency() Error: Must provide a list of connection's open mode"
**Describe the bug**
We are using this plugin within our own plugin, which is then being used in an angular project. I am baffled as to why this is happening, as we never had this issue before and nothing in our code, or dependency versions for this / jeep-sqlite changed.

I'm not sure if any other capacitor updates we've made would affect this. I did some digging into `jeep-sqlite` and the stack

[2022-09-29 19:42] tobiasmuecksch commented on #258
@jepiqueau I'm still having the same issues :-(

[2022-09-30 07:31] jepiqueau commented on #325
@andrew-lyons look at the doc in the new release there is the implementation of the read only mode so you have to provide a new area of modes. A connection can be simultaneously opened for RW read and write or RO read only so when you check for consistency you must tell which mode

[2022-09-30 07:32] jepiqueau commented on #258
@tobiasmuecksch you must provide me a repro app on github as i never experiences this problem

[2022-10-02 17:15] tobiasmuecksch opened #326 "bug: [Windows] Drop Database error resource busy"
**Describe the bug**
When I try to drop a database on windows, the following error occurs:

![193466646-5269d063-cf07-486f-b62d-dc5e08f5cab8](https://user-images.githubusercontent.com/1294854/193610723-85c67577-56fb-4d06-801f-a9abac1385ea.png)

**To Reproduce**

[code]

For this code, I used the following link as a guide:
https://github.com/jepiqueau/db-delete/blob/ae4c5b1d465cbb08d8ef3046dcdc8286

[2022-10-02 18:24] tobiasmuecksch commented on #326
As demo repo you can use this:
https://github.com/jepiqueau/db-delete/

I'm experiencing the very same issue in this repo.

![2022-10-02 20_20_49-Db delete](https://user-images.githubusercontent.com/1294854/193469837-7c8a8173-f26e-4d1e-ab9d-6e7b5f914db0.png)

[2022-10-03 11:57] beligatclement opened #327 "Electron window not opening after installing dependency"
Electron window not opening on `npx cap open @capacitor-community/electron` after installing dependency `@capacitor-community/sqlite`. Linked issue on `@capacitor-community/electron` repo : [#212](https://github.com/capacitor-community/electron/issues/212).

**Steps to reproduce the behavior**:
Have a working `@capacitor-community/electron` project.

[code]
![image](https://user-images.githubuserc

[2022-10-03 15:52] beligatclement commented on #327
I resolve my issue by adding into `capacitor.config.ts` a plugins property for CapacitorSQLite.
[code]

Full file :
[code]

Maybe it should be include in the documentation ?

[2022-10-04 05:56] jepiqueau commented on #327
@beligatclement it is in the doc
Info_releases.md
Docs/API.md

[2022-10-04 05:56] #327 closed

[2022-10-04 07:43] jepiqueau commented on #326
@tobiasmuecksch i will have look during my free time this week. Thanks for reporting and give à demo

[2022-10-05 06:50] jepiqueau commented on #324
@aanders77 @kelchm Is it now solved on your side if yes can one close the issue

[2022-10-05 06:51] jepiqueau commented on #325
@andrew-lyons Is this fixed now on your side? if yes can you close the issue

[2022-10-05 07:01] jepiqueau commented on #322
@scr2em i did open the Discussion on this repo as you suggested. i am not happy of closing the issue if you are still stuck on it. May be you could share your app?

[2022-10-05 12:05] jepiqueau commented on #326
@tobiasmuecksch This is happening only in Windows when you have set the PRAGMA to WAL so what you have to do is to change the busy_timeout so you can do db.execute(`PRAGMA busy_timeout=4000;`,false) and it will work

[2022-10-05 13:50] andrew-lyons commented on #325
@jepiqueau I unfortunately can't move to capacitor 4.0, so I must make this work with version 3 (currently 3.5.2), and I don't see anywhere to provide these open modes, should this be done in the `initSQLitePluginService` call?

[2022-10-05 15:30] jepiqueau commented on #325
@andrew-lyons keep working with a version of jeep-sqlite compatible with 3.5.2

[2022-10-05 15:55] jepiqueau commented on #325
@andrew-lyons for 3.5.2 the jeep-sqlite version was 1.5.4 and sql.js version was 1.7.0

[2022-10-05 15:56] jepiqueau commented on #325
@andrew-lyons Can you share your package.json file

[2022-10-05 18:59] andrew-lyons commented on #325
Here is my file:
[code]

[2022-10-06 06:14] jepiqueau commented on #325
@andrew-lyons do
Npm i --save jeep-sqlite@1.5.4
Npm i --save sql.js@1.7.0

[2022-10-06 06:16] jepiqueau commented on #326
@tobiasmuecksch did that solve the issue?

[2022-10-06 06:19] jepiqueau commented on #258
@tobiasmuecksch any progress on this? I am still waiting some code to reproduce the error

[2022-10-06 07:39] aanders77 commented on #324
@jepiqueau Yes, as I said earlier the issue is solved on our part. Thanks! 😊

[2022-10-06 18:46] tobiasmuecksch commented on #326
@jepiqueau I'm still investigating, but the issue is still present. But the strange thing is 4 out of 10 times it works without an error.

[2022-10-06 18:50] tobiasmuecksch commented on #326
@jepiqueau Also I'm a little confused why setting `PRAGMA` should have any effect, because the Database seems to be deleted on a filesystem level and not through `sqlite3`.

See: https://github.com/capacitor-community/sqlite/blob/022847f10a8984b8ec04c532b2bc2d544bafef22/electron/src/electron-utils/Database.ts#L179

[2022-10-07 05:17] #324 closed

[2022-10-07 05:29] jepiqueau commented on #326
@tobiasmuecksch it has to do with the Windows filesystem which is slow to delete the file may be too busy as when you are in WAL mode there are 3 files to delete. I saw the explanation somewhere and the advice was to change the busy_timeout of sqlite. So increase it

[2022-10-07 14:11] jepiqueau commented on #316
@LynearIngression available in 4.2.0

[2022-10-07 14:11] #316 closed

[2022-10-07 14:57] tobiasmuecksch commented on #326
@jepiqueau This problem still exists, even with a very high busy_timeout.

[code]

[2022-10-07 14:59] tobiasmuecksch commented on #258
@jepiqueau I haven't had the time yet, to update the repro app. I will do that asap.

[2022-10-07 16:23] jepiqueau commented on #326
@tobiasmuecksch i tested it on Windows and on Mac and i do not have this problem anymore. So there is nothing i can do more.

[2022-10-08 11:48] scr2em commented on #322
@jepiqueau I'm still debugging till I reach the root cause of this issue. if I need something I'll start a discussion.
also when I get some free time I'll help improving the current docs.
Thanks

[2022-10-08 11:48] #322 closed

[2022-10-08 12:41] jepiqueau commented on #322
@scr2em OK thanks keep me aware if you find something which can be useful for others.

[2022-10-09 08:24] tobiasmuecksch commented on #326
@jepiqueau Can you please provide a link for this information. I'm struggling to understand how setting a `PRAGMA` should have any effect, because in the electron dbDelete procedure of this plugin the db connection is closed. From then on, sqlite3 does not do anything anymore. Then you try to delete the file on a system level. This has nothing to do with sqlite3 anymore. PRAGMA does not have any e

[2022-10-09 08:58] tobiasmuecksch commented on #326
After some more debugging, I found out, that there is another error thrown before the deletion of the DB file:

![image](https://user-images.githubusercontent.com/1294854/194747248-0cde6376-4710-45df-ad55-d2475b988ed5.png)

Something seems to be wrong with the db.close() method.

Additionally, I was able to fix the dbDelete method by adding a timeout before deleting the SQL database file.

![image

[2022-10-09 10:10] tobiasmuecksch commented on #326
I found out, that the `this.close()` method does return instantanously. This means, it might resolve before the database is really closed. Therefore the db file is still busy. So this **definitely is a bug in this plugin**.

I'm working on a pull request to fix this issue now.

[2022-10-09 10:53] tobiasmuecksch commented on #258
@jepiqueau I have updated the repro app to the latest version of `sqlite3@5.1.2` and to `@capacitor-community/sqlite@4.2.0`.

Additionally I have added a statement to set the `journal_mode` to `WAL2`. The issue is still there.

(See changes regarding WAL2 here: https://github.com/tobiasmuecksch/capacitor-sqlite-angular/commit/37b44a761910f012deedb019f5718faab71c4df5#diff-f076088e0454292ba7d4c88f1e

[2022-10-10 09:26] lemonrecognize opened #331 "Slow inserts"
**Describe the bug**
Inserting 10k entries takes around 10 seconds

**To Reproduce**

[code]

[code]

**Expected behavior**

Takes a lot less time to insert data

**Smartphone (please complete the following information):**

- OS: Android

[2022-10-10 12:42] #326 closed

[2022-10-11 11:34] jepiqueau commented on #331
@lemonrecognize sorry, nothing i can do about this. Have you try to compare the time with the time when you put a db.run inside the loop?

[2022-10-11 11:36] jepiqueau commented on #331
@lemonrecognize i use androidx.sqlite.db

[2022-10-12 17:05] jepiqueau commented on #325
@andrew-lyons Is this working now? if yes can you close the issue

[2022-10-12 18:28] jepiqueau commented on #258
@tobiasmuecksch i test it it works fine for iOS, Android and Web but not for Electron. To make it working in Electron seems the you must put the transaction to false in the db.run

[2022-10-12 19:23] LynearIngression commented on #316
Hi, thank you for the update.

I am updating to Capacitor 4 and my project is broken right now while I update everything.

I will test it as soon as it is working again.

[2022-10-13 14:53] jepiqueau commented on #258
@tobiasmuecksch i think i may have find the reason but i cannot this this morning run electron:start both on Windows and MAC i got the following error : Error: Cannot find module 'node:fs/promises' and i have no glue of what it is. when i git clone your project last evening it was working fine and reproducing the error with Wal  in Electron. Now even if i re-clone it today i got always Error: Cann

[2022-10-13 15:56] tobiasmuecksch commented on #258
@jepiqueau thank you for your effort. I'm currently out of office. I will test it on Saturday, and let you know whether I'm experiencing the same issues. Maybe I can find a solution.

[2022-10-13 18:09] jepiqueau commented on #258
@tobiasmuecksch i update to "electron": "^15.5.7" and it is working back
in 4.2.2-1 i implement BEGIN CONCURRENT instead of BEGIN TRANSACTION  when the journal_mode start with wal. But i get a syntax error near CONCURRENT meaning that for me it has not be implemented in node sqlite3. On top of this when we change to `wal2` instead of `wal` it does not work too the journal_mode return is `delete`.

[2022-10-14 12:39] sinan92 opened #333 "iOS build fails on getConfig() because it doesn't exist for iOS"
Please check this comment: https://github.com/capacitor-community/sqlite/commit/e2e02249c7f5389be2b859ac4ff902de65f2a71d#r86787084

getConfig() is used within Swift. In Swift you have to call getConfigValue() instead of getConfig(). This causes the iOS build to fail.

[2022-10-14 16:39] jepiqueau commented on #333
@sinan92 which version of capacitor are you using? Can you share your package.jon file

[2022-10-14 21:17] tobiasmuecksch commented on #258
@jepiqueau Thank you so much for your effort. According to this issue https://github.com/TryGhost/node-sqlite3/issues/408 this seems not to be implemented for sqlite3.

The author of the follow comment, recommends to switch to `better-sqlite3`. Are there any reasons, you decided to use `sqlite3` instead of `better-sqlite3`?
https://github.com/TryGhost/node-sqlite3/issues/408#issuecomment-354013490

[2022-10-15 09:55] jepiqueau commented on #258
@tobiasmuecksch At the time in Electron i was using `@journeyapps/sqlcipher` to give the ability to encrypt the database which is based on sqlite3.  Finally i fall back to `sqlite3` when developers had some problems to create a Windows executable.
In fact i look this morning at the Web part `jeep-sqlite` based on sql.js the mode Wal2 does not exist too. and when setting to mode WAL i got `cannot s

[2022-10-15 10:32] tobiasmuecksch commented on #258
Okay. I think we should add a warning to the readme for example that WAL/WAL2 is not officially supported by this plugin.

For now I'm thinking about a clean way to add a queue mechanism to this plugin. Can you imagine to add that to the plugin, or do you want to keep this out of the plugin?
I could make a proposal / merge request for that.

[2022-10-15 11:30] jepiqueau commented on #258
@tobiasmuecksch i want googling through a lot of docs this morning and i could not find a way. I will stop on this. For me the queing will make the the execution of each transaction one after other which is similar to what the async is doing.
In that case i do not really understand what the `wal` mode differs from the `delete` mode.
There is may be something that i do not understand .
if you devel

[2022-10-15 11:46] tobiasmuecksch commented on #258
@jepiqueau All good. I completely understand that, and I'm thankful, that you tried to find a solution. As I said; I'd suggest to add a note about this on the readme, to prevent future duplicate issues.

[2022-10-15 11:46] #258 closed

[2022-10-16 09:47] jepiqueau commented on #258
@tobiasmuecksch finally i got it see the code in [capacitor-sqlite-angular](https://github.com/jepiqueau/capacitor-sqlite-angular)🤪😅

[2022-10-16 09:49] tobiasmuecksch commented on #258
@jepiqueau I'm confused. Does that mean, the problem needs to be fixed by changing files in the electron project?

[2022-10-16 10:14] jepiqueau commented on #258
@tobiasmuecksch no  i change only the sqlite.service.ts and the package.json scripts to make them compatible mac and windows

[2022-10-16 10:17] jepiqueau commented on #258
@tobiasmuecksch in web and electron i run the dbConnection.run with transaction false and i encapsulates the  await PromiseAll with BEGIN TRANSACTION ... COMMIT TRANSACTION or ROLLBACK TRANSACTION

[2022-10-16 10:21] jepiqueau commented on #258
@tobiasmuecksch i also upgrade Electron to "electron": "^15.5.7" in Electron/package.json file

[2022-10-16 11:04] tobiasmuecksch commented on #258
Okay, thank you for the information. I will try that too.

[2022-10-17 06:12] jepiqueau commented on #317
@phal0r as you did not come back i assume this is solve on your side when you want to execute a PRAGMA command you must use transaction to false. I close the issue feel free to re-open it if required

[2022-10-17 06:12] #317 closed

[2022-10-17 07:24] sinan92 commented on #333
See my package.json below:

`{
  "name": "test-project",
  "version": "2.24.0",
  "author": "Ionic Framework",
  "homepage": "https://ionicframework.com/",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build --configuration production",
    "test": "ng test",
    "lint": "ng lint",
    "resources": "cordova-res ios && cordova-res android && node scripts/resources.js",

[2022-10-17 08:17] jepiqueau commented on #333
@sinan92 you have to upgrade your app to capacitor 4 and use @capacitor/core@4.1.0 @capacitor/ios@4.1.0 @capacitor/android
@4.1.0 ans it will work

[2022-10-17 08:20] sinan92 commented on #333
Unfortunately that is not an option for me right now since that would require me to update all my packages to capacitor 4. I think that only leaves me with the option of forking the repo for now. Thank you however for confirming where the issue lies.

[2022-10-17 08:28] jepiqueau commented on #333
@sinan92 if you do not want to upgrade to capacitor 4 for any reason you must use @capacitor-community/sqlite@3.7.0 voilà

[2022-10-17 08:29] sinan92 commented on #333
Makes sense. Thanks!

[2022-10-17 08:29] #333 closed

[2022-10-17 08:33] jepiqueau commented on #333
@sinan92 in that case you will not have access to the latest development see the changelog.md. if you need some of them tell me

[2022-10-17 15:47] younesnajjar opened #335 "Error: "CapacitorSQLite" plugin is not implemented on android"
Thank you for the amazing project.

I am trying to add the angular-sqlite-app-starter in my Nx project by copying the files and everything, But I am facing this issue.
![Screenshot from 2022-10-17 16-34-30](https://user-images.githubusercontent.com/37715926/196221351-675a9b67-aa70-46d2-b9b6-4e6829c262f3.png)

On the web, The project works perfectly.

I tracked the problem and i guess I am not inte

[2022-10-17 17:01] younesnajjar commented on #335
I found the problem, and it's that I didn't Add @capacitor-community/sqlite package to the ionic project packages.

[2022-10-17 17:01] #335 closed

[2022-10-18 05:55] jepiqueau commented on #335
@👍

[2022-10-18 11:55] #325 closed

[2022-10-19 13:30] crowbait opened #336 "Documentation issue with `addUpgradeStatement`, especially for React"
**Describe the bug**
#320 doesn't seem to be resolved for React (on Android at least).

with an empty database. It only executes the last added.

Using [react-sqlite-hook](https://github.com/jepiqueau/react-sqlite-hook), on an empty (non-existent) db, I'm calling

[code]
where
[code]
Note: I've omitted a hundred lines of schemas for reading convenience. They do work however, when I used them with

[2022-10-19 14:07] crowbait commented on #336
I made the error myself. The first upgrade statement should not have been an array of length 1 with multiple commands, but an array with the commands:
[code]
where
[code]

However, the [docs](https://github.com/capacitor-community/sqlite/blob/master/docs/API.md#capsqliteupgradeoptions) specifically state an array of length 1, so this still is a documentation issue.

Please consider updating the do

[2022-10-20 05:41] aquarius-wing opened #337 "feat(iOS): read sqlite fie from files app which location is "On my iPhone" or iCloud path"
# Request
I want capacitor can reader the sqlite file out side the app, just like device itself filesystem, and connected filesystem like nas.

# The way I try
I read the capacitor api doc, and none of FilesystemDirectory's value can read or save sqlite out side the app.
If there is another way to get through it, please tell me.

# Wish
The app I want to build, just like obsidian iOS app which can

[2022-10-21 10:00] beligatclement commented on #162
I would also have been interested in the return of this feature. Would it be possible for you @filpet95 to isolate the changes made on the electron part to facilitate the implementation of your fix in the project ?

PS : I can test it on iOS / Android / MacOS / Windows / Linux

[2022-10-21 16:48] jepiqueau commented on #336
@crowbait I look back, but i think you were mixing `capSQLiteUpgradeOptions` and `capSQLiteVersionUpgrade`  and also the `addUpgradeStatement` method of the CapacitorSQLitePlugin and the `addUpgradeStatement` method of the SQLiteConnection. The react hook is using the SQLiteConnection. so the documentation is correct. So look back at the doc and tell me what do you need more if it is unclear

[2022-10-21 19:08] mpwoodward opened #338 "Getting sporadic "Database someDatabase.db not opened" and "No available connection for database" errors in Vue app"
# Overview

This might be semi-related to #293 but in a nutshell this is my first Ionic/Vue/SQLite app and I'm wondering about the best way to manage connections, specifically:
 1. How best to use an existing connection or create a new one as needed; and
 2. Best practices around opening and closing connections across multiple components

The specific errors I'm sporadically seeing in the console

[2022-10-22 06:43] jepiqueau commented on #338
@mpwoodward looking at the code quickly i do e not find an obvious reason . The best would be that you share a demo app reproducing the issue so i could understand where the error occurs and the reason for it.

[2022-10-23 15:19] jepiqueau commented on #338
@mpwoodward  I create an application [vue-sqlite-issue336](https://github.com/jepiqueau/vue-sqlite-issue336) to try reproducing the issue and using the code you sent above with some modifications.
I suspect that the error could come from the fact that you redefine
`const sqlite: SQLiteConnection = new SQLiteConnection(CapacitorSQLite)` each time you are using `getDatabaseConnection` especially tha

[2022-10-23 15:25] jepiqueau commented on #337
@aquarius-wing i saw your comment. I do not think i will look at this as for me the database are application dependent and having database share on the iCloud path is not really a good idea for security. Developers were asking to have under Library and not documents folder just because the documents folder is shared on iCloud.

[2022-10-23 17:07] mpwoodward commented on #338
@jepiqueau THANK YOU SO MUCH! That definitely clears up the confusion on my part about the connection as compared to simply opening and closing the database. This is tremendously helpful. Originally in my app I was passing the connection in which seemed weird hence why I moved to the getDatabaseConnection() function, but it totally makes sense how this would cause the issues I'm seeing. I'll rewor

[2022-10-23 18:10] mpwoodward commented on #338
@jepiqueau I'm looking through your sample code (thanks again for putting that together!) and had unless I'm missing it, I notice that `closeConnection()` is never explicitly called on the `SQLiteConnection`. Does that simply not need to be called explicitly because there's some connection management functionality that will handle that?

As you can probably gather I'm new to using SQLite with Ioni

[2022-10-23 19:00] jepiqueau commented on #338
@mpwoodward basically if you create a connection you must close at some point when not needed anymore. It could be when you unMount the component. If you  want to use a connection in several components   you can open it in the app or in one component whic is called first and just retrieve the connection when opening the next component. In my example i did not close it as i did know what you want t

[2022-10-23 19:46] mpwoodward commented on #338
@jepiqueau Makes sense! Thanks for the additional explanation. I really appreciate your help!

[2022-10-24 11:54] jepiqueau commented on #338
@mpwoodward i did upgrade [vue-sqlite-issue336](https://github.com/jepiqueau/vue-sqlite-issue336) by adding a PopulationPage called from the HomePage to demonstrate the closeConnection in the onBeforeUnmount method.
Hope with this you can start modifying your app Have a good development. I will close the issue feel free to re-open it if needed

[2022-10-24 12:10] #338 closed

[2022-10-24 19:33] mpwoodward commented on #338
@jepiqueau Fantastic, thanks! I'm rolling along pretty well and can't thank you enough for the help. I did discover when I'm first creating and populating the database I have to explicitly call saveToStore() on the connection, otherwise the schema and data don't seem to get committed, but between that and managing the connections as you do in your sample app things are working quite well. Thanks s

[2022-10-25 05:46] #337 closed

[2022-10-25 05:47] #336 closed

[2022-10-25 06:35] aquarius-wing commented on #337
I see, thank you.

[2022-10-30 08:04] Nickolas- opened #340 "Cant run web version"
**Describe the bug**
Cant make it run on quasar SPA with vite
<img width="1047" alt="image" src="https://user-images.githubusercontent.com/8171424/198868010-30b0cb6a-a049-49ce-a132-7ce60c6cbfeb.png">

**Expected behavior**
Web version works as ios/android

- OS: macOS
- Browser chorme
- Version latest 4.2.2

Quasar latest
<img width="382" alt="image" src="https://user-images.githubusercontent.com/

[2022-10-30 10:33] jepiqueau commented on #340
@Nickolas- can you share the main.ts and the app.ts files

[2022-10-30 14:59] Nickolas- commented on #340
@jepiqueau thanks , for quick response! Quasar framework do not have a main.ts it uses a boot files.
App.vue
`<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent, ref, provide } from 'vue';
import { useConnectionStore } from 'src/stores/connection';
import {applyPolyfills, defineCustomElements as jeepSqlite} from "jeep-sqlite/loader";

applyPolyfills().then(() =>

[2022-10-30 16:25] jepiqueau commented on #340
@Nickolas- can you share appDataSource

[2022-10-30 16:28] jepiqueau commented on #340
@Nickolas- the openModes must be RW or RO or both read-write RW, read-only RO. Open does not exist

[2022-10-30 17:30] Nickolas- commented on #340
@jepiqueau  FYI
<img width="697" alt="image" src="https://user-images.githubusercontent.com/8171424/198892528-b2b87e43-e7c8-47ff-b20a-f3431c0c97f1.png">

I do no think the issue , in wrong open modes, becuase as I said everything works on ios/android

I read something about stencil components to experimental import

<img width="434" alt="image" src="https://user-images.githubusercontent.com/817142

[2022-10-30 18:05] jepiqueau commented on #340
@Nickolas- the checkConsistency is mainly used for live reload . Any how the 'open' mode clearly does not exist.
I do not know if you have a vue.config.js file look at what i put in to have typeOrm working in https://github.com/jepiqueau/vue-typeorm-app.  That could help you. I am away from my computer for the next 3 weeks so i cannot run your app. Tell me if s'éteint the vue.config.js help in sol

[2022-10-30 18:21] Nickolas- commented on #340
@jepiqueau vue.config.js just store some info for webpack and im using vite. I do no think they are related ?

[2022-10-30 18:32] jepiqueau commented on #340
@Nickolas- there is nothing more i can do for the next 3 week-end so you are on your own

[2022-10-31 08:48] Nickolas- commented on #340
Hi @jepiqueau , I found an issue at stencil github about dynamic loads and Vite.
https://github.com/ionic-team/stencil/issues/2827
What do you think , could be it related ? I will try today add this flag to stencil config and rebuild a package. Let's see

[2022-10-31 11:20] jepiqueau commented on #340
@Nickolas- i remember for vite app the way to import the Stencil component is different. Look at https://github.com/gepiqueau/vuevite-app this should solve your issue

[2022-11-01 12:08] jepiqueau commented on #340
@Nickolas- Did that help you to solve the issue ?

[2022-11-01 13:36] Nickolas- commented on #340
@jepiqueau I didnt test actually , do not have a time right now to play around. Will do maybe on weekeneds.
For right now I did a workaround to make it work
<img width="488" alt="image" src="https://user-images.githubusercontent.com/8171424/199246239-a5a458dc-4f70-40be-879e-cfc5bb446767.png">

[2022-11-01 13:37] Nickolas- commented on #340
@jepiqueau btw your link does not work for me. I got 404.

[2022-11-01 18:26] jepiqueau commented on #340
@Nickolas- you get a 404 as you certainly did not copy the sql-wasm.wasm file from sql.js installed into the public/assets folder of the app as mentioned in the doc

[2022-11-02 07:38] Nickolas- commented on #340
@jepiqueau I got 404 on your link , not in app :) https://github.com/gepiqueau/vuevite-app this one not works :)

[2022-11-02 07:40] Nickolas- commented on #340
@jepiqueau about sql-wasm.wasm I try in to different ways, one is load from static files , other to load from  sqljs.org at runtime

[2022-11-02 09:41] jepiqueau commented on #340
@Nickolas- sorry https://github.com/jepiqueau/vuevite-app

[2022-11-02 09:43] jepiqueau commented on #340
@Nickolas- to have it working with capacitor 4 you have to follow the instructions from ionic capacitor 3 to 4

[2022-11-02 15:57] hannaseithe commented on #257
Just want to reinforce the need for documentation improvements. Spend a while now trying to figure out what was up when I got the error message 'The jeep-sqlite element is not present in the DOM!' in the browser. Would be very helpful to have a more explicit documentation that explains the methods needed (initWebStore and saveToStore) for web support.

[2022-11-02 19:31] montagnamarco opened #341 "isConnection, retrieveConnections and other functions not implemented on Android"
**Describe the bug**
I get "Not implemented on Android" on retrieveConnections and isConnection

**Expected behavior**
I expect to have a result, true or false

[2022-11-02 22:42] alpopa85 commented on #324
Hi there, I'm having the same issue as @kelchm w react-sqlite-hook. I've tried everything, can't get it to work.

Capacitor 4,
React 18

Here's my package.json:

{
  "name": "121-tablet-2022",
  "version": "0.0.3",
  "private": true,
  "dependencies": {
    "@capacitor-community/http": "^1.4.1",
    "@capacitor-community/sqlite": "^4.2.2",
    "@capacitor/app": "^4.0.0",
    "@capacitor/core": "^4

[2022-11-03 07:59] jepiqueau commented on #324
@alpopa85 did you look at https://github.com
/jepiqueau/react-sqlite-app-starter it has been update to capacitor 4 an react 18.2.0 it works fine

[2022-11-03 08:14] jepiqueau commented on #324
@alpopa85 if you cannot fix it it can you try in the react-sqlite-hook/src/util/feature-check.ts to modify
export async function isFeatureAvailable

I thought i did it but it is not.
If it works and solves your issue can you please make an issue on the react-sqlite-hook in reference to that one and i will fix it and publish it when i am back home in 2 or 3 weeks time
Sorry for the disturbance

[2022-11-03 08:15] jepiqueau commented on #340
@Nickolas- have you had time to try?

[2022-11-03 09:52] Nickolas- commented on #340
Not yet , maybe on weekends.

Best Regards,
Mykola Shpotenko
P: +380679907582
E: ***@***.***

[2022-11-03 11:54] jepiqueau commented on #340
@Nickolas- OK good luck

[2022-11-04 15:43] Etchelon opened #343 "On mobile devices - WebStore is not open yet"
**Describe the bug**
When I use my web app on my iPhone, with Safari, Edge or Chrome (doesn't matter), every time I **reload** the page (like F5) I get "WebStore is not open yet. You have to call "initWebStore()" first.".
If I close the tab and reopen it, it works fine.
On a tablet and PC/MacOS browsers it doesn't happen.
Sometimes it happens on PC browsers when hot module reloading kicks in.

**E

[2022-11-04 16:03] Etchelon commented on #343
I just found out that if I add
`await delay(100); // wait for 100ms`
before calling
`await this.sqlite.initWebStore();`
the issue goes away.

Saying this hoping it will help understanding whether there's an issue somewhere in the plugin (I doubt it) or in my code (much more likely), not because I will settle for this workaround, of course. Why 100? How can I know it's going to work on all devices?

[2022-11-04 17:55] jepiqueau commented on #343
@Etchelon which framework are you using i was force to do the same (delay function) on a vue app

[2022-11-04 18:47] Etchelon commented on #343
@jepiqueau React.
I'm not strictly following your examples, in that I'm initializing the proper subclass of DbConnection depending on whether the app is running on native or web.
So the WebDbConnection does what you see in the screenshot: lazily imports the JeepSqlite stuff, awaits initialization and then creates the connection.

Btw I've read in other issues mentions to using `checkConnectionCons

[2022-11-05 07:10] jepiqueau commented on #343
@Etchelon the web initialization must be in the main.ts file which is the only file which is to rerun when you move from page to page  or reload a page. Put a console.log in all setup of pages and app and also on the onMount methods you will see how react work. The checkConnectionConsistency is required for livereload of page.
Follow the example it is the only i found to have it working but i am n

[2022-11-05 15:22] Etchelon commented on #343
Unless mobile browsers behave in a different a misterious way, when you click on "reload" the whole page should be reloaded.
It means that my app
- loads the main.tsx file
- main.tsx loads App.tsx
- App.tsx awaits initialization of all the services. One of these initializers awaits loading of the JeepSqlite plugin, custom element definition and creates the connection.

I don't see why all that nee

[2022-11-05 17:07] jepiqueau commented on #343
@Etchelon do it the way you want and if you find a better solution which is working please share it. It may interest other React developers. As i told you i am not à React specialist

[2022-11-05 17:55] Etchelon commented on #343
Since it's not clear what the problem is and there's a working workaround, I'm going to close the issue for now.
I'll try a few more things and get back to you.

Regarding sharing my solution, I've pretty much explained what I'm doing compared to the [React example](https://github.com/capacitor-community/sqlite/blob/master/docs/Web-Usage.md#ionicreact-app) in the docs. What can I do to give it mor

[2022-11-05 17:55] #343 closed

[2022-11-07 10:05] alpopa85 commented on #324
Thanks a lot for the reply and suggestion. I'll get back later today w an update after I run some tests.

[2022-11-07 16:34] Sampath-Lokuge opened #344 "Error: isTableExists: No available connection for database: with Capacitor 4 and SQLite ver: 4.2.2"
Hi,

_sqlite-configuration.service.ts_

[code]

**Error:**

[code]

_package.json_

[code]

The above code works fine with 3+ versions. But now it gives the above error with 4+ versions. Please let me know the issue.

I have tried with 4.2.2 too. Same error.
Ionic/Angular native app.

Is this "@capacitor/core": "^4.3.0", issue? i.e. I use that version.

I didn't add any new code with the 4+ versio

[2022-11-07 17:24] pedro21900 opened #345 "ImportFromJson sync change no persist"
Good afternoon, I have a possible problem regarding importFromJson, the data arrives showing that there are 382 changes that came from the server, but when I check on the device, only one record was imported from each table, the rest of the data is lost, what is the solution what should I do ?

[2022-11-07 18:38] jepiqueau commented on #344
@Sampath-Lokuge try with the latest version of @capacitor-community/sqlite. I am away from any computer till end of the month.
Look at the code of the angular starter app there is some call to isTableExists and they work.
Have you convert your app from capacitor 3 to 4 according to the ionic recommandations

[2022-11-07 18:43] jepiqueau commented on #345
@pedro21900 which framework ? which version are you using ? As i am away from computer till end of the month look at https://github.com/jepiqueau/angular-sqlite-app-starter or others app in different frameworks they all working fine and then compare with your code.
Is the json object sent is a valid Json Sqlite object?

[2022-11-07 18:56] pedro21900 commented on #345
I'm using angular, and I need help I'm in a bit of urgency.

I'm using the
"@capacitor-community/sqlite": "^4.2.2",

I'm using the Partial Mode Two Steps concept

The table creation happens, plus the data when it arrives, only one record persists.

I used isJsonValid and it returns true.

If you can help me, I'm really stuck lol

[2022-11-08 06:19] jepiqueau commented on #345
@pedro21900 can you share the piece of code where you use the import (two steps concept) and the json object for the schema definition and the data definition . Have you clone the angular-sqlite-app-starter and run the import export test. Did it work?

[2022-11-08 07:17] Sampath-Lokuge commented on #344
Still the same error with 4.2.0. Do I need to change my code? i.e. cannot use the below code with this new version? I have used `npx cap migrate` for 3 to 4 and no errors there. Your thoughts?

[2022-11-08 07:33] jepiqueau commented on #344
@Sampath-Lokuge i do not see in your code where you call isTableExists. On which platform the error is returned? All of them ?

[2022-11-08 07:35] Sampath-Lokuge commented on #344
I have used this `const isTable = await this.sqliteDbConnection.isTable('taxiExtras');`

Do I need to change that to `const isTable = await this.sqliteDbConnection.isTableExists('taxiExtras');`

Can I have doc for such changes?

[2022-11-08 07:41] Sampath-Lokuge commented on #344
P.S.

I have not used `isTableExists` with my code.  only `isTable` and all worked nicely with this version ` "@capacitor-community/sqlite": "3.5.1-2",`

[2022-11-08 07:53] Sampath-Lokuge commented on #344
**P.S. 2**

Sorry, we cannot use this `const isTable = await this.sqliteDbConnection.isTableExists('taxiExtras');` there too.

Any thoughts, please? Why is that error with 4.2.0?

[2022-11-08 09:28] jepiqueau commented on #344
@Sampath-Lokuge it is isTable to be used with this.sqliteDbConnection

[2022-11-08 09:34] Sampath-Lokuge commented on #344
Yes `private sqliteDbConnection: SQLiteDBConnection;`

[2022-11-08 10:42] Sampath-Lokuge commented on #344
P.S.2

It shows like so: Is this correct? I think problem is there no?

![1](https://user-images.githubusercontent.com/5206526/200544063-5ce0132f-4969-4b01-854b-71593d38d385.png)

[2022-11-08 22:39] alpopa85 commented on #324
Alright, so after long digging I found the issue but I have no idea how to fix it.

As soon as I add code making an API call using @capacitor-community/http, the FeatureNotAvailableError is thrown.

This is my code:
`    if (APP_RUNS_NATIVE) { // HTTP calls for native
        return nativeApiCall(url, postData);
    } else { // AXIOS calls for browser
        return axiosApiCall(url, postData);

[2022-11-09 07:27] jepiqueau commented on #324
@alpopa85 thanks to revert to me what a work to finally get there. Did that required to have the async added to the function isFeatureAvailable in the react-sqlite-hook as i suggested or not? I am happy that you finally find the fix good luck for your app development

[2022-11-09 08:02] Sampath-Lokuge commented on #344
Any feedback here, please?

[2022-11-09 08:16] Sampath-Lokuge commented on #344
That error shows when it executes this line:

`const isTable = await this.sqliteDbConnection.isTable('taxiExtras');`

[2022-11-09 15:23] alpopa85 commented on #324
@jepiqueau There was no need to make the isFeatureAvailable an async function. Everything worked w react-sqlite-hook out of the box. Thanks!

[2022-11-09 15:30] jepiqueau commented on #324
@alpopa85 thanks

[2022-11-09 17:11] Nickolas- commented on #340
@jepiqueau so after of tone wasted time , i would not recommend anyone to work with typeorm and vite. Its just not ready , to many things fail in runtime.

With webpack everything work as a charm. No extra coded need.

Have a good day :)

[2022-11-09 18:49] jepiqueau commented on #340
@Nickolas- thanks for your painfull work sorry that you cannot succeed but at least it is a good feedback for other developers

[2022-11-10 02:12] pedro21900 commented on #345
But I can't use "AUTOINCREMENT" when I use a "constraint" ,any tips?

[2022-11-10 07:40] jepiqueau commented on #345
@pedro21900 have you tried

{
                    "column": "id",
                    "value": "INTEGER NOT NULL AUTOINCREMENT UNIQUE"
 },

[2022-11-11 05:24] aeinn opened #347 "documentation mistake for Ionic-Angular-Usage.md"
error section: https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Angular-Usage.md#singleton-service-injection

the above linked section (singleton-service-injection) may have been incorrectly replaced with the definition of (singleton-service-definition)

new user may need to refer to the earlier version of Ionic-Angular-Usage.md for usage guide:

- https://github.com/capacitor-

[2022-11-11 06:46] jepiqueau commented on #347
@aeinn yes you right cut and paste mistake. Can you make a PR to modify it and add yourself in the readme.md contributor list. I will merge it from my phone device. I am away from my computer till end of the month. Thanks for this

[2022-11-14 07:18] Sampath-Lokuge commented on #344
Please see this video too: https://youtu.be/8oWWLAYzxkE

Any clue, please?

[2022-11-14 07:41] jepiqueau commented on #344
@Sampath-Lokuge are you using @capacitor-community/http if it is the case change it with the http plugin @capacitor/http. This may solve the issue. At least it did for one developer otherwise you will have to share your code when i am back and i will have a look

[2022-11-14 07:56] Sampath-Lokuge commented on #344
No. I use this `import { HttpClientModule } from '@angular/common/http';`

`package.json`

[code]

[2022-11-15 07:02] jepiqueau commented on #340
@Nickolas- i close the issue

[2022-11-15 07:02] #340 closed

[2022-11-15 07:06] jepiqueau commented on #341
@montagnamarco have you solved it? If yes, can you close the issue

[2022-11-15 14:19] Sampath-Lokuge commented on #344
I have sent you the source code. Please confirm it. Thanks!

[2022-11-17 17:50] jepiqueau commented on #344
@Sampath-Lokuge i do not have receive any invitation

[2022-11-17 18:03] Sampath-Lokuge commented on #344
Sent it again. Please see it in the spam folder too.

![j](https://user-images.githubusercontent.com/5206526/202522943-1aa13cf5-2522-4463-b819-70f87e46ceb1.png)

[2022-11-18 10:29] antoniovlx opened #349 "Problem with the version of node-fetch package in electron app"
In section [**Electron Quirks**](https://github.com/capacitor-community/sqlite#electron-quirks) is required to install `node-fetch` because the plugin uses it in an electron app.

I've installed the last version (3.3.0) and I get an error when I run the app:

`Error [ERR_REQUIRE_ESM]: require() of ES Module C:\Users\anton\git\ionic-angular-template\electron\node_modules\node-fetch\src\index.js fro

[2022-11-18 15:30] jepiqueau commented on #349
@antoniovlx OK thanks for your comment. Can you make a PR to modify the Electron Quirks  and add you in the list of contributors in the readme.md file and i will merge the PR

[2022-11-19 12:39] #349 closed

[2022-11-19 12:40] jepiqueau commented on #344
@Sampath-Lokuge can you close the issue if everything is solved on your side

[2022-11-19 15:14] Sampath-Lokuge commented on #344
Your this feedback gave me a hint. https://github.com/capacitor-community/sqlite/issues/338#issuecomment-1288136413

i.e. I have opened 2 connections for old db and new db. So it must be a `Singleton` one. So I have fixed that and all are working fine with Capacitor 4 and your new plugin version. Thanks a lot for your support.

[2022-11-19 15:14] #344 closed

[2022-11-22 07:16] jepiqueau commented on #345
@pedro21900 if everything is fixed on your side can you close the issue thanks

[2022-11-30 07:41] jepiqueau commented on #341
@montagnamarco No answer from you so i close the issue. feel free to re-open it if requires

[2022-11-30 07:41] #341 closed

[2022-11-30 07:43] jepiqueau commented on #345
@pedro21900  No answer so i close the issue. Feel free to re-open it if required

[2022-11-30 07:43] #345 closed