[2021-03-15 14:56] accron-1 commented on #94
When I did `npx cap sync` I saw that I was actually still stuck on v. 2.4: I had updated the `package.json` but had failed to run npx. I have now upgraded to 2.9.13 (according to `npx cap ls`).

That certainly explains the different output for you and me, but I haven't been able to verify it yet.

To request storage permission we used to do:
[code]
But not anymore it seems. What's the new way of d

[2021-03-15 15:47] jepiqueau commented on #95
@DiappyMed i told you above register the plugin in your MainActivity.java file
[code]
i think you should look at the documentation and at the different app starter before starting to use it

[2021-03-15 15:50] jepiqueau commented on #94
@accron-1 this i not required so it has been removed on the request of some developers. Yes it is important that you `npx cap sync` each time you change the version of the plugin and also when you upgrade capacitor/core ...
Now is it working?

[2021-03-15 15:55] jepiqueau commented on #93
@ncham that not possible so show me your package.json file and the MainActivity.java file.
make sure your MainActivity.jave file is the same than the one i gave above

Did you run this
[code]

[2021-03-15 17:33] pratiksan45 opened #96 "Max size of .db file , this plugin can handle ??"

[2021-03-15 20:56] accron-1 commented on #94
I had to adapt all my db calls to the new api, so it took a while.

The exported data now contains the `REAL` field, so the export and import finally works as expected! Thanks for mentioning the `npx sync`.

Question: will the api's change again in the upcoming v.3?

[2021-03-16 01:06] ncham commented on #93
Yes, I did run those commands.

**package.json**
[code]
**MainActivity.java file**
[code]

[2021-03-16 06:12] mpat8121 opened #97 "3.0.0-beta.4 - ImportFromJson fails when importing JSON created using the exportToJson"
**Describe the bug**
SQLite Plugin Version: 3.0.0-beta.4.
When utilising the importFromJson method to import a JSON file that has been previously exported from the same app/database, the import fails due to the trigger construction.

**To Reproduce**
Steps to reproduce the behaviour:

1. Run an app that initialises a database
2. Run the exportToJson method to export the database to a file
3. Run t

[2021-03-16 06:46] jepiqueau commented on #94
@accron-1 The API will not change except that the call to db method will have to be done through a try...catch to get back the error messages which was requested by a lot of developers. You can see it in `https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Vue-Usage.md` . I know that it can be a bit frustrating but i just make changes when developers ask for it and there is a valu

[2021-03-16 06:47] jepiqueau commented on #94
Can you close the issue when everything has been finally tested on your site

[2021-03-16 07:41] jepiqueau commented on #93
@ncham It should work if you did run all the commands. i started from scratch a new application this morning did all the steps and it works. see `https://github.com/jepiqueau/testissue93` Hopes this clarify and ends this issue. I will let you close it when it successful on your site

[2021-03-16 07:44] jepiqueau commented on #96
@pratiksan45 see sqlite3 doc `https://www.sqlite.org/limits.html`

[2021-03-16 08:38] jepiqueau commented on #97
@mpat8121 I know, i have to implement all the fixes to issues from 2.9.9 to 2.9.13 into 3.0.0. I will work on this now and implement also capacitor3.0-rc. So be patient it will come.

[2021-03-16 16:50] #94 closed

[2021-03-16 21:52] mpat8121 commented on #97
@jepiqueau Ok. There is no rush on a fix/update as we have the import temporarily working with the change mentioned above.

[2021-03-17 01:35] ncham commented on #93
Perfect, I tested your code and it's working.
Then I compared with my coding and found below differences. Anyway I copied the coding from the [doumentation](https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Angular-Usage.md)

**Original**
[code]
**Changed to**
[code]
Then it worked.

[2021-03-17 06:08] jepiqueau commented on #93
@ncham if the db is part of your asset and is required as initial db to start your app you have to keep it and when the app starts you check if the db exists, if not you copy it from the asset and the open it otherwise you open it Voilà. I close the issue and i will remove the example app from github

[2021-03-17 06:08] #93 closed

[2021-03-17 06:10] jepiqueau commented on #97
@mpat8121 Many thanks for your understanding and patience. it will come i am working on.

[2021-03-17 06:11] ncham commented on #93
Thanks.

[2021-03-17 14:46] candreapps opened #98 "query a database via a search bar"
**Is your feature request related to a problem? Please describe.**
Missing documentation.

**Describe the solution you'd like**
A simple example of using this plugin to query a database via a search bar.

[2021-03-17 18:59] jepiqueau commented on #97
@mpat8121 In fact it is not the importFromJson createTableTriggers which is wrong the `.append(" ON ")`should stay. It is the ExportToJson which is wrong in the getTriggers the timeEvent should not contains the " ON" so just before
[code]
you must include
[code]
this is for the Android plugin

[2021-03-18 00:47] mpat8121 commented on #97
@jepiqueau That does resolve the issue when importing a new export (generated after the above fix), but anything that has been exported prior to this fix is unable to be imported. Should there be a way to import previous exports?

[2021-03-18 06:32] jepiqueau commented on #97
@mpat8121 Are you storing your successive exports? What are the reason for if i may. It seems that you are using the import/export json object in a way i never thought about it so i am interested to know. I think in previous exports to be able to use them you need to loop through and remove the ` ON` from the timeEvent. In fact it was a mistake to have it on the timeEvent string

[2021-03-18 06:40] jepiqueau commented on #96
@pratiksan45 Any news ? Did you have an issue or was it just a question? If no answer from you in the two coming days, I will close the issue.

[2021-03-18 06:41] jepiqueau commented on #95
@DiappyMed Did you solve your issue ? If no answer from you in the two coming days, I will close the issue.

[2021-03-18 06:42] #92 closed

[2021-03-18 06:54] jepiqueau commented on #89
@danielprrazevedo I did reproduce it so i will fix it in the next release

[2021-03-18 07:05] jepiqueau commented on #97
@mpat8121 i will make the following changes in ImportFromJson for compatibility on top of the one done in the exportToJson
[code]
The same modifications to the `exportToJson` and `importToJson` will be done for iOS and Electron.

[2021-03-18 07:57] DiappyMed commented on #95
Hello Jean Pierre,
Thanks a lotfor your help, and thanks again for capacitor SQLite.
Regards,

[2021-03-18 07:57] #95 closed

[2021-03-18 08:05] pratiksan45 commented on #96
Hi @jepiqueau  ! yes , It was a question and I got clarified from the link you provided .
Thanks .

[2021-03-18 08:05] #96 closed

[2021-03-18 18:39] jepiqueau commented on #97
@mpat8121 this is fixed in release 3.0.0-beta.5

[2021-03-18 18:40] jepiqueau commented on #89
@danielprrazevedo  this is fixed in release 3.0.0-beta.5

[2021-03-18 21:58] danielprrazevedo commented on #89
@jepiqueau
Sorry for my delay
will versions 2.9. * not receive any more updates?

[2021-03-19 00:11] mpat8121 commented on #97
@jepiqueau The use case is to allow a user of the app to back-up their data from the device to a file (saved to another app or onto their device) and then to be able to restore the app to that state by importing the file.
It does mean that we relinquish control of which version of both the app itself and this plugin that the data export is generated from so backward/forward compatibility is requir

[2021-03-19 00:11] #97 closed

[2021-03-19 06:45] jepiqueau commented on #98
@candreapps Your question is not related to plugin features but more on the application site. Yes it would be nice to have that but it is depending on the framework used. I am to busy on maintaining my plugins for the time being with the move to Capacitor 3 imminent to spend time on this. You may look at this `https://jsmobiledev.com/article/searchbar-firebase` and replace firebase by call to the

[2021-03-19 06:48] jepiqueau commented on #97
@mpat8121 Thanks for the sharing and do not hesitate if you find something else, it will help to improve the product and be a benefit for the capacitor-community developers

[2021-03-19 08:13] jepiqueau commented on #89
@danielprrazevedo I will provide one more update for fixing this issue may be to morrow as i do not have time to work to day

[2021-03-19 09:33] ncham opened #99 "To where copyFromAssets() copy db files"
Inside copyFromAssets() method, to which location db files are copied in Android and iOS?
Is it possible to access(open) that db file by using _ionic-native/sqlite_ also?

[2021-03-19 15:47] jepiqueau commented on #89
@danielprrazevedo Can you show me your set statement and value In fact i can make it in Android by having `,,` or `,null,` in the set values but this does not work in iOS. So why did you put this field in the set statement if you do not want to give a value. If you do not define it in the statement the store value for the fields which are not given is NULL

[2021-03-19 19:54] jepiqueau commented on #89
@danielprrazevedo this is fixed in 2.9.14

[2021-03-19 19:57] jepiqueau commented on #99
@ncham as mentioned in the doc
[code]
No idea if it is compatible with ` ionic-native/sqlite`

[2021-03-20 07:32] jepiqueau commented on #99
@ncham having look at `https://www.positronx.io/ionic-sqlite-database-crud-app-example-tutorial/` and convert it to the use of capacitor, the database location are if you use the `default` location
[code]

[2021-03-22 08:28] ncham commented on #99
@jepiqueau When copying using copyFromAssets(), does the database is suffixed with SQLite?
ex: my_db_name.db -> my_db_nameSQLite.db

[2021-03-22 13:04] jepiqueau commented on #99
@ncham Yes in order to be compatible with the plugin
on iOS the "default" location is Documents under the application
on Android the "default" location is databases under the application
on Electron the "default" location is Databases/YOUR_APPLICATION_NAMEin the Home directory

[2021-03-25 11:58] deepakjsr7979 opened #100 "how to update any table or add new column and update in live mobile app without uninstall the app?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-25 12:17] jepiqueau commented on #100
@deepakjsr7979 Look at `addUpgradeStatement` and `https://github.com/capacitor-community/sqlite/blob/master/docs/UpgradeDatabaseVersion.md`

[2021-03-25 15:40] jepiqueau commented on #98
@candreapps Did you find a solution ? if yes can you close this issue

[2021-03-25 15:41] jepiqueau commented on #99
@ncham Any news? Did you finally make it working ? if yes can you close the issue

[2021-03-26 01:38] ncham commented on #99
Since the .db file is in Documents folder, is it visible to iTunes or backed up by iCloud?

[2021-03-26 17:18] candreapps commented on #98
yes, my solution was to use json files instead.

[2021-03-26 17:18] #98 closed

[2021-03-29 06:23] jepiqueau commented on #100
@deepakjsr7979 Did you find your way. if yes could you please close the issue

[2021-04-01 09:17] rukshankr opened #101 "ImportFromJson db is Locked"
Hi, I'm a complete beginner testing a database using Angular on Nexus 6 simulator API 29 on Android Studio.
When I'm trying to do a full import the 1st time it works and says that my database is created with all the rows entered.
But when I try a full import of the same json object again it says one table (name:"role") does not exist to delete, but when I tested with the database the first time th

[2021-04-01 12:52] jepiqueau commented on #101
@rukshankr Thanks for using the plugin, which release of the plugin are you using  2.9.14 or 3.0.0-beta.7 ?

[2021-04-01 16:45] jepiqueau commented on #101
@rukshankr this is certainly due to the constraints

[2021-04-02 00:05] rukshankr commented on #101
the 3.0.0-beta 7

[2021-04-02 00:06] rukshankr commented on #101
Oh. Do you know of any way that I can circumvent this issue?

[2021-04-02 05:04] jepiqueau commented on #101
@rukshankr i am working on it i did fix it for android but not yet for iOS and Electron hope i will have a fix to day

[2021-04-02 05:14] jepiqueau commented on #101
@rukshankr waiting for the fix you could do this
in the `sqlite/SQLITE/UtilsDrop.java` file
change in the `getTablesNames`
[code]
by
[code]
this should make it working, the tables are deleted in the reverse order that they have been created. So the tables which have a constraint on other tables will be deleted first.
tell me if it is working on your side

[2021-04-02 06:30] jepiqueau commented on #101
@rukshankr in json object the `null` value should be replaced by "NULL" to be compatible with iOS
so the object should be :
[code]

[2021-04-02 07:42] jepiqueau commented on #101
@rukshankr this is fixed in release 3.0.0-beta.8. Thanks and good luck for your work

[2021-04-02 08:35] rukshankr commented on #101
It _did_ work. Thank you so much! I was stuck here for days.

I have another simple question if you don't mind: what should happen if I import the same data as a partial Import after populating the db with the full import? Should it simply ignore the existing values or should it give an error, like it happens with mine right now?

This really is an awesome plugin. Thank you for creating it!

[2021-04-02 09:57] jepiqueau commented on #101
@rukshankr The `full` import drop all tables first, the `local` import does not  do it. So you cannot reload the same data. The `local` is made for synchronization between the remote and the local database. So only things have changed from the last `full` or `local` import should be part of the json object. ie new tables, indexes, triggers or data. Hope it is clear. I updated the release to `3.0.0

[2021-04-03 18:06] bennyvenassi opened #102 "isJsonValid is on android false and on iOS true"
Hi,
I switched from sqlite 2.4 to 2.9.14 and I'm trying to implement it in ionic for iOS and Android.
I'm facing the issue, that my code works fine on iOS. On android I'm getting the result "false" from CapacitorSQLite.isJsonValid function and the firsttime database setup isn't performed.

I organized the database interactions in a seperate service file.

The code for the firsttime setup from my s

[2021-04-04 05:56] #101 closed

[2021-04-04 05:57] #100 closed

[2021-04-04 06:00] jepiqueau commented on #99
@ncham i could not answer i do not have an iOS device. i just test the plugin on simulator. test it on your side

[2021-04-04 06:00] #89 closed

[2021-04-04 06:44] jepiqueau commented on #102
@bennyvenassi I tested it in my code and the json object works fine on Android. To replicate your code i will need to have the full code of the storage service with the import i don't know  where
 `Storage` is defined

[2021-04-04 07:57] bennyvenassi commented on #102
okay, no problem:

[code]

[2021-04-04 08:08] jepiqueau commented on #102
@bennyvenassi
i ran it without the storage
[code]
and call it like this in a Page

[code]
and it works fine

Did you run a `npx cap sync` before the 'build` when you have move from one version to the other

[2021-04-04 08:12] jepiqueau commented on #102
@bennyvenassi i do not think the Storage is responsible for. so i do not know what to do. i put this
[code]
as in my app the service `storage.services.ts`  is under `app/services` folder

[2021-04-04 08:19] jepiqueau commented on #102
@bennyvenassi I add the Storage plugin and removing the commented lines and it works fine

[2021-04-04 08:25] jepiqueau commented on #102
@bennyvenassi In the service that you provided you never close the connection. so i assume that it is something that you start at the launching of your app and after the connection and the database  stayed open. So i also assume that after this you are using another service to interface the database and make query, insert ...

[2021-04-04 11:36] bennyvenassi commented on #102
Thank you for your answers! I'm using only the storeage.service.ts to interact with the database.
The storage service is supposed to insert the json object as the first start is performed.
But it stops at the point validating the json object. Therefore I've included so many console.logs.

E.g. the consolelogs from android studio:
[code]

and for comparison from xcode, where the code works fine:

[

[2021-04-04 17:04] jepiqueau commented on #102
@bennyvenassi I do not understand in the android log the following
[code]
what is that file ?

[2021-04-04 17:17] jepiqueau commented on #102
@bennyvenassi look t `https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor` testjson102. For me it is working fine.

[2021-04-04 17:30] bennyvenassi commented on #102
that log is not from sqlite, i'm using a internationalization plugin and this is the log of the device language.

I'll try tomorrow some more testing...

[2021-04-04 17:37] jepiqueau commented on #102
@bennyvenassi  Ok look at my code clone it and see if it  works  it should

[2021-04-05 10:45] bennyvenassi commented on #102
@jepiqueau now i'm really clueless. I just copied theexample repo and it's not working either.

It makes no sense to me, I deleted the node_modules and android folder serveral times now, somehow android won't work.

Android console logs of the example repo:
[code]

and the working xcode logs:
[code]

[2021-04-05 17:04] jepiqueau commented on #102
@bennyvenassi It seems that you did not update your MainActivity.java file. This is still required for capacitor/core@2.4.7. This will not be required in the 3.0.0

[code]
i saw this int the following log
[code]
Having declare the plugin it should work

[2021-04-06 17:52] bennyvenassi commented on #102
Sorry, yes, you are awesome. while changing the plugin version and deleting the android folder I have totally overseen this.
Thank you a lot for your help!!

[2021-04-06 17:52] #102 closed

[2021-04-07 11:22] SBejga opened #103 "specify database path to save sqlite into shared data containers (ios)"
First of all, thanks for this capacitor community project!

**Is your feature request related to a problem? Please describe.**
I am considering to split a big Ionic Cordova app into two smaller Ionic Apps and want to upgrade to capacitor as well.
The problem with two apps, they should share some data. I think about sharing a sqlite database.

**Describe the solution you'd like**
In iOS sharing dat

[2021-04-07 12:32] oscarvdl opened #104 "no such column: NEW.last_modified: , while compiling: UPDATE products SET expiredAt = ? WHERE id = ?"
**Describe the bug**
When running an UPDATE statement I'm getting a `no such column: NEW.last_modified: , while compiling: UPDATE products SET expiredAt = ? WHERE id = ?` error.

I don't understand where the `NEW.last_modified` column is coming from.

**To Reproduce**
Steps to reproduce the behavior:

In my Ionic app I'm have the following TypeScript code to update the expiredAt column for my prod

[2021-04-07 13:21] jepiqueau commented on #104
@oscarvdl Hi, thanks for using the plugin. Can you provide your database schema and some of the data as you create it

[2021-04-07 13:39] jepiqueau commented on #103
@SBejga Hi, thanks for looking at using the plugin. This request is far too complex to achieve and will not keep the plugin simple and maintainable. The developers need something simple, easy to use and maintainable and respecting the device environment and rules. I will then decline this request. You are free to clone the plugin and develop the code you need for your own use.

[2021-04-07 17:29] oscarvdl commented on #104
@jepiqueau first of all, great plugin and thanks for looking into the issue!

Part of the database scheme is below. I only changed the table and column names to mask and simplify the case.
[code]

Then I call an API and sync the data with these kind of queries:
[code]
I'm going to change this by adding the values in the values of the database schema but I think that's unrelated.

[2021-04-08 08:09] jepiqueau commented on #104
@oscarvdl Look at `https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/ImportExportJson.md`. When using `importToJson` each table should have a field `last_modified` to allow for synchronization,.
so your json object must be:
[code]
If you do not want to create that field you have to create the database with standard SQLite commands. Hope this clarify.

[2021-04-08 08:15] jepiqueau commented on #104
@oscarvdl the test has been implemented in `https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor`

[2021-04-08 18:14] oscarvdl commented on #104
I missed that part of the documentation and this indeed solves my problem. Thanks!

Could image this `last_modified` field being added by default without explicitly defining it in the table schemas as it's a technical field required for the synchronization and not part of the application logic. But that's a design choice.

[2021-04-08 18:14] #104 closed

[2021-04-11 21:29] t4tapas opened #105 "Android app crashes when creating connection with wrong secret"
**Describe the bug**
When I am trying to use method `createConnection` with mode `secret` and passing a wrong secret IOS is throwing an error `{"message":"Open command failed: Failed in openOrCreateDatabase Wrong Secret","result":false}` but in android the app is crashing.

**To Reproduce**

1. Create a database with mode "no-encryption"
2. Encrypt the database with mode "encryption"
3. Change the

[2021-04-12 15:36] jepiqueau commented on #105
@t4tapas Hi, thanks for using the plugin. I will have a look later as i am currently full busy with the migration of the plugin `capacitor-data-storage-sqlite` to @Capacitor3.0.0-rc.0

[2021-04-12 15:36] chriswep opened #106 "reload of webview breaks connection handling"
If the webview of Capacitor is reloaded (e.g. via dev-server), the plugins looses its internal connection dict/state. `isConnection` returns `false` however `createConnection` fails because the connection still exists on the native side.

I suggest to not handle any state on the JS-side of the plugin (or alternatively to check native connection state on web-startup).

[2021-04-12 16:04] jepiqueau commented on #105
@t4tapas to change the secret when your database has been encrypted with the secret defined in the  GlobalSQLite file
- set the value of newsecret in the  GlobalSQLite file with your new secret
- create a connection `createConnection("YOUR_DB", true, "newsecret", YOUR_VERSION)`
- open the db
- close the  connection
- go back to your app and now change the value of secret in the  GlobalSQLite file

[2021-04-12 22:17] t4tapas commented on #105
@jepiqueau , thanks for your reply. For the above solution, I have to release 2 versions on my app. Currently, I am trying to write code to dynamically select whether to use `secret` or `newsecret`.  The problem with Android is if the app crashes, It's a bad user experience and I can't move forward. So when you have time, please look into this issue so that plugin returns an error message. Thanks!

[2021-04-13 06:29] jepiqueau commented on #99
@ncham Any news from your side or i will close the issue

[2021-04-13 06:30] jepiqueau commented on #103
@SBejga i close this issue

[2021-04-13 06:30] #103 closed

[2021-04-13 06:53] jepiqueau commented on #106
@chriswep hi Chris, Which version of the plugin are you using 2.9.x or 3.0.0 ? Looking at this which i never thought about it, may be the best solution is to provide a command to delete all Native Connection as we need to keep the connection object on the JS-side. So the connections could be re-created from scratch.

[2021-04-13 06:58] jepiqueau commented on #105
@t4tapas Can you share the code you wrote to select dynamically the `secret` or `newsecret` so i can try to reproduce the issue as if i use the recommended method i could not reproduce the issue. I will have a look at soon as i received it from your side.

[2021-04-13 08:59] chriswep commented on #106
i'm using 3.0.0-beta-9, currently developing a typeORM plugin. yes, that's my current workaround to delete a connection before creating it. Its a hack though, since i have no way to determine if a connection exists on native or not (i.e. try .. catch .. ignore).

I could imagine that this could bite a lot of people, esp. while developing. `closeAllNativeConnections` could help - i would suggest to

[2021-04-13 09:08] jepiqueau commented on #105
@t4tapas did you try to update to 3.0.0-beta? if yes do you still have the issue as the error reporting has been  fully rewritten?

[2021-04-13 09:17] chriswep opened #107 "inconsistent db-name suffix handling between `copyFromAssets` and `createConnection`"
`copyFromAssets` removes an existing `.db` suffix and appends `SQLite.db`, `createConnection` appends it without removing the existing suffix:

[code]

Apart from that, if i try to add the suffix myself, `copyFromAssets` then leaves it like that, `createConnection` appends a duplicate suffix.

I don't understand the need for the suffix, since it makes things hard for the developer (e.g. i also nee

[2021-04-13 09:26] jepiqueau commented on #107
@chriswep Even if i understand your point, this one will be difficult to change for compatibility reason. When you use the `createConnection` method you just have to give the database name without extension. ie  `createConnection('content',..)` and it will work fine.

[2021-04-13 09:27] chriswep opened #108 "DATETIME strings are converted to numbers"
currently (3.0.0-beta-9) DATETIME strings are converted to numbers by the plugin. I assume this is due to the sqlite-affinities stated here: https://www.sqlite.org/datatype3.html. However SQLite affinities are different from data types. The same document also states that it is perfectly fine (and intended) to store DATETIME as strings. Concerning type conversion it states:

In more concrete terms:

[2021-04-13 09:39] chriswep commented on #107
ok, so the only valid way is to preload the files without "SQLite" but with ".db" in the name and set the database name without ".db". I can confirm that this works.

I suggest to document this more clearly. Probably it also wouldn't hurt to duplicate the name transformation from `copyFromAssets` to `createConnection` if the user provides a name that ends on ".db" (which was the intuitive way for

[2021-04-13 09:46] jepiqueau commented on #108
@chriswep Thanks for the comment, i will have a look.

[2021-04-13 09:47] chriswep opened #109 "NULL values are returned as string"
Currently (3.0.0-beta-9) `NULL` values in the DB are returned as `"NULL"` (the string). They need to be returned as JS `null`. Among other reasons the current behaviour would prevent saving the string "NULL" to the database, even if one tried to work around this on the receiving end. I tried a quick change in `UtilsSQLCipher.swift` and changed `"NULL"` to `nil` in `getColumnValue` and that seemed

[2021-04-13 10:02] chriswep opened #110 "`query` and `run` only take string parameters"
When using numbers or `null` in a query (or in `run()`) the plugin returns with the error "Must provide an Array of string" (3.0.0-beta-9). Replacing the type with `Any` (for testing) in the relevant places in the iOS code seemed to work fine for my application (via TypeORM plugin). I'm don't know the reasoning for the `String` type here but i would suggest that at least `number` and `null` are ne

[2021-04-13 10:10] chriswep opened #111 "add an option to disable transactions for `run` and `execute`"
i couldn't use the `run` and `execute` methods in the TypeORM plugin since TypeORM manages transactions itself. I could make it work somehow by pushing everything through the `query` method however as far as i see i can't get `insertId` and `changes` values through that. and it may break other things?

So would it be possible to use those methods without transactions? Possibly by parameter or by d

[2021-04-13 10:43] jepiqueau commented on #105
@t4tapas Test with 2.9.16 it should work tell me if not

[2021-04-13 11:04] jepiqueau commented on #108
@chriswep the plugin implement the types as described in `https://www.sqlite.org/datatype3.html`

[2021-04-13 11:09] jepiqueau commented on #109
@chriswep The "NULL" in `getColumnValue` is required for the importFromJson and exportToJson methods to work

[2021-04-13 11:32] jepiqueau commented on #110
@chriswep On the run command the type for values is any
[code]
see `https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/test2dbs/test2dbs.page.ts`
On contrary the query required an Array of strings

I understood that you started to work on the TypeORM plugin in view of the number of questions. But it is the TypeORM plugin which must adapt to the @capacitor-community/sqlite

[2021-04-13 11:35] jepiqueau commented on #111
@chriswep this one i will have a look at it, i will add a parameter in the execute and run commands. this request has a value for all developers using the sqlite cordova plugin who will desire to migrate to the capacitor plugin.

[2021-04-13 11:39] jepiqueau commented on #111
@chriswep to resume, i will provide fixes for issue #106, #107 and #111  and only for release 3.0.x of the plugin, hope you will understand

[2021-04-13 12:56] chriswep commented on #108
yes and no - did you have a look at the paragraph about type conversion? Datetime columns have a number affinity however that does not mean that they should be converted to numbers. Its is part of the specification that they can contain date time strings. A number conversion should only be done if the string contains "a well-formed integer or real literal".

[2021-04-13 12:58] chriswep commented on #109
i haven't used (or looked at) the json import/export features. However returning the string "NULL" for null values is breaking core SQLite (or database in general) functionality, so i'd suggest refactoring to the json features to work with "real" null values?

[2021-04-13 13:08] chriswep commented on #110
I don't expect the plugin to adapt to TypeORM. My impression is that this is a bug though (of course i might be wrong).

You are right about the run method - i probably wrongly thought so, because i had to use the query method for that as well (#111).

The question remains for me concerning the query method. Is there a reason to not allow number or null here?

[2021-04-14 05:13] jepiqueau commented on #108
@chriswep The types tested and consistent with the plugin iOS, Android and Electron are only the five described in the sqlite documentation NULL, TEXT, REAL, BLOB, INTEGER.  In the first implementation of the iOS plugin, i coded the `getColumnValue` in the `UtilsSQLCipher` like you see it but i never test it and not implemented it in the Android and Electron part of the plugin neither in the `impo

[2021-04-14 06:13] t4tapas commented on #105
@jepiqueau, it's working fine now. I am getting the error and not crashes. Thank you for taking the time to fix this.

[2021-04-14 12:04] jepiqueau commented on #111
@chriswep the fixes are available in release 3.0.0-beta.10 of the plugin. you can also look at `https://github.com/jepiqueau/angular-sqlite-app-starter` i added a test for issues #106,#107,#111. Hope this will help you for the TypeORM plugin.

[2021-04-14 12:05] #105 closed

[2021-04-14 12:06] #99 closed

[2021-04-14 13:57] chriswep commented on #111
thanks @jepiqueau

i tried it out and found the following bugs:

1) `transaction` is forced to true in those lines, effectively disabling the feature:
- https://github.com/capacitor-community/sqlite/blob/master/src/definitions.ts#L973
- https://github.com/capacitor-community/sqlite/blob/master/src/definitions.ts#L1010

2) dateTypes are still treated as `SQLITE_FLOAT` here: https://github.com/capac

[2021-04-14 13:58] #107 closed

[2021-04-14 14:05] chriswep commented on #106
This is addressed in https://github.com/capacitor-community/sqlite/commit/91cadf53e3a7e0cba01a911e3ca9b1a3eb39e2f6 - i found it difficult to wrap my head around the new `checkConnectionsConsistency` method, so here is my solution for reference. It might be useful for the README:

If using a dev-server with auto-reload, this should be executed before attempting any connections:
[code]

If i underst

[2021-04-14 14:05] #106 closed

[2021-04-14 15:06] chriswep commented on #108
I'm not sure how to understand your updates in beta-10 (esp. README) concerning column types. The five types you mention are storage classes in SQLite not column types. Maybe you intended to use the five type affinities, which don't include `NULL` but `NUMERIC`. Those can be column types in SQLite, however they are not "the column types of SQLite", since all kinds of column types are accepted. In

[2021-04-14 17:45] jepiqueau commented on #108
@chriswep When i will have a bit more time i will have a look what i could do following your lines

[2021-04-14 18:01] jepiqueau commented on #111
@chriswep
1. transaction is force to true if not given, so all the developers codes will still work. but if you enter false, it will run without transaction  see `https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/testissue111/testissue111.page.ts` lines 81, 95, ...
2. in sqlite3.h it is SQLITE_FLOAT with a value of 2 and not SQLITE_REAL. this is the reason i used SQLITE_F

[2021-04-14 18:56] chriswep commented on #111
1. with `const trans = transaction ? transaction : true;` `trans` will always be truthy. What you want is `const trans = typeof transaction !== 'undefined' ? transaction : true;`. However i suppose a better style would be to provide a default value in the method definition. To make matters complete: In cases like this i name the variable such that `undefined` is equivalent to `false` to avoid this

[2021-04-18 16:32] doctorstones opened #112 "Event Listeners for Import and Export Json"
I'm currently developing an app with about 300.000 rows distribuited across 10-12 tables.
I've tried to import data downloading an huge json file and then calling the "import json" function.

This awesome plugin parses perfectly, but obviously a similar amount of data requires some time to be parsed: it requires between 2-5 minutes before the function returns the result.

I dont' think that the pl

[2021-04-21 12:35] #108 closed

[2021-04-21 13:21] jepiqueau commented on #109
@chriswep solve in 3.0.0-beta.11

[2021-04-21 13:21] #109 closed

[2021-04-21 13:22] jepiqueau commented on #110
@chriswep solved in 3.0.0-beta.11

[2021-04-21 13:22] #110 closed

[2021-04-21 13:22] jepiqueau commented on #111
@chriswep solve in 3.0.0-beta.11. Hope you will now give me a break

[2021-04-21 13:22] #111 closed

[2021-04-22 12:11] jepiqueau commented on #112
@doctorstones Thanks for using the plugin , i never thought about using a so huge json file and i am pleased that it is working, i will have a look on finding a solution working for Android, iOS and Electron. Anyway if i found something it will only be available on release 3.+ of the plugin. Have you already done the move ?.

[2021-04-24 08:29] jepiqueau commented on #112
@doctorstones Thanks for your proposal. Event listeners for import and export json have been implemented in release 3.0.0-beta.12. It would be nice if you can test it but you have first to move to capacitor3. You can have a look at `https://github.com/jepiqueau/angular-sqlite-app-starter` to help you for the move. The listeners have been implemented in the `testtypes.page.ts`.

[2021-04-24 16:36] doctorstones commented on #112
@jepiqueau thank you so much for your commitment and work. I'm currently using capacitor 2 because v3 is still in beta, but I'm going to switch within a few weeks. I will try shortly and let you know, consider that I use ionic react and not angular.

[2021-04-25 07:10] jepiqueau commented on #112
@doctorstones ok i will have a look to update `sqlite-react-hook` accordingly

[2021-04-26 08:46] jepiqueau commented on #112
@doctorstones
- `react-sqlite-hook` has been updated release `react-sqlite-hook 2.0.1`
- a `testListeners` component has been added to demonstrate the use of listeners in `react-sqlite-app-starter@3.0.0-beta.1`
- using the @capacitor/toast like i did to notify the user, is certainly not the right way as there is no dismiss method and the `short` duration is too long especially in Android so the pr

[2021-05-02 06:06] jepiqueau commented on #112
@doctorstones
- `modalJsonMessages` component has been added to `react-sqlite-app-starter@3.0.0-beta.2` and replace the toasts displayed
- `vue-sqlite-hook` has now been updated release `vue-sqlite-hook 2.0.1`
- `https://github.com/jepiqueau/vue-sqlite-app-starter 3.0.0-beta.1` has been updated by adding the following components  `JsonListenersTest` & `ModalJsonMessages`.

I will close the issue n

[2021-05-02 06:06] #112 closed

[2021-05-02 06:07] #90 closed

[2021-05-02 06:48] jepiqueau commented on #88
@noerw i will start looking at this issue. i will use `EncryptedSharedPreferences` class part of the Android Jetpack Security library to store the encrypted given secret. I will make a first release for `@capacitor-community/sqlite@next` Android plugin. Will you be in position to test it and tell me if the process used is secure enough?
i will updated the open command to look for an encrypted stor

[2021-05-03 13:15] viniciusmaran commented on #70
Same issue here, even using pragma foreign_keys = OFF the import fails.

[2021-05-03 14:28] doctorstones opened #113 "ImportFromJson in Partial Mode without schema changes"
In version 2.9.16, in the "importFromJson" method in Database.java (row 552) is mandatory to add a Schema Change before one can apply changes to data.
But if I've launched a partial sync, I should be enabled to add only datas to tables, without importing also the schema.
In the code this is made not possible by the `if(changes!=- 1)` row, which should first verify if I'm importing in FULL or PARTI

[2021-05-04 08:04] jepiqueau commented on #113
@doctorstones Thanks for this, i will have a look. I am putting all my workload on the 3.0.0 release right now.May be i will fix it in the 3.0.0 release.

[2021-05-06 18:04] jepiqueau commented on #113
@doctorstones This has been fixed in @capacitor-community/sqlite@3.0.0-beta.13

[2021-05-06 18:05] jepiqueau commented on #88
@noerw @felixerdy This has been fixed in @capacitor-community/sqlite@3.0.0-beta.13

[2021-05-06 19:03] doctorstones commented on #113
@jepiqueau thank you for your fast reply. Do you Plan to fix this also in the older version? I'm asking just for knowledge

[2021-05-07 07:24] jepiqueau commented on #113
@doctorstones Except if it takes too long to Ionic Capacitor team to release Capacitor 3. All my workload is now dedicated to move my 4 plugins to Capacitor 3 which is a huge challenge and take a lot more of my time that foreseen. Hope you will understand and thanks you to pointing me out these two bugs. If you find some others feel free to tell me. For me the 2.9.x which brought a big change in t

[2021-05-07 07:24] #113 closed

[2021-05-14 16:49] parthnayak7448 opened #114 "no db returned is null"
ionic 5 capacitor giving me this error

[2021-05-14 23:58] micheal-w-wells opened #115 "No clear way to store JSON in a column"
There are obviously many use cases where a dev would like to store JSON in a text column in sqlite.  I personally was not able to get it to work any way other than this:

`        ret = await db.execute('insert into ' + tablename + " (json) values ('" + escape(JSON.stringify(upsertConfig.json)) + "' );");`

This is less than ideal because to write and read the dev needs to stringify + escape and t

[2021-05-15 07:11] #88 closed

[2021-05-15 07:15] jepiqueau commented on #114
@parthnayak7448 you have to give a bit more description to your issue. Which version of the plugin are you using? which platform? Did you look at the documentation and application starter `https://github.com/jepiqueau/angular-sqlite-app-starter`

[2021-05-15 07:45] jepiqueau commented on #115
@micheal-w-wells Thanks for using the plugin. The json object should be converted in a string and store in a TEXT column. I do not understand what the escape function is doing.  So
[code]
should work

[2021-05-16 03:36] parthnayak7448 commented on #114
Hey @jepiqueau

Thanks for quick response just to update I resolve this issue.

I will close the issue.

[2021-05-16 03:36] #114 closed

[2021-05-16 03:39] parthnayak7448 opened #116 "How to use in ionic serve."
**Describe the bug**
Is there any solutions to run the plugin in ionic serve.

All the time now I have to test my changes in actual device which is time consuming.

Codorva plugin was working fine in web too.

Thanks is advance.

[2021-05-16 05:13] jepiqueau commented on #116
@parthnayak7448 There is no web plugin implementation. In 2.9.x there is an electron implementation for this plugin . In 3.0.0-beta.x, the Electron implementation has not yet been converted.

[2021-05-17 19:49] micheal-w-wells commented on #115
thanks @jepiqueau - I was using escape() and unescape() to deal with some of the data having single quotes.  I've tried the sqlite 'quote()' call without success.

[2021-05-17 20:31] #115 closed

[2021-05-18 21:19] micheal-w-wells opened #117 "Unable to access JSON1 extension"
Hi!

I'm getting a 'not authorized' error when I try to load the json1 extension - which I see you compiled in.  Can you share how to use it?

EDIT:  If you can help point me in the right direction to add enabling it (or other extensions) to the tool (if thats not already possible) I MIGHT be able to help with a PR if i get it working

[2021-05-19 03:00] #116 closed

[2021-05-19 12:36] zim32 opened #118 "Add some examples to docs"
**Is your feature request related to a problem? Please describe.**
The problem is that it is very hard to get started and figure out how to use this plugin

**Describe the solution you'd like**
Provide some basic quick start examples hot to import plugin, connect to database and execute some simple staements.
I read examples for Vue and Angular, but it is hard to understand.

And what is API_Conne

[2021-05-19 12:51] zim32 commented on #118
F.e. in angular demo there is code

`this.sqlite = new SQLiteConnection(sqlitePlugin);`

But there is no SQLiteConnection interface in API documentation

[2021-05-19 14:16] jepiqueau commented on #117
@micheal-w-wells hi thanks for using the plug-in I do not know what do you mean by json1 extension. This plug-in has no extension may be you mix with the cordova plug-in . Json objects should be stringified with JSON.stringify (json) to be stored in a TEXT field

[2021-05-19 14:29] jepiqueau commented on #118
@zim32 thanks for looking at using the plug-in if you look at the Readme you have some links to starter apps
- https://github.com/jepiqueau/angular-sqlite-app-starter
- https://github.com/jepiqueau/react-sqlite-app-starter
- https://github.com/jepiqueau/vue-sqlite-app-starter
There are also links to the API documentation

[2021-05-19 14:31] jepiqueau commented on #118
@zim32 https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/APIConnection.md

[2021-05-19 14:33] jepiqueau commented on #118
@zim32 if you just start looking at the plug-in you should look at the 3.0.0-beta release which will become soon the official release. Everything you need to start is fully documented

[2021-05-19 15:11] micheal-w-wells commented on #117
Hi @jepiqueau , I'm talking about this:  https://sqlite.org/json1.html

You've got the flags set as far as I can tell for loadable extensions & this one in particular (json1) set here:

https://github.com/capacitor-community/sqlite/blob/a1dcf544e8840d97f752de2580e0d4f2ccb16275/ios/Plugin.xcodeproj/project.pbxproj#L596

That gets sqlite compiled to allow for them - but there's a few other things th

[2021-05-27 12:14] parthnayak7448 opened #119 "IOS null or empty column return as string "NULL""
when we use select query in ios device null column are return as string "NULL"

[2021-05-28 06:09] jepiqueau commented on #119
@parthnayak7448 which release of the plugin are you using?

[2021-05-28 14:02] parthnayak7448 commented on #119
` "@capacitor-community/sqlite": "^3.0.0-beta.13",
    "@capacitor/android": "^3.0.0",
   "@capacitor/core": "^3.0.0",
    "@capacitor/ios": "^3.0.0",`

[2021-05-28 14:25] chriswep opened #120 "null values are written as "NULL" string (3.0.0-beta.13 / iOS)"
`null` values are converted to `"NULL"` in `run` statements in iOS here:

https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/CapacitorSQLite.swift#L308

This causes the string to be written to the cells instead of the actual `null` value (which is obviously corrupting data and logic).

Changing the line to `val.append(value)` does fix the issue.

Android not tested.

[2021-05-28 15:09] chriswep opened #121 "JS float numbers are rejected in run statements (iOS)"
Adding float values in a `run` statement from JS causes an error on iOS. Debugging the issue with Xcode showed those values end up as `Double` type on the native side. In https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/CapacitorSQLite.swift#L305 only `Float` is checked for. Adding an additional check for `Double` does fix the issue.

[2021-05-28 15:27] parthnayak7448 commented on #119
@jepiqueau i want to migrate sqlite from cordova but the issue in cordova plugin the database name was created without extesion and making issue for me to migrate. Can you help me with this please

[2021-05-28 15:52] chriswep commented on #38
i just created a PR for the driver on the TypeORM repo: https://github.com/typeorm/typeorm/pull/7695

@jepiqueau you might want to mention it somewhere in the docs/README when it's released.

[2021-05-29 05:46] jepiqueau commented on #118
@zim32 Did you find your way. if yes can you close the issue

[2021-05-29 05:51] jepiqueau commented on #119
@parthnayak7448 Did you look at `https://github.com/capacitor-community/sqlite/blob/master/docs/MigratingCordovaDatabases.md` which is explaining how to do the database migration. If you still have an issue or required more explanation do not hesitate to come back.

[2021-05-29 06:04] #120 closed

[2021-05-29 06:33] jepiqueau commented on #38
@chriswep For sure i will do, thanks for your contribution in making the sqlite plugin stronger and for providing the `typeorm`  driver. Tell me when it is released i will mention it in the README. Would be nice if you could have also a link to an or several examples. The best will be that you create a PR with a TypeORM-Usage.md in the docs which i can refer to in the README Documentation/API chap

[2021-05-29 17:07] jepiqueau commented on #119
@parthnayak7448 fix in release 3.0.0-beta.14

[2021-05-29 17:08] jepiqueau commented on #121
@chriswep PR merged in release 3.0.0-beta.14. Thanks for your help

[2021-05-29 17:08] #121 closed

[2021-05-31 21:50] gabrielcursino opened #123 "Error: "CapacitorSQLite.isSecretStored()" is not implemented on android"
Hello!

I am trying to upgrade to Capacitor 3.0, but i am having problems with sqlite plugin

Some of my code:

[code]

If i run this code i get the error:

**Error: "CapacitorSQLite.isSecretStored()" is not implemented on android**

If i comment isSecretStored verification and setEncryptionSecret directly i get the error:

**Error: SetEncryptionSecret: State for: ion_financesSQLite.db not correct

[2021-06-01 05:25] jepiqueau commented on #123
@gabrielcursino Hi thanks for using the plugin. Which Framework are you using ? i assume it should be React or Vue. If it is the case, sorry i forgot to update the `react-sqlite-hook` and the `vue-sqlite-hook`. Normally with Angular it should work. You should set
[code]
only when you have successfully run `setEncryptionSecret` as it will re-encrypt the database using the secret in GlobalSQLite to

[2021-06-01 06:00] jepiqueau commented on #123
@gabrielcursino Sorry i was not awake this morning. Yes they have been implemented in `react-sqlite-hook` and the `vue-sqlite-hook`. So i do not understand. Which version of the plugin are you using? When you update your app to Capacitor 3 did you remove the android folder and run
[code]
Check also that the gradle is Version 7.0 otherwise upgrade it.

[2021-06-01 21:46] gabrielcursino commented on #123
I am using Ionic Vue.

With version 2.9.16, i didn't use `vue-sqlite-hook`, but it worked perfectly.

With version 3.0.0-beta.14, i tested with `vue-sqlite-hook@2.0.2`, but persists the same errors

My Gradle version is **7.0.2**

And my Android Gradle Plugin Version is **4.2.1**

[2021-06-02 05:10] jepiqueau commented on #38
@chriswep I saw the PR  for the driver on the TypeORM repo has been merged.  Will you write a TypeORM-Usage.md so i can refer to it in the REAGME.md of the sqlite plugin?

[2021-06-02 09:32] filpet95 opened #124 "Double precision type numbers are read as floats"
**Describe the bug**
Double precision type numbers are read as floats.
According to SQLite documentation, REAL values are stored as an 8-byte IEEE floating point number.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a table containing REAL column
2. Save a value which can be represented as a double precision value but not a float precision (e.g. 1015555132.0 )
3. Value is saved suc

[2021-06-02 14:41] jepiqueau commented on #123
@gabrielcursino Hi, thanks for your contribution and patience. This is fixed in the release `3.0.0-rc.1` of the plugin

[2021-06-02 15:08] jepiqueau commented on #123
@gabrielcursino i also update `https://github.com/jepiqueau/vue-sqlite-app-starter.git`

[2021-06-02 16:56] #118 closed

[2021-06-02 17:15] jepiqueau commented on #124
@filpet95 Thanks for using the plugin, it seems that you are right, so i will fix it in the next release

[2021-06-02 21:48] gabrielcursino commented on #123
Thank you! This is working fine now!

I am having some other problems, but it not related, i will open another issue

[2021-06-02 21:54] gabrielcursino opened #125 "Wrong values on insert and query"
1- Can't insert null or undefined as foreign key, Error: Run: error code 19: FOREIGN KEY constraint failed

2- Sometimes query null values returns '...'

- OS: Android

[2021-06-02 22:00] gabrielcursino commented on #125
Seems to be related to #120

[2021-06-03 12:56] jepiqueau commented on #123
Ok so I will close the issue

[2021-06-03 12:56] #123 closed

[2021-06-08 14:44] jepiqueau commented on #125
@gabrielcursino I do not understand your point 1. Can you share your table's schema and some data what is the purpose of having the foreign key null as it is a relationship between two tables.
For the point 2 i also need a case as i thought i solved it already

[2021-06-08 15:35] gabrielcursino commented on #125
1-

For example:

[code]

If i send `null` or `undefined`, occurs the error: `Error: Run: error code 19: FOREIGN KEY constraint failed`

2-

[code]

if i insert `null` or `undefined` on fields that accept null like these above, sometimes select query returns me literal `"..."`

I didn't change the schema, with plugin version 2.9.16 these were working fine

[2021-06-09 07:26] jepiqueau commented on #125
@gabrielcursino for 1- can you share the two table's shemas where you make the relationship with FOREIGN Key. I do not think i will make modifications as for me it is a non-sense. If it is not clearing explain the reason for it.
2- I will have a deeper look in it.
I will be away (traveling) from the next 3 weeks having limited Internet access so keep an eye if there is a new release.

[2021-06-09 07:33] jepiqueau commented on #45
@micheal-w-wells Thanks for looking at the plugin. The best solution will be to develop a wrapper specifically for sqlite. Would you be interested in developing it or writing a specification as i am not familiar to spatialite?  I have to finalize the upgrade to capacitor3 of all my plugins which it taking quite a lot of my time right now plus i will be away the next 3 weeks.

[2021-06-09 12:28] MonicaExplan opened #126 "Capacitor 3.0.0 registerPlugin(CapacitorSQLite.class); fails"
**Describe the bug**
registerPlugin(CapacitorSQLite.class); fails in Android MainActivity.java with Capacitor 3.0.0

**To Reproduce**
1. In My Android Studio project I sync the project with gradles files and I can see the package and the class CapacitorSQLite.class in com.getcapacitor.community.database.sqlite
2. import com.getcapacitor.community.database.sqlite.CapacitorSQLite;  in MainActivity.j

[2021-06-09 13:11] mtb3 opened #127 "On 2.9.x, add ability to use Library folder on iOS for addSQLiteSuffix"
I'm using version 2.9.x of the plugin and need to migrate / add the SQLite suffix to a DB that lives within the `Library/LocalDatabase` directory on iOS.

I noticed that the 3.x / master branch does appear to have this capability which came in this commit:

https://github.com/capacitor-community/sqlite/commit/0705e21241b91bf2c58e85f2d39afb600d7539a8#diff-b6db6d7e3708dbaf60f3ebbcef1f53db295f296f966

[2021-06-09 13:42] jepiqueau commented on #127
@mtb3 thanks for using the plug-in I apologize but I am not maintaining the 2.9.x concentrating on the move to 3. It is still in beta as I haven't transfer yet the electron part of the plug-in but the iOS and Android parts are in final state except for potential issues find by the developers that I will fix. Hope this clarify

[2021-06-09 13:46] jepiqueau commented on #126
@MonicaExplan normally in 3.0.0 you do not need to do anything but you have to remove the à droid and iOS from Tha app and add them again with npx cap add.check that the gradle has been updated to 7.0 if not do it in Android studio hope this clarify

[2021-06-09 13:49] mtb3 commented on #127
@jepiqueau Thank you for the input / response. I am considering moving to 3.x right away / very soon and will be exploring that direction.

If I decide to back-port the change myself to the 2.9x branch... then I may have a PR up... but I understand the focus on 3.x at this point.

[2021-06-09 14:18] MonicaExplan commented on #126
@jepiqueau  thanks. It semmes to work fine. ALso other plugin like barcode scanner.
Now in Androis Studio I see my db but closed :-(
Why, if I don't close it?

My Vue code in App.Vue in setup()

onBeforeMount(async () => {
      try {
        const sqlite = new SQLiteConnection(CapacitorSQLite);
        // {"database":"plangei-consumer","encrypted":1,"mode":false,"version":"no-encryption"}

[2021-06-09 21:23] gabrielcursino commented on #125
Please, check my test repository: https://github.com/gabrielcursino/capacitor-sqlite-test.

In this case, i need to insert a finance row without a wallet relationship, i tried with `null` or `undefined`, but it is not working as described on point 1.

I can't replicate point 2, i will check my official project to try to replicate on this repository

[2021-06-10 07:02] jepiqueau commented on #126
@MonicaExplan the database exists but you cannot open it in Android Studio. Go to the device emulator and under the database folder of your application you will see the database. Save as to one folder of your PC or Mac. I use the app DBbrowser which is free to open it and look at schemas and data

[2021-06-10 07:05] jepiqueau commented on #125
@gabrielcursino I will have a look keep the test repsitory for a while as I am travelling and not sure when I can look at it. I will tell you when it will be solved

[2021-06-10 08:24] MonicaExplan commented on #126
Thanks a lot for suggestion. I partially solved without sharing database folder.
While the app is running Db in Database Inspector is closed. When the app is stopped I can access the db in Database Inspector.

[2021-06-10 11:25] jepiqueau commented on #126
@MonicaExplan ok thanks for the feedback good luck

[2021-06-10 11:27] #126 closed

[2021-06-10 11:54] gabrielcursino commented on #125
Ok, thanks!

[2021-06-10 20:48] Exocomp opened #128 "Unable to use sqlite after refreshing the web view"
**Describe the bug**
Unable to use sqlite after refreshing the web view.

**To Reproduce**
Steps to reproduce the behavior:

1. Using a capacitor 3.0 application the initial load everything functions correctly
2. On refresh of the webview I see inconsistent behavior with SQLiteConnection.

- Function isConnection returns false
- Function createConnection throws 'Connection sqlite-dbname already ex

[2021-06-10 22:08] gabrielcursino commented on #125
I checked my project better, and the two problems are occuring only with `null`, `undefined` was accepted as foreign key and i didn't cause `...`

[2021-06-11 09:07] chriswep commented on #128
@Exocomp see this issue: https://github.com/capacitor-community/sqlite/issues/106

[2021-06-11 09:47] chriswep commented on #38
done @jepiqueau

[2021-06-11 12:57] lovetodream opened #130 "Data is being reset after the app gets restarted (iOS, v3.0.0-rc.1)"
**Describe the bug**
I've switched from https://github.com/storesafe/cordova-sqlite-storage to this plugin and the database was successfully migrated. But after closing the app (iOS) the data which was inserted and also able to query in the previous session is gone and I am back to the state I had before migrating.
It seemed like the database would be migrated and overwritten again, but that can't

[2021-06-11 13:40] MonicaExplan opened #131 ""export 'JsonSQLite' was not found in '@capacitor-community/sqlite'"
I want to use CapacitorSQLite.importFromJson in my project (Capacitor 3, Ionic Vue)

In my code, my import is
import { CapacitorSQLite, SQLiteConnection, JsonSQLite } from "@capacitor-community/sqlite"

But  I obtain this message
"export 'JsonSQLite' was not found in '@capacitor-community/sqlite'

I don't understand...

[2021-06-11 14:50] jepiqueau commented on #131
@MonicaExplan did you look at the Ionic/Vue application starter link is provided in the readme

[2021-06-11 15:01] MonicaExplan commented on #131
Yes I looked at application Starte. But it uses teh Hook? I have to install the HooK?

[2021-06-11 16:00] jepiqueau commented on #131
@MonicaExplan if you do not use the hook you have to use the API.md  so the isJsonValid ({jsonstring:JSON.stringify (dataToImport)}) and follow the same for all other method call

[2021-06-11 16:06] Exocomp commented on #128
@chriswep thanks calling `CapacitorSQLite.checkConnectionsConsistency` prior to creating a new connection helped.

If that is the intended way to use it, putting it in the docs would be helpful so I'll leave it up to the developer to chime in and handle it as necessary.

Thanks again!

[2021-06-11 17:22] jepiqueau commented on #128
@Exocomp you have to use
Const ret = await checkConnectionConsistency ()
If ret is false you have to reopen your connection (s) if ret is true you do not need to reopen the connection. Hope this clarify

[2021-06-11 17:26] jepiqueau commented on #130
@lovetodream thanks for using the plug-in .you have to do the migration once and check that you can access the database an modify it when done you have to delete the databases as there are not automatically deleted.

[2021-06-11 17:33] jepiqueau commented on #130
@lovetodream use the deleteOldDatabases method after having checked that the new databases with the SQLITE suffix have been created. After this your app will worked friendly. If not you can come back to me. I am currently travelling so I cannot answer easily but I will try to do so.

[2021-06-11 20:05] lovetodream commented on #130
Ok, I had a look through my code and I just forgot to put the path into the `deleteOldDatabases` call. It works like a charm now. Thank you very much for the plugin and your help, I really appreciate it.

[2021-06-11 20:05] #130 closed

[2021-06-11 21:01] #128 closed

[2021-06-12 07:12] jepiqueau commented on #131
@MonicaExplan sorry my answer was wrong I am travelling and it is not easy to work only with a phone so I will come back to you on this

[2021-06-12 07:20] #127 closed

[2021-06-12 07:32] jepiqueau commented on #131
@MonicaExplan importFromJson and isJsonValid  are at the connection level and exportToJson at the DBConnection level.
 DB = await  sqlite.connection (your connection properties)
Ret =await sqlite.isJsonValid  (JSON.stringify (importData))
  await sqlite.importFromJson (JSON.stringify (importData))
DB.exportToJson ("full")
Hope this clarify

[2021-06-12 23:27] G1dz opened #132 "Support for Android API level 21"
**Is your feature request related to a problem? Please describe.**

Hi, I am using Capacitor 3.0.1 in an app that I recently migrated from cordova. I noticed that capacitor 3 supports Android API level 21 and up. The version of this plugin that I'm using (version ^3.0.0-rc.1), only supports from API level 23 and up (androidx.security:security-crypto:1.0.0).

**Describe the solution you'd like**

I

[2021-06-13 07:34] jepiqueau commented on #132
@G1dz thanks for using the plug-in.  When I add the secure storage of the password I had to move the API level from 21 to 23 due to the use of androidx.security:security-crypto:1.0.0. When this will be level down to 21 by Google I will implement it. Otherwise there is not to much I can do sorry for this. If you do not hAve run the deleteOldDatabases method your cordova databases are still in place

[2021-06-13 07:44] jepiqueau commented on #132
@G1dz I know that the release 1.1.0.alpha.3 of androidx.security:security-crypto is now supporting level 21 but with a big change on the Master key so I need to find some examples on how to use it and implement them in a plug-in. I am currently travelling for the next 3 weeks so I am not sure I will have time to look at it earlier. May be if you have time you may have a look in this direction and

[2021-06-13 07:51] jepiqueau commented on #38
@chriswep I am currently travelling for the next 3 weeks with not really a viable Internet connection and I have also few issues that I want to solve. This PR will be merge to be part of the release 3. If I found a Internet connection I will merge it to be part of release 3.0.0-rc.2

[2021-06-13 12:16] G1dz commented on #132
@jepiqueau Thank you so much for your reply! I greatly appreciate the effort! I will take a look. Looking forward to any updates on this.

[2021-06-14 09:11] MonicaExplan commented on #131
@jepiqueau
Thanks.
I already using connection level.

My problem is with stringify.
Infact, if I use this statement below, with Json string in it, it is working fine. But if Ia pass "JSON.stringify (importData)" it fails.

const isValid = await sqlite.isJsonValid( "{\"database\":\"db-from-json\",\"version\":1,\"encrypted\":false,\"mode\":\"full\",\"tables\":[{\"name\":\"users\",\"schema\":[{\"colu

[2021-06-15 08:27] jepiqueau commented on #124
@filpet95 this is fixed in 3.0.0-rc.2 so I close the issue

[2021-06-15 08:27] #124 closed

[2021-06-16 11:00] doctorstones opened #134 "CapacitorSQLite.toJSON() is not implemented on android"
After updating from Capacitor 2 to 3.0 and update of all relative packages, I've this error on every build.

![capacitor_tojson](https://user-images.githubusercontent.com/3304185/122207234-34c0b380-cea2-11eb-8ffa-6acec8a8b088.png)

Following is my package.json:

"@capacitor-community/sqlite": "^3.0.0-rc.2",
"@capacitor/android": "^3.0.0-rc.4",
"@capacitor/app": "^1.0.1",
"@capacitor/camera": "^1.0

[2021-06-16 14:19] jepiqueau commented on #134
@doctorstones update capacitor to 3.0.0 do the following
Delete the Android an iOS folder from your app
npm i --save @capacitor/core@3.0.0
npm i --save @capacitor/android@3.0.0
npm i --save @capacitor/ios@3.0.0
npm I --save-de @capacitor/cli@3.0.0
npm run build
npx cap add android
npx cap add ios
npx cap sync
npm run build
npx cap copy
npx cap open ios
npx cap open android
In Android Studio check

[2021-06-17 14:47] berengere13 opened #135 "REFACTOR - Package electron failed"
I succeed to package electron but when I open the .exe, I have two erros in the console.

**To Reproduce**
Steps to reproduce the behavior:

1. Use capacitor-community/electron with capacitor 1.4.7 and angular 11, electron 10.
2. Package electron with electron-packager and electron-installer-windows
3. Launch .exe created

**Expected behavior**
Application electron started normally like cap open @

[2021-06-17 18:15] tfuetterer opened #136 "Upgrade statements not working"
**Describe the bug**
Hi,

I try to use the migration method addUpgradeStatement but I cant get this to work. I dont know if it is a bug or if I am only unable to correctly use the framework =)

I use the following Code to create the db and everything works fine:

`if (!existingConn.existConn) {
      const db = await sqlite.createConnection(
        databaseName,
        false,
        "no-encrypt

[2021-06-18 07:42] jepiqueau commented on #136
@tfuetterer thanks for using the plug-in.  Yes the doc has to be updated. OpenDB has to be replaced by create connection. The process is demonstrated in the angular-sqlite-app-starter on the testupgradeversion component.
When you have created your version 1 and would like to upgrade to version 2, make sure to close the connection to version 1, create the upgrade statement with addUpgradeStatement

[2021-06-18 08:58] tfuetterer commented on #136
@jepiqueau Thank you for your quick response. Sorry I didn't see that, but now I get an idea of the process.

Now my idea was to build a function that gives me the connection, so I can use it all aroud the app. As from now I would think it will look like this:

`let db = await sqlite.createConnection(
        databaseName,
        false,
        "no-encryption",
        1
      );

      await db.

[2021-06-18 09:58] jepiqueau commented on #125
@gabrielcursino remove the four null and insert into finance only the amount and it will work I would have to see the reason but it seems that the getArray () from capacitor is the problem it takes one null and after it return "..."

[2021-06-18 11:01] jepiqueau commented on #136
@tfuetterer sqlite.upgradeSatet3ment (databaseName,1,2,create_v2, [])

[2021-06-18 11:05] jepiqueau commented on #135
@berengere13 sorry the refactor is not maintained anymore and I do not have implemented the electron part in version 3 I will do that when I have close my vacation in 3 weeks time. I will carefully look at creating a package under windows which is not obvious compare to Mac.  Do you need the encryption ?

[2021-06-18 12:35] tfuetterer commented on #136
Thanks for the help again. With the react plugin this does not work. What works is:
`await sqlite.addUpgradeStatement(databaseName, {
        fromVersion: 2,
        toVersion: 3,
        statement: create_v3,
      });`

Just for reference if anybody else runs into the same issue.

Now I use the following code:

`let db = await sqlite.createConnection(
        databaseName,
        false,

[2021-06-18 12:42] berengere13 commented on #135
Hello,

Thanks for your response. I don't need encryption. It's really frustrating because with cap open its works, but not with electron-packager.

It's just the dependencies of @journeyapps/sqlcipher who generated errors.

[2021-06-19 07:23] jepiqueau commented on #136
@tfuetter hi again you cannot have two addUpgradeStatement in a row without createConnection in between. It is the createConnection which is doing the upgrade and it can upgrade only from one version to a new one. I didn't know which framework you were using

[2021-06-19 07:27] jepiqueau commented on #136
@tfuetterer you can look at react-sqlite-app-starter for React hope this clarify the process

[2021-06-21 14:50] jeremyburton opened #137 "Share connection across Vue components using Object API"
Hi. I'm new to using @capacitor-community/sqlite and am having some difficulties integrating it into my setup.

I'm building an iOS/Android app with Vue 3 and Capacitor 3. Note that I'm not using Ionic Vue, just a standard Vue CLI scaffolded project. Also, I'm using the Options API in my Vue components, rather than the Composition API (and I'm not using Typescript).

I've managed to create a conne

[2021-06-22 06:33] doctorstones commented on #134
Thank you @jepiqueau ! It works.

[2021-06-22 06:33] #134 closed

[2021-06-22 07:35] jepiqueau commented on #137
@jeremyburton thanks for using the plug-in I am in vacation time right now so I cannot test anything. I do not know why you make your life difficult in not using the latest technologies coming with Vue. The vue-sqlite-app-starter demonstrates how to do that. If you do not want to use Ionic/Vue you can do that by removing all the Ionic features

[2021-06-22 09:16] jeremyburton commented on #137
@jepiqueau thanks so much for getting back to me whilst you're on vacation. I've been using Vue for a few years and have built up a strong mental model (and lots of my own components) using the options API. I'm sure I'll want to learn to use the composition API at some point but until now I haven't needed it and it wasn't an option until quite recently. If, when you're back from your vacation, you

[2021-06-22 09:20] NicolasHofmairT23 opened #138 ""Failed in openOrCreateDatabase open_v2 failed" after 10.000 queries+"
**Describe the bug**
When running a lot of queries to SQLITE this error appears and the database stops working:

I need to run around 34.000 queries to insert my data to the database.
When reaching around 10.000-13.000 the above error occurs (without further information) and its not longer usable.

**To Reproduce**
Steps to reproduce the behavior:

1. run this kind of query more then 10.000 times

[2021-06-22 11:40] jepiqueau commented on #138
@NicolasHofmairT23 it is not clear enough to answer. Hope you do not open a connection each time you do an insert. You may look to use  multiple execute or executeSet command to load your database. The advantage of doing so is that you will begin a transaction and end a transaction only a the beginning and end of an execute or executeSet command instead of opening and ending at each insert. May be

[2021-06-22 11:41] jepiqueau commented on #136
@tfuetterer any news, did it works?

[2021-06-22 11:55] jepiqueau commented on #131
@MonicaExplan Can you share your code on github as i do not have any explanation

[2021-06-22 12:01] tfuetterer commented on #136
I figured out, that I need to track the current database version and which upgrade to execute by myself. lets say I am on version 2, but the latest version is 4, then I need to detect that and execute upgrade 3 and 4. It would be nice, if there was a solution, that would do that for me. for example I specify a list of upgrade statements an then just say that I want to upgrade to version x on conne

[2021-06-22 12:07] jepiqueau commented on #137
@jeremyburton Did you try to create the connection in the main.js file  with a variable app.config.globalProperties$connection pointing to it and share it in your components like
[code]
i think this may work but it is possible with one connection, otherwise you may do it for the CapacitorSqlite plugin and share the plugin. this is some ideas not tested. Can you revert to me if it is solving your i

[2021-06-22 12:14] jepiqueau commented on #136
@tfuetterer You may write a clear specification on what you would like the plugin to do. The plugin has been wriiten to work always on the latest version not intermediate ones. So for me if you are in version 4 you cannot work anymore on version 2 as the schemas and table data are overwritten.

[2021-06-22 12:15] jepiqueau commented on #136
@tfuetterer I will let you close the issue

[2021-06-22 12:22] NicolasHofmairT23 commented on #138
@jepiqueau Thank you for your fast reply! 👍
I think you are right here, it may be caused by too much opened connections.
I am doing this `db.open()` a lot of times. And it looks like I forgot to do `db.close()` for all of them. Now it looks like it is working after putting `db.close()` after each open statement.
I am still not too sure what it actually means but it was not working if I did not do

[2021-06-22 12:31] tfuetterer commented on #136
Ok unfortunatly it doesnt work perfectly =) I deleted the database file for testing purposes and restart the app again and I get the following error:
![image](https://user-images.githubusercontent.com/16266856/122924271-e1e57100-d365-11eb-98ef-27dc74591310.png)

This createConnection worked perfectly fine when I first ran it. And as you see in the console, the sqlite object is not null as the erro

[2021-06-22 12:35] tfuetterer commented on #136
I think you get me wrong. I dont want to work on intermediate versions of the database. But lets say a user has installed the app and is on version 1. No I release an update that has database upgrades, now I want the user to get these upgrades from his current database version to the latest. and that might be a couple if the user did not update the app for a while

[2021-06-22 13:08] tfuetterer commented on #136
And as I found out now, even if I delete the database on the device, uninstall the app and reinstall it, the createConnection methode seems to regenerate the database file with the data, that was in it before I deleted it. But also throws the error, from the second last post.

[2021-06-22 14:36] jeremyburton commented on #137
@jepiqueau thanks for replying again. I have managed to share the initial sqlite connection as a global property in main.js:

[code]

And I can access this global property in components:

[code]

However, I now get a "connection already exists" error when I connect in this way from multiple components. I understand why I get this error but I'm not sure how I should access an already open db connec

[2021-06-22 15:04] jepiqueau commented on #137
@jeremyburton on each component you can check if a connection exists isConnection  if yes you do not create it otherwise you create it. It also may happen that you need to run checkConnectionConsistency  if it return false you recreate the connection

[2021-06-22 15:23] jeremyburton commented on #137
@jepiqueau thanks, makes sense, but I'm not sure how to access the connection if it already exists:

[code]

[2021-06-22 15:31] jeremyburton commented on #137
@jepiqueau is this right?

[code]

[2021-06-22 18:25] jepiqueau commented on #137
@jeremyburton yes it is right

[2021-06-22 20:14] tfuetterer commented on #136
When I delete unsinstall the app, rename the database and reinstall the app, I would expect, that a new db file with the new database name would be generated. but what happen instead is, that again the error occurs and a db file wit the old name and the data before the deletion is generated. Do you know why that happens? this is the console log:

![image](https://user-images.githubusercontent.com/

[2021-06-22 20:21] tfuetterer commented on #136
Now I deleted all data from within the android settings on the device and if I rerun the app the new db file gets generated and the error is gone. I thought, that uninstalling the app should also delete all data =) but as it seems it doesnt. So this might be a caching problem caused by android and I think deleting the db via the android studio device file exporer is not a good thing to do =)

so I

[2021-06-22 20:21] #136 closed

[2021-06-23 07:34] MonicaExplan commented on #131
@jepiqueau I solved, maybe some Adroid cache...I test it the next day and it works fine.
Thanls a lot

[2021-06-23 07:34] #131 closed

[2021-06-23 08:18] jepiqueau commented on #136
@tfuetterer I am glad that you find the solution it seems the Android cache is causing some issues as someone else mentioned that this morning on an other issue. When I am back I will have a deeper look. Thanks again for using the plugin

[2021-06-23 08:25] jepiqueau commented on #137
@jeremyburton in fact you should do
If (!sqlite.connection.isConnection("MY_DB") || !checkConnectionConsistency()) {
// create connection
} else {
// retrieve connection
}

[2021-06-23 08:33] jepiqueau commented on #138
@NicolasHofmairT23 yes you should not re-open a db without closing it. So I close the issue

[2021-06-23 08:33] #138 closed

[2021-06-23 11:47] jeremyburton commented on #137
@jepiqueau I'm trying to get this working but .isConnection always returns false and I've not been able to retrieve the connection.

[code]
In the Xcode console I get:

[code]

[2021-06-23 16:12] jepiqueau commented on #137
@jeremyburton can you share your code or a small replicate which can demonstrate the issue that will avoid me to start from scratch as now I do not understand why it is not working

[2021-06-24 10:16] jeremyburton commented on #137
@jepiqueau thanks once again for your ongoing help with this. I've created a basic version of my code for you to take a look at: https://github.com/jeremyburton/vue-capacitor-sqlite. The initDB() method in the App component is supposed to seed the database and then in the Home component I'm trying to read from the database. I may well have misunderstood the correct sequencing of these database cal

[2021-06-24 14:36] jepiqueau commented on #137
@jeremyburton I cannot install your app for the time being as I get a timeout in npm install due to a really poor connection where I am right now. I do not think in the App.Vue you need to test if there is a connection as obviously there is none when you mount the app. So just create the connection. As you did not close the connection at the end of App which is right when you enter home the connec

[2021-06-25 11:31] jeremyburton commented on #137
@jepiqueau Thanks, I have made the changes you suggested but this does not resolve all the issues. The initDB() method in App component is being executed AFTER the getTeams() method in the Home component. The initDB() method works as expected but the getTeams() method appears to fail when .isConnection("MY_DB") returns false. I have updated the code so you can try it yourself when you are able to.

[2021-06-25 12:01] jepiqueau commented on #137
@jeremyburton I will come back to you when I will have found the solution it is related to Vue and async component

[2021-06-25 13:37] parthnayak7448 commented on #125
same problem in android null values are return as '...'

[2021-06-29 12:21] rgbaman opened #139 "Cannot install sqlite via CLI - Can't resolve dependency"
When trying to install `@capacitor-community/sqlite` via the CLI, it throws an error saying the dependency cannot be resolved.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Open an Ionic application
2. Navigate to your terminal and run `npm install @capacitor-community/sqlite`
3. Error outputs in terminal window

**Expected behavior**
SQLite node to install successfully.

**Enviro

[2021-06-29 13:30] jepiqueau commented on #139
@rgbaman you have to install the next version of the plug-in which is compatible with capacitor 3

[2021-06-29 13:34] jepiqueau commented on #139
@rgbaman npm install --save @capacitor-community/sqlite@next as shown in the readme

[2021-06-29 13:38] #139 closed

[2021-06-30 01:06] akisoft21 commented on #91
i am having same issues on android, i have imported the plugin into the main activity, but still returning null.

[2021-06-30 06:14] jepiqueau commented on #91
@akisoft21 which version of the plugin are you using ? Can you share your package.json file

[2021-06-30 10:00] akisoft21 commented on #91
@jepiqueau thanks so much for your response
`{
  "name": "agent",
  "version": "0.0.1",
  "author": "Ionic Framework",
  "homepage": "https://ionicframework.com/",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/common": "~10.0.0",
    "@angul

[2021-06-30 10:58] jepiqueau commented on #91
@akisoft21 you should upgrade to capacitor 3 and install @capacitor-community/sqlite@next and follow the readme for native platforms. This release is fully tested for Android and iOS it is still in rc as electron has not been transfered yet.

[2021-06-30 11:46] akisoft21 commented on #91
@jepiqueau thanks so much for the response
but i faced this after upgrade
error: package com.getcapacitor.annotation does not exist

[2021-06-30 13:56] jepiqueau commented on #91
@akisoft21 dis you look at angular-sqlite-app-starter it should help you to start. You have a link to this app in the readme

[2021-07-02 02:49] codeluggage commented on #137
Hi @jeremyburton - how about leveraging `async` during the mount step so the connection is available from the beginning?

- Use the `db` everywhere, instead of the `SQLiteConnection`
- Force the app to wait until the connection is established before mounting (and stuff begins to render and be visible to the user)

[code]

In regards to testing (off device), I can recommend decoupling the use of `d

[2021-07-02 05:38] jepiqueau commented on #137
@jeremyburton you may do this but if you want to use several databases in your app it will not work. The problem is more specific to Vue. The Home.Vue is execute before the initialization of the sqlite.connection in the App.Vue this is why it is returning false. It is the problem of async component where you should embedded them into a Suspense Tag. I am pretty sure that if you create a Team.Vue a

[2021-07-02 13:37] rkreutzer opened #140 "Encrypted database with TypeORM"
Is there a way to use database encryption with the TypeORM driver?

The driver has the no-encryption statement hardcoded in the createConnection process. Is this because of a technical limitation?

[2021-07-02 16:30] jepiqueau commented on #140
@rkreutzer @chriswep Chris can you answer that one

[2021-07-02 19:12] chriswep commented on #140
@rkreutzer there is no technical limitation. you can easily make a PR at the TypeORM repo with the option added to the driver.

[2021-07-03 19:05] t4tapas opened #141 "SetEncryptionSecret: State for: com.google.android.datatransport.events-journal not correct"
**Describe the bug**
This is a new Ionic 5 app. So there is no existing database with secrets. I am trying to set the secure stored secret before dabase is created.
I am calling method `setEncryptionSecret` before I am calling `createConnection` with `no-encryption`.

[code]

In android, I am getting the following error.

`SetEncryptionSecret: State for: com.google.android.datatransport.events-jou

[2021-07-04 06:50] jepiqueau commented on #141
@t4tapas can you share your gradle files and variables

[2021-07-04 07:22] t4tapas commented on #141
@jepiqueau - following are the files

**variables.gradle**

[code]
**build.gradle** android level
[code]
**build.gradle** android/app level
[code]

Also, all the errors are the names of databases created when the app is installed.
![Screen Shot 2021-07-04 at 12 23 06 PM](https://user-images.githubusercontent.com/33161726/124376256-ba769880-dcc3-11eb-9ca7-380beb19bfe4.png)

Event after this error i

[2021-07-04 11:33] t4tapas opened #142 "isSecretStored() always returns TRUE when first initialized only in IOS"
**Describe the bug**
In the following way, I am trying to set the secret passphrase when Sqlite is initialized the first time in the app.

[code]

In IOS the value of method `isSecretStored()` is always TRUE even when used the first time. So, `setEncryptionSecret()` will never be executed and my secret passphrase will never be set.
In Android, I don't have this issue. `isSecretStored()` returns FA

[2021-07-04 12:10] jepiqueau commented on #141
@t4tapas the gradle files seems correct. As I 1 currently travelling can you share on GitHub a app demonstrating the error so I could just clone it quickly as I do not really understand what is happening I never got that errror

[2021-07-05 12:27] t4tapas commented on #141
@jepiqueau - that will take some time for me to create a similar app and share.
I tracked the error to the `UtilsSecret.java` file in the plugin
The following `setEncryptionSecret()` method is fetching the state of all databases with method `getDatabaseState()` and if `state == DOES_NOT_EXIST || state == UNKNOWN` , its throwing the error with the database name.
[code]
Please let me know if this he

[2021-07-05 14:28] t4tapas commented on #142
I think got the answer. In IOS function `setEncryptionSecret() `in `UtilsSecret.swift` is still using the value of `GlobalSQLite` `secret` and changing it with the new one.

[code]
So, for IOS, the secret is set from the beginning. I can't user the `isSecretStored() `method and set the passphrase value based on my own logic. The behaviour of `setEncryptionSecret() ` and `isSecretStored() `method i

[2021-07-05 14:28] #142 closed

[2021-07-06 10:49] Snogo opened #143 "iOS - sqlite3_total_changes EXC_BAD_ACCESS"
I am just trying to port my app to **iOS**. on Android everything works fine
i am using capacitor-communit/sqlite@2.9.16  (I also tried 2.9.13) - iOs 12.1 - capacitor/ios 2.4.7 - capacitor/core 2.4.7 in a Vue project - ionic/vue 5.6.1 - vue 3.0.7

however when starting up and initializing the sqlite database I get the following error in line 167797 sqlite3.c:

return db->nTotalChange;
**Thread 2:

[2021-07-06 16:11] jepiqueau commented on #143
@Snogo Thanks for reporting an issue. Would be better that you move directly to 3.0.0-rc2 and capacitor/core3.0.2. It is fully operational for iOS and Android. It is not yet release at 3.0.0 due to Electron. So if you do not use Electron just use it. I will need to see how you implemented in Ionic/Vue Are you using the `vue-sqlite-hook`  What is the definition of sqlite in your example

[2021-07-07 12:23] jepiqueau commented on #141
@t4tapas Can you explain me what are the androidx.work.workdb-wal database How it has been created? Same for com.google.android.datatransport.events-journal

[2021-07-07 13:15] jepiqueau commented on #143
@Snogo Can you provide the database schema `createTablesNoEncryption` and the `importAllAnimals` and importAllTypes. Did you try with a smaller number of Animals and types?

[2021-07-07 13:18] #125 closed

[2021-07-07 13:25] jepiqueau commented on #125
@gabrielcursino @parthnayak7448 this is fix in 3.0.0 tell me if it is solved for you

[2021-07-07 13:26] jepiqueau commented on #141
@t4tapas this is fixed in 3.0.0

[2021-07-07 13:26] #140 closed

[2021-07-07 13:48] chriswep commented on #125
@jepiqueau i was researching this bug just now and i found (and reported) the bug in capacitor: https://github.com/ionic-team/capacitor/issues/4798 - may i kindly suggest to reconsider the fix you introduced here? changing `null` to `undefined` might work for some cases (didn't test) however it introduces potential new side effects.

[2021-07-07 14:03] jepiqueau commented on #125
@chriswep it is a temporary fix in waiting that the ionic capacitor team came with a JSArray working with a set of null value. I am glad that you report it to them. I tried to do it from my phone last week as i was travelling  but it was rejected as i did not provide a case.

[2021-07-07 14:19] chriswep commented on #125
@jepiqueau hm ok, it might work since you are only converting array values and `JSON.stringify` seems to convert `undefined` to `null` in arrays. however this is different for objects where it would remove `undefined` properties. so i agree that it should be only temporary.

i assume you didn't leave the `console.log` lines there intentionally? might be good to remove them for the release.

[2021-07-07 15:35] martinkreitl commented on #134
Hello,

I am currently having this problem too!

![1625671814489](https://user-images.githubusercontent.com/7662586/124788069-57963300-df49-11eb-8294-e0db5066945f.jpg)
<img width="1769" alt="Bildschirmfoto 2021-07-07 um 15 55 21" src="https://user-images.githubusercontent.com/7662586/124788184-6d0b5d00-df49-11eb-879a-26f84fefec7b.png">

I already updated everything, tried different versions and di

[2021-07-07 17:22] jepiqueau commented on #125
@chriswep yes you right I will have to do it I published an app showing the issue to @jcesarmobile hope it will fix this quickly

[2021-07-07 17:30] jepiqueau commented on #134
@martinkreitl which framework are you using ?. I need to have more info on the code can you share it or share a small app replicating the issue

[2021-07-07 19:16] martinkreitl commented on #134
Angular.
I will send you the small app as soon as possible.

[2021-07-08 07:35] martinkreitl commented on #134
@jepiqueau After I was stripping away all the unnecessary things for the demo app and also changing appId, I tested it on my phone and the demo app unexpectedly worked.

It turns out that deleting the original app of my phone was not enough. I had to delete also all data and cache.
This is what I did then:
settings>>applications>>(application name)>>Storage>> clear cache and clear data

By clearin

[2021-07-08 11:33] jepiqueau commented on #137
@jeremyburton you can find the proposed solution at `https://github.com/jepiqueau/vue-capacitor-sqlite-issue137.git` hope this will help you to find your way for your real app. It was to find the proper way in Vue to deal with async methods and component. The Home setup was run before the database was created that why `await sqliteConnection.isConnection("MY_DB")` was always returning false. I let

[2021-07-08 13:33] medida opened #144 "CapacitorSQLite.toJSON Android"
I have a completly clean and New ionic capacitor app

I have only added the basic items so i can test the database processes - Any help to get this working?

I am receiving this error:
Uncaught (in promise): Error: "CapacitorSQLite.toJSON()" is not implemented on android
Error: "CapacitorSQLite.toJSON()" is not implemented on android

I installed the code using @next.

its running on the following

[2021-07-08 13:59] t4tapas commented on #141
@jepiqueau - Validated. No more error. Thank you!!!
Closing this.

[2021-07-08 13:59] #141 closed

[2021-07-08 15:42] t4tapas opened #145 "Android app crashing with minifyEnabled value true"
I changed the value of `minifyEnabled` in `build.gradle` file in my Android app.

[code]
In order to do this change, I added the following in the `proguard-rules.pro` file as per [this change](https://github.com/ionic-team/capacitor/pull/4780) .

[code]
Now I am getting the following error when the app is opened and it crashes immediately.
[code]
Please let us know what configuration needs to be a

[2021-07-08 20:10] chriswep commented on #140
@rkreutzer @jepiqueau this is now included in a PR i just submitted: https://github.com/typeorm/typeorm/pull/7868

[2021-07-09 04:33] jepiqueau commented on #140
@chriswep thanks for answering this request

[2021-07-09 08:44] t4tapas commented on #145
The issue was is with SQLcipher. The ProGuard rule is provided in the SQLcipher [git](https://github.com/sqlcipher/android-database-sqlcipher#proguard)

[code]
It works now.

[2021-07-09 08:44] #145 closed

[2021-07-09 16:51] rkreutzer commented on #140
Thanks. I started to look into it yesterday, but glad you did it.

[2021-07-09 16:57] jepiqueau commented on #137
@jeremyburton Did you had time to have a look

[2021-07-10 08:33] jeremyburton commented on #137
@jepiqueau Sorry, I've had a few busy days. I haven't had a chance to implement your solution yet but I did read through the code and I can see how it solves the problem. I did try using the solution suggested by @codeluggage and that worked for me. I'm not sure I'll ever need to access multiple databases in this app but I'll probably go with your solution just in case. If you're okay to wait a co

[2021-07-10 08:39] jeremyburton commented on #137
@codeluggage do you have any code you can share with me to show how you have decoupled the plugin implementation from your db calls so that you can test off device? That would be super helpful as I'm too sure of the best way to do this.

[2021-07-10 08:57] codeluggage commented on #137
Ha, you and me both! 😉

I've been through so many "sqlite in memory" projects recently, but each has had some kind of issue. The final solution I ended up with to TDD with Cypress was to use https://github.com/agershun/alasql for in-memory sqlite when the app is not running on-device.

In general the same schemas will work, but I have not been able to use https://github.com/sql-js/sql.js to read f

[2021-07-10 09:04] jeremyburton commented on #137
@codeluggage that sounds like a whole new world of pain that I could probably do without. But thanks for your overview and I now know who to bug for help if I do choose to go down this route at some point 😉

[2021-07-10 15:43] jepiqueau commented on #144
@medida Thanks for using the plugin. I saw this error which has been introduced by Capacitor 3. CapacitorSQLite has no `toJSON()` method. it should not impact the app using the CapacitorSQLite methods which should normally works. I am working on trying to identify the reason for that error. I have to build up a case for the capacitor team.

[2021-07-12 05:37] jepiqueau commented on #143
@Snogo Any news?

[2021-07-12 08:37] medida commented on #144
@jepiqueau thank you- the plugin seems to be working so far... its taking me far too long as i am trying to update an existing app process from cordova to capacitor ).

Thanks for the plugin.

[2021-07-12 11:26] jepiqueau commented on #144
@medida the error has been reported to the Ionic Capacitor team with a simple plug-in just having an echo method and a simple app using this plug-in . I am waiting for their reaction. Good luck for your hard work. It would have been nice to have a wrapper cordova to capacitor sqlite plug-in. I thought about it but it seems to be quite a work and on top I never use myself the cordova plug-in this i

[2021-07-12 11:49] medida commented on #144
I'm trying to move away from the cordova plugins and swap to capacitor ones where possible :)

[2021-07-12 12:12] Snogo commented on #143
@jepiqueau no. will let you know soon. will first try to port everything to 3.0.0-rc2 and then see

[2021-07-12 15:46] #144 closed

[2021-07-12 16:36] medida opened #146 "Cannot create a new database"
So using a fresh ionic capacitor app - with all the latest versions of everything.

I using this section of code which i created following the examples.

`
      const result: any = await this.sqlite.echo("Hello World from database Wakeup");
      console.log("Database Service Echo " + result.value); // this returns a value

      let dbConn: SQLiteDBConnection;

      const ret = await this.sqlit

[2021-07-12 16:49] medida commented on #146
Is the following still required using the latest capacitor @capacitor-community/sqlite@3.0.0-rc.2

As its showing an error on : CapacitorSQLite.class

`package io.ionic.starter;
import com.getcapacitor.community.database.sqlite.CapacitorSQLite;

import android.os.Bundle;

import com.getcapacitor.BridgeActivity;
import com.getcapacitor.Plugin;

import java.util.ArrayList;

public class MainActivity

[2021-07-12 18:32] medida commented on #146
HAHAHHA - sorry

So the createConnection does not return a usefull result
And the open() function also does not return a usefull value....

await dbConn.open();
But if display the  dbConn i see the connection.

Oh somehow i must have edited it and then completly forgotten what i had done...

[2021-07-12 18:32] #146 closed

[2021-07-12 18:38] medida commented on #144
@jepiqueau i have managed to get rid of the Error: "CapacitorSQLite.toJSON()"

I replaced all the single quaotes in your SQLite.service.ts file with ' ( proper single quotes - as yours were the backward versions on my PC )

[2021-07-13 15:09] jepiqueau commented on #137
@jeremyburton i will close the issue. Feel free to re-open if necessary

[2021-07-13 15:09] #137 closed

[2021-07-13 15:15] jepiqueau commented on #135
@berengere13 I come back to you, unfortunately the @capacitor-community/electron does not allow me to provide a new version of the electron plugin we need to wait for @capacitor-community/electron release 4.0.0. I will not use @journeyapps/sqlcipher but sqlite3 in this alpha release of my plugin to let you test it. I am sorry for this but there is nothing i can do (i tried so many...) So be patien

[2021-07-13 15:17] jepiqueau commented on #143
@Snogo move to 3.0.0 or higher

[2021-07-13 18:14] dragermrb opened #147 "[ANDROID] Methods addSQLiteSuffix() and deleteOldDatabases() fails if 'databases' folder are missing"
**Describe the bug**
On Android, `addSQLiteSuffix()` and `deleteOldDatabases()` methods don't work if **'databases'** folder are missing.

We are migrating an application from Cordova to Capacitor3, so we tried to do DB migration right after initializing the plugin. When installing the app on a new device, the **'databases'** folder does not exist and the indicated methods fail.

We have not teste

[2021-07-14 05:27] jepiqueau commented on #147
@dragermrb thanks for using the plug-in. Where are your Cordova sqlite databases stored that you want to migrate?.

[2021-07-14 07:44] dragermrb commented on #147
There are two different cases:

- Users with the previous app (cordova) who update to the new app (Capacitor3). These users have the databases in the default folder, **everything works correctly**.
- Users installing the app for the first time (the new app with Capacitor). When executing the `addSQLiteSuffix()` method error occurs because the folder **'databases'** does not exist (it is a new inst

[2021-07-14 11:50] jepiqueau commented on #147
@dragermrb i never imagine the case 2 as the command has been made for peopel migrating for cordova. anyhow i will provide a fix for this
on Android
[code]
i have still to look for iOS

[2021-07-14 12:18] jepiqueau commented on #147
@dragermrb Fix in 3.1.2-1

[2021-07-14 18:45] dragermrb commented on #147
Thanks @jepiqueau for the fast answer!

[2021-07-14 18:45] #147 closed

[2021-07-15 11:09] Snogo commented on #143
porting it now to 3.1.2-1 (and all other 3+ versions of ionic/core) and got the following error in main.ts

[code]

can I already use it with the latest vue-sqlite-hook 2.0.2? or respectively do you know the problem here?

[2021-07-15 14:46] jepiqueau commented on #143
@Snogo Delete Android and iOS folder of your app npm i --save-dev vue-sqlite-hook it should be version 2.0.4
then npx cap add android and ios then npx cap copy
and npx cap open it should work
the main.ts file should have

[code]
Listeners have been added
Hope this will help you

[2021-07-18 16:49] massimeddu opened #148 "Open prepopulated encrypted database"
Hi,

I've an encrypted database (encrypted with SQLCiper) on my assets directory, and I'd like to open it, but I'm not able to do that.

I've tried to following snippet:

[code]

and

[code]

but I'm getting the following error (tested on Android): `Msg: Unhandled Promise rejection: SetEncryptionSecret: State for: EncryptedDBSQLite.db not correct ; Zone: <root> ; Task: null ; Value: Error: SetEncr

[2021-07-19 05:10] jepiqueau commented on #148
@massimeddu First thanks for using the plugin. I assume the database on the asset folder has been encrypted with the passphrase `'<s3cretKey>'`. I assume there are no other databases in android device application databases folder  so can you test this
[code]
This should work. if not you need to share a reproduction example on github so i can try reproducing your error.

[2021-07-19 08:10] nirajhinge opened #149 "Using capacitor-sqlite with TypeORM and Ionic Vue"
I tried following (this guide)[https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Vue-Usage.md#vue-sqlite-hook-use-in-components] to use the `@capacitor-community/sqlite@next` along with (this guide)[https://github.com/capacitor-community/sqlite/blob/master/docs/TypeORM-Usage.md] for setting it up with TypeORM so that I can use both and haven't managed to get it setup as the guid

[2021-07-19 09:53] jepiqueau commented on #149
@nirajhinge Seems you are trying to do something which have not been yet done. Now you should use `@capacitor-community/sqlite@latest` and `vue-sqlite-hook@latest` not @next anymore the doc will have to be updated.
1. `useState` you are not forced to use it but if you do take the one which is given in the `vue-sqlite-app-starter` ie

[code]
2. I do not know it has to be tested may be it will work

[2021-07-19 10:06] chriswep commented on #149
i haven't tested vue, however i see no reason why it should make any difference. neither typeorm nor capacitor-sqlite depend on anything framework-specific. it doesn't matter what method is used to create the typeorm connection as long as the correct SqliteConnection object is passed.

[2021-07-19 11:17] jepiqueau commented on #149
@chriswep Thanks for your answer, as @nirajhinge want to use both typeorm and the standard way i have to provide in the `vue-sqlite-hook` a getSqliteConnection object. Chris, it would be nice if you can you provide me a link to a simple typeorm example so i can try to implement it in a Ionic/Vue app.

[2021-07-19 11:29] nirajhinge commented on #149
Thanks @jepiqueau @chriswep for the responses. I am trying to create Codesandbox link so that I can show what I am trying to do but finding it difficult to get see an example setup with TypeORM and Vue in Ionic/Vue context (all examples are Ionic/Angular). I also am not sure if I can use `Sql.js` with this plugin so that it works with something like Codesandbox as otherwise it has to be previewed

[2021-07-19 11:57] jepiqueau commented on #149
@nirajhinge i have tried to implement sql.js inside the `@capacitor-community/sqlite` without success for the time being. If you could give me a simple initDbTable and corresponding entities in typeOrm it could give me a quick start to test

[2021-07-19 11:59] jeremyburton commented on #137
@jepiqueau I have attempted to implement your solution but the execution of the async Teams component fails. You can see my code here: https://github.com/jeremyburton/vue-capacitor-sqlite

Also, your suggested solution makes use of Suspense which is an experimental Vue 3 feature and the [official docs](https://v3.vuejs.org/guide/migration/suspense.html#introduction) state this should not be used i

[2021-07-19 12:03] jepiqueau commented on #149
@nirajhinge if you do it without the hook if you do

[code]
It should work

[2021-07-19 12:08] nirajhinge commented on #149
Thanks @jepiqueau I will give that a go and let you know how it goes!

[2021-07-19 17:53] jepiqueau commented on #149
@chriswep @nirajhinge i have created a vue app `https://github.com/jepiqueau/vue-typeorm-app` . Chris can you have a look at it as it is bugging in the typeOrm createConnection. Look at what i did as i may be wrong, there is first a creation of the db using the standard sqliteConnection through a service as it is a way that @nirajhinge want to use it (without using the `vue-sqlite-hook `) then i c

[2021-07-19 18:01] massimeddu commented on #148
Please have a look at the example project: https://github.com/massimeddu/encryped-test

DB connection is implemented here: https://github.com/massimeddu/encryped-test/blob/ed373611e31196c5fbd503cdf27675e1cda06e6a/src/app/search/search.page.ts#L16

Thank you

[2021-07-20 04:54] jepiqueau commented on #148
@massimeddu Well it seems that the encrypted database in your asset folder (`encryptedSQLite.db`) has not been encrypted with the passphrase `<secretKey>` . You have to use the passphrase which has been used to encrypt `encryptedSQLite.db` in sqlite.setEncryptionSecret

[2021-07-20 09:30] jepiqueau commented on #137
@jeremyburton i update my app `https://github.com/jepiqueau/vue-capacitor-sqlite-issue137.git` where i remove the tag `Suspense`. I also look at `https://github.com/jeremyburton/vue-capacitor-sqlite` to make it working do the following ( i forgot that we did not use vue-sqlite-hook)
- in Home.vue remove `Suspense`

[code]

- in Team.vue the method is sqliteConnection.checkConnectionsConsistency()

[2021-07-20 09:32] jepiqueau commented on #143
@Snogo  Any news from your side? if it works on your side, can you close the issue

[2021-07-20 09:52] baio opened #150 "Error: Attempt to invoke virtual method '...' on a null object reference"
**Describe the bug**
Call on any `SQLiteConnection` method after plugin initialization gives error

Example for `echo`

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone `https://github.com/baio/vow-docs`
2. `npm install`
3. `npx cap sync`
4. build
5. deploy to device

Open chrome inspector, see error.

**Expected behavior**
Method should be called without any error

**Screenshot

[2021-07-20 10:28] jeremyburton commented on #137
@jepiqueau thank you so much! I'm delighted to finally have this working. Thanks again for all your help :-)

[2021-07-20 11:22] nirajhinge commented on #149
@jepiqueau I managed to get the connection working so thank you for that. I do have an issue which I am not sure is related to this plugin or the way I have created the connection.

I can connect to the sqlite database following your example but for some reason the migrations does not seem to be getting registered at all and always comes out as an empty array with the following code:
[code]
I get

[2021-07-20 12:03] jepiqueau commented on #150
@baio First thanks for using the plugin and thanks to provide an example app.
do the following
- delete the android folder from your app
- npx cap add android
- go to android variables.gradle file and update `minSdkVersion = 23`
- npm run build
- npx cap copy
- npx cap open android
Now it should work. Since Capacitor 3 it is always better to delete android and ios folder and add them.

Hope this w

[2021-07-20 12:16] jepiqueau commented on #149
@nirajhinge Can you explain me how you have make the connection working ?

[2021-07-20 12:18] nirajhinge commented on #149
@jepiqueau I didn't see the package you created but I will try to make it work on that package and make a pull request in the next hour. Thanks.

[2021-07-20 13:18] baio commented on #150
@jepiqueau Thank you for quick response ! Just did exact steps you suggested unfortunately exactly same error ((

[2021-07-20 13:24] nirajhinge commented on #149
@jepiqueau I decided against the pull request since I think this would be easier. If you add this on `SQLiteServiceTest.vue`, the connection should work in terms of creating the connection as you can see from the console.log I have added. It still fails the test as there seems to be an issue when saving the data (probably because there is no migration/table):

[code]

[2021-07-20 14:13] jepiqueau commented on #150
@baio i do not understand, i git clone your project and did exactly what i said and it works fine
npm version 7.6.0
node version v14.15.4
macOS Big Sur version 11.4

[2021-07-20 14:31] jepiqueau commented on #149
@nirajhinge @chriswep i did this
[code]
the database is created  and i got the following
[code]
the table should be "Users" and it is "s" .
i think @chriswep should look at this and tell us what we are doing wrong

[2021-07-20 14:37] nirajhinge commented on #149
@jepiqueau I see. You are using `synchronize:true` but I have both the `synchronize` and `runMigrations` set to false as I want to have full control over the migrations on production [like this](https://github.com/typeorm/typeorm/issues/1428) (I read that both the `synchronize` and `runMigrations` re-creates the table but maybe I am wrong). Either way, it would be great to have some input from @ch

[2021-07-20 15:11] baio commented on #150
@jepiqueau

node 16.0
npm 7.11.1
OS Windows 10

Yes something off here, it use to work in my environment, but now stops ((
BTW Have you checked it just after pulling repo without any modification, I believe it would work for you immediately

Thanks for your time.

[2021-07-20 15:30] chriswep commented on #149
i find it difficult to single out a problem/question, since there is a lot going on in this issue. A few general things:

- the cap-driver is running `createConnection`, passing the return of `new SQLiteConnection(CapacitorSQLite)` to the typeorm connection-options is all that an application should need to do. If need be, one can get direct access to the `capacitor-sqlite` connection via the typeO

[2021-07-20 17:18] Glavotaner commented on #150
@baio Hey, I've been unable to reproduce your issue but I had the exact same error type recently. I suggest you debug your app while having logcat (eg. in Android Studio) open and check whether you have any SQLite related exceptions before the exception in this issue. For me the issue happened because there was an error during the invocation of the CapacitorSQLite.load() method in the Java side of

[2021-07-20 17:22] jepiqueau commented on #149
@chriswep thanks for your answer i had found that i had to put the table name in the entity name like you suggest and use only the typeorm driver to access the db
i do this
[code]
with the entity User as
[code]
the output is
[code]
the database is created with a right schema but it seems that  the connection out with an error

[2021-07-20 17:26] jepiqueau commented on #149
@chriswep it would be nice if you could give us an example that you used to test the driver. I do not know enough typeorm to understand what is going on and i spent two full days trying to find a solution. So please help

[2021-07-20 19:25] baio commented on #150
@Glavotaner Thank you very much it was exactly the same problem. But I couldn't get rid of it even with `android:allowBackup="false"` till turn off debug mode and then on it on device.

@Glavotaner @jepiqueau  Thanks for help !

[2021-07-20 19:25] #150 closed

[2021-07-20 20:31] massimeddu commented on #148
@jepiqueau thank you very much for reviewing my example repository. I've encrypted the database using SQLCipher with the following procedure:

[code]

and I'm actually able to query the encrypted db using the following commands:

[code]

[code]

Should I encode the DB using a different procedure?

Thanks again for your help.

[2021-07-21 05:11] jepiqueau commented on #150
@baio it should be then a cache issue it also explain why it was working when i clone it as the app was new on my machine. Please that you find the solution good luck for your app

[2021-07-21 06:17] nirajhinge commented on #149
@jepiqueau I went ahead and tried a few different things and as you say, it looks like the connection doesn't get created or doesn't seem to persist. Here is the setup.

[code]
This is the `User` entity:
[code]
And this is the `SQLiteServiceTest.vue`
[code]
This creates the database with the `users` table and then tries to insert the row but fails with the following output. In the example you sent

[2021-07-21 07:51] jepiqueau commented on #148
@massimeddu  seems that the encryptedSQLite.db in the assets/databases folder is not correct.
i started again from the dbSQLite.db
run `sqlcipher dbSQLite.db`
[code]
copy the `encryptedSQLite.db` into the `assets/databases` folder
do
[code]
and it works like a charm

the `ngOnInit` is
[code]
if it works on your site after having recreate the encryptedSQLite.db please close the issue

[2021-07-21 07:53] jepiqueau commented on #45
@micheal-w-wells Any news?

[2021-07-21 10:02] jepiqueau commented on #149
@nirajhinge i got it working in pure typeOrm see `https://github.com/jepiqueau/vue-typeorm-app` it give you a start to play with  @chriswep thanks for your non-help on this

[2021-07-21 11:00] nirajhinge commented on #149
@chriswep That is interesting. I will look into preserving the Entity class as is when it compiled to the app with Ionic. I did manage to get it to mostly work - can't seem to get the migrations to work by replacing the drive to cordova from capacitor.

@jepiqueau Thank you for that update. I have managed to make it work with the capacitor driver as you have done in the example repo. If you have s

[2021-07-21 14:21] jepiqueau commented on #149
@nirajhinge @chriswep  i play with your PR i update the app repo but it still not work. i am sorry but i will stop working on that.  The `migration` table is created but empty so the `item` table is not created. We can see few things when we firstConn.close() the driver must close the capacitor sqlite connection , the migration doesn't work and how this will work with the `addUpgradeStatement` of

[2021-07-21 14:43] chriswep commented on #149
TypeORM is taking care of opening and closing connections. It also has its own migration system: https://github.com/typeorm/typeorm/blob/master/docs/migrations.md.

The driver does only use the following methods of `capacitor-sqlite`:

- createConnection

and on the connection object:
- close
- execute
- executeSet
- open
- query
- run

[2021-07-21 14:56] nirajhinge commented on #149
@jepiqueau Thanks for your time. I will let you know if I manage to get anywhere.

@chriswep Thanks for the response and sorry for my ignorance as all of this is very new to me but I think I followed that guide when creating the migrations. Do you mean we have to run additional method like `run` or something else for the migrations to run?

[2021-07-21 15:00] chriswep commented on #149
I create the dbs that are preloaded with a node script via TypeORM with `synchronize: true`. For the dbs that are created on device, I generate the necessary migration files via TypeORM CLI. See the TypeORM doc for details.

@nirajhinge if you pass the migration files in the TypeORM connection options, they will be applied automatically. You can however set `migrationsRun: false` and then run `run

[2021-07-21 15:12] nirajhinge commented on #149
@chriswep I think that is exactly what I did here: https://github.com/nirajhinge/vue-typeorm-app/blob/migrations/src/main.ts#L45

But that never seems to create the migration(s) except the migration table. Tried with both with `cordova` and `capacitor` driver. I generated those migration files using the CLI. I will try one last thing based on what you suggested which will be something like this ot

[2021-07-21 15:32] chriswep commented on #149
just in case: if the database file exists and you have run the code already, it won't run the migration again.

[2021-07-21 16:11] nirajhinge commented on #149
@chriswep I have been creating new database every single time I am testing. So I think I have figured out what the issue might be. It seems like a minification issue again as I see this error on the code below.

[code]

[2021-07-21 16:31] nirajhinge commented on #149
@chriswep @jepiqueau So all that time I think what was happening was the migrations were not working because they were getting minified and there was no error until I caught it with a try catch. Luckily, someone has a fix that seems to work as I managed to run the migration when I added [this config file](https://github.com/typeorm/typeorm/issues/2164#issuecomment-753409616) in the root

[2021-07-21 17:31] jepiqueau commented on #149
@nirajhinge  Can you make a PR including that modification in the shared app.

[2021-07-22 07:50] nirajhinge commented on #149
@jepiqueau I have made the PR now in [the repo ](https://github.com/jepiqueau/vue-typeorm-app)

[2021-07-22 08:57] jepiqueau commented on #149
@nirajhinge Many thanks, finally it is working. To avoid other developers to go through that painful exercise, do you mind if i use that repo and include it in the documentation. I think by using migrations, it is quite safe but risky now to mix it with normal use of capacitor-community/sqlite. then developers should stick to one of the way, what do you think about this?

[2021-07-22 09:38] nirajhinge commented on #149
@jepiqueau You can use it however you want :). Not sure what you mean by risky mixing `capacitor-community/sqlite` and TypeORM but for my use case I plan to use TypeORM as much as possible and only fall back to the plugin methods if I need to.

My use case is running migrations on the Ionic based apps on iOS/Android which I will use instead of `synchronize` since the documentation says it's [bette

[2021-07-22 10:02] jepiqueau commented on #149
@nirajhinge Risky means that they could be some errors as the typeOrm driver as not implemented all the functionalities of capacitor-community/sqlite. The database versioning is working differently than the migration in typeOrm as when schemas are updated you cannot come back to previous version. So i think it is good that you want to use TypeOrm as much as you can. For the browser, i did try to i

[2021-07-23 10:28] chriswep opened #151 "copyFromAssets fails on Android 6"
I see an issue with `copyFromAssets` in my production error logs:
`Error: CopyFromAssets: copy failed : copy failed : `

Up until now those are coming exclusively from Android 6.0 devices and at a rate that suggests a general incompatibility somewhere not an individual user issue. Unfortunately i can't test this, since i don't have an android device with that version and the Android emulator can't

[2021-07-23 12:59] massimeddu commented on #148
Thank you very much @jepiqueau , now I'm able to access to the encrypted db.

What I had to do was to upgrade the sqlciher to the latest version to encrypt the file, and to wipe the app cache into the device. Then it start to work properly.

I'm closing this issue.

Thank you!

[2021-07-23 12:59] #148 closed

[2021-07-23 17:11] jepiqueau commented on #149
@nirajhinge i have updated the app for multiple connections

[2021-07-23 17:17] jepiqueau commented on #148
@massimeddu I am please that you find the reason. You are not the first one to get issue with the android cache since capacitor3

[2021-07-23 17:34] jepiqueau commented on #151
@chriswep i do not have an android 6 device, so it will be hard to reproduce the issue, i will look back at the command to see if there is something special not valid for API 23

[2021-07-23 18:25] jepiqueau commented on #151
@chriswep i tested the `angular-sqlite-app-starter` tag refactor which is base on capacitor/core@2.4.7 and @capacitor-community/sqlite@2.9.15 on my Samsung Note 3 device having Lolippop and API 21 and the CopyFromAsset test works successfully unfortunately i cannot test the version based on capacitor/core@3.1.1 and @capacitor-community/sqlite@3.1.2-1 as it required API 23 for storing the encryptio

[2021-07-23 18:58] jepiqueau commented on #151
@chriswep looking at the code of copyFromAssetsToDatabase in UtilsFile it is identical in both versions. The error  is due either the receiving databases folder or the public/assets/databases folder do not exist.

[2021-07-23 19:25] jepiqueau commented on #151
@chriswep i found the reason. if there was not any databases created before the copyFromAsset is run the folder databases doesn't exist. I will provide a fix in the next release.

[2021-07-24 06:02] #151 closed

[2021-07-24 06:23] jepiqueau commented on #151
@chriswep this is fix in 3.1.2. Can you revert to when someone with an Android 6.0 device has test it

[2021-07-24 07:54] jepiqueau commented on #151
@chriswep the bug with null value contrary to the changelog of @capacitor/core3.1.2 is still there.

[2021-07-24 10:03] jepiqueau commented on #151
@chriswep i set back the fix for null value in 3.1.3-1

[2021-07-26 08:29] nirajhinge commented on #149
@jepiqueau Thanks for that. Don't need multiple connections for me but should be useful for someone. Going to try `sql.js` and will let you know how it goes.

[2021-07-26 09:53] Snogo commented on #143
@jepiqueau sorry. I was sick last week and will try it hopefully this week. will give you an update then and close the issue

[2021-07-26 11:25] jepiqueau commented on #149
@nirajhinge I am starting to look on how to implement sql.js in @capacitor-community/sqlite. I do not know yet how long it will take me. I will keep you updated

[2021-07-26 11:26] jepiqueau commented on #143
@Snogo Hope you are going better, take your time.

[2021-07-26 14:22] chriswep commented on #151
@jepiqueau you left two `console.log` in `src/definitions.ts` in the recent commits (i'll put it here since it slightly refers to your comments above and i don't want to open a ticket just for this)

thanks for the fix. i'll let you know if there are any new errors.

[2021-07-27 09:28] jepiqueau commented on #149
@nirajhinge in trying to implement sql.js i am struggling in a Ionic/Angular app during the build with
[code]
Any idea on how to solve this

[2021-07-27 09:31] chriswep opened #152 "copyFromAssets only takes files with SQLite.db suffix on iOS (contrary to Android)"
Since this change in 3.0.0 in https://github.com/capacitor-community/sqlite/commit/84d78e349a1c671cd3c51dcf61df00b0bb6d2856#diff-5cac6efd9a5f78a555d58eff74def9e5c2312ce00c433ec22efc904c1cfedd2aR187 `copyFromAssets` fails on iOS for files that only have the `.db` suffix, not `SQLite.db` - contrary to Android which still accepts `.db` files.

In any case this should be consistent in both iOS and And

[2021-07-27 09:35] nirajhinge commented on #149
@jepiqueau I haven't used angular for a while but looks like some node related issue. [This](https://stackoverflow.com/a/65490683/2165516) might be helpful:
[code]

[2021-07-27 09:47] jepiqueau commented on #149
@nirajhinge thanks i saw this but i do not know in which file i have to put this Any idea?

[2021-07-27 10:12] nirajhinge commented on #149
@jepiqueau I think guess that would go on a webpack config file or something to override it like the `vue.config.json` where we added the config to not to uglify the TypeORM class names.

[2021-07-27 11:01] jepiqueau commented on #149
@nirajhinge i already add one `webpack-config.js` with
[code]

[2021-07-27 11:07] jepiqueau commented on #149
@nirajhinge and `var useDefaultConfig = require('@ionic/app-scripts/config/webpack.config.js');` and if i look into that file i got :
[code]
so it seems there

[2021-07-27 14:49] chriswep commented on #152
thanks @jepiqueau

i think you accidentally included your sql.js development into the fix? generally concerning sql.js: nothing against it in principle, however it adds huge dependencies to the project (localforage, sql.js). this will significantly increase build sizes and startup time, which is crucial in the context of mobile apps. i would suggest to find a way to make this optional.

[2021-07-27 15:46] jepiqueau commented on #152
@chriswep Yes i start looking at it but it is not easy to find the proper setup. i saw that the have it in the cordova sqlite plugin. I was reluctant to do it as i had the electron part in 2.9.x. But the difficulty to get the @capacitor-community/electron working with other plugins push me to  start looking at sql.js. I will certainly take into account your remark. Any idea on how to evaluate the

[2021-07-27 16:13] chriswep commented on #152
looking at the sql.js demo page, it pulls in a 429.5 KB wasm file (1.18 MB uncompressed). i would say that is far too much to include by default for a special use case - esp on mobile devices. running sqlite in the browser and persisting via localforage can have it's use cases however i'd suspect it is not a common one. concerning electron - wouldn't native sqlite be available there through node?

[2021-07-27 17:50] jepiqueau commented on #149
@nirajhinge i was using something for Ionic 4, For Ionic5 and Angular 12 we should use a `custom.webpack.config.js` like this
[code]
modify the `tsconfig.app.json` and add `    "types": ["node"] ` in the compilerOptions and then
modify the `angular.json` to accept a custom.webpack.config file
[code]
and npm install --save    `@angular-builders/custom-webpack` and `@angular-builders/dev-server`

ha

[2021-07-28 04:29] jepiqueau commented on #152
@chriswep I remove the Web implementation in 3.1.3-3 I will look at it in a different way so the native app in mobile device will not suffer from this. Thanks for your comments

[2021-07-29 14:48] micheal-w-wells commented on #117
I'm going to take a second look at this weekend and see if i can figure it out.

[2021-07-29 14:50] micheal-w-wells commented on #45
hey sorry been heads down on project that goes live soon.  i am going to see if i can figure out the jSON extension first, spatialite is goal # 2 but I will for sure try.

[2021-07-30 10:34] jepiqueau commented on #117
@micheal-w-wells ok take your time but put a clear spec and some example to help testing as I do not know anything about spatialite. Thanks in advance

[2021-08-03 22:30] ajmas opened #153 "Connection exists and doesn't exist at the same time"
**Describe the bug**

I am currently developing an app using Quasar (vue based framework) and I am targeting Android as the platform. At the moment I am deploying to the emulator via Android Studio. 4.2.2, on macOS. Using `vue-sqlite-hook` 2.0.2

If I do a clean start the everything works as expected. The issue I am running into is when I do code modification which results in a hot reload. In this

[2021-08-03 23:09] ajmas commented on #153
After some exploring simply closing the database after a  retrieve failure resolve the issue:

[code]

[2021-08-04 05:50] jepiqueau commented on #153
@ajmas first thanks for using the plugin, you should use `checkConnectionsConsistency` before retrieving the connection
[code]
hope this help

[2021-08-04 21:27] ajmas commented on #153
I am trying to use this code with typescript, but running into issue:

BTW assigning the type `SQLiteConnection` to the sqlite object, I notice that the 2nd, 3rd and 4th parameters are not marked at optional and I am being told there are necessary, despite the example usage in `vue-sqlite-app-starter`. Is that normal? If `sqlite` is typed as `any` I don't need to provide the other parameters

Vers

[2021-08-05 06:32] jepiqueau commented on #153
@ajmas upgrade to the latest of @capacitor-community/sqlite. For the question is difficult to understand can you share your code

[2021-08-05 06:51] jepiqueau commented on #153
@ajmas look carefully at the definition of the hook and at the global variable $sqlite checkConnectionsConsistency should be defined on both. I do not understand if you use the hook why do you need to use SQLiteConnection type

[2021-08-05 19:47] ajmas commented on #153
@jepiqueau Well for the type I was trying to understand the right type to use, since `vue-sqlite-app-starter` doesn't explicitly indicate the type to use, so I made a best guess best on the Typescript definitions, based on API usage in the sample project. Which is the right type?

[2021-08-06 10:30] ChefKochNut opened #154 "New function-parameter for not safing secret"
For an app i want to use an encrypted sqlite DB. The secret for accessing said db i wanted to safe as credentials with NativeBiometric Plugin behind a fingerprint. So everytime a user opens the app and if the db already exists a fingerprint is required to retrieve the secret and open the db.

The problem i have right now: Running setEncryptionSecret() sets a secret for the db i am connecting to, e

[2021-08-06 14:19] jepiqueau commented on #153
@ajmas it is may be a problem of android cache. so the best way is to remove the apps and data from you android device or simulator. Delete the folder android from your app. when done  do
[code]
to come back on the type question you can do the following in the `main.ts`
[code]
and the way to use the sqlite hook in a component is
[code]
and in the component
[code]
if all this does not work you have

[2021-08-06 14:29] jepiqueau commented on #149
@nirajhinge @chriswep The plugin will come soon with a web plugin part based on `sql.js` and `localforage`  through the use of a stencil component `jeep-sqlite` If this component is defined in the DOM of the app the web plugin will interact with it otherwise the web plugin will return 'not implemented'  this is to limit the impact on the build sizes and startup time for mobile devices. So i will c

[2021-08-06 14:29] #149 closed

[2021-08-06 14:30] jepiqueau commented on #152
@chriswep i did not hear from you, so i assume this is fixed so i will close the issue

[2021-08-06 14:30] #152 closed

[2021-08-06 15:30] jepiqueau commented on #154
@ChefKochNut  First thanks for using the plugin. The preliminary releases of this plugin, a passphrase was asked each time a user want to access the db. Developers were asking to have it stored in the app  to not have to provide the passphrase on clear each time. After this, see issue#88, they were asking that each user can set up its own passphrase once and having stored it in a safe area. This h

[2021-08-07 05:25] AntiGuide commented on #154
Hi @jepiqueau thank you for the fast response. I'm on the team with @ChefKochNut . Our goal here is to protect our closed app even if the phone is unlocked. We found out that at least in Android you use the MasterKey to protect the key for the DB. The newer MasterKey.Builder has a function to force a user authentication in the app:
https://developer.android.com/reference/androidx/security/crypto/M

[2021-08-08 18:06] garbit opened #155 ""You may need an additional loader to handle the result of these loaders." - Accessing sqlite from Vue hook."
I'm using Vue / Ionic / Typescript with ```"@capacitor-community/sqlite": "^3.0.0-rc.2"``` and ```"vue-sqlite-hook": "^2.0.2"``` and currently when I create a database connection in a component I get the following error:

[code]

If I wrap ```app``` in an if statement to check if it's null then I can call:

[code]

However I don't have a strongly typed sqlite instance that I can use elsewhere in t

[2021-08-08 22:19] garbit commented on #155
Just to update this I've changed my ```tsconfig.json``` to use ```target: "es2019"```. I noticed that my compiler was complaining about the ```**app?.appContext.**config.globalProperties.$sqlite``` which used optional chaining that isn't supported in esnext.

I did notice however that the [vue example app](https://github.com/jepiqueau/vue-sqlite-app-starter/blob/main/tsconfig.json) uses "esnext" i

[2021-08-08 22:26] garbit opened #156 "[Vue] Is it possible to use SQLiteConnection directly in a Vuex using SQLiteConnection?"
Hi there,

I'm trying to use sqlite on iOS with Vue combined with Vuex 4. I'm not entirely sure how best to approach this as the example vue app exclusively uses hooks to access the connection.

Do I just need to do the following as an init acton in my vuex?:
[code]

Is it possible to incorporate all database actions into a vuex without using the hooks?

[2021-08-09 06:27] jepiqueau commented on #153
@ajmas Did you try? is it working ? if yes feel free to close the issue

[2021-08-09 07:31] jepiqueau commented on #155
@garbit i just update the `vue-sqlite-app-starter` to @capacitor/core@3.1.2, @capacitor/android@3.1.2, @capacitor/ios@3.1.2, @capacitor/cli@3.1.2, @capacitor-community/sqlite@3.1.3-3 and vue-sqlite-hook@2.0.4. It works fine if you follow that process

- delete the folders (nodes_modules, android, dist ,ios) from your app
- modify the package.json to the version mentioned above
- npm install
- npm

[2021-08-09 07:49] jepiqueau commented on #156
@garbit Yes, it is not mandatory to use `vue-sqlite-hook` in that case in your main.ts file
[code]
and in the component file in the setup() method
[code]

[2021-08-09 07:50] jepiqueau commented on #143
@Snogo Any news?

[2021-08-09 13:37] NicolasHofmairT23 opened #157 "Question: What is the preferred way to maintain multiple parallel requests to sqlite"
My main question is:
What is the difference between **sqlite.createConnection()** and **db.open()**

Why is both needed?
When doing `sqlite.closeConnection(...)`, makes this `db.close()` unneeded?

When I do something like this it does not work (kinda understand why, because same instance)
[code]
So what is best practice here?
- one connection, open it with db.open() but never close? (is this an i

[2021-08-09 18:30] jepiqueau commented on #156
@garbit Feel free to close the issue if it is working on your site

[2021-08-09 21:52] #155 closed

[2021-08-10 03:12] ajmas commented on #153
@jepiqueau I only just got around to trying it and ran into the same issues.

What I did, noting that

  - removed the src-capacitor/android file
  - ran: `quasar dev -m capacitor -T android`
  - modified the `minSdkVersion` version to be 23 in the `variables.gradle` file
  - launch the application from Android studio
  - connected the debugger from Chrome and saw in the logs:

[code]

Beyond havi

[2021-08-10 03:20] ajmas commented on #153
Ugh, just seen why I am not seeing it: it was not in the object put into the the `$sqlite` object.

I replaced the above code with:

[code]

I am not sure why you decompose the object in the example to create a new object with the same keys here: https://github.com/jepiqueau/vue-sqlite-app-starter/blob/main/src/main.ts

[2021-08-10 05:16] jepiqueau commented on #153
@ajmas Yeah, you right, we could simplify the code as you suggested which will avoid the error you add. Thanks for this, i will update the app-starter.
For typeOrm, you do not need to create a ticket, this is part of the doc TypeORM_Usage.md. So i will close the issue

[2021-08-10 05:16] #153 closed

[2021-08-10 09:29] jepiqueau commented on #157
@NicolasHofmairT23 First thanks to use the plugin. Internally the connection are store in a `Map<string, SQLiteDBConnection>` with the key being the database name. so your constants db et db2 are pointing to the same SQLiteDBConnection, so when you close db2 means that you have close the SQLiteDBConnection so if you use the db.query(...) it is normal that you get the message that the database is c

[2021-08-10 09:55] patdx commented on #117
@micheal-w-wells for your information, I am testing with `@capacitor-community/sqlite` version 3.1.3-3 on an iOS device.

It seems like the iOS version of the library used SQLCipher fork, [version 4.4.0+](https://github.com/capacitor-community/sqlite/blob/master/ios/Podfile#L17)

Which may already have [JSON support on by default (?)](https://www.zetetic.net/blog/2016/4/5/sqlcipher-340-release/)

[2021-08-10 11:16] jepiqueau commented on #117
@patdx @micheal-w-wells can you please send me some examples of what you want to achieve with the Json1 extension so I can have of look on it and try

[2021-08-10 15:15] Snogo commented on #143
sorry. still on the backlog of other things which had priority. will do soon and let you know

[2021-08-10 17:33] jepiqueau commented on #117
@micheal-w-wells Can you give me the schema of the database where you store these json objects. Are you creating that table with standard sql queries. For the web i am using `sql.js` so i am not sure that the JSON1 extension is supported

[2021-08-10 17:39] jepiqueau commented on #117
@micheal-w-wells Is it just a json object in memory and you use sql queries to get info from it or update it?

[2021-08-10 19:16] jepiqueau commented on #117
@micheal-w-wells @patdx  i have done this
[code]
and this in a angular page component
[code]
and it works on iOS but i am surprised by the way to get the value
[code]
i would have think from the doc
[code]
Any ideas?

[2021-08-10 19:19] jepiqueau commented on #117
@micheal-w-wells @patdx works also on Android

[2021-08-10 22:46] micheal-w-wells commented on #157
Something that helped us deal with different threads wanting to open and close connections was to introduce a promise queue, have the receiving end handle opening or retrieving the connection, and then all the components that want to use the db can call a method that adds it to the queue and get a regular promise.

[2021-08-11 08:06] NicolasHofmairT23 commented on #157
[code]

I am using this approach now. Everytime I need to use sqlite I do `const db = await getDatabaseConnection();`
Until now this seems to work good. I hope leaving the connection open will not be an issue.
You think this implementation is solid?

[2021-08-11 11:16] jepiqueau commented on #157
@NicolasHofmairT23 Seems good to me you can leave the connection opened and close the db and open the db when you wish and close the connection before to leave the component or the app. On the Web plug-in it is the mechanism to close the db which will store the db to local forage.

[2021-08-11 17:32] jepiqueau commented on #117
@micheal-w-wells @patdx see `https://github.com/jepiqueau/angular-sqlite-app-starter` it works finr for iOs, Android and Web

[2021-08-11 19:53] micheal-w-wells commented on #117
You're awesome dude, I'd say you can close this one.

[2021-08-11 19:59] micheal-w-wells commented on #45
From what little time I've had to look, I'd say it is easiest to do on android first given there is already a spatialite version of sqlcipher here https://github.com/sqlcipher/android-database-sqlcipher

Unfortunately there isn't one for ios, although it may be possible to change the implementation still.  Web I haven't looked at.

[2021-08-12 06:02] jepiqueau commented on #117
You are welcome

[2021-08-12 06:02] #117 closed

[2021-08-12 06:03] jepiqueau commented on #117
You are welcome

[2021-08-12 06:38] muuvmuuv commented on #116
Any plans for a web version?

[2021-08-12 08:44] jepiqueau commented on #116
@muuvmuuv @parthnayak7448  this is done ` npm i --save @capcitor-community/sqlite@web` it will become latest when @capacitor/core@3.1.3 will be released

[2021-08-12 08:45] jepiqueau commented on #116
@muuvmuuv @parthnayak7448  you need @capacitor/core@3.1.2.

[2021-08-12 11:51] jepiqueau commented on #132
@G1dz this is fixed in @capacitor-community/sqlite@web it will merge into @capacitor-community/sqlite@latest when @capacitor/core@3.1.3 will be available. thanks for your patience. Tell me if it is working on your site and close the issue

[2021-08-12 11:53] jepiqueau commented on #156
@garbit Did not hear anything from you so i assume it is working so i close the issue

[2021-08-12 11:53] #156 closed

[2021-08-12 13:44] jepiqueau commented on #45
@micheal-w-wells  I do not think i will go that route, if it is an integration of spatialite  in android or ios it is another capacitor plugin to develop.
If it is some specific tables (points, trajectories, curves, linestring, polygons ...)  they could be defined on a typescript wrapper using @capacitor-community/sqlite to store the tables and data. if there are some special functions to do some

[2021-08-12 15:48] jepiqueau commented on #45
@micheal-w-wells I will close this issue as i will not pursue that route. thanks anyway

[2021-08-12 15:48] #45 closed

[2021-08-13 07:13] muuvmuuv commented on #116
@jepiqueau maybe this can improve the web version a lot just found it https://jlongster.com/future-sql-web

[2021-08-13 10:18] jepiqueau commented on #116
@muuvmuuv thanks for this I will have a look

[2021-08-13 19:50] sohcah opened #158 "Web Support using absurd-sql"
**Is your feature request related to a problem? Please describe.**
This package doesn't currently work on Web.

**Describe the solution you'd like**
Use absurd-sql to enable SQLIte usage on Web.

**Additional context**
Absurd SQL is a recently released library which brings a persistent SQLite3 database to the web.
https://jlongster.com/future-sql-web

[2021-08-14 06:03] jepiqueau commented on #158
@sohcah Thanks for your comment. Do you think i will release a package which doesn't work. Have you test it ?  Did you follow the instructions given in `https://github.com/capacitor-community/sqlite/blob/web/docs/Web_Usage.md` ? May be there is something unclear or missing in that doc if it is the case please help me to make it better. There is a Ionic/Angular application demonstrating the use of

[2021-08-14 06:04] #157 closed

[2021-08-18 05:37] peakcool commented on #132
@jepiqueau hi，what's the current progress of the web? Are there any release plans?

[2021-08-18 06:14] jepiqueau commented on #132
@peakcool it is released if you use `npm I --save @capacitor-community/sqlite@next` it works well in Stencil apps and Ionic/Angular App. I got a problem in Ionic/Vue and Ionic/React as the wasm file does not load and I did not figure-out the reason. If you are working with these frameworks and have an idea about it tell me

[2021-08-18 06:23] peakcool commented on #132
yes, i'm using Vue, i will try

[2021-08-18 06:28] jepiqueau commented on #132
@peakcool try without using the hook as it has not been updated to handle the web

[2021-08-18 07:00] jepiqueau commented on #132
@peakcool  What i did is
- in the main.ts  add before  createApp to declare the `jeep-sqlite` stencil component
[code]
- copy the `sql-wasm.wasm` file into the `public/assets` folder
- create a `databases` folder under the `public/assets` folder where i save the asset databases
- create a `databases.json` containing the list of databases ie
[code]
i got
[code]

and
[code]
Hope this can help you to

[2021-08-18 07:34] jepiqueau commented on #132
@peakcool Sorry i did modify the template in `App.vue`
[code]

[2021-08-19 18:05] jepiqueau commented on #132
@peakcool I have tried two full days without succeeding for both Vue and React . The error is in loading the wasm file which is working find for Angular and Stencil app. Any progress from your side?

[2021-08-20 01:00] peakcool commented on #132
Sorry, I have been busy with work lately, so there is no progress in the presentation

[2021-08-20 08:47] peakcool commented on #132
@jepiqueau hi, I did some tests

[code]

**update App.vue**
[code]

**update main.ts**
[code]

**update HelloWorld.vue**
[code]

**public/assets**

add `sql-wasm.wasm` file, and add `databases/databases.json`

[code]

### run test-1

[code]
the end result is the same as you

![Xnip2021-08-20_16-31-36](https://user-images.githubusercontent.com/14804014/130206130-16786449-e444-42dd-91ab-aa15ccb76413

[2021-08-20 08:54] peakcool commented on #132
also, hope sencli `sourceMap` can help you troubleshoot problems, although it has not been officially released

[https://github.com/ionic-team/stencil/pull/2892](url)

[2021-08-21 09:11] jepiqueau commented on #132
@peakcool I reproduced what you did by using the npm jeep-sqlite package or clone it and link the local and find the same results than you. I cannot figure out what are the differences with the two packages (npm and local). It may be something with the use of stencil

[2021-08-22 12:19] peakcool commented on #132
yes, I also decided to build local because of stencil, but I did not find the reason after checking its changelog

[2021-08-23 17:09] jepiqueau commented on #135
@berengere13 i come back to you this is fixed in @capacitor-community/sqlite@3.2.0-2 based on sqlite3. Can you test it and tell me if it works

[2021-08-24 07:36] Snogo commented on #143
Dear @jepiqueau . sorry it took so long but with a colleague I know managed to Upgrade the project to Capacitor3 and we have the latest @capacitor-community/sqlite version (3.2.0-2)
we now face the problem however that although I check with different ways if a sqlite-connection exists (with **app.config.globalProperties.$existingConn** but also with the methods **iDBExists()** or **isConnection()*

[2021-08-24 08:00] jepiqueau commented on #143
@Snogo are you using `Live Reload` with capacitor ? Can you share your app on github ?

[2021-08-24 09:27] Snogo commented on #143
@jepiqueau no but I will send you the clone via email. thank you very much

[2021-08-24 17:20] jepiqueau commented on #143
@Snogo It is quite complex as you spend your time to create the same connection or retrieve it without closing it .
i will create a utils-connection.ts
[code]
and do something like this  each time you need the connection ( create or retrieve)
[code]
you have also to take care with the try ...  catch ie
[code]
i start to modify the code but there are too much work
i will not use at all app.config.g

[2021-08-25 02:00] peakcool opened #160 "android in partial model importFromJson failed of update data: NIQUE constraint failed: xxx.id"
**Describe the bug**
In partial mode, when `PRIMARY KEY` is too large,  `importFromJson` failed to update data and reported an error

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. example table users
[code]

2. in full model, successful writing `values`

3. in partial model, values like this

[code]
    importFromJson json

4. error: NIQUE constraint failed: users.id

**Expected be

[2021-08-25 06:16] filpet95 opened #162 "Encrypted electron database"
If I have understood correctly, today electron is finally supported again, but without encrypted database.

In my project, the encryption of the database is quite important for a release on desktop and mac. Is this in the scope of this project or is it on hold?
If it's in the scope, what is the plan to solve the issue and would you need some help somewhere?

Thanks for your dedication for this pro

[2021-08-25 06:53] jepiqueau commented on #162
@filpet95  They were some issue with the package for Windows with the previous implementation see issue#135. This is why a come back to the use of pure `sqlite3`.
It has been a tremendous work to have it working back on Electron. You should appreciate it.
The error came from the dependencies of @journeyapps/sqlcipher. I do not have a grip on that package. I understand your view point but i cannot

[2021-08-25 07:00] #160 closed

[2021-08-25 08:32] filpet95 commented on #162
Alright, sounds great!
At the moment I have unfortunately not the time to focus on electron platform of my application, but this will be my first prio as soon I get the time.
Keep up the great work and I'll keep in touch!

[2021-08-25 22:03] pkzOR opened #163 "'CapacitorSQLite-open': Open: No available connection for..."
On Windows 10;
building an Electron/Vue app

Using:
    "@capacitor-community/electron": "^4.0.3",
    "@capacitor-community/sqlite": "^3.2.0-5",
    "@capacitor/core": "^3.2.0",

Code:
import { CapacitorSQLite, SQLiteConnection } from '@capacitor-community/sqlite';
...
 async createDb(): Promise<void> {
    const capLite = new SQLiteConnection(CapacitorSQLite);
    const db = await capLite.create

[2021-08-26 14:05] MonicaExplan opened #164 "full importFromJson. Error: restoreDB: backup-myDbName_SQLite.db does not exist"
Hi

I'm on Andorid and I'm importing from json full a new verion over another version previously  imported from Json
Both json file are only for schema
May Db is populated with data and I have to upgrade it to a new schema version. In the new json schema file the only changes: I remove one table.

On await sqlite.importFromJson(JSON.stringify(dbToImport)) I get this error:
E/com.getcapacitor.commu

[2021-08-28 11:57] jepiqueau commented on #163
@pkzOR This has been fixed in release  3.2.0-8 you can now have electron in the name of your app. thanks for your feedback and on how to use Ctrl+P or Command+P on Mac. pretty handy. i learnt something. I will close the issue

[2021-08-28 11:57] #163 closed

[2021-08-28 14:01] khashashin commented on #164
So if I'll only create Database schema without Data (`values: []`) using `JSObject res = db.importFromJson(jsonSQL);`  I've to use `partial` method?

[2021-08-28 14:20] khashashin commented on #164
Well, I've tested `importFromJson` using partial, still no success :(

[2021-08-28 17:08] khashashin commented on #164
I found my issue. The problem was that I've defined foreign key `module_id` but di not created that field it self as column. Then I've followed all processes in the Debugger and the error where thrown in `ImportFromJson.java` in line: 114 `catch (Exception e)`

[code]

But this error wasn't shown in the console. It would be maybe better if all this error would shown in the Logcat

[2021-08-28 17:27] jepiqueau commented on #164
@khashashin I was not working this afternoon, so i only see your message now.  Normally all messages should be throw . So i will have to figure out this. Can you share your code so i can replicate easily what you do. Usually you start by a full import containing schemas and table data and after you use partial import for adding shemas or adding schemas and data. I you want to change the version nu

[2021-08-28 17:31] jepiqueau commented on #164
@khashashin the first import is always a full,

[2021-08-28 17:37] khashashin commented on #164
Hi @jepiqueau thanks for the reply. You can try importing the following JSON, and it will give an error about the foreign key, and this error is not displayed in the console:

[code]

[2021-08-28 18:03] jepiqueau commented on #164
@khashashin i will do that tomorrow

[2021-08-29 11:19] jepiqueau commented on #164
@khashashin this is fix in v3.2.0-9

[2021-08-29 11:20] jepiqueau commented on #164
@MonicaExplan Hi, if i did not hear from you i will close the issue

[2021-08-29 16:19] jepiqueau commented on #70
@dinosaadeh @viniciusmaran I come back to both of you. Is still an issue with the release 3.2.0-10 of the `@capacitor-community/sqlite` plugin. If it i still the case can you give an example of the json object that you want to import. If i do not have news from you i will close the issue.

[2021-08-29 16:42] jepiqueau commented on #164
@MonicaExplan I am still trying to understand the scenario
[code]
Now you would like to update the version of your database where one table is removed by an importFromJson and keeping your data
[code]

Did that make sense to you?

[2021-08-29 16:51] jepiqueau commented on #143
@Snogo Well i thing there is apparently a bug in `@ionic/vue` and `@ionic/vue-router` above 5.6.13 which re-execute the previous pages when you leave one page. stick to
[code]
Is that help ?

[2021-08-29 20:26] khashashin opened #165 "Improve description of createSyncTable and getSyncDate"
**Is your feature request related to a problem? Please describe.**
I've lost a lot of time by resolving an issue of missing tables. To be honest I'm still not sure if those methods are related to that but after I've called those methods running SQLite query did work. So if those methods doing something important the description like "Creating a Synchronisation table" is not enough in my opinion. A

[2021-08-29 20:44] jepiqueau commented on #165
@khashashin did you read the doc ImportExportJson.md

[2021-08-29 22:00] khashashin commented on #165
Thx for pointing to this docs. So if I understood it correctly the synchronization date is important think and the database is not usable if you not call `db.createSyncTable()` before trying to insert any data in to your Database. In other words, inserting data in to Database relies somehow to table `sync_table` which is not exists if you don't call  `db.createSyncTable()` after importing data usi

[2021-08-30 05:40] jepiqueau commented on #165
@khashashin yes you are see in angular-sqlite-app-starter the import json examples

[2021-08-30 06:36] dinosaadeh commented on #70
Hello,

I didn't upgrade to this version yet. Would upgrading cause any issues?
This is the one I'm currently using ***@***.***/sqlite":
"^2.4.3-1". Either way, close the issue and will let you know of anything
that comes up. Thanks for reaching out.

Regards, *Dino SAADEH*

On Sun, Aug 29, 2021 at 7:20 PM QUEAU Jean Pierre ***@***.***>
wrote:

[2021-08-30 07:21] khashashin commented on #165
@jepiqueau Okay, thanks for clarifying.

[2021-08-30 07:21] #165 closed

[2021-08-30 08:10] jepiqueau commented on #143
@Snogo i have tried to modify your app without success It has to do with some logic of the app and the way of using Vue. As you are using only one database i will make a connection once and using it all along the app. The best will be to restart from scratch and have a look to `vue-sqlite-app` and `vue-sqlite-app-starter`. I do not thing it is related to the plugin, so there is nothing i can do mu

[2021-08-30 08:20] jepiqueau commented on #70
@dinosaadeh  thanks for replying, yah it's a long way, before to upgrade make sure that you do not use any other plugins which have not being converted to `@capacitor/core@3.2.0` the version 3 of the `@capacitor-community/sqlite` use try...catch to retrieve all the error and have new methods for securing the passphrase for encryption. May be the best is that you give me an example of json object w

[2021-08-30 08:39] MonicaExplan commented on #164
@jepiqueau
Hi, sorry for my late answer but Iwasn't connected in the last days.
About scenario

- **YES (I get the json from a json file on server with "version": 1,"encrypted": false,"mode": "full",)** you create a first version of your database with a `full` import containing only the schema of the database
- **YES** you fill the data either by
      - **YES (only one partial import with dummy d

[2021-08-30 09:13] jepiqueau commented on #164
@MonicaExplan Thanks for replying. If you get the database from a server it is correct to do a `full` import from the server to upgrade the version . This `full` import can contain the schema and the table data or the schema only. In the last case you must do one or several `partial` imports to load the new data. Do not forget to modify the `syncDate` after this. If you follow this does it work or

[2021-08-30 11:27] MonicaExplan commented on #164
@jepiqueau
Thanks for suggestions.
I'm already doing all you write in your previous response (iValida, data, syncDate, ...) but the error is on importFromJSON when mode= full and version = 2

**I explain my app.**
- I get file db1.json
- import full mode, only schema, version = 1
- I get file db1_dati.json
- import partial mode, only data, version =1
- sync Date or syn Table
All right. The db exis

[2021-08-30 11:33] jepiqueau commented on #164
@MonicaExplan can you share your db1.json, db1_dati.json and db2.json or is it to confidential data?

[2021-08-30 12:59] MonicaExplan commented on #164
@jepiqueau

Here the content of my test file
Thanks

-------------------------------------- db1.json
{
    "database": "consumer_plangei_",
    "version": 1,
    "encrypted": false,
    "mode": "full",
    "tables":[
    	{
            "name": "compat",
            "schema": [
              { "column": "id", "value": "INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL" },
              { "column": "dbVer"

[2021-08-30 13:17] jepiqueau commented on #164
@MonicaExplan In a meantime i test this
[code]
with
[code]
and it works fine on iOS, i will test for Android

[2021-08-30 13:21] jepiqueau commented on #164
@MonicaExplan Ok it failed on Android so i will have a look closely to the code. Thanks for pointing this to me

[2021-08-30 13:24] MonicaExplan commented on #164
Thank you very much

bye
Monica

[2021-08-30 14:23] pkzOR commented on #163
@jepiqueau I am  still not seeing the db being created w/ 3.2.0-8.   My repo was named electron-sqlite, but not the app. So I am confused as to what you saw and how my example now creates a db.

[2021-08-30 16:05] jepiqueau commented on #164
@MonicaExplan This has been fixed in release v3.2.0-11

[2021-08-30 16:28] jepiqueau commented on #163
@pkzOR to find the application name we read the package.json file and the path was .../electron-sqlite/package.json so now if you look at your users folder you should find a databases folder with a folder YOUR_APPLICATION_NAME as in your package.json and inside that folder your two databases

[2021-08-30 17:06] pkzOR commented on #163
@jepiqueau  My repo is named electron-sqlite, but my code lives in a different folder name. C:\Users\myusername\databases\pkzinspector gets created, but there ar no dbs in there.  As in the screenshot above, what I see on line 84 of UseSqlite  is that  r is undefined, but hovering over it shows there is a dbname.

I am sorry for the confusion here and appreciate your efforts, but I am still lost.

[2021-08-31 08:43] jepiqueau commented on #163
@pkzOR i made a PR in `https://github.com/pkzOR/electron-sqlite`normally it works

[2021-08-31 09:16] jepiqueau commented on #163
@pkzOR i also test it under Windows 10 and it works

[2021-08-31 09:39] MonicaExplan commented on #164
@jepiqueau
Thank you very much. It's working fine.
I've tested this latest version with  "@capacitor/core": "^3.0.2" and all is ok

Thanks
Monica

[2021-08-31 09:39] #164 closed

[2021-08-31 09:57] MonicaExplan opened #166 "Get DB Version"
Hi
I'm searching for a method to get the version of DB installed on the device but I can't find it.

Is there a method or a propery to get the version od the DB? If yes, this version number corresponds to the "version" contained in json whem importing?

Thanks
Monica

[2021-08-31 11:49] jepiqueau commented on #164
@MonicaExplan I am pleased that it is now working good luck for your development

[2021-08-31 11:59] jepiqueau commented on #166
@MonicaExplan There is no method, i may add one, you can get the version by this query statement
[code]
this  should work too

[2021-08-31 14:43] jepiqueau commented on #166
@MonicaExplan the method db.getVersion() has been added in 3.2.0

[2021-08-31 15:34] pkzOR commented on #163
Thanks again.

[2021-09-01 01:21] petterbergman commented on #158
I think the confusion might have arisen because
[https://github.com/capacitor-community/sqlite/ ](url)
points the Web API documentation to
[https://github.com/capacitor-community/sqlite/blob/master/docs/Web-Usage.md](url)
which returns a 404, when it should be (as you stated in the comment above)
[https://github.com/capacitor-community/sqlite/blob/web/docs/Web_Usage.md](url)

[2021-09-01 07:23] MonicaExplan commented on #166
@jepiqueau
Oh thank you!! And I'm sorry: I haven't seen this method it in the API docs. Sorry

[2021-09-01 09:05] jepiqueau commented on #166
@MonicaExplan it was not existing I add it on your request thanks for asking it will benefit to everyone

[2021-09-01 09:47] MonicaExplan commented on #166
Hi
this new method is notexactly what I need. Maybe I have not explained my resuest in the right mode.
I need to get DB version = "version" attribute in the json file I import
I have tested with a value of "version" attribute in the json = 451 but getVersion() return 2...

thanks

[2021-09-01 10:48] MonicaExplan commented on #166
All is ok. The getVersion() retry the exact value of my "version" attribute in json DB schema.
Thanks

[2021-09-01 10:48] #166 closed

[2021-09-04 11:39] amiral84 opened #167 "Ability to add views with JSON format"
As far as I have checked documentation and inspecting code, I don't find any support for creating views with JSON format. Could there be a feature to add views that are type of `JSONView[]` just like `JSONTable[]`?

[2021-09-04 12:08] jepiqueau commented on #167
@amiral84 thanks for using the plugin. I do not know what do you mean by `JSONView[]` and to which SQLite element they will be connected to. So you have to be more explicit and give an example of what you try to achieve.

[2021-09-04 12:57] amiral84 commented on #167
I mean views that are used in every SQL, SQLite, PostgreSQL, MySQL, MSSQL, etc. they all support it. Views are combination of data from different tables and it is very basic concept in SQL.
`
{
  "database": "foo-db",
  "version": 1,
  "encrypted": false,
  "mode": "full",
  "tables": [
    {
      "name": "foo",
      "schema": [
        { "column": "id", "value": "INTEGER PRIMARY KEY NOT NULL" }

[2021-09-04 14:16] jepiqueau commented on #167
@amiral84 Thanks for your example, it is definitively something that i should add to my planning except if you want to make a PR and do it yourself. In that case it should be valid for all platforms except the Web. This should be implemented in the Stencil component `jeep-sqlite` so i prefer to do it myself.

[2021-09-04 14:23] jepiqueau commented on #167
@amiral84 Tell me if you decide to do a PR otherwise i will put in on my list of todos.

[2021-09-04 14:27] amiral84 commented on #167
I think it would be better if you do it since if it is have to be added to `jeep-sqlite`. Awesome that we will get this kind of feature. It would be also nice to have SQL procedures as well, but I think it would be better to do different PR for SQL procedures.

[2021-09-04 14:46] jepiqueau commented on #167
@amiral84 Ok so you will have to be patient as i am currently working on the `capacitor-data-storage-sqlite`

[2021-09-04 15:00] amiral84 commented on #167
Take as much time as you need :)

[2021-09-04 16:01] ogadepoju opened #168 "Help with locating database location when using capacitor-community/sqlite plugin with electron"
I'm new to ionic framework, in I'm tasked to develop an application that works on Android, iOS and desktop.
Of which I see ionic as the best tool for carrying out the project.
The Android part of the project is completed as it is up and running, but when building for desktop, using electron, I needed to save user login locally on the system, but I can't find the location of the database on my comp

[2021-09-08 16:21] ogadepoju opened #169 "Error: Cannot Find Module"
@jepiqueau
Good day,
I'm working on a project which utilises capacitor-community/sqlite for storing user login locally and it works well on my system, but when i did electron-pack and sent the packed folder to run on a different system, i was faced with an error stating:

Unhandled Promise Rejection
Error: Cannot find module 'C:/ebookevans/electron/node_modules/@capacitor-community/sqlite/electron

[2021-09-09 08:53] jepiqueau commented on #169
@ogadepoju I am not really a specialist in electron can you try to run electron:make instead and tell me if it works

[2021-09-09 10:58] jepiqueau commented on #169
@ogadepoju  I  ask the developer `@Mike S (IT-MikeS)` of @capacitor-community/electron to help me on this

[2021-09-09 13:03] ogadepoju commented on #169
Okay thank you @jepiqueau,
I'll be expecting @IT-MikeS response/help on this issue.

Thank you.

[2021-09-09 14:51] digaus commented on #168
Are you using windows?

Then type user this path in the explorer -> `%USERPROFILE%/Databases`

[2021-09-09 16:24] jepiqueau commented on #169
@ogadepoju Did you try to run electron:make in the electron folder

[2021-09-09 17:35] jepiqueau commented on #169
@digaus Can you help on this one ?

[2021-09-09 19:37] digaus commented on #169
@ogadepoju @jepiqueau

There is still an open issue for this:

https://github.com/capacitor-community/electron/issues/135#issuecomment-912738532

Supposed to be fixed in the next electron release

[2021-09-09 21:39] ogadepoju commented on #168
Thanks,
I've been able to find the solution to the issue by removing some unnecessary dependencies from my package.json and running npm run build.

[2021-09-09 21:39] #168 closed

[2021-09-09 21:41] ogadepoju commented on #169
Yes @jepiqueau  i did, but and it run well on my pc but once i once i send it to any pc, i had same issue

[2021-09-09 21:42] ogadepoju commented on #169
When is the next release please ?

[2021-09-09 22:00] digaus commented on #169
This is something I do not know. I think when @IT-MikeS finds the time he will do a release :)

[2021-09-09 22:05] ogadepoju commented on #169
Thank you @digaus  for the response. I hope the release is out ASAP as i'm greatly behind schedule and i'm stuck presently.

[2021-09-11 15:11] jepiqueau commented on #167
@amiral84 This feature has been added in release `3.2.2-1` of the plugin. Feel free to close the issue when tested in your site. This is a great add-on

[2021-09-11 15:12] jepiqueau commented on #70
@dinosaadeh Without getting info from your side, i will close the issue in 2 days

[2021-09-13 08:23] ogadepoju commented on #169
@IT-MikeS @digaus kindly make release out, i'm still waiting.

[2021-09-13 10:56] jepiqueau commented on #169
@ogadepoju @digaus @IT-MikeS  you have to be patient these guys work so hard to make it happens. Do not forget that you are using a new technology which is just out of the box. One month earlier you could not use it to make your app. So you have your schedule but it should be aligned with the technology schedule. What you can be sure it will come

[2021-09-13 13:25] #70 closed

[2021-09-13 13:26] jepiqueau commented on #167
@amiral84 It is now available so i close the issue. Thanks for asking this enhancement

[2021-09-13 13:26] #167 closed

[2021-09-13 13:28] jepiqueau commented on #143
@Snogo hope you find the way. i close the issue. Fell free to re-opens it if required

[2021-09-13 13:28] #143 closed

[2021-09-14 01:47] IT-MikeS commented on #169
Thank you @digaus for fielding the answers, all very spot on!

Thank you to @jepiqueau as well, you're very right about lacking time that I wish I had!

The fixes will be out soon, and I am trying to get through stuff as quick as I can but life does happen so things get delayed, however thank you for using the project to you all and I hope you like the next release!

[2021-09-14 11:08] patdx opened #170 "[Android] executeSet breaks with empty array"
**Describe the bug**

I am using some commands like:

[code]
This was causing an error message, after stepping through the code, it appears to have been caused at the following line in [Database.java](https://github.com/capacitor-community/sqlite/blob/b8ea80eee04f28159fc9c2a7e4b29bde138f170d/android/src/main/java/com/getcapacitor/community/database/sqlite/SQLite/Database.java#L332):

[code]

becau

[2021-09-14 12:39] jepiqueau commented on #170
@patdx thanks for using the plug-in excuteSet required to have values. To perform the Drop and CREATE TABLE ... use the command execute

[2021-09-15 08:38] jepiqueau commented on #170
@patdx This has been fixed for all platforms in 3.2.2-2. I never thought to use the executeSet  like this. So thanks for your comments. Tell me if it works with `sql-template-tag` now and feel free to close the issue when tested in your side

[2021-09-16 09:25] KartanoDev opened #171 "Spatialite integration"
Hello!

We are trying to load a sqlite database that have tables with GEOMETRY field.

Is there any way to load this field with spatialite module or transform it to other that capacitor sqlite plugin can read it?

Let me know if you need more information about it, and sorry for the inconveniences.

Thanks, Kartano.

[2021-09-16 10:13] jepiqueau commented on #171
@KartanoDev thanks for using the plugin i already answer that one issue#45. If you can provide a wrapper specification from spatialite to capacitor sqlite plugin and give me tables schema and data with GEOMETRY field. this wrapper should use capacitor sqlite to store and make the link to spatialite.

[2021-09-16 11:23] KartanoDev commented on #171
Hello @jepiqueau, we don't have any  wrapper specification from spatialite to capacitor sqlite plugin.

This is the schema for one of the tables:

![image](https://user-images.githubusercontent.com/80762651/133603060-835f3c26-008c-4cf9-a8ae-b2e6f86e42d3.png)

[2021-09-17 08:09] jepiqueau commented on #170
@patdx Not having news from you, i close the issue

[2021-09-17 08:09] #170 closed

[2021-09-17 09:00] jepiqueau commented on #171
@KartanoDev Can you give me an example of data  corresponding to that schema and how is the GEOMETRY data type?

[2021-09-17 09:38] jepiqueau commented on #171
@KartanoDev is the Geopoly sqlite3 extension (https://www.sqlite.org/geopoly.html) can be used? is it the same?

[2021-09-17 09:50] KartanoDev commented on #171
@jepiqueau I need to transform this GEOMETRY field to AsGeoJson like this:

![image](https://user-images.githubusercontent.com/80762651/133763336-c7ab36d1-107a-495e-bc79-5efe89f05f2c.png)

[2021-09-17 11:09] jepiqueau commented on #171
@KartanoDev Is it something that you would like to do or not. How to you get the Geometry data from? which software. you have to give me a bit of your scenario so i can understand. Is spatialite an app install on Windows or Mac ...

[2021-09-17 11:11] jepiqueau commented on #171
@KartanoDev What is the tool you are using to  show me the data

[2021-09-18 08:15] amiral84 commented on #167
Thank you so much for this update. I will test and if I find something that should be addressed I will let you know :)

[2021-09-18 10:52] sidquisaad opened #172 "isStoreOpen is set asynchronously in CapacitorSQLiteWeb constructor, which makes a rapid subsequent call to createConnection fail"
**Describe the bug**
The constructor of class `CapacitorSQLiteWeb` initializes member `isStoreOpen` by calling async function `isStoreOpen()` provided by jeep-sqlite. The call is made asynchronously, so the constructor continues execution and returns an instance. Immediately calling `createConnection()` on said instance may fail if the Promise from before is not yet settled at the time of the call

[2021-09-18 12:27] t4tapas opened #173 "Undefined symbol: type metadata for CapacitorCommunitySqlite.JsonView"
**Describe the bug**
After upgrading to version 3.2.2 from 3.2.0, I am getting the following error while building the IOS app in Xcode

[code]

- OS: [IOS]

**EDIT**
I am on Capacitor 3.2.3 and plugin version 3.2.0 does not have this error.

[2021-09-18 14:11] jepiqueau commented on #172
@sidquisaad thanks for using the plug-in and for your comments.which version of the plug-in and jeep-sqlite are you using? I will have a look tomorrow.

[2021-09-18 14:16] jepiqueau commented on #173
@t4tapas thanks for using the plug-in after updating to 3.2.2 did you remove the iOS folder from your app and after npm run build do npx cap add ios and after npx cap copy. Tell me if after having done this you still have the error. Which framework are you using?

[2021-09-18 14:47] sidquisaad commented on #172
@jepiqueau Thank you. I'm using @capacitor-community/sqlite 3.2.2 and jeep-sqlite v1.2.1.

[2021-09-18 15:47] t4tapas commented on #173
@jepiqueau , I am using Ionic 5 with Angular. I will do the removing the iOS folder test and let you know.

[2021-09-20 07:07] KartanoDev commented on #171
@jepiqueau We want to display data on a map. For this we need to have transform GEOMETRY field to AsGeoJson type like:

"{"type":"Point","coordinates":[-72.98352140181473,41.25610730677585]}"

To transform this we are using spatialite_gui in Windows:

https://www.gaia-gis.it/fossil/spatialite_gui/index

[2021-09-20 17:08] jepiqueau commented on #173
@t4tapas Any news, i updated `https://github.com/jepiqueau/angular-sqlite-app-starter` to @capacitor/core@3.2.2 as well as @capacitor/android, @capacitor/ios and @capacitor-community/sqlite@3.2.2 and i do not have any building issues.

[2021-09-20 17:24] jepiqueau commented on #172
@sidquisaad Sorry to come back a bit late, i was busy on `@capacitor-community/photoviewer` Which framework are you using for the app ?.  In the app when you initialize the plugin and the platform is web do you have
[code]
something like this in angular
[code]

[2021-09-20 17:42] jepiqueau commented on #171
@KartanoDev for me the complete scenario step by step is not clear Could you describe it
it seems somehow that you first enter all your GEOMETRY in `spatialite_gui` so if it is the case where do you use sqlite and why would you like to store GEOMETRY, we could store AsGeoJson type using the sqlite Json1 extension?

[2021-09-20 18:43] accron-1 commented on #48
(I don't want to open an issue for a similar question, so I'll ask here)

I updated to v.3.2.0, but it's not clear how to do the import in an Ionic Capacitor app.
Currently I do `import { CapacitorSQLite } from '@capacitor-community/sqlite'`. Is that correct?
I'm asking because I get the following error in Android Studio on startup:
`java.lang.ClassCastException: class com.getcapacitor.community.d

[2021-09-21 07:11] accron-1 opened #174 "Vue Ionic Capacitor: java.lang.ClassCastException: class com.getcapacitor.community.database.sqlite.CapacitorSQLite cannot be cast to com.getcapacitor.Plugin"
**Describe the bug**
I using the plugin in a Vue Ionic Capacitor project.
After doing an upgrade of all the plugins from v2 -> v3, I get the following error in Android Studio on startup:
`java.lang.ClassCastException: class com.getcapacitor.community.database.sqlite.CapacitorSQLite cannot be cast to com.getcapacitor.Plugin`

**To Reproduce**
Package setup:
[code]

**Expected behavior**
No errors

[2021-09-21 07:59] jepiqueau commented on #174
@accron-1  your package.json should be updated as follow
[code]
when done remove the android folder from your app and do the following
[code]
you have nothing to add in the MainActivity.java file

You can use or not the `vue-sqlite-hook `
if you use it do
[code]
and not
[code]
which is for the capacitor-data-storage-sqlite plugin
hope this will clarify

[2021-09-21 10:47] accron-1 commented on #174
Thank you for the quick reply!

I think the error is fixed, but I can't seem to get the storage permission to trigger as before.

Is the old way of doing it still correct?
[code]

[2021-09-21 11:32] jepiqueau commented on #174
@accron-1 this feature has been removed as it was not required and a lot of developers complain about it

[2021-09-21 12:13] accron-1 commented on #174
`db.open()` now gives me:
`Open: No available connection for database xyz
    at Object.cap.fromNative`
which used to work.

In the example projects I see `sqlite.retrieveConnection("testNew")`.

Have the APIs changed? What's the correct way of doing it now?

[2021-09-21 12:34] AlessandroGandolfi opened #175 "All functions give the same "Attempt to invoke virtual method '...' on a null object reference" error after attempting to encrypt db"
I tried to follow the docs to encrypt the db I was using since some weeks for an Angular Ionic app I'm developing but they are too much confusing honestly.
What I understood from the Angular usage docs and adapted to my case I had to:
- initialize the plugin
- check if database already existed with isDatabase() and if it didn’t:
             - create the connection with mode ‘no-encryption’ to the

[2021-09-21 13:37] jepiqueau commented on #175
@AlessandroGandolfi first look at `angular-sqlite-app-starter` you will find

- in the `home.page.ts` the way to set the secret phrase
[code]

- in `test2dbs.page.ts`an example to directly encrypt a database
[code]

- in `testencryption.page.ts` an example of first create a database no-encrypted and encrypt it later

- and the new service in sqlite.service.ts

to understand it clone the app and ru

[2021-09-21 14:44] adrirrFOS opened #176 "Issue trying to access JSON1 extension"
Hi, I need to store some json fields and I would like to make use of json1 extension. I've been unsuccessful so far. Wondering if it really works with this plugin and if it does, can I have some guidance regarding how to load/use it please?

I am following the `angular-sql-app-starter example` and replaced some fields with a json content and the data is stored ok. I would like to be able to select

[2021-09-21 15:47] accron-1 commented on #174
I've looked at the Vue projects, and they seem very React-like, with hooks all over the place...

Regardless, in one file file I find this usage of `useSQLite()`:
https://github.com/jepiqueau/vue-sqlite-app-starter/blob/73d8afa9a41f71486ea1c7098915cca94535c326/src/App.vue#L53

In another version:
https://github.com/jepiqueau/vue-sqlite-app-starter/blob/255041b29ef835be6d1e2013b1c791a80620dc98/src/

[2021-09-21 16:58] AlessandroGandolfi commented on #175
@jepiqueau I tried running "npm install" after "git remote rm origin" but the installation failed.
![error npm install starter app](https://user-images.githubusercontent.com/20190108/134214606-94f282d4-4c15-438d-898b-cb0000499514.PNG)

I also tried to change my code to be more similar to yours but the errors are the same but this time the "null object reference" is on the isSecretStored() call.
![

[2021-09-21 18:22] AlessandroGandolfi commented on #175
With the same code as the last comment I tried to compile from Android Studio again after deleting cache, data and uninstalling the previous app and it worked. I don't know how, I already did that multiple times in the last hours, but maybe what I (and my PC) needed was just a little break. Thanks for the support @jepiqueau .

For someone that might end up here, allowBackup is set to false in my A

[2021-09-21 18:22] #175 closed

[2021-09-21 18:58] jepiqueau commented on #175
@AlessandroGandolfi yes some cache problems were reported on Android when upgrading @capacitor/android. Sorry i should have warn you on this. But i am busy with the `@capacitor-community/photoviewer`. and it is difficult to swap my brain. I am please that you find out and that it is working now .

[2021-09-21 19:11] jepiqueau commented on #176
@adrirrFOS the Json1 extension is loaded so you should not worry about the load.
Have you try the query
[code]
this should work. See `angular-sqlite-app-starter`  `testjson1extension.page.ts` line 107

[2021-09-21 19:13] accron-1 commented on #174
So I had to look at the Vue sample + plugin source code in a couple of different repos to figure out how it's supposed to work. I got this:

[code]

If this correct, a constructive suggestion: the `README` of each repo should not only show how to install the plugin, but also a `Get started` section with code like above or similar.
It shouldn't be required to clone the repos to dig into the project

[2021-09-22 06:00] jepiqueau commented on #174
@accron-1 Did you had a look to `https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Vue-Usage.md` i think it is all explained. I was forced to split the developer on several documents otherwise the readme would have been far too long, but there is a link in the Readme under the chapter `Documentation` on `Framework's usage`. May be you missed it. Anyhow i am glad that you find th

[2021-09-22 06:01] jepiqueau commented on #173
@t4tapas Any progress on your side. if no news from you i will close the issue

[2021-09-22 06:02] jepiqueau commented on #172
@sidquisaad any progress on your side?

[2021-09-22 07:59] adrirrFOS commented on #176
thank you

[2021-09-22 07:59] #176 closed

[2021-09-22 09:51] muuvmuuv commented on #158
Hey @jepiqueau, did you have time to dive deeper into absurd-sql? I really thank you for the effort in the Stencil version, but it doesn't seem right to me to have a web component for a sql implementation for the web. A simple web lib would work the same way without adding HTML elements, copy files or initiate other stuff. Absurd seems to work quite well, or is it missing something (I have little

[2021-09-22 09:54] accron-1 commented on #174
I didn't see it initially. I think it's a good example of more complex usage, but I think that something very short and simple in the `README` that you can just copy and paste and immediately get started with would be very useful.

Also, those examples have `useSQLite()`, which I don't think is correct based on the source code and my tests:
https://github.com/jepiqueau/vue-sqlite-hook/blob/a790ee0

[2021-09-22 09:54] #174 closed

[2021-09-22 10:37] jepiqueau commented on #158
@muuvmuuv thanks to come back on this. The fact that i go for a Stencil component and not a simple integration in the @capacitor-community/sqlite was dictated on that when a developer has finished to test the code on web, before to build the native apps in order to decrease the size of the native apps he can remove the jeep-sqlite and the wasm file associated from sql.js. this was a request from s

[2021-09-22 13:35] sidquisaad commented on #172
Hello @jepiqueau. I'm so sorry about the late reply, I've been busy on another project.
So, I'm using Vue 3. In the code you provided, I have a few remarks:
- `this.platform.ready()`, I'm not finding any alternative for this in Vue. I'm instead using a listener on `DOMContentLoaded`
- `this.sqlite.initializePlugin()` I do not recognize this function from any of the docs or sample apps, am I missin

[2021-09-23 05:58] muuvmuuv commented on #158
That is reasonable, thanks for explaining! Yeah, workers and Cap aren't working nicely together, ATM. How save is it to use in-memory for persistent storing of assets, sure the browser can always delete the cache without notifying, but any other things some need to know?

[2021-09-23 08:10] MonicaExplan opened #177 "Error on trigger definition when importing JSON schema"
Hi

I'm trying to import a json file with this new trigger:"triggers": [
              {
              "name": "trigger_after_update_recordType_tickets",
              "timeevent": "AFTER UPDATE",
              "logic":"BEGIN SELECT CASE WHEN NEW.recordType = 3 THEN UPDATE images SET recordType = 3 WHERE ticketId=OLD.id END; END"
              }
]
But I get an error

Beside if I import the json wi

[2021-09-23 10:28] jepiqueau commented on #173
@t4tapas Not having news from you, i assume it is solved so i close the issue. Feel free to re-opens it in case

[2021-09-23 10:28] #173 closed

[2021-09-23 10:31] jepiqueau commented on #177
@MonicaExplan can you share the json object so i can go for testing

[2021-09-23 10:52] MonicaExplan commented on #177
Here is the content of my json file containing only DB schema

{
    "database": "consumer_plangei_",
    "version":418,
    "encrypted": false,
    "mode": "full",
    "tables":[

        {
            "name": "tickets",
            "schema": [
                { "column": "id", "value": "INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL" },
                { "column": "syncId", "value": "TEXT UNIQUE" },

[2021-09-23 12:40] jepiqueau commented on #172
@sidquisaad This will come in the next release, i didn't publish it yet as i have to make the modification to the vue and react hooks and also the angular service and update all the application. The two methods added are `initWebStore` as requested and `saveToStore` to save the database on request without closing the connection. if you look at the `https://github.com/capacitor-community/sqlite`you

[2021-09-23 12:42] jepiqueau commented on #177
@MonicaExplan i will have a look i forgot to ask you which platform?

[2021-09-23 12:46] MonicaExplan commented on #177
Oh no, I forgot to detail my project. Sorry.

"@capacitor/core": "^3.0.2",
"@capacitor-community/sqlite": "^3.2.0",
"@capacitor/android": "^3.0.2",
"@capacitor/app": "^1.0.3",

I'm testing on Android

Thanks a lot

[2021-09-23 14:34] khashashin opened #178 "Errors triggeren almost on each async function iOS"
**Describe the bug**
I've builded tested and deployed the application without any issues on Android device. Now I've started to build it for iOS.
Before the following function I get error and application can not create entries in the Database:

[code]

**To Reproduce**
I've following function that takes list of javascript objects and creates entries in the Database:

[code]

You can follow the con

[2021-09-23 14:56] khashashin commented on #178
It is probably not related to sqlite plugin, so im closing it.

[2021-09-23 14:56] #178 closed

[2021-09-23 15:44] jepiqueau commented on #177
@MonicaExplan Can you give the triggers SQLite statement corresponding that you want to execute( not the json one) it seems the trigger definition is not correct

[2021-09-24 07:49] MonicaExplan commented on #177
here is my trigger, correctly created on the DB by DBBrowser for SQLite

CREATE TRIGGER trigger_after_update_recordType_tickets
AFTER UPDATE ON tickets
WHEN NEW.recordType = 3
BEGIN UPDATE images SET recordType = 3 WHERE ticketId=OLD.id;  END

Thanks

[2021-09-24 07:49] jepiqueau commented on #172
@sidquisaad I have updated @capacitor-community-sqlite to 3.2.3-1 and test it with `https://github.com/jepiqueau/vue-test-issue172`. Have a look and transpose it for your app which seems to use the TypeOrm driver. Tell me if it is  ok and thanks for pointing out this. Your proposed workaround was working but i prefer like you suggest to create an `initWebStore` method. i also took the opportunity

[2021-09-24 07:56] jepiqueau commented on #158
@muuvmuuv  for your information in release 3.2.3-1 of the plugin, i added a `saveToStore` method following your suggestion that can be used periodically to store the database to limit the damage in case the browser delete the cache. i also add an `initWebStore` method which is now on mandatory
[code]
This is to avoid synchronization issues in Vue Framework

[2021-09-24 08:05] jepiqueau commented on #174
@accron-1 i took into account your comment and you can now `@capacitor-community/sqlite@3.2.3-1` use  useSQLite() if you do not want to use the import/export progress listeners. I also updated all the `Ionic-Vue-Usage.md` documentation. Hope this clarify. Anyhow thanks for the comments

[2021-09-24 13:57] sidquisaad commented on #172
@jepiqueau  dude you're awesome. Thank you very much. I'll check this out over the weekend and come back here with the results. Thank you so much.

[2021-09-24 14:07] jepiqueau commented on #172
@sidquisaad 👍

[2021-09-24 14:56] jepiqueau commented on #177
@MonicaExplan  Now that you provide the right tested trigger in DBBrowser it works
so your json object should be
[code]
When tested on your side please close the issue. trigger syntax is not as easy. I am pleased that it was not a bug this time.
look at `https://github.com/jepiqueau/vue-sqlite-app-starter/blob/main/src/components/JsonImportIssue177.vue`

[2021-09-24 17:37] sidquisaad commented on #172
@jepiqueau I have just pulled in the new version for `@capacitor-community-sqlite` and `jeep-sqlite`, made the changes to the code to use `initWebStore()` when `platform` is web. I run a couple tests and it works flawlessly now.

Thank you so much for your prompt replies and interaction, and please keep up the good work. I will now close the issue as it is resolved.

[2021-09-24 17:37] #172 closed

[2021-09-27 08:24] MonicaExplan commented on #177
@jepiqueau
Hi
thanks for you help, I was lost in the logic.

Have a nice day
Monica

[2021-09-27 08:24] #177 closed

[2021-09-29 08:20] MonicaExplan opened #179 "Foreign Key with combined columns"
Hello,

is it possible, in import from json, use a FOREIGN KEY with combined columns?

And if it's possible, how is the syntax? One of this ipotesi?
(as DB schema below in this messagge)
Ipotesi 1
{ constraint: 'FK_ticketId, ticketSyncId', value: 'FOREIGN KEY (ticketId, ticketSyncId) REFERENCES tickets(id, syncId) ON DELETE CASCADE'},
Ipotesi 2
 { "foreignkey": "ticketId, ticketSyncId", "value": "

[2021-09-30 05:46] jepiqueau commented on #179
@MonicaExplan Did you try in DB-Browser what you are asking and did it works ? As ticketsId is a primary key and ticketSyncId is UNIQUE i do not understand why do you want to combine them  working with one or the other will work too but may be i am wrong. I think before to create an issue check that what you want to achieve is SQLite correct.

[2021-09-30 10:59] MonicaExplan commented on #179
Hi @jepiqueau
I'm sorry if you are thinking that I did not think before opening this issue.
In DB-Browser the froeign key was correctly created and used.
Maybe my example wasn't suited for this case, simply was the json code I can copy and paste instead to write a new one. I'm sorry for this.

[2021-09-30 11:41] jepiqueau commented on #179
@MonicaExplan I did not want to be rude but i am busy on something else and having a quick look on what you sent i did not really pick-up the thing. So please give me the database schema  with and the  foreign key that you want to have so i can construct it quickly in DB-Browser so i will understand it and so look to what is wrong in the json format.
All modifications in this part of the code is q

[2021-09-30 11:54] MonicaExplan commented on #179
@jepiqueau
do not worry, all is ok. I understand your needs
enjoy

[2021-10-01 10:17] MonicaExplan opened #180 "uuid as Primary key: insert stament lastId is not the PK?"
Ho

I'm using uuid as primary key. My table is
{
          "name": "testuuid",
          "schema": [
              { "column": "id", "value": "TEXT PRIMARY KEY DEFAULT (lower(hex(randomblob(4))) || '-' || lower(hex(randomblob(2))) || '-4' || substr(lower(hex(randomblob(2))),2) || '-' || substr('89ab',abs(random()) % 4 + 1, 1) || substr(lower(hex(randomblob(2))),2) || '-' || lower(hex(randomblob(6)

[2021-10-02 06:44] jepiqueau commented on #180
@MonicaExplan the `lastId` returned correspond to the sqlite command `SELECT last_insert_rowid()` which is returning the internal id of the last row as an  integer and not the column `id`. if you want to have your id you must do `SELECT id FROM messages WHERE ROWID = last_insert_rowid()` so for the plugin
[code]
this should give you the expected result

[2021-10-02 07:03] jepiqueau commented on #179
@MonicaExplan i am expecting the two-tables that you want to make into relations
Can this help you
[code]

[2021-10-02 13:53] jepiqueau commented on #179
@MonicaExplan the corresponding JSON Object is
[code]

[2021-10-04 07:14] MonicaExplan commented on #180
thanks a lot
Monica

[2021-10-04 07:14] #180 closed

[2021-10-04 07:17] MonicaExplan commented on #179
@jepiqueau
thanks
Monica

[2021-10-04 07:17] #179 closed

[2021-10-04 10:46] jepiqueau commented on #179
@MonicaExplan did you succeed to do what you try to do now?

[2021-10-04 10:51] MonicaExplan commented on #179
@jepiqueau yes, I did
thanks

[2021-10-07 12:34] mobilemarines opened #182 "Extend addSQLiteSuffix and deleteOldDatabases wih a name regex or list"
Hey,

When I try to migrate our old Cordova SQLite database with addSQLiteSuffix at other databases in that folder will be migrated, too. There are other databases in that directory because other plugins need to create their database in there too and are not
 also not configurable here. And another problem is that if we successfully migrate the correct db and cleanup with deleteOldDatabases() afte

[2021-10-07 15:41] jepiqueau commented on #182
@mobilemarines Thank for using the plugin. Interesting i will look at this , if there is no db list given all db will be copied/deleted if there is a list provided only those part of the list will be copied/deleted. Is that will fit your needs?

[2021-10-11 08:44] mobilemarines commented on #182
Hey @jepiqueau thanks a lot for your quick response, sorry that it  took a while to answer, we had a long weekend here ;-)
The solution would fit our needs very well, a simple list of names, of which databases to delete/migrate. The problem with the migration is also that you can only get a list of databases that are already migrated or created with this plugin by calling getDatabaseList(). So I d

[2021-10-11 15:07] jepiqueau commented on #182
@mobilemarines What i am working on is `getMigratableDbList(folderpath: string)` is this will fit your need

[2021-10-12 10:03] #182 closed, assigned to nobody

[2021-10-12 10:48] mobilemarines commented on #182
@jepiqueau I tested the release with Android and iOS in our project and it worked flawlessly. The only thing I recognized is that
 `addSQLiteSuffix()`changes the path of the library, at least i see this behaviour on iOS, we have the path `Library/LocalDatabase` and after the migration the database is in `Documents/` so i had to handle that in a special case. Maybe this is misleading and could be d

[2021-10-12 19:02] ranjithrd opened #184 "Plugin for Android stuck at executing CREATE TABLE statements"
**Describe the bug**
A clear and concise description of what the bug is.

The plugin on Android is stuck on a call for `await db.execute(`CREATE TABLE....`)`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create any Ionic React project
2. Add this package using the instructions provided in README and in the Ionic-React.md doc
3. Use a `CREATE TABLE` statement
4. See error

**Expected beha

[2021-10-13 08:46] jepiqueau commented on #184
@ranjithrd can you share your package.json file. you should look at `https://github.com/jepiqueau/react-sqlite-app-starter` which is an updated app to help you starting.
the execute is wrong
[code]
replace with
[code]
and add AUTOINCREMENT  in   `id INTEGER PRIMARY KEY,`

this should work

[2021-10-13 18:13] jepiqueau commented on #184
@ranjithrd Hi, you cannot Drop a table if it does not exist so make the following modifications
[code]
and it should work

[2021-10-14 05:37] jepiqueau commented on #184
@ranjithrd Look at `https://github.com/jepiqueau/react-sqlite-app-starter` i have added a test for this issue and it works fine. So i do not know what is going on on your app. Can you share it ?

[2021-10-14 05:40] ranjithrd commented on #184
@jepiqueau
Sure, here you go.
https://github.com/ranjithrd/ion-test

[2021-10-14 14:39] GLTron3000 opened #186 "Electron + TypeORM - Transaction error"
**Describe the bug**
Hello, when using @cc/sqlite with @cc/electron & typeORM, typeORM cant start any transaction. I am not sure but from what i've seen, it seems that the transaction=false argument doesn't register.
I also use this stack on the web version and it work perfectly in that case.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a project with @cc/electron, @cc/sqlite & ty

[2021-10-14 18:41] jepiqueau commented on #186
@GLTron3000 i do not see a `databases` folder in the `assets` folder  and so no database inside. Why do you have this `await sqliteConnection.copyFromAssets();` in your code ?.

[2021-10-18 08:52] ranjithrd commented on #184
@jepiqueau
Hey Jean, sorry for not responding earlier.
I tried this approach, and I'm very, very, very happy to say it worked.

Thank you so much for helping me out and maintaining this package.
Closing this issue. Thanks again.

[2021-10-18 08:52] #184 closed, assigned to nobody

[2021-10-19 08:06] tmwrnr opened #187 "What is the best practice for creating an encrypted database?"
I have a question for creating an encrypted SQLite database file.

I managed to do so, but am wondering if there is a better way of doing it.

[code]

In my understanding I first need to create a connection with `'no-encryption'` mode to create the SQLite database file. After this I need to create a new connection with `'encryption'` to encrypt the database file. After this I can use the encrypted

[2021-10-19 09:08] jepiqueau commented on #187
@tmwrnr First thanks for looking at the plugin. You do not need to create a database with 'no-encryption' first to encrypt a database. You can directly create an encrypted database with
[code]
and after execute/run/query any SQLite statements on that connection
Good luck for your development. Look at the different app starter mentioned in the doc depending on the framework

[2021-10-21 06:54] rubickecho opened #188 "electron db.isTable result undefined"
**Describe the bug**
on the electron platform, `db.isTable` result `undefined`, hope is `true or false`.

**To Reproduce**
Steps to reproduce the behavior:

1. clone vue example project: https://github.com/jepiqueau/vue-sqlite-app-starter
2. install all dependencies
3. update `Tab3.vue`, add some db.isTable test code, for example, the picture below
4. build project and copy web
5. run electron

**

[2021-10-21 14:17] DanielvdSpoel opened #189 "composables/state doesn't excists"
**Describe the bug**
import { useState } from '@/composables/state';
composables/state doesn't excists.

**To Reproduce**
1. follow https://github.com/capacitor-community/sqlite/blob/master/docs/Web-Usage.md for ionic/vue

**Expected behavior**
The example works

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2021-10-21 14:45] chriswep opened #190 "iOS `checkConnectionConsistence` / `closeAllConnections` only closes first connection"
If you open multiple connections and then reload the webview and do

[code]

only the first connection is closed, leading to an error when attempting to (re-)create the other ones.

As far as i can see this is due to a `return` statement in the for-loop in https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/CapacitorSQLite.swift#L810 , which exits the loop after the first key.

[2021-10-22 11:04] #188 closed, assigned to nobody

[2021-10-22 14:54] psantos9 opened #191 "importing zipped files using copyFromAssets method"
**Is your feature request related to a problem? Please describe.**
When including large pre-existing database files in the application, it would be interesting to be able to store them in a compressed format (zip, for instance).
Currently the **copyFromAssets** method doesn't allow to import compressed database files.

**Describe the solution you'd like**
1. In the *assets/databases/databases.json

[2021-10-24 15:23] #189 closed, assigned to nobody

[2021-10-28 10:00] DanielvdSpoel opened #192 "sqllite.ImportFromJson not working"
**Describe the bug**
When importing json it doens't create the route table. When we try to collect things it give the error that the routes table doesn't excist

**To Reproduce**
Steps to reproduce the behavior:

Use this json object:
`
const JSONSchema = {
    database: 'storage',
    version: 1,
    encrypted: false,
    mode: 'full',
    tables: [
        {
            name: 'routes',

[2021-10-29 08:13] #190 closed, assigned to nobody

[2021-10-30 12:52] chiqors opened #193 "Can someone make a wiki for new developer to use this?"
Please, for god sake.. I am confused with the readme file.. What is going on?

[2021-10-30 14:38] jepiqueau commented on #193
@chiqors thanks for looking at the plug-in. Can you develop a bit. Did you look at the documentation in the docs folder and at the application starters referenced in the readme.
Which framework do you want to use ?

[2021-10-30 14:40] chiqors commented on #193
i am developing application based on quasar framework. I would love to use this plugin. But, i don't know where to start.

[2021-10-30 14:54] jepiqueau commented on #193
@chiqors I do not know the quasar framework but it is based on Vue framework so look at the vue-sqlite-app-starter  and vue-sqlite-app this will help you to start. Are you looking for native app ( iOS, Android) or Electron. The Web part of the plug-in has been made to help for a quick test implementation before to move to native.

[2021-10-30 15:04] chiqors commented on #193
i am looking for native app, android with the help of capacitor

[2021-10-30 15:30] jepiqueau commented on #193
@chiqors I assume that you do not want to use Ionic/Vue so may be you can look at https://github.com/jepiqueau/vue-capacitor-sqlite-issue137 it could help you to start

[2021-10-31 16:00] #193 closed

[2021-10-31 16:59] jepiqueau commented on #193
@chiqors did you succeed to do something ?

[2021-11-01 06:56] jepiqueau commented on #191
@psantos9 this is a good suggestion I will have a look if I can find a solution.

[2021-11-01 18:05] jepiqueau commented on #191
@psantos9 What should we do if a .db entry contained in a .zip already exists on the database default folder. Do we erase it or do we send an error message as this .db could have been modified from a previous run of the app. Usually the copyFromAssets should only be run once at the first app run. Can you make some suggestions

[2021-11-02 00:20] psantos9 commented on #191
@jepiqueau My suggestion would be to implement the same behaviour as for the unzipped files (overwrite existing -  without throwing error). Thank you very much for looking into this request!

[2021-11-02 04:05] chiqors commented on #193
i guess so.. i mught need to learn more of how sqlite work with js

[2021-11-02 06:32] jepiqueau commented on #193
@chiqors ok if you have any question you are welcome. Some developers have successfully use it with Quasar.

[2021-11-02 06:46] jepiqueau commented on #192
@DanielvdSpoel Hi, Did you make some progress? keep me in the loop.

[2021-11-02 06:54] jepiqueau commented on #191
@psantos9 i got it already preliminary working for iOS, i think i will add an optional parameter overwrite set by default to `true` but keeping the possibility to not overwrite them (overwrite parameter set to `false`) if they have been already unzipped and and the already existing on disk. What is your targeted platform?