[2021-11-02 13:02] psantos9 commented on #191
@jepiqueau I'm targeting android. I think your solution is perfect

[2021-11-02 23:08] mjgoeke opened #194 "silence CapacitorSQLite debug messages in xcode debugger output window"
When running my capacitor app from within xcode, I rely on the debug output to see useful messages.
CapacitorSQLite is spamming the window with messages like
⚡️  To Native ->  CapacitorSQLite executeSet 114296743
⚡️  TO JS {"changes":{"changes":0,"lastId":3329}}

I'm unfamiliar with Xcode, so it's likely there's something I'm just missing, but nothing so far I've tried has worked.

Filtering the l

[2021-11-03 08:53] jepiqueau commented on #194
@mjgoeke hi thanks for this comment but as you can see ⚡️ in the message means that it is coming from @capacitor/core and @capacitor/ios, so there is nothing i can do. This is the message passing in and out through the bridge.

[2021-11-03 17:14] mjgoeke commented on #194
ok, thanks! I'll keep digging elsewhere

[2021-11-03 17:14] #194 closed

[2021-11-03 17:28] jepiqueau commented on #191
@psantos9 this is fixed in v3.2.5-2, test it and revert to me

[2021-11-03 17:46] jepiqueau commented on #194
@mjgoeke if you find something keep me aware thanks

[2021-11-05 08:17] DanielvdSpoel commented on #192
@jepiqueau Project is currently on hold for 2 weeks (we have exams on school) I hopefully will have time next week to make some progress

[2021-11-05 16:40] medida opened #195 "Query returing multiple rows - Array"
Hello.

I'm succesfully running the following code on Android - but on iOS it returns the columns from the query in a different order - making a process break.

` this.myDB.query(sql, sqlParams).then(res => {
          resolve(res.values);
        });`

How can i force the process to order the returned data in a order definied in the SELECT query.

otherwise i'm going to have to manage the next in

[2021-11-05 18:19] jepiqueau commented on #195
@medida thanks for using the plug-in can you give me the query and the table schema so I can reproduce easily the issue. Which framework are you using? And which version of the plugin

[2021-11-05 18:32] medida commented on #195
hi
I'm using the latest version of the plugin - v3.2.4
I'm using ionic v5 / capacitor and working on both windows ( for android ) and a mac (for the ios)

sadly my project is large and i currently don't have time to create a samll one....
But
On any table call i do using the standard select statement - with columns defined.
e.g.
` this.appDatabaseService.database_query('select "" AS form_processit

[2021-11-05 21:50] medida commented on #195
Ok - so i have gone though the process and there is definaly something different in the way my pject handles objects from apple to android.

I tried making an interface for the array - but on iOS that made no difference and the debugging output from safair still showed the object / array in a random order for each row.

I gave got round the whole problem by re-writing my table insert process which

[2021-11-05 21:50] #195 closed

[2021-11-06 07:26] jepiqueau commented on #191
@psantos9 Did you had time to test it? Is it working as you wish ?

[2021-11-06 09:43] jepiqueau commented on #195
@medida could be helpful for the developer that you share at least the table format and the lines of code where you insert your data the one failing and the one working so I can reproduce it anD also look at what is the issue with exportToJson. Thanks for taking the time sure it will be helpful

[2021-11-06 10:46] medida commented on #195
hi

Yes - i'll sort it over the next few days - got a very rush job on as an OLD app is no longer working with iOS 15 becuase of the webview chnages... SO i have to roll out a new version which has been worked on for a while.

Thanks again.

[2021-11-06 11:03] jepiqueau commented on #195
@medida ok good luck

[2021-11-10 14:55] jepiqueau commented on #191
@psantos9 As i do not get any comments from you i will close the issue. I spent quite some times to develop this. i think you were in a hurry to get it.

[2021-11-10 14:55] #191 closed

[2021-11-11 17:42] CosminCraciun commented on #169
I had this issue fixed in my project. Found the absolute path in `electron/src/rt/electron-plugins.js`

Replaced:

with

[2021-11-16 03:29] peakcool commented on #169
@CosminCraciun yes, I have also encountered this problem, it seems that the fixes mentioned by @IT-MikeS  did not work, but your method will work

The following are related issues:

https://github.com/capacitor-community/electron/pull/151

https://github.com/capacitor-community/electron/issues/135

[2021-11-16 04:43] zesu2154 opened #196 "Plugin failed to register in Android 11 physical device"
I had been using the plugin and had been successful in building/running that on both simulator/real device.

However, this popup last night, while the app runs on emulator and also on a real Android 10 device.

I used Android Studio and captured the run log, it seems that there is an exception when Capacitor register the sqlite plugin, please see below for the relavant log entries.

==============

[2021-11-16 08:43] jepiqueau commented on #196
@zesu2154 Can you try deleting the android folder from your app and do `npx cap add android` `npm run build` `npx cap copy` and `npx cap open android` i assume you are using database encryption and that you have set the secret? if it still does not work can you share your app or a small repro app of the issue so i could have a look. I never got that error.

[2021-11-17 15:07] jepiqueau commented on #171
@KartanoDev No news from you so i close the issue

[2021-11-17 15:07] #171 closed

[2021-11-18 07:56] jepiqueau commented on #196
@zesu2154 Any progress from your side ?

[2021-11-19 13:24] zesu2154 commented on #196
@jepiqueau Sorry, I am on a business trip and away from my usual development machine, will have to get to it when I get back to office next Tuesday. My apology for the delay.

[2021-11-19 14:39] jepiqueau commented on #196
@zesu2154 👍

[2021-11-23 12:33] berengere13 opened #197 "Cannot find module jszip"
**Describe the bug**
I try to create msi with my stack angular / ionic / @capacitor-community/electron and the dependencies sqlite.

**To Reproduce**
Steps to reproduce the behavior:

1. Run script "electron-builder build -c ./electron-builder.config.json -p always"
2. Generate the msi
3. Install the msi
4. Launch the app
5. A pop up error is open with error :
6. Unhandled Promise Rejection
"vErro

[2021-11-24 07:30] jepiqueau commented on #197
@berengere13 Can you tell me how you did generate the msi ? You must add to your electron package.json file `    "jszip": "^3.7.1",`  or `npm install --save jszip` Sorry i forgot to add this to the readme.

[2021-11-24 08:14] marcocrotti69 commented on #196
I have the same problem.
Try to delete android folder and recreate but without success.
Seems to be a problem with security.

==============================
2021-11-24 09:06:51.445 4971-4971/it.filcronet.wasteassociator D/Capacitor: Registering plugin: WebView
2021-11-24 09:06:51.460 4971-4971/it.filcronet.wasteassociator D/Capacitor: Registering plugin: BarcodeScanner
2021-11-24 09:06:51.471 4971

[2021-11-24 08:32] filpet95 commented on #162
Hi, hope that all is well.
I have finally freed some time to put on this project. I have made a fork and implemented a version that enables encrypted databases on all platforms. Have tested it on iOS/Android/Win/mac.

I have changed back the dependency from sqlite3 to @journeyapps/sqlcipher. To make it compile at all platforms, the user need to install the dependency in their electron project and

[2021-11-24 09:04] jepiqueau commented on #196
@marcocrotti69 Can you share your app on github

[2021-11-24 09:09] marcocrotti69 commented on #196
Download it a this link https://www.dropbox.com/s/5cfphtbjf6jrqub/wasteAssociator.zip?dl=0.
Thanks for you interest.

[2021-11-25 08:17] jepiqueau commented on #197
@berengere13 this has been fixed in release 3.3.1

[2021-11-25 08:17] #197 closed

[2021-11-25 08:22] jepiqueau commented on #196
@zesu2154 @marcocrotti69 thanks for providing your example it help to shows the issue and fixes it. this is done in release 3.3.1 Please do the following
[code]
which put everything at the same level and then
[code]
Please close the issue if it works for you.
Thanks again

[2021-11-25 09:14] marcocrotti69 commented on #196
Tried your solution without luck.

==============================================
2021-11-25 10:10:49.826 19270-19270/it.filcronet.wasteassociator D/Capacitor: Starting BridgeActivity
2021-11-25 10:10:49.874 19270-19270/it.filcronet.wasteassociator D/Capacitor: Registering plugin: WebView
2021-11-25 10:10:49.888 19270-19270/it.filcronet.wasteassociator D/Capacitor: Registering plugin: CapacitorSQL

[2021-11-25 11:50] marcocrotti69 commented on #196
I have used this trick.
Changing the package name i resolved the error. I think that: the phone register some information (i don't know where) and also if i remove the app that information aren't cleared.
For the moment the app it's ok.
Thanks a lot.

[2021-11-25 12:11] jepiqueau commented on #196
@marcocrotti69 I do not really understand what is going on. i download your app, install it, build it and when running it getting the same error, then i delete the app from the physical device and made the modifications, remove the android folder and then did exactly what i mentioned earlier  and it works fine. i test it on API21 device. i will close the issue

[2021-11-25 12:11] #196 closed

[2021-11-25 13:21] zesu2154 commented on #196
Sorry for being late in getting back here.

I cannot reproduce using a small sample app. It runs without problem.

@marcocrotti69 So you just change the package name from something like com.example.app to com.example.app2, and everything is ok??

[2021-11-30 08:09] jepiqueau commented on #192
@DanielvdSpoel Any progress on your side ?  without answer from you i will close the issue

[2021-11-30 08:13] jepiqueau commented on #162
@filpet95 i am quite busy on other thing right now. When i have time i will have a look at what you did. Did you test it on Mac and Windows and create a package and run it without error? The reason why i removed it is one developer could not make the package on Windows. On Mac it was working fine.

[2021-11-30 08:16] DanielvdSpoel commented on #192
@jepiqueau So sorry that I didn't respond, the code you send fixed everything. Thank you verry much for you help!

[2021-11-30 08:16] #192 closed

[2021-11-30 16:01] filpet95 commented on #162
Yes, everything works fine on both mac/windows given that you install the dependency in your electron project and disable the automatic electron-rebuild for that specific package.

[2021-12-01 17:53] PabloSalinas27 opened #198 "Trying to understand how to get partial updates working"
Relevant links of the documentation that I read in relation to this (I read more, but I think these are the relevant ones):
https://github.com/capacitor-community/sqlite/blob/master/docs/ImportExportJson.md
https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Angular-Usage.md
Issue:
Problem 1 is very basic:
The format required is something like:
const partialImport1: any = {
    da

[2021-12-03 08:42] jepiqueau commented on #198
@PabloSalinas27 First thanks for looking at using the plugin. For me, the version number should be changed only when you change the schema of your database., not each time you upload new data. So i do not see the purpose of having the version number being related to the date.
Wen ones open  your app (ionic/angular/capacitor), the first thing that your app should do is to look at the syncdate  with

[2021-12-03 09:01] jepiqueau commented on #162
@filpet95 Starting to look at it. Have you made modifications only on the Electron part of the plugin.

[2021-12-03 09:03] filpet95 commented on #162
Super. I have made changes for all platforms to make possibility for app to be responsible to store the secret key to avoid storing it in plain text in files.

[2021-12-03 09:16] jepiqueau commented on #162
@filpet95 for Android and iOS platform the `setEncryptionSecret` was not storing the secret in plain text files. This will add to the complexity of the review as some changes have been made since then

[2021-12-03 09:36] filpet95 commented on #162
Yes, I understand that. However, this will enable the same behaviour for all platforms if the user builds to electron.
An other solution would be to store the secret in a safe keystore in win/mac but this would  probably impose more dependencies. I also believe that enabling an option of letting a plugin user select his/her own storage of their secret keys is a good idea to prevent the plugin enfo

[2021-12-03 09:43] filpet95 commented on #162
For instance, the electron application will be packaged in an .asar file. Someone could unpack the .asar file, identify the location where the keymanagement is occuring, write it to a public file, repack the .asar file and replace the original file with the corrupted one.
In my eyes, the only way to avoid this is to create a NAPI addon which decrypts the database with a key hidden in the compiled

[2021-12-07 06:47] dtrigo opened #199 "Some Warnings when upload to Android PlayStore"
**Describe the bug**
It's not a BUG itself but a warning. When uploading our apk to the Android PlayStore we are receiving some warnings regarding the use of non-SDK interfaces (https://developer.android.com/guide/app-compatibility/restrictions-non-sdk-interfaces).

In our case a series of warnings (StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation) are detected

`StrictMod

[2021-12-10 12:42] robingenz opened #200 "bug: `addSQLiteSuffix` skips databases without `.db` extension"
Hi jepiqueau,
first of all thank you for this great plugin.
I am currently trying to migrate from `cordova-sqlite-storage` to this plugin and ran into a problem.

**Describe the bug**

My databases do not have a `.db` extension.
Examples: `mfapp.logs`, `mfapp.data`

This causes them to be skipped in `addSQLiteSuffix`: https://github.com/capacitor-community/sqlite/blob/2a04454d38f3ff949ad89d5c07662

[2021-12-10 12:58] robingenz opened #201 "feat: support databases without SQLite suffix"
Hi jepiqueau,
again thank you for this great plugin.
I am currently trying to migrate from `cordova-sqlite-storage` to this plugin and wonder why it is necessary to rename the databases.
I would like to continue using the databases with the previous name.

**Is your feature request related to a problem? Please describe.**

I would like to access databases that do not have the `SQLite.db` suffix.
E

[2021-12-11 19:27] jepiqueau commented on #200
@robingenz the cordova database must have a db extension to be migrated with `addSQLiteSuffix` this was implemented like this to avoid the transfer of non-database.

[2021-12-11 19:33] jepiqueau commented on #201
@robingenz Hi, sorry but this is how it has been implemented and it will require to go through all the pieces of code for each part of the plugin iOS, Android, Electron and Web. The location of the databases to be used with the capacitor plugin is the `documents` and then you cannot define your own path folder. It will involve also to modify the React and Vue hooks and as well the driver to 'TypeO

[2021-12-11 19:39] robingenz commented on #200
@jepiqueau Thank you for your answer!
I understand this and can see that this is a reasonable default behavior.
However, in my particular case, I clearly specify the database names I want to migrate.
At this point, I don't think there is any reason for this restriction anymore.
Or am I missing something?

What options are there for me now to migrate my databases?

[2021-12-12 13:01] jepiqueau commented on #200
@robingenz i will have a look

[2021-12-12 13:04] jepiqueau commented on #200
@robingenz when transferred the database will have a SQLite.db suffix

[2021-12-12 13:23] robingenz commented on #200
That is not a problem.
My main problem is that I cannot currently migrate a database without a `.db` extension, even though I know the exact name of the database.

[2021-12-12 13:35] robingenz commented on #201
@jepiqueau Thank you for your answer!
Okay, I understand that!
I can offer you to do the Android and iOS part.
But yes, that would be a lot of breaking changes.
For example, the `isDatabase` method would then no longer be able to distinguish between databases of this plugin and foreign databases.

[2021-12-12 14:47] jepiqueau commented on #201
@robingenz i think it will be better to add a new connection method for non-compliant databases where the path and the name is given. in that case it will have a no impact on the actual plugin.This will solve the Example1 but must be used only for a small number of databases and will be done only for non encrypted database. For the Example 2 i would suggest that the migration is done first.

[2021-12-13 12:41] jepiqueau commented on #201
@robingenz in the Example1 Do you intent do modify the database coming from the other plugin or just make read-only queries? My understanding would be not to modify in this plugin the database from another plugin

[2021-12-13 14:20] muuvmuuv opened #202 "Reloading iOS WebView via Safari inspector throws "Connection already exists""
**Describe the bug**

Running an Ionic Angular app in Xcode and reloading the WebView through the Safari Inspector throws this error, even with previous "isConnection" check.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run Xcode app
2. Open Safari and inspect localhost
3. Press reload

**Expected behavior**

Retrieve active connection or savely create a new one.

**Screenshots**

[2021-12-13 14:31] jepiqueau commented on #200
@robingenz that is fixed in 3.3.2

[2021-12-13 14:43] jepiqueau commented on #202
@muuvmuuv something like this
[code]

[2021-12-13 16:40] robingenz commented on #200
@jepiqueau Thank you very much! Awesome work! I just tried it and it works without any problems.

[2021-12-13 16:40] #200 closed

[2021-12-13 16:41] cparkinsonMYCM opened #203 "have isJsonValid report what the issue is when the response is false."
**Is your feature request related to a problem? Please describe.**
`isJsonValid` simply says that my json is not valid, but there is no clear reason for why it is invalid.
There are a few issues that have been opened in the past on the same topic, rather than spend time yourself; add in to the `isJsonValid` method response the reason for it reporting that the JSON is invalid.

**Describe the solut

[2021-12-13 16:42] muuvmuuv commented on #202
@jepiqueau good catch. I missed this one. Will try that tomorrow at work, thanks.

Fyi its quite hard to understand the examples with all the if else codes, I think a more simple and reduced example would reduce the clutter. I could share our Angular DatabaseService when we finished the migration, it is a good example from an enterprise state (I think haha).

[2021-12-13 20:50] robingenz commented on #201
Yes, at the moment I just want to read.

[2021-12-14 07:44] jepiqueau commented on #203
@cparkinsonMYCM can you share your Jones object

[2021-12-14 07:59] jepiqueau commented on #198
@PabloSalinas27 Any progress on this issue?

[2021-12-14 08:12] jepiqueau commented on #201
@robingenz For me it make sense, so i will have a look this way
- add a non conformed createconnection  no encryption giving the path to the db
- add a non conformed open in read-only mode
- add a non conformed isDatabase
and then using standard db query method
Is this approach correct for you need? It is quite a work but will have minimal impact.
I have to answer some questions relative to some o

[2021-12-14 08:17] jepiqueau commented on #202
@muuvmuuv you are welcome, it is difficult to write development code and good related examples which suit all needs. so if you can help improving the doc as a user point of view having made the migration it will be a plus for the all developer community. Thanks to provide your feedback

[2021-12-14 08:18] jepiqueau commented on #203
@cparkinsonMYCM i mean your json object, did you look at the example provided in the docs or applications?

[2021-12-14 09:53] cparkinsonMYCM commented on #203
I cannot, but that's kind of the point.
I needed the information for why it's invalid, rather than share the schema.

What I've ended up doing was reading through the `JsonSQLite.java`, `JsonTable.java`, and `JsonIndex.java` files, parsing it manually.
The issue was in my Indexes, turns out that `objValue.equals("UNIQUE")` causes it to be invalid.
Even though SQLite syntax **_is not_** case sensit

[2021-12-14 10:01] jepiqueau commented on #203
@cparkinsonMYCM ok i will have a look and make it case incentive

[2021-12-14 11:11] robingenz commented on #201
Yes, this approach seems correct. 👍
This feature has time, you have already helped me a lot with the other issue. Thank you again! Great work!

[2021-12-14 15:08] jepiqueau commented on #203
@cparkinsonMYCM this will be fixed in the next release.

[2021-12-15 19:14] #202 closed

[2021-12-15 20:23] scs2771 commented on #196
I am have a similar issue. I am getting an error of
"Msg: Uncaught (in promise) Error: isDatabase: Attempt to invoke virtual method"
on my device but not the simulator. To fix it I have to drop the android folder and change the appId in the capacitorConfig

[2021-12-15 21:22] PabloSalinas27 commented on #198
I finally got arround it by just sending a gynormus string (i know its horrible so i'll definetly revisit the issue on chrismas when i got more time bc of exams) and parsing it client side. I still don't get how the pluging asks for the database (what type of http request arrives at the server so i could configure it to listen to), because now i just send something of the form: api.page.newdata/th

[2021-12-16 07:12] jepiqueau commented on #198
@PabloSalinas27 the plusieurs do not deal with http request it il your app that should do it . Your app should exportToJson and send thé json object to thé server and on a server side you should collect the json object and convert it in SQL statements and vice versa for the importFromJson

[2021-12-16 07:38] muuvmuuv commented on #202
I can't test it right now, because my Xcode isnt working anymore :D I will keep you updated if the issue still persists after you suggestion.

[2021-12-17 06:44] dtrigo commented on #199
Thanks for your answer, maybe a stable release and a alpha release would be appropiate but I uderstand is difficult to mantain.

Thank you again for your work

[2021-12-18 13:50] jepiqueau commented on #201
@robingenz this has been fixed in 3.3.3-1 following the approach mentioned above. There are some news methods:
`getNCDatabasePath`, `createNCConnection`, `closeNCConnection`, `isNCConnection`, `isNCDatabase` and `retrieveNCConnection` Hope this will help you to migrate from `cordova-sqlite-storage` plugin.

[2021-12-18 13:51] jepiqueau commented on #203
@cparkinsonMYCM this has been fixed in 3.3.3-1 Thanks again for helping in the debugging process.

[2021-12-18 14:00] robingenz commented on #201
Hi @jepiqueau, thank you very much!
I will let you know if I run into any problems.

[2021-12-18 14:00] #201 closed

[2021-12-19 09:35] aanders77 commented on #199
@dtrigo As I understand it, you were still able to publish on the Play Store (even with this warning)? I'm asking because I'll probably run into the same issue myself later on.

[2021-12-20 03:07] wilhantian opened #205 "Simulate iOS devices in Chrome browser Error"
**Describe the bug**
Simulate iOS devices in Chrome browser, can`t open database:

**To Reproduce**
Steps to reproduce the behavior:

1. In Chrome F12, Toggle device toolbar
2. Click on Dimensions: iPhone
3. createConnection and open database is wrong

- Browser: Chrome 96.0.4664.110
- Version: "@capacitor-community/sqlite": "^3.3.2"

[code]

p.s. Simulate Android/Other devices in Chrome browser c

[2021-12-20 05:44] jepiqueau commented on #205
@wilhantian When you simulate iOS devices in Chrome you are running the browser part of the plugin not the iOS part of the plugin so you should use the `jeep-sqlite` stencil component companion.

[2021-12-22 13:38] dtrigo commented on #199
Yes you can, but if the API changes it could break you code...

[2021-12-23 09:54] jepiqueau commented on #199
@dtrigo  @aanders77  as soon as the stable API will be released I will update the plug-in.

[2021-12-23 11:02] aanders77 commented on #199
Great, thanks 😊

tor. 23. des. 2021, 10:54 skrev QUEAU Jean Pierre ***@***.***

[2021-12-28 07:52] jepiqueau commented on #205
@wilhantian Anything new from your side  otherwise i will close the issue

[2021-12-28 14:22] gassssty opened #206 "Problem with ID... AUTO INCREMENT?"
Hi guys! I'm Gaston

I have a database (server) that works with auto incremental id, so if there are 3 users with id 1,2,3 respectively, if I delete user with id = 3 and then add a new user, the user with id = 4 is added.

But with this plugin, doing the same process, that new user would take the id = 3... Is there any possibility to change this? As this would be a little problem for the server da

[2021-12-28 15:17] jepiqueau commented on #206
@gassssty thanks for using the plugin. I am surprised by this behaviour i will have a look. are you using the iOS or Android part. I will have a look if i can reproduce this

[2021-12-28 15:24] gassssty commented on #206
Thanks for replying :D. I'm using Ionic, but it's precisely angular... it's the same in the end but with some changes.

Thankss

[2021-12-28 15:25] gassssty commented on #206
So, answering your question, is Android. At the moment Android... but maybe in a future I will use iOS

[2021-12-28 15:34] gassssty commented on #206
To help you a little bit, I mean, it's not a problem of the plugin or anything because I know from database that when you put an auto incremental ID, every time you delete an element, that deleted id can be used again... I don't know if you understand me.

Of course, in detail with an example a little more explained, the problem comes when I do an ''INSERT'' in the plugin DB... the product is inse

[2021-12-28 15:37] jepiqueau commented on #206
@gassssty Is your id has been defined with the AUTOINCREMENT argument ie `INTEGER PRIMARY KEY AUTOINCREMENT` SQLite DOES NOT RECOMMEND to use it but in your case in the json object describing the database schema you must have it to reproduce the same behaviout that your server database

[code]

[2021-12-28 15:40] jepiqueau commented on #206
@gassssty if you can share your json object it will help but in a mean time i will have to see if i can fix it simply or not you are the first to mention it

[2021-12-28 15:43] gassssty commented on #206
Mmm I'm looking at the code and I have the JSON defined like this:

jsonDb: JsonSQLite = {
    "database": "magentoprueba-db",
    "version": 1,
    "encrypted": false,
    "mode": "full",
    "tables": [
      {
        "name": "customer_entity",
        "schema": [
          {
            "column": "id",
            "value": "INTEGER PRIMARY KEY NOT NULL"
          },
          {
            "co

[2021-12-28 15:52] gassssty commented on #206
Well, it worked! At the beginning of my project I put the AUTOINCREMENT but I saw that something didn't work and I ended up deleting it for security reasons, in case something went wrong.
But I have removed the 'NOT NULL', and I have changed it for the AUTOINCREMENT (because never is null) and now it works perfectly.

It was my fault but anyway, this plugin (hat I've ever try in Angular/Ionic) is

[2021-12-28 18:13] jepiqueau commented on #206
@gassssty happy that it works good Lucky for your project

[2021-12-29 07:08] #206 closed

[2021-12-30 14:23] robingenz opened #207 "feat(ios): support for databases that are not visible to iTunes and are not backed up by iCloud"
**Is your feature request related to a problem? Please describe.**

The iOS databases are currently stored in the `documentDirectory`, which is visible to iTunes and backed up to iCloud.

**Describe the solution you'd like**

I would like to be able to specify that the database is stored in a location that is not visible to iTunes and not backed up to iCloud.
As far as I know, the `libraryDirector

[2021-12-30 16:02] jepiqueau commented on #207
@robingenz thanks for making the PR. I think the capacitor databases should be stored in a different folder than others cordova plugins are storing their databases. I will suggest Library/CapacitorDatabase i will have a look at your suggestion for the capacitor.config.json. i wish you an Happy New Year

[2021-12-30 18:13] adamtec opened #208 "Get DB Path or file URI"
**Is your feature request related to a problem? Please describe.**

I would like to be able to export a __conformed__ SQLite database (e.g. using the Share API). I haven't found any easy way to get the full directory/path or file URI for a given DB name.

**Describe the solution you'd like**

If it doesn't exist already, provide a method to retrieve either the directory and path -OR- file URI for

[2021-12-31 08:44] jepiqueau commented on #208
@adamtec thanks for using the plugin and thanks for your query. I will have a look at the Share API to understand your query. Can you explain how do you want to use it so i can well understand your query. From my side create a new method to get the database path is not a problem.  What about security issue. On iOS, the database location will certainly be changed As today the location is backup on

[2021-12-31 11:10] robingenz commented on #207
@jepiqueau Thanks for your quick reply! Please let me know as soon as I can help. I wish you a happy new year too! Keep up the great work!

[2021-12-31 11:23] jepiqueau commented on #207
@chriswep Hi Chris i wish you first an Happy New Year.  Can you comment this request and agree on it and tell me the impact on the typeOrm driver

[2021-12-31 11:24] jepiqueau commented on #208
@chriswep can you also give me your opinion on this before i start looking at it thanks in advance

[2022-01-01 08:56] #205 closed

[2022-01-01 08:57] jepiqueau commented on #203
@cparkinsonMYCM i assume that i can close the issue. feel free to re-open it if necessary

[2022-01-01 08:57] #203 closed

[2022-01-02 14:39] dewald-els opened #209 "Error during database version upgrade on Android"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Build project using `ionic build --prod`
2. Sync capacitor plugins using `npx cap sync android`
3. Copy build output to android `npx cap copy android`
4. Run in android emulator `ionic capacitor run android --external`
5. Choose AVD
6. Receive error when trying to open da

[2022-01-02 14:40] dewald-els commented on #209
Here is a link to my repo:
[https://github.com/dewald-els/ion-tracker](https://github.com/dewald-els/ion-tracker)

[2022-01-02 16:20] jepiqueau commented on #209
@dewald-els thanks for using the plugin and thanks for providing a repo i will have a look

[2022-01-02 17:09] dewald-els commented on #209
I don’t know much about Java or Android but let me know if I can help with anything at all

[2022-01-02 17:40] dewald-els commented on #209
@jepiqueau  I found the point of the error: It's happening in the open method in the `CapacitorSQLitePlugin.java` file on line 248
**See below:**
![image](https://user-images.githubusercontent.com/10051247/147884378-935cb47a-e0ff-4d14-9888-6cb74a0e230d.png)

[2022-01-02 18:02] dewald-els commented on #209
@jepiqueau  Can confirm this is the source of the problem. Did a fix this side and made a pull request :)

[2022-01-03 07:17] jepiqueau commented on #207
@robingenz it will come soon. I have still to update the doc and to look at some others issues before to publish a  new release

[2022-01-03 10:14] jepiqueau commented on #207
@robingenz this is fixed in 3.3.3-2 this has been tested in `[react-sqlite-app-starter](https://github.com/jepiqueau/react-sqlite-app-starter)`

[2022-01-03 10:40] jepiqueau commented on #209
@dewald-els i merged your PR in release 3.3.3-3 of the plugin. Thanks for participating to the debugging process feel free to close the issue

[2022-01-03 10:41] dewald-els commented on #209
merged your PR in release 3.3.3-3

[2022-01-03 10:41] #209 closed

[2022-01-03 10:55] robingenz commented on #207
@jepiqueau Thank you very much! I'll test it and let you know.

[2022-01-03 17:29] PabloSalinas27 commented on #198
Got it working finaly, It was very helpful to get it working this:

I finaly understood that was the job of my http module
Now is working as it should, but im encountering this problem:
We send to the app too much data, and for some reason the pluging stops digesting it after arround 100ms.
I suspect is a feature of the JVM to try to free the app to do more things but i don't know.
This is the lin

[2022-01-04 08:32] jepiqueau commented on #208
@adamtec if you do not give me more explanation i will close the issue. I look for sharing a db to a iPhone simulator and i can share a db only `On my iPhone` sub-folder not on a full given path.

[2022-01-04 09:10] robingenz commented on #207
@jepiqueau I am currently encountering a strange problem with version `3.3.3-3`.
I get the following error message when running the db migration:
[code]

My code:
[code]

[code]

I am currently still debugging and trying to find the reason.

The following file exists: `Library/LocalDatabase/mfapp.global`
I checked this before by downloading the app container in XCode.

It seems that the problem on

[2022-01-04 13:40] adamtec commented on #208
Sorry for delay- I've been traveling. For an application that I am working on, users connect to BLE devices that broadcast sensor measurements. The user is able to create recordings of this measurement data. I am currently saving each of these recordings as a separate sqlite DB. I also currently allow exporting the recording (sqlite tables) as a CSV file for later, offline post-processing. This re

[2022-01-04 14:48] jepiqueau commented on #208
@adamtec OK it is for an export not an import what about the security of your database.

[2022-01-04 15:05] adamtec commented on #208
The databases that I would expose would be for user created, unencrypted DBs (intended to be shared). I would not expose the core encrypted DB used to store app state, etc.

[2022-01-05 13:07] ogadepoju commented on #169
@CosminCraciun  solution worked just fine.
Many thanks

[2022-01-05 13:07] #169 closed

[2022-01-05 13:27] ogadepoju opened #211 "Unhandled Error Error: SQLITE_CANTOPEN: unable to open database file"
**Describe the bug**
A clear and concise description of what the bug is.
@jepiqueau
Many thanks for your consistent help regarding @capacitor-community/sqlite.
but working on a project using @capacitor-community/sqlite which works fine on a developer PC but on installing the app on a different computer, it raised an error when I tried to access/create a database.

![Capture](https://user-images.gi

[2022-01-05 17:31] jepiqueau commented on #207
@robingenz Yes the point in the database name is not supported `mfapp.global`

[2022-01-05 17:45] jepiqueau commented on #211
@ogadepoju  @IT-MikeS Sorry, i am not looking at the electron platform before a more stable release of the @capacitor- community/electron is published on npm.

[2022-01-05 18:32] robingenz commented on #207
Okay, but it worked in the previous version. I have been using the migration with this names for a few weeks now.
So there was a breaking change in a minor version? Was that intentional?

[2022-01-05 19:31] jepiqueau commented on #207
@robingenz OK i will have to look back on this. No it was not intentional. I had to make so many changes and this was not part of m'y tests

[2022-01-06 08:15] ogadepoju commented on #211
@jepiqueau  thanks for your response but for urgency sake can you help with this, it has gotten me stocked for weeks,
It's working perfectly of my machine, but once installed on another machine it pop this error.
Thanks.

[2022-01-06 08:33] jepiqueau commented on #207
@robingenz in the `Library/LocalDatabase` the database mfapp.global has not .db as extension?

[2022-01-06 08:41] jepiqueau commented on #207
@robingenz if the mfapp.global does not have the extension .db, the .global is taken as the extension  and the not copied

[2022-01-06 09:10] jepiqueau commented on #207
@robingenz forget all what i said above i tested it and it works fine
i add two databases in the `Library/LocalDatabase`
`mfapp.global` , `mfapp.test.db`
one without the db extension and one with the db extension

[code]
and the output
[code]

[2022-01-06 09:11] robingenz commented on #207
Yes

[2022-01-06 10:23] jepiqueau commented on #207
@robingenz for me it is working as shown above

[2022-01-06 11:06] jepiqueau commented on #208
@adamtec this is fix in 3.3.3-4

[2022-01-06 12:32] jepiqueau commented on #208
@adamtec the way to use it
[code]

[2022-01-06 12:48] jepiqueau commented on #208
@adamtec it works on iOS not on Android

[2022-01-06 18:02] jepiqueau commented on #208
@adamtec the Share plugin in ANDROID allows to look at folder starting with `/storage/emulated/0` or `/data/data/YOUR_APPLICATION/cache` so it cannot find the root that contains the path `/data/data/YOUR_APPLICATION/databases/YOURDBSQLite.db` so there is nothing i can do

[2022-01-06 19:06] adamtec commented on #208
Hey @jepiqueau, thank you so much for adding this feature. iOS is my main focus so this works great! Perhaps, I can follow up with Capacitor/Ionic to see if Share API root path can be extended.

[2022-01-06 21:55] jepiqueau commented on #208
@adamtec yes if you could raise an issue that will help as i will be travelling tomorrow keep me aware

[2022-01-07 08:37] jepiqueau commented on #207
@robingenz is it working for you ? if yes can you close the issue

[2022-01-07 09:09] robingenz commented on #207
Unfortunately, I didn't have time yesterday. I will test it again today and let you know.
Thanks for your help!

[2022-01-07 09:41] jepiqueau commented on #207
@robingenz i will be travelling today so nt accessible. I wish you good luck

[2022-01-07 11:38] robingenz commented on #207
@jepiqueau I have found the problem: In my case, the CapacitorDatabase folder was not yet created at the time of migration.
The reason for this is that `class func copyFile(pathName: String, toPathName: String, overwrite: Bool) throws -> Bool` is called which, unlike `class func copyFile(fileName: String, toFileName: String, databaseLocation: String) throws -> Bool`, does not call the `getFilePath

[2022-01-07 11:48] jepiqueau commented on #207
@robingenz that is strange as for me it works does not matter if the directory exists or not

[2022-01-07 12:17] robingenz commented on #207
@jepiqueau As far as I know, in order to use `FileManager.copyItem` you have to make sure that the directories exist.
So as a fix I would suggest that before copying the database you always check if the folder exists and if not you create it.
Is the `moveAllDBSQLite` method really needed? After all there are already methods for migration (`getMigratableList`, `addSQLiteSuffix`).
Then you could cre

[2022-01-07 15:40] jepiqueau commented on #207
@robingenz OK i will have a look

[2022-01-07 16:14] jepiqueau commented on #207
@robingenz You are right, i did not see it in my test app as i create a database earlier in the `index.tsx` file. So when i tested the addSQLiteSuffix the `Library/CapacitorDatabase` was created. So i will fix it. Thanks for your patience and temerity

[2022-01-07 16:31] robingenz commented on #207
Great!
Thank you very much for your efforts.

[2022-01-07 20:22] #207 closed

[2022-01-07 20:26] jepiqueau commented on #207
@robingenz fix in 3.3.3-5

[2022-01-07 20:26] robingenz commented on #207
@jepiqueau Thank you!

[2022-01-07 20:32] jepiqueau commented on #208
@adamtec i integrate `file://`directly in the returned url:
[code]
in fact on Android it is not an error of the Share plugin. In the file_paths.xml you cannot address the `databases` folder. To make it working i would have to move the databases from the `databases` folder to the `files/databases` folder. May be i will go for this but it is quite some changes.

[2022-01-08 17:36] jepiqueau commented on #211
@ogadepoju i made a testing release of the `@capacitor-community/sqlite`
Can you do
[code]
and the you create your executable and run it on another PC

the databases will now be under the
`YOUR_APPLICATION/electron/CapacitorDatabases` folder.

Tell me if that solve your issue and then i will make a fix

[2022-01-10 17:27] jepiqueau commented on #211
@ogadepoju any news?

[2022-01-11 12:27] jepiqueau commented on #211
@ogadepoju i worked hard as you said it was urgent but since then you did not tell me if it helps. Can you please revert to me

[2022-01-11 14:05] ogadepoju commented on #211
@jepiqueau thanks for your response and i'm sorry for my slow/delayed response, i tried the solution provided but it doesn't solve the issue,
But when i do "INSTALL FOR SELF", it opened.

Thanks

[2022-01-11 17:10] jepiqueau commented on #211
@ogadepoju what do you mean by ' do "INSTALL FOR SELF" '

[2022-01-13 07:56] jepiqueau commented on #211
@ogadepoju Can you please answer and tell me if it works so i can release it and close the issue. I cannot test it myself as my windows platform is out of order.

[2022-01-16 20:26] rkreutzer commented on #150
I had a similar issue, but before doing the steps above, I had to rename my local project folder, then re-clone my git repository to my local machine. Then deleting the android folder and rebuilding the app worked.

[2022-01-18 07:09] jepiqueau commented on #198
@PabloSalinas27 Sorry to come back so late, i did not see your last comment. I do not know what is the maximum size but as it is `partial` import, you can split it in several imports

[2022-01-18 09:10] PabloSalinas27 commented on #198
Don't worry, I fully understand you are doing it on your free time, so thanks for even responding in the first place, you helped me to understand this plugging not only with documentation and your responses directly to me, but also the responses to others were very helpful.

About the issue, that is what we ended up doing, a loop that splits the data in chunks and sends it to the pluging. It is a

[2022-01-18 09:10] #198 closed

[2022-01-18 16:21] doctorstones opened #213 "SQLiteDBConnection delete method in Typescript"
**Describe the bug**
In Typescript definition file "sqlite/dist/esm/definitions.d.ts" on the class SQLiteDBConnection there is method
[code]
which seems not to be related to anything in the Android Plugin.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to file;
2. Search for line 1080;
3. See delete() method;
4. Open Android definitions;
5. Search the delete() method;

**Expected behavi

[2022-01-19 07:43] jepiqueau commented on #213
@doctorstones
if you look at `src/definitions.ts` line 1549 you find async delete() which is calling `await this.sqlite.deleteDatabase({ database: this.dbName });`
now if you look in  Android `CapacitorSQLitePlugin.java` line 792 `public void deleteDatabase(PluginCall call) {` which call `implementation.deleteDatabase(dbName);` which is in `CapacitorSQLite.java`
in `CapacitorSQLite.java` line 662

[2022-01-19 08:24] doctorstones commented on #213
@jepiqueau You are right, I apologize.
This was my mistake, due to updating the library.
Following the update, many of the features throw Exceptions, which are only resolved by reinstalling the entire Android folder.

[2022-01-19 08:24] #213 closed

[2022-01-19 09:41] jepiqueau commented on #213
@doctorstones 👍 No problem. Good luck with your development

[2022-01-25 10:15] chidav77 opened #214 "CapacitorSQLite object always null, unable to import json"
**Describe the bug**
Hi, I downloaded Angular sample app to understand how to implement a creation of db with json.
In my app I'm not able to perform this operation, I keep getting the following error:
Error: isDBExists: Attempt to invoke virtual method 'java.lang.Boolean com.getcapacitor.community.database.sqlite.CapacitorSQLite.isJsonValid(java.lang.String)' on a null object reference

**To Repr

[2022-01-25 15:46] jepiqueau commented on #214
@chidav77 can you share the complete app.component.ts as well as the dbInit json object

[2022-01-30 15:04] jepiqueau commented on #214
@chidav77 did you inject sqlite in the constructor of the app.component.ts
[code]

[2022-01-30 15:06] jepiqueau commented on #214
@chidav77 i cannot help you if you are not reactive. May be you did solve yourself your problem. Without more information from you i will close the issue.

[2022-02-01 09:45] CosminCraciun opened #215 "SQLITE_ERROR: cannot start a transaction within a transaction"
**Describe the bug**
If 2 inserts/updates are run in parallel the `SQLITE_ERROR: cannot start a transaction within a transaction` is thrown.
It may happen if 2 operations are run asynchronously and not awaited or within a `Promise.all`. It's extremely susceptible in electron, but I have noticed it in web as well.

The following errors occur:

1. Error: Error invoking remote method 'CapacitorSQLite

[2022-02-01 10:17] jepiqueau commented on #215
@CosminCraciun you right multiple transactions is not implemented. Can you share an example with await Promise.all()

[2022-02-01 12:06] jepiqueau commented on #214
@chidav77 Not having any reaction from you i close the issue

[2022-02-01 12:06] #214 closed

[2022-02-01 12:17] jepiqueau commented on #215
@CosminCraciun The sqlite transactions are going so fast especially with Electron that you can manage to do them sequentially. Sqlite does not provide a queuing transactions manager and anyhow if it was existing it will run transaction one by one.

[2022-02-01 17:29] CosminCraciun commented on #215
@jepiqueau I managed to provide an example on the web version as well.

I understand, but the issue of colliding transactions will still exist, even unintentional. If an user event triggers a transaction, in the same time as some other service does some background work (for example some sort of synching might be done in the app).

I've created a repo with a simple example https://github.com/Cosmin

[2022-02-01 18:06] jepiqueau commented on #215
@CosminCraciun i will have a look to your repo

[2022-02-02 13:18] jepiqueau commented on #215
@CosminCraciun if you do this
[code]
and
[code]
where getCount
[code]
it works now is it going faster than
[code]
i did not test i you test it with 10000 items and measure the execution  time  revert to me the result

[2022-02-02 17:45] CosminCraciun commented on #215
The problem with
[code]
It defeats the purpose of the Promise.all, as the await forces it to run sequentially. The Promise.all won't get a list of Promises anymore.

I have run some tests as you suggested, but haven't seen any differences in times. Which makes sense, as both run sequentially.
The only difference I saw is in some kind of db warmup... as if I run in the same run 2 tests, the second

[2022-02-03 11:51] jepiqueau commented on #215
@CosminCraciun i have been googling again and see that we can use the Write-Ahead Logging (WAL). so i implemented in [angular-parallel-access](https://github.com/jepiqueau/angular-parallel-access). In fact Android is handling it automatically not the others platforms so for these ones i use `PRAGMA journal_mode=WAL;` and run the `db.execute` and `db.run` commands without transaction enable. Seems

[2022-02-03 15:13] CosminCraciun commented on #215
Yes! It now it works as expected.
Thank you for your help.

Will this setting be included in a future version of the package?

[2022-02-03 16:45] jepiqueau commented on #215
@CosminCraciun What the good things about PRAGMA is that it is a SQLite command so nothing to do in the plugin itself it is there already

[2022-02-04 02:19] blatoo opened #216 "How to define default column value for a table in importJsonUtils.ts file?"
Hi @jepiqueau,

I come again because of a small question:
How to define a table with default column value in the importUsonutils.ts file?

I simply want to have column with default value, like below. But I always got an json validation error. Actually I also didn't find how to define a default value for a column...

Can you give some hints?

[code]

Thanks in advance!

[2022-02-04 10:39] IbrohimMirxoshimov opened #217 "Use with knex."
How can I use capacitor sqlite with knex.

I saw how to use it with TypeORM. But I couldn’t find a way to do this with a knex. I didn't know how to make a special dialect.

The old project was written with knex and I was copying it to the capacitor.

[2022-02-04 12:30] CosminCraciun commented on #215
Great! I was thinking more that maybe the plugin could activate it automatically during the init phase, so you have more or less the same interaction without caring if you are on android or not.

Thanks a lot for your help. Ant thanks for maintaining this library!

[2022-02-04 12:30] #215 closed

[2022-02-04 14:21] jepiqueau commented on #215
@CosminCraciun thanks for your comments and to bring this to my attention. I do not think i will do the initialisation in the plugin as some developers will prefer the old and secure transaction way. Since the plugin exists you are the first and the  only one asking for this. What is nice is you can do parrallel access if you whish without impacting the code. You just have to know about the partic

[2022-02-04 15:46] martinkreitl opened #218 "Possible to update database schema with importFromJSON()?"
**Is your feature request related to a problem? Please describe.**

We built an app with your plugin and it is already in the app stores.
Users can input values based on the current schema.
Now, we would like to make an update of the schema (e.g. add columns) and keep the existing values.

So far, we used an startupJSONv2 to create the initial database and import the schema from that.
Now, we woul

[2022-02-04 19:40] jepiqueau commented on #216
@blatoo `default value` are not implemented  in json object.

[2022-02-04 19:45] jepiqueau commented on #217
@IbrohimMirxoshimov thanks for looking at the plugin. There is no driver for `knex` available. One should be looking at  this. Is it for Web or for Native apps

[2022-02-04 19:55] jepiqueau commented on #218
@martinkreitl It has to be done through the addUpgradeStatement. Assuming that the users of your app have got their own data means that you may do it with a full export  and your app  will have to manage the transfer of the existing data from the export json object in a new json object with your new schema and then you will make a full import of the new json object with a new version

[2022-02-07 08:04] IbrohimMirxoshimov commented on #217
@jepiqueau Hi.

I am developing this app in the browser

But we need this app for Windows, Android and iOS.

I tried to do something to solve but all failed with knex.

I knew it can possible to use knex only query builder. https://github.com/knex/knex/issues/983#issuecomment-141758489

But this also I couldn't use in browser. Knex required many nodejs packages os, stream, fs, path. I installed al

[2022-02-07 09:50] martinkreitl commented on #218
@jepiqueau Thanks for your fast feedback so far!
Yes, users can record their own data with the app. For security, no API call will be made and all data should stay on the phone.
So, when I do the full export, constructing new json object and full import. Do I even need the addUpgradeStatement?
Does the addUpgradeStatement work with a json object in general? I tried once and it failed.

[2022-02-07 14:36] jepiqueau commented on #218
@martinkreitl as i said it should be done with addUpgradeStatement, look at the provided documentation `UpgradeDatabaseVersion.md `and example `angular-sqlite-app-starter`
[code]
the `addUpgradeStatement` does not work with a json object but with a set of SCHEMA statements and for the DATA a set of SQLite statements and values.

Now if you want to do it with json object follow the process i descri

[2022-02-07 14:38] martinkreitl commented on #218
@jepiqueau Sounds good! Thanks a lot.

[2022-02-07 14:42] jepiqueau commented on #218
@martinkreitl Tell me if you are facing problems. Good luck, i do not see any reason why it should not work

[2022-02-07 14:48] bkostjens opened #220 "in iOS - executeSet: transaction not committed when there are no changes"
**Describe the bug**
When you run executeSet on iOS and the set does not make any changes a second call to executeSet will result in an error that you cannot run a transaction in a transaction.

**To Reproduce**
run executeSet (with transaction to true) twice for the same set (or any set that does not result in any db changes). This works fine on android, however it results in an error on iOS.

On

[2022-02-07 15:15] koen20 opened #221 "ExecuteSet: lastId equals -1 when changes is 0"
**Describe the bug**
When I try to run executeSet on Android when there are no changes I get an error. If there are changes when inserting  the method runs successfully. If I try to run the same code on iOS I do not get an error.
Error:
`Error: ExecuteSet: lastId equals -1`

Result on android:
`{"changes":{"lastId":-1,"changes":0}}`
Result on iOS:
`{"changes":{"lastId":0,"changes":0}}`

**To Repro

[2022-02-08 07:31] jepiqueau commented on #221
@koen20 Can you share your executeSet statements ?

[2022-02-08 07:50] jepiqueau commented on #220
@bkostjens Can you share your ExecuteSet statements? Any insert or update will create a change so i cannot reproduce

[2022-02-08 07:53] bkostjens commented on #220
Im using a WHERE clause which can cause that there will be no update happening:

`INSERT INTO projectobjects (localid, serverid, name, objecttype, parent, created, lastupdate, permission)
                VALUES ($1, $2, $3, $4, $5, $6, $7, $8)
                ON CONFLICT(localid) DO UPDATE SET
                  name = excluded.name,
                  parent = excluded.parent,
                  las

[2022-02-08 08:59] koen20 commented on #221
@jepiqueau I used the same query as #220 . I also used a where clause so there are no changes when inserting.

[2022-02-08 09:33] jepiqueau commented on #221
@koen20  it could not be the same as @bkostjens mention that it was working on android and not on iOS which i can confirm. If i look at the code when lastId = -1 an Error message `lastId equals -1` is returned.
So can you show me your code as i do not know how you get `{"changes":{"lastId":0,"changes":-1}}`

[2022-02-08 09:45] bkostjens commented on #221
When you comment outline 381 in  Database.java:

`throw new Exception("lastId equals -1");`

the problem is solved. Basically similar problem as on iOS. In Android the lastID is set to -1 as default value in executeSet and it looks like it is not set to 0 when there are no changes, but will still have the value -1 which causes it to throw.

[2022-02-08 10:12] bokolob opened #222 "Creating user functions"
Hi! Are user functions supported?

[2022-02-08 10:17] jepiqueau commented on #221
@bkostjens
line 381 of Database. java
[code]
which is catch by lines 533-535 of `CapacitorSQLite.java`
[code]
which is catch by lines 653-657 in `CapacitorSQLitePlugin.java`
[code]
with the retRes object initialize line 618 in `CapacitorSQLitePlugin.java`
[code]
so in javascript it is returned
res = {changes: {changes:-1}, message:"Error: ExecuteSet: lastId equals -1"}

so i do not see how you can

[2022-02-08 10:33] bkostjens commented on #221
I'll double check to see what the exact debug output is, however: basically android has the same issue as iOS: when not updating or inserting any records while calling executeSet you'll get an error (error differs per platform).

[2022-02-08 10:39] jepiqueau commented on #221
@bkostjens I am waiting your feedback before releasing the new version fixing the issue#220 that i can reproduced and fixed but i could not reproduce yours

[2022-02-08 10:40] jepiqueau commented on #218
@martinkreitl i will close the issue feel free to reopen it if require

[2022-02-08 10:40] #218 closed

[2022-02-08 10:41] bkostjens commented on #221
#220 was created by me, #221 by a collegae of mine (@koen20). I'll provide more feedback in here about the Android problem asap. Thanks so far for your quick responses!

[2022-02-08 10:44] jepiqueau commented on #222
@bokolob Can you elaborate a bit more with example so i can evaluate the work involve to support user functions

[2022-02-08 10:47] bkostjens commented on #221
Ok, I logged the exact messages:

[code]

[2022-02-08 11:33] koen20 commented on #221
I just noticed that I included the wrong result for Android. It should have been
{"changes":{"lastId":-1,"changes":0}}

Sorry about that.

[2022-02-08 13:31] jepiqueau commented on #221
@koen20 This should have been fixed in 3.4.0-1 Can you test and revert to me

[2022-02-08 13:31] jepiqueau commented on #220
@bkostjens This should have been fixed in 3.4.0-1 Can you test and revert to me

[2022-02-08 13:52] bkostjens commented on #220
Just tested and it works fine now. Thanks again!

[2022-02-08 14:03] bkostjens commented on #221
Seems to work fine now, but I'm not able to test on a real device at this moment. Maybe wait for @koen20 to verify this as well.

[2022-02-08 14:18] koen20 commented on #221
I tested it on a real device and it works. Thanks

[2022-02-08 14:18] #221 closed

[2022-02-08 14:19] #220 closed

[2022-02-09 07:08] #208 closed

[2022-02-09 07:17] jepiqueau commented on #217
@IbrohimMirxoshimov I looked into this, i let a message on [tgriesser/knex](https://github.com/tgriesser/knex) but i did not get any answer. I think ones as to develop a new `client` in knex for `capacitorsqlite` I do not know enough knex to do this and it a bit out of my scope of capacitor developer. I got enough work to maintain existing plugins. For typeOrm it is someone else who develop it. Ma

[2022-02-09 09:51] IbrohimMirxoshimov commented on #217
@jepiqueau Sorry for the late reply.

I will try to do what you say. So far I haven’t found a good solution yet. Thanks for your answers

[2022-02-09 15:26] gregorgretz commented on #196
I was fighting with exact the same problem for some days. The problems occurred on two different Android devices (Android 8.1 and Android 12) after several app updates and for two different users. Our app is also running on iOS, but there we don't have any problems. We are using:

-  @capacitor-community/sqlite: 3.3.3 (we started with 3.0 and did some updates over the last months)
-  @capacitor/an

[2022-02-13 08:29] bokolob commented on #222
Hello, I’ve mentioned https://www.sqlite.org/c3ref/create_function.html

[2022-02-13 15:47] jepiqueau commented on #222
@bokolob can you give an example of one of your custom function.

[2022-02-14 14:13] bokolob commented on #222
I need some spatial methods, for measuring distance between points, rounding them, and some aggregation functions

[2022-02-14 15:15] fr3shn3ss opened #223 "Update command doesn't work"
**Describe the bug**

Update command doesn't work on sqlite@2.9.7 using CapacitorSQLite.execute() while INSERT works just fine. Table was created using importFromJson()

Result ==> {
 "changes": {
  "changes": -1
 }
}

**To Reproduce**
Steps to reproduce the behavior:

  const statement = `UPDATE importedBulkScan SET jsonData_='testtest' WHERE itemId = 4;`;
        const r = await CapacitorSQLite.

[2022-02-14 19:47] jepiqueau commented on #223
@fr3shn3ss thank for using the plugin but the release 2.9.7 is not maintained anymore. So upgrade to the latest release and tell me if you still have the issue

[2022-02-15 02:11] fr3shn3ss commented on #223
Thanks. I found the issue.

This version requires "last_modified" as one of the columns.

Sample Schema

[
        { column: "id", value: "INTEGER PRIMARY KEY AUTOINCREMENT" },
        { column: "jsonData", value: "TEXT NOT NULL" },
        {
          column: "last_modified",
          value: "INTEGER DEFAULT (strftime('%s', 'now'))",
        },
      ];

[2022-02-15 02:11] #223 closed

[2022-02-15 07:35] jepiqueau commented on #223
@fr3shn3ss i am glad that you find the reason. I still encourage you to move to the latest version which is strongest and maintain

[2022-02-15 17:52] bokolob commented on #222
It is implemented in sql.js

[2022-02-15 19:52] jepiqueau commented on #222
@bokolob with sql.js it is quite easy as it is javascript. What i have to look for is how to run javascript sqlite user function in native app ( swift, java)

[2022-02-17 21:21] ASHBAW opened #224 "runTest failed Error: Attempt to invoke virtual method 'java.lang.String com.getcapacitor.community.database.sqlite.CapacitorSQLite.echo(java.lang.String)' on a null object reference`"
I have an Ionic 6 application using Angular (13).

I followed the steps in the documentation:

1) Created a sqlite.service.ts and copied in the service provided.
2) Added service to my app.module.ts as a provider.
3) Added the following into app.component.ts

[code]
which returns the following when launching the app:
`>>>> in App  this.initPlugin true`

In my page I have the following:

[code]

Wh

[2022-02-18 07:01] jepiqueau commented on #224
@ASHBAW it seems that sqlite is not defined can you share your app on github.com so i can have a look

[2022-02-18 20:41] mpizarroc commented on #224
Hi all,

i have similar error and previously this was working without problem.

Error: Error: Error: isDatabase: Attempt to invoke virtual method 'java.lang.Boolean com.getcapacitor.community.database.sqlite.CapacitorSQLite.isDatabase(java.lang.String)' on a null object reference

Any idea of the error?

[2022-02-18 21:31] ASHBAW commented on #224
Unfortunately my manager will not allow me to share our app. I was able to track it down and am not sure as to why it is effecting it.

First this issue is only on Android. iOS works great.

I created a new simple ionic angular project and run  the code in runTest() above. At that point I started adding our code to the new project to see when it would break. I was able to add our code without issu

[2022-02-19 07:53] jepiqueau commented on #224
@mpizarroc no you have to share your code or
a small  replicated app showing the issue. What you may be doing is to remove the Android folder and then run
npm run build
npx cap add android
npx cap sync
npm run build
npx cap copy
npx cap open Android
This may help

[2022-02-19 07:55] jepiqueau commented on #224
@ASHBAW  well it seems that is nothing to do with the use of the plugin but a versionning issue in Android gradle file. I do not know what is the maximum code version is

[2022-02-19 08:00] jepiqueau commented on #224
@ASHBAW  it seems to be 2100000000 after some googling so it should not be the reason

[2022-02-19 08:17] jepiqueau commented on #224
@ASHBAW as this happen on the echo command it is the setup of the  sqlite plugin whic is not done properly. So you can create a small app which just your setup till you get to the  call of the echo method there is no needs to put any of the database confidential data.this is the reason for having this method. Otherwise you can do the same procédure given to @mpizarroc  above they could be some cac

[2022-02-20 23:54] michaelbutler1998 opened #225 "Command CompileSwiftSources failed with a nonzero exit code"
**Describe the bug**
An error upon runtime of "Command CompileSwiftSources failed with a nonzero exit code"

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from Capacitor 2 to Capacitor 3
2. uninstall & reinstall the plugin
`"npm uninstall @capacitor-community/sqlite && npm install @capacitor-community/sqlite" `
3. Import into the file where used:` import { SplashScreen } from "@capa

[2022-02-21 11:49] juancromero-cotesa opened #226 "Query command failed : Must provide an Array of Strings"
Hi i'm dealing with a annoying error. I'm developing an Ionic/Capacitor hibrid app with @capacitor-community/sqlite V 2.9.16. I have some sentences using sqlite, everything works fine when i run from Android Studio o generate an unsigned APK but when i generate a signed APK (without changes) the app didn't work ok.

At one point i run one select statement: `"SELECT * FROM peticion where idUsuario

[2022-02-21 12:32] jepiqueau commented on #226
@juancromero-cotesa Can you modify your statement
[code]
and tell me if it works
I do not maintain this release anymore.

[2022-02-21 13:09] juancromero-cotesa commented on #226
Thanks for your time. Now there is no message but no records are retrieved. The extrange is that not signed apk works fine. Are there any differences between signed and not signed apk for the plugin?

[2022-02-21 15:02] juancromero-cotesa commented on #226
From Android Studio
![image](https://user-images.githubusercontent.com/65224753/154980333-fb658d06-b5dd-41dd-9498-e5fe7628d022.png)

[2022-02-21 16:07] jepiqueau commented on #226
@juancromero-cotesa can't you move to the latest release of the plugin

[2022-02-21 16:09] juancromero-cotesa commented on #226
Thans for your answer. Move to the latest version its a breakibng change for the app that is developed over Capacitor 2

[2022-02-21 16:11] jepiqueau commented on #226
@juancromero-cotesa why do you have a \n in your statement

[2022-02-21 16:13] juancromero-cotesa commented on #226
its not my code , i'm going to remove it

[2022-02-21 16:26] juancromero-cotesa commented on #226
Was a string template and included a return. Removed but same error. I'll try to investigate a little more

[2022-02-21 17:29] ASHBAW commented on #224
Thanks for the response. And yeah I am not sure why changing things in the Android build.gradle would have an effect on this plugin. And I understand I do not need to put any of the database confidential data. I was just copying/pasting out of the provided test case.

I tried creating  a new project from scratch but once I starting changing the build.gradle it gives me the error. I then started se

[2022-02-21 18:11] ASHBAW commented on #224
I created a simple ionic 6 project that demonstrates the issue.

https://gitlab.com/BAW/sqlite3

Steps in project creation:

1. ionic start sqlite
2. ionic cap add android
3. went into Android build.gradle and changed parameters there (applicationId, versionCode, versionName)
4. added changes to home.page.ts
5. added sqlite.service.ts provided by your repository
4. npm install
5. ionic cap sync
6.

[2022-02-21 18:21] jepiqueau commented on #226
@juancromero-cotesa can you share the table schema so i can test it

[2022-02-21 18:58] ASHBAW commented on #224
Looks like in your build.gradle you are using this alpha version:

   implementation "androidx.security:security-crypto:1.1.0-alpha03"

See these links for related issue:

https://github.com/google/tink/issues/504
https://issuetracker.google.com/issues/158234058?pli=1#comment48
https://github.com/google/tink/issues/413

[2022-02-22 07:37] juancromero-cotesa commented on #226
[db.txt](https://github.com/capacitor-community/sqlite/files/8114516/db.txt)

[2022-02-22 08:35] juancromero-cotesa commented on #226
@jepiqueau don't waste your time, i'm going to do a deep review of the sqlite related code. I greatly appreciate your help. I keep you informed

[2022-02-22 08:38] jepiqueau commented on #226
@juancromero-cotesa can you share the package.json file as to reproduce i need to create a new app so i would like to be aligned with you

[2022-02-22 08:45] juancromero-cotesa commented on #226
here it is

[2022-02-22 08:47] jepiqueau commented on #225
@michaelbutler1998 Can you share your package.json file. after the step 2 did you remove the ios folder from your app if not do it and after do
[code]

[2022-02-22 08:48] jepiqueau commented on #226
@juancromero-cotesa I cannot see it

[2022-02-22 08:49] juancromero-cotesa commented on #226
sorry, updated

[2022-02-22 12:47] juancromero-cotesa commented on #226
Hi @jepiqueau . I think the problem was that some database access errors were not well controlled in addition to the one you pointed out to me with the 'values'. What I still don't know is why the signed version caused that error and if it wasn't signed it didn't cause it.

Many many thaks for your interest anh help

[2022-02-22 14:57] jepiqueau commented on #226
@juancromero-cotesa is it now completely solve on your side if yes can you close the issue

[2022-02-22 15:13] michaelbutler1998 commented on #225
@jepiqueau, thanks for taking the time to assist me here.

Just tried the advice, no luck. See below my package.json:

`{
  "name": "cardTwister",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build",
    "lint": "vue-cli-service lint"
  },
  "dependencies": {
    "@capacitor-community/admob": "^1.2.2",
    "@capacitor-c

[2022-02-23 08:43] handsatwork85 opened #227 "Export encrypted data"
Hi everyone!

I would like to add this plugin to my project, so I am testing with [angular-sqlite-app-starter].
The main idea is export and import JSON (between devices) with encrypted data/values using a passphrase.
Is that possible?

I mean when I export data from an encrypted database using exportToJson() that is not encrypted as I test in angular-sqlite-app-starter. I am doing something wrong

[2022-02-23 10:23] jepiqueau commented on #154
@ChefKochNut @AntiGuide  Biometric to secure Keychain(iOS) or MasterKey(Android) has been implemented in release 3.4.0-2. Can you please test it and revert to me

[2022-02-23 10:38] jepiqueau commented on #225
@michaelbutler1998 it seems that you upgrade to capacitor 3 but did not upgrade @capacitor-community/sqlite you must install 3.4.0-1 and vue-sqlite-hook. Now you are still using vue 2 series and a  old @ionic/vue. this is to far away of what i am using so i cannot really help My advice will be to revamp your complete app by using all  the latest releases or keep on using the capacitor 2. There is

[2022-02-23 10:43] ChefKochNut commented on #154
@jepiqueau wow thanks! A lovely surprise on this sunny wednesday morning :-) Im gonna upgrade and check it out as soon as i got some time free for it. Hopefully this week. Latest next!
Thanks again!

[2022-02-23 10:45] jepiqueau commented on #227
@handsatwork85 No that is to day the normal behavior. I never thought about the way you want to use it. The import/export was more to use between a remote server and a device.
How you will pass the JSON Object between devices?

[2022-02-23 12:45] jepiqueau commented on #224
@ASHBAW i just clone your project  and do
[code]
in android studio
[code]
and it works fine

[code]
i saw that you set the applicationId "com.lesterelectrical.chargerconnect.lester" in your gradle file i think it would be better to set it up in the appId of the  capacitor.config.ts file  prior to do a `npx cap add android` so the manifest file will be correct which is not the case now as  `package

[2022-02-23 12:50] jepiqueau commented on #224
@ASHBAW Tell me if you finally succeed to make it working

[2022-02-23 13:55] jepiqueau commented on #224
@mpizarroc is it working now on your side

[2022-02-23 13:58] #217 closed

[2022-02-23 14:19] ASHBAW commented on #224
Thanks for looking.

I ran through your steps. Not sure why you saw 16 Amazon Coretto 16.0.2. I do not have that installed. It has always been set to 11 version 11.0.10. See figure.

![Screen Shot 2022-02-23 at 8 02 53 AM](https://user-images.githubusercontent.com/8959369/155334990-90d14739-e067-4d8c-93cb-89e58cc45407.png)

I did change the package name in the manifest file to match - package="com

[2022-02-23 14:58] jepiqueau commented on #224
@ASHBAW i do not know as i am not getting the error and i left the  versionCode and versionName to what you set-up.

[2022-02-23 15:04] ASHBAW commented on #224
Every device I have tested this new version of the app on, I had a previous version of the app installed.

Previous versions of the app did not use your plugin (just added it for this recent version) and had a versionCode of 100072 and below tied to that applicationId. So if I set the versionCode to a number less than that it works. A newer version code does not when tied to that applicationId.

I

[2022-02-23 15:06] ASHBAW commented on #224
Of course that does not help because our current users would already have the app installed on their device.

[2022-02-23 18:31] handsatwork85 commented on #227
@jepiqueau

The present project use CryptoJS.AES.encrypt and SQLite to de/encrypt data. It exports a JSON with encrypted values cause they are medic personal info and more. I suppose is due to legal things .... On this way, when you update or change your phone to another, you can import your data, either locally from your device or from a server, where the personal info (values) is not readable.

[2022-02-24 06:52] jepiqueau commented on #227
@handsatwork85 how  the passphrase is defined and where the passphrase to encrypt/decrypt is stored during the process? The solution if it is a small database could be to share it as a file this can be easily done the problem will be how to import it as a file i have to think about it

[2022-02-24 09:09] harikvpy opened #228 "TypeORM with Angular - Data is not saved across browser refresh"
I don't think this is really a bug. Perhaps more to do with some mistakes in my code.

As the title says, I'm trying to integrate TypeORM with an Ionic/Angular project and I encounter this problem of data not being persisted across sessions. I can create tables and query them, but upon browser refresh it's all gone. As if data is being saved to a memory database rather than a persistent storage su

[2022-02-24 09:18] harikvpy commented on #228
To add, data can be saved and read across browser refresh when it's done with SQL statements using the SQLiteService methods.

[2022-02-24 09:34] harikvpy commented on #228
@jepiqueau Thanks for the quick response! When using TypeORM, you don't really get access to the DB to close it. Do you? There isn't an autoSave option either in CapacitorConnectionOptions. Anyway, isn't the TypeORM driver supposed to do that when you issue an Entity.save()?

[2022-02-24 10:10] jepiqueau commented on #228
@harikvpy do just this and it works fine
[code]

[2022-02-24 10:14] jepiqueau commented on #228
@harikvpy you have to use ` await this.sqlite.saveToStore('test');` only if it is a web platform and after a number of transactions at your convenience.
For native platforms you do not need to do anything

[2022-02-24 10:18] jepiqueau commented on #228
@harikvpy so do this
[code]
do you want me to merge the fork i did

[2022-02-24 10:28] jepiqueau commented on #228
@harikvpy The driver to TypeOrm was made by ones prior i develop the web version of the plugin and works well for native apps and also works well with the web in-memory.

[2022-02-24 10:33] harikvpy commented on #228
Oh no..I can handle it :) But appreciate the offer!

[2022-02-24 10:34] jepiqueau commented on #228
@harikvpy it has been done like this as normally the web part is just used to speed up the development prior to go native and you can work in-memory for fast queries. Each time you do a saveToStore it save the whole db memory erasing the store so it will be really slowing down the app if you do it after each transaction. Hope this clarify.

[2022-02-24 10:34] jepiqueau commented on #228
@harikvpy Have an happy development from now on.

[2022-02-24 10:35] harikvpy commented on #228
It's clear. Thanks. I'll close it now.

[2022-02-24 10:35] #228 closed

[2022-02-24 10:45] harikvpy commented on #228
Just to complete the loop on this conversation -- the native sql.js driver's `SqljsConnectionOptions` has the autoSave option:
[code]
Perhaps you can think of supporting this as an extra (there's a comment about possible deprecation there, may be there are other avenues to provide this) option that the user can use as per their discretion. If the user is willing to put up with lower performance fo

[2022-02-24 12:52] jepiqueau commented on #228
@harikvpy fix in jeep-sqlite 1.3.6 add a property autoSave
[code]
tell me if it works now

[2022-02-24 13:19] jepiqueau commented on #228
@harikvpy does not seems to work with typeorm

[2022-02-24 13:36] jepiqueau commented on #228
@harikvpy an alternative is to create an entitySave function in your service like:
[code]
and then replace `await newUser.save();`  with `await this.entitySave(newUser, 'test');`
Voilà this all i can suggest

[2022-02-24 13:55] harikvpy commented on #228
Thanks. I just forked the jeep-sqlite code and was about to see if it can be tweaked. I guess that wont be necessary now as you've done that part already. I'll follow the last suggestion for now.

[2022-02-24 13:56] harikvpy commented on #228
BTW, my idea for tweaking jeep-sqlite was to issue a saveToStore() if one of the execute methods return with changes > 0. Not sure if this makes sense.

[2022-02-24 14:02] harikvpy commented on #228
Hmm..now that I think a little bit more about this. Why/how does autoSave work for sql.js driver with TypeORM?

[2022-02-24 14:39] jepiqueau commented on #228
@harikvpy It would have to be implemented into the capacitor driver and this would be difficult as the capacitor driver does not know if it is a native app or a web app which is calling to create the connection.

[2022-02-24 15:12] jepiqueau commented on #227
@handsatwork85 the database is encrypted with an application passphrase on device A when imported in device B the application passphrase of the device B should be the same that the one in A otherwise it will be not workable in device B

[2022-02-25 04:12] harikvpy commented on #228
I get it. I went through the TypeORM source and realize that your jeep-sqlite is a secondary driver -- a driver within the CapacitorSQLiteDriver.

Further to this, since I didn't want to have a separate save() method or extend BaseEntity class, I came up with a stop-gap method. I monkey patched the `execute`, `excuteSet` & `query` methods of `SQLiteDBConnection` object returned by `createConnectio

[2022-02-25 10:30] xconcepts17 opened #229 "Android Sqlite Encryption DB Failed when tested with Immuniweb"
Hi

I create a project and followed steps to create encrypted DB. Once I build the application and tested the application with Immuniweb Mobile security test. It says 'CLEARTEXT SQLITE DATABASE' and it is high alert.

This is what I did
      this.db: SQLiteDBConnection = await this.sqlite.createConnection("dbName", true, "secret", 1);
      await this.db.open();
      let ret: any = await this.db

[2022-02-25 11:09] jepiqueau commented on #229
@xconcepts17 can you share your project to github so i could have a look. I do not know about  Immuniweb Mobile security test

[2022-02-25 16:24] jepiqueau commented on #225
@michaelbutler1998 any news?

[2022-02-25 22:42] michaelbutler1998 commented on #225
Hey @jepiqueau, apologies for the delayed response, Monday - Friday I have another full-time job and with this project, I have two large changes (one of them being this) that I'm working on simultaneously so have not had a chance to dive back into this one as of yet.

Please leave the thread open, I want to contribute and help others when I solve this issue so would like to be able to return to it

[2022-02-26 03:58] xconcepts17 commented on #229
Hi
Thanks for your response and I really appreciate you in making our jobs easy by creating this plugin.
please check the GitHub repository below
[immuniweb-sql-report.pdf](https://github.com/capacitor-community/sqlite/files/8145853/immuniweb-sql-report.pdf)

https://github.com/xconcepts17/ionic-sql
I have attached Immuniweb report also.

[2022-02-26 10:28] jepiqueau commented on #229
@xconcepts17 it will be modified in the next release. By the way your database is not encrypted as you did not set the secure secret.
add this
[code]
before
[code]
and this two functions
[code]
i directly set the passphrase in clear you will have to do it through a form

[2022-02-26 10:59] jepiqueau commented on #229
@xconcepts17 fix in v3.4.0-3 you may also use the biometric authentication to protect more your application see
[Biometric_Authentication](https://github.com/capacitor-community/sqlite/blob/master/docs/Biometric-Authentication.md)

[2022-02-27 21:43] handsatwork85 commented on #227
Sure. That is the idea. And if you forgot your pass you will lose your data.

At the present, the passphrase is requested and stored in angular store.

[2022-02-28 16:23] Sampath-Lokuge opened #230 "How to handle Transactions with this plugin"
Hi,

I would like to do this workflow under 1 transaction. Can you tell me how to do that? Thanks.

[code]

[2022-02-28 16:44] jepiqueau commented on #230
@Sampath-Lokuge each execute, executeSet or run is done automatically with transaction .

[2022-02-28 16:59] Sampath-Lokuge commented on #230
Hi @jepiqueau

My question here is like so. i.e. how can I achieve the same thing with your plugin? I can understand each and every above operation are having its own transaction level. But How can I do a series of operations under 1 transaction like so:

[code]

[2022-03-01 09:58] jepiqueau commented on #230
@Sampath-Lokuge
db.transaction does not exist so
you can manage the transaction yourself by using sqlite statements and do this
[code]

[2022-03-01 10:36] Sampath-Lokuge commented on #230
Yes, it seems a bit ugly. But I think this is the only way right now with this plugin. We would like to have a more out-of-the-box/robust approach if we'll have this plugin in the future version like so where I have mentioned in my previous comment. But I'll try it that way for now.

I would like to ask another question here. I can see that you have closed the connection like so ` await this._sqli

[2022-03-01 11:11] jepiqueau commented on #230
@Sampath-Lokuge No you do not need to close the connection after each transaction you do it when you want. Here it is because i cut and paste the code from my test so as i did not have anything to do after the test so it is why i clause it.
it would be nice to have a db.transaction(function tx)  like you mentioned but for this i would have to understand how to run a javascript function in swift an

[2022-03-01 11:16] Sampath-Lokuge commented on #230
Hi, @jepiqueau

Ok sure. Thanks a lot for support and great plugin too!

[2022-03-01 11:16] #230 closed

[2022-03-01 11:57] jepiqueau commented on #224
@ASHBAW Did you find the solution?

[2022-03-01 13:58] ASHBAW commented on #224
I unfortunately did not.

If I ran that simple test case that worked for you and did not for me on a new device that never had an app installed with com.lesterelectrical.chargerconnect.lester as the applicationId it would work. If I tried running the simple test application on a device that previously had our app which has com.lesterelectrical.chargerconnect.lester as the applicationId it would gi

[2022-03-02 07:15] jepiqueau commented on #224
@ASHBAW i am sorry to hear that but as i cannât reproduce the error it is difficult for me to look for a fix. Did you try to remove the sqlite_encrypted_shared_prefs.xml file from the shared_pref folder of your app and restart. Is your app use encrypted databases?. By the which other plugin are you using? It is clearing that i should not have move to the alpha version but developpers where asking

[2022-03-02 13:05] ASHBAW commented on #224
Yeah, I understand. If you cannot reproduce it, you cannot fix it. I will try removing the .xml to see if that helps. We do not use encrypted databases. I ended up using the cordova plugin https://github.com/storesafe/cordova-sqlite-storage.

I appreciate your response and looking into this.

[2022-03-02 18:48] jepiqueau commented on #230
@Sampath-Lokuge  i add a method db.transaction  in 3.4.0 as follow
[code]

Voilà

[2022-03-02 20:34] fasterlars commented on #224
Just wanted to say that I had a similar problem with a vue app using capacitor and sqlite.
We´ve been bumping the build number for every release, but when we reached _versionCode 35_, the` 'java.lang.String com.getcapacitor.community.database.sqlite.CapacitorSQLite.echo(java.lang.String)' on a null object reference`` error began to arise. This took hours to find out 😅
Without going further into de

[2022-03-02 20:42] ASHBAW commented on #224
Yeah that is what I was seeing. Thanks for posting your work around.

[2022-03-03 09:51] fasterlars commented on #224
Found out that this is not a workaround since the android play store doesn't allow resetting the build number. It has to be incremental. So I´m pretty much screwed now, and have to dive deeper into the problem.
Guess you haven´t found a solution yet?

[2022-03-03 11:54] jepiqueau commented on #224
@fasterlars i am looking at it but did not find a fix yet are you using database encryption?

[2022-03-03 12:04] fasterlars commented on #224
No I am not using database encryption.
I had my colleague to build an apk. He is on a mac with an Android Studio installation, sdk and so on, that probably differs from my setup. And that apk seems to work. So right now I am looking into re-install Android Studio, tools and SDK´s.

[2022-03-03 13:13] fasterlars commented on #224
Update:
After a complete reinstallation of Android Studio and SDK´s the problem seems to be gone. I can build apk´s with build numbers higher than 34, and the sqlite database connection now works fine.
Unfortunately I have not become any wiser regarding the root of the problem.

[2022-03-03 13:36] jepiqueau commented on #224
@fasterlars For me it is really strange i had the issue i tried to debug without success except that the error was From the keyStore User not authorized and getting the error the master key android-keystore://_androidx_security_master_key_ exists but is unusable. After this i move down the version lower than 34 in the gradle run it works and increase again the version to 100035 and it still works.

[2022-03-03 13:40] jepiqueau commented on #224
@fasterlars which version of Android Studio are you running?

[2022-03-03 14:22] Sampath-Lokuge commented on #230
Hi @jepiqueau

This is awesome. I'll try it with my offline first app. Thanks a lot.

One question. I cannot see any `Open collective` or `Bye me a coffee` page for this project. Any reason for that? We would love to give something for your great effort here,

[2022-03-03 14:53] jepiqueau commented on #230
Hi @Sampath-Lokuge I start this project after my retirement to keep my brain active. Even it it takes me more time than foreseen, i still enjoy to do it. This is a free open-source plugin like the others i am owning.   🍻

[2022-03-03 17:12] Sampath-Lokuge commented on #230
Hi @jepiqueau

Ok sure. Thanks a lot for doing a great job for the free and open-source world. Keep up the good work!

[2022-03-03 19:38] fasterlars commented on #224
Well right now I am using the latest version of Android Studio (Bumble bee). Before that I was using Arctic Fox, but I really cant remember precicely what version or which SDK´s I was using when I had the error. And didn´t took note of it - sorry.

[2022-03-04 18:05] jepiqueau commented on #224
@ASHBAW @fasterlars In release 3.4.1-1, for developers not using database encryption i add two parameters ` iosIsEncryption` & `androidIsEncryption` in the `capacitor.config.ts` when set to false the `KeyChain iOs` and the `MasterKey Android` will not be set. This should normally solve that issue. Look at angular-sqlite-app-starter@3.4.1-1

[code]
Hope this will help

[2022-03-04 18:18] ASHBAW commented on #224
Great thank you!

[2022-03-04 19:39] jepiqueau commented on #224
@ASHBAW @fasterlars i close the issue then

[2022-03-04 19:39] #224 closed

[2022-03-05 01:45] petterbergman opened #231 "importFromJson result shows incorrect changes"
**Describe the bug**
When using importFromJson a SECOND time with the same data, number if changes shows as double, even though it should show 0 as nothing has changed.

**To Reproduce**
Using testimportjson from angular-sql-app-starter as baseline, call importFromJson on the following data TWICE:

export const partialImport999: any = {
    database : "db-from-json",
    version : 1,
    encrypted

[2022-03-05 06:58] jepiqueau commented on #231
@petterbergman Thanks for using the plugin can you share the `full import` where you created the table schema as this one is a `partial import`

[2022-03-05 07:15] jepiqueau commented on #231
@petterbergman Well in fact it is a normal behavior. At a time you create the table with the `full or partial` import, the software create a trigger `_trigger_last_modified` on the last modified field to make sure that when you will do an export all the data imported from one or more `partial` imports will be exported. The software does not look at the data if they are the same or not. so this is

[2022-03-05 08:09] petterbergman commented on #231
The missing full import:

export const dataToImport999: any = {
    database : "db-from-json",
    version : 1,
    encrypted : false,
    mode : "full",
    tables :[
        {
            name: "users",
            schema: [
                {column:"id", value: "INTEGER PRIMARY KEY NOT NULL"},
                {column:"email", value:"TEXT UNIQUE NOT NULL"},
                {column:"name", value:"

[2022-03-05 08:31] jepiqueau commented on #231
@petterbergman after each import 'partial` you setSyncDate now when you want to pull from the server a second time you geSyncDate and pull data from the server from that date

[2022-03-05 19:13] petterbergman commented on #231
Correct me if I'm wrong, but setSyncDate simply sets one datetime in the database. If that's the case, then doing what you propose will require the app to pull from all tables and assume all transactions will commit in a single pull, without the option to pull each table separately. If the data is large, and requires foreign keys, this will often not be possible.

Is there any way to use importFro

[2022-03-05 19:46] jepiqueau commented on #231
@petterbergman i do not really follow you. A lot of developers are using it for pulling from a server and pushing back to the server without any question about this process. I will have a look on how to do this for you by using a parameter isJsonTrigger (default true) in the capacitor.config.ts that you could set to false. This means that you will be on your own to manage your import strategy. No

[2022-03-05 19:59] petterbergman commented on #231
Totally understandable. My preference would simply to track last synced date per table, as opposed to a single sync date and I don't see the setSyncDate doing that.

Looking at the plugin code, It wouldn't be difficult to turn off the triggers with a simple flag in the JSON (such as in ImportFromJson.swift line 224). However, if I'm the only user requiring such a flag, it wouldn't be too hard for

[2022-03-06 08:53] jepiqueau commented on #231
@petterbergman Well you cannot really do it at the table level as a table's data can be dependent of other table's data so they all have to be synched in one transaction. I will modified the code to create a trigger only if a `last_modified` column exists in the schema. Not having this column will imply that there is no creation of a `sync table` and you can only use the mode `full` for importing/

[2022-03-06 18:33] petterbergman commented on #231
@jepiqueau I think there's no need to change anything in the plugin code. I think it's more important to add a section to ImportExportJson.md to describe how to use these methods. For me, I have legacy server code and design I have to support, so doing it per table is my best option. It's easily done with SQL statements and for users like me who wants to do it differently than the recommended (plu

[2022-03-06 18:33] #231 closed

[2022-03-06 19:05] jepiqueau commented on #231
@petterbergman OK in your case it make sense to do it locally in your app with SQL statements. In that case you do not need to define a column last_modified and to create a sync table. Good luck for your development

[2022-03-07 10:39] gassssty opened #232 "Problem cloning project to another computer"
Hi guys!

I have a small problem and I'm trying to clone a project (using gitlab), on another computer; and when I try to execute some of the Capacitor SQL Lite functions (like 'importFromJson' or 'isJsonValid'), I get an error that the stringify JSON object is not right.
It only happens when I try to clone, because on the computer where I created the whole project, it works perfectly.

Attached i

[2022-03-07 10:41] gassssty commented on #232
P.S.: I have checked the versions if they are the same, and they are exact... so that error is discarded.

[2022-03-07 10:51] gassssty commented on #232
And more images:
![image](https://user-images.githubusercontent.com/83598997/157017264-cf556725-707e-4f95-ab4e-10157ad09bf3.png)

The code:
![image](https://user-images.githubusercontent.com/83598997/157017438-fb0fed0d-97d5-4634-b56f-1426b012ddb8.png)

The alert in the device:
![image](https://user-images.githubusercontent.com/83598997/157017370-3d0e05bc-8d9f-4fbc-b949-04897db2a447.png)

[2022-03-07 16:05] jepiqueau commented on #232
@gassssty OK i understand

[2022-03-08 20:43] mjgoeke commented on #230
I've put together some pieces that give me what I want of transactions.
I'm working with corporate to get it open sourced.

Essentially it wraps a `SQLiteDBConnection`. Read methods don't require a txnId, writes do.
The transaction method takes a descriptive identifier for the txn (for tracing/troubleshooting purposes) and a set of `actions` which it passes the txnId to, and you're expected to cal

[2022-03-09 06:50] jepiqueau commented on #230
@mjgoeke interesting. I do not think it is necessary since i created a db.transaction method which let you run several sql statements in the same transaction. If you disagree please explain.

[2022-03-09 17:24] mjgoeke commented on #230
sure - the transaction method allows you to run a transaction from *one point*   *in code* - not a span - not a starting at one point, adding to, and then committing or rolling back at a different point.
The method you've added looks like I could just use `executeSet` instead.
(Please correct me if I'm wrong on this!)

What if I want code in between the sql statements in a transaction? For example

[2022-03-09 17:49] jepiqueau commented on #230
@mjgoeke sorry i did not pick up the idea which is now developed. Seems more than of interest. How can we proceed from there and can you provide a full example

[2022-03-09 18:09] mjgoeke commented on #230
Reworking this plugin to support transactions how SQLite treats them is a bit above my level of expertise.
What I built was simply a small library that provided an abstraction layer over the top of what this plugin `capacitor-community/sqlite` already provides.

Expanding this plugin to match more directly the API that SQLite exposes would be a broader undertaking and whoever does it would need to

[2022-03-10 07:37] jepiqueau commented on #232
@gassssty i can't do too much on this, which platform are you using? Is it Electron ?

[2022-03-10 08:00] gassssty commented on #232
Is Ionic. But it's okay. I fixed it creating another project, and copying all to the new and it works!!

Thanks btw!! :D

[2022-03-10 11:38] jepiqueau commented on #232
@gassssty OK 👌 then i close the issue

[2022-03-10 13:24] fasterlars commented on #224
I just want to add that this problem suddently became present again for me. But only on an Oneplus Android version 11 device. Ive tried other Samsung and Huawei devices, both version 10 and 11. But not a problem om those.
The `androidIsEncryption: false` fix solved the problem on the Oneplus device.
Thanks alot!

[2022-03-14 20:58] pkzOR commented on #211
With Electron, if you install for "anyone...", then the app needs to be run as ADMIN to work. This is because the db is put in the Program Files folder. Install "only for me" puts the db in   C:\Users\<USER>\AppData\Local\Programs\<AppNAME> folder, not where expected (C:\Users\<USER>\Databases\<AppName>. Both install scenarios seem wrong.

Is this a bug for this plugin???

[2022-03-15 07:14] jepiqueau commented on #211
@pkzOR i will have a look again. This is a old question and i could not find a solution as i though it was due to @capacitor-community/electron. Where do you want the database to be located?

[2022-03-15 07:16] jepiqueau commented on #211
@ogadepoju did you find a solution yourself that you can share on this issue

[2022-03-15 07:55] #232 closed

[2022-03-15 08:06] jepiqueau commented on #211
@pkzOR When you install for anyone in a computer (assuming Windows), do you want everyone to access the same databases or do you want them to access their own (C:\Users<USER>\Databases<AppName>)?

[2022-03-15 15:44] pkzOR commented on #211
@jepiqueau  For my use case, installing for everyone  I would want  each user to have their own db. However, I can imagine other use cases where all users need tp access the same db.

Perhaps your API can allow both  DRIVE/PATH,  and Well Known Windows paths (like Documents, ProgramData, etc)?  So, when creating the db with an Drive and Path, the install for everyone or all users would  then have

[2022-03-16 09:23] CSVerbeek opened #233 "No handling of changeEncryptionSecret (android)"
**Describe the bug**
In the function changeEncryptionSecret the call is not always handled. This is the case when biometricAuth is false. The promise returned will never be resolved or rejected.

**To Reproduce**
changeEncryptionSecret without biometricAuth

**Expected behavior**
Should be resolved like in the onSuccess of the BiometricListener.

**Screenshots**
If applicable, add screenshots to h

[2022-03-16 16:39] Sampath-Lokuge opened #234 "ERROR Error: Uncaught (in promise): Error: Run: no such table: main.FareTemplates: , while compiling: INSERT INTO"
Hi,

Do you know how to declare nullable foreign key here? i.e. `FareTemplates` table is not yet created when I run the below query. But `FareTemplateId` is NULL. This error is due to ` FOREIGN KEY(FareTemplateId) REFERENCES FareTemplates(FareTemplateId)` constraint. Any clue, please? Thanks!

[code]

Error

[code]

[2022-03-16 17:03] michaelbutler1998 commented on #225
Thank you @jepiqueau, your demo repos were incredibly useful.

To resolve the error, I did the following:
* removed all offending apps (this was not the only only displaying this issue) with npm unintall @...
* upgraded capacitor from 2.0 to 3.0 from scratch to check no steps were missed
* Reinstalled the apps one at a time, changing the imports from the capacitor 2 method to capacitor 3 method
I.

[2022-03-16 17:03] #225 closed

[2022-03-16 19:42] jepiqueau commented on #225
@michaelbutler1998 happy that you solve it.

[2022-03-17 13:30] jepiqueau commented on #234
@Sampath-Lokuge the easy answer should be to create the table FareTemplates before to add the data to Fares. Can you try to execute("PRAGMA foreign_keys = OFF;) before entering the data and do a execute(PRAGMA foreign_keys = ON;) after. Now after creating the FaresTemplates you will have to update all the Data of Fares to assign the FareTemplateId which seems a bit stupid to me Would be better to

[2022-03-17 14:21] Sampath-Lokuge commented on #234
Yes, you're right. I just need to create an empty `FareTemplates ` table first and then execute the above query. That is the easiest and more elegant way. Thanks!

[2022-03-17 14:21] #234 closed

[2022-03-17 15:40] jepiqueau commented on #234
@Sampath-Lokuge 👍

[2022-03-17 18:28] jepiqueau commented on #233
@CSVerbeek i will have a look but i will be away for the next 5 days. Normally you do not need it as it is in a try ... catch and then the reHandler is in the CapacitorSQLitePlugin. java file if it catch an error. In your did you make the call in a try ... catch

[2022-03-17 18:49] pkzOR commented on #211
@jepiqueau  Thanks so much for your work!

(Note: the readme says "config.config.ts", but I'm sure you meant "capacitor.config.ts".

Locally, we build/run on Windows with occasional checking on the MacBook, but our CI/CD pipeline will be MacOs.  It will be a week or so before we get all the build steps working and can test the final deployment. So, I'll let you know if we discover anything.

Thank

[2022-03-17 18:58] jepiqueau commented on #211
@pkzOR yes it is a typo error. I will be out for the next five days.

[2022-03-18 08:38] CSVerbeek commented on #233
If there is an error to catch, then yes the retHandler will be used. If there is no error this is not the case. The promise returned in typescript code will never resolve.

[2022-03-18 08:48] jepiqueau commented on #233
@CSVerbeek have you run angular-sqlite-app-starter and did you have an issue running it?.

[2022-03-18 08:52] CSVerbeek commented on #233
@jepiqueau No I used the method in my own application and encountered the issue. After some research I found this is the issue.

[2022-03-18 09:13] jepiqueau commented on #233
@CSVerbeek can you share your code? As i said i am now leaving so i will look at your code end of n'est week

[2022-03-18 09:13] jepiqueau commented on #233
@CSVerbeek end of next week

[2022-03-18 09:44] CSVerbeek commented on #233
@jepiqueau The only relevant code to share is:
[code]
This is still working fine in version 3.3.3. In later versions it stopped working.

[2022-03-18 11:07] jepiqueau commented on #233
@CSVerbeek i will have a look when i am back

[2022-03-18 13:40] Naerian opened #235 "Electron path database"
Hi!

I saw that the new version (3.4.1) allows set paths for database file for Electron. Is it possible to indicate that it saves the file in the path of the application (.exe)?

[2022-03-18 15:20] jepiqueau commented on #235
@Naerian no it should not. It must save it in the path you gave in the capacitor.config.ts. Did you remove the electron foder from your app  and follow all the procedure described. On which OS are you running?. Can you show me the capacitor.config.ts in the app folder and the one in the electron folder.

[2022-03-18 15:33] Naerian commented on #235
No... I would like to know if i can save the database file in the root or installation folder application.

Capacitor.config.ts allow set path for save it (with 3.4.1 version), but I dont know how save the DB file in the installation folder application.

[2022-03-18 20:41] Naerian commented on #235
Ohh, ok. Thanks u!!

I have another question: When I run AppImage in Linux, database is created in the same place when app is running... And if I run app from linux-unpacked folder, database is created in the same folder... But I have specified another path in the "capacitor.config.ts" file, like this:

    CapacitorSQLite:
    {
      iosDatabaseLocation: 'Library/Databases',
      electronWindow

[2022-03-19 05:26] jepiqueau commented on #235
@Naerian i did not test on Linux as i do not have it installed. So where the databases are created? I am away for 5 days so i will have a look end of next week

[2022-03-19 12:15] Naerian commented on #235
Hi @jepiqueau, dabatases, on Linux, are created in the same folder where the executable is located, even though I have set another path in the config file "capacitor.config.ts", like my last answer.

[2022-03-19 12:32] jepiqueau commented on #235
@Naerian thanks for this i will review all again end of next week

[2022-03-20 12:42] jepiqueau commented on #235
@Naerian can you give me the result of node os.types() under Linux

[2022-03-20 14:13] Naerian commented on #235
How can I check node os.types()?

[2022-03-20 14:22] jepiqueau commented on #235
@jepiqueau on Linux command Window type node  and on the node prompt type os.type() and send me the result

[2022-03-20 14:28] jepiqueau commented on #235
@Naerian on Linux command Window type node and then on the node prompt
Const os = require('os')
Const type =os.type()
Send me the result of type

[2022-03-20 14:45] Sampath-Lokuge opened #236 "Remove all the console messages"
Hi,

Please remove all the console messages on this plugin. Because it'll directly effect to degrade the performance of native apps. And also security risk too. i.e. can see the table names and etc. Thanks!

![c1](https://user-images.githubusercontent.com/5206526/159167983-f9df9621-ed21-4790-a224-d5ac0d415eff.png)

[2022-03-20 15:04] Naerian commented on #235
I ran my app with electron on Linux from Terminal and y get this error:

    at Object.mkdirSync (fs.js:987:3)
    at UtilsFile._mkdirSyncRecursive (/home/santillana/Desktop/linux-unpacked/resources/app.asar/node_modules/@capacitor-community/sqlite/electron/dist/plugin.js:2570:31)
    at UtilsFile._createFolderIfNotExists (/home/santillana/Desktop/linux-unpacked/resources/app.asar/node_modules/@ca

[2022-03-20 15:21] jepiqueau commented on #235
@Naerian can you try a folder under your user

[2022-03-20 15:24] jepiqueau commented on #236
@Sampath-Lokuge which platform?

[2022-03-20 15:29] Naerian commented on #235
Under my user work...  but the idea its that you don't know user name folder. I tried use "$HOME/Databases" in  "capacitor.config.ts" file, but folder is created in the same executable location.

[2022-03-20 15:37] jepiqueau commented on #235
@Naerian it depends if you want to use it only for you or if you want to share the databases in between user of the same  machine. Do you know what is the sharable device on Linux

[2022-03-20 15:42] Sampath-Lokuge commented on #236
Sorry, I was not able to mention that. Here it is:

[code]

[2022-03-20 15:44] Naerian commented on #235
This is for generate a distributable application for my company. This app will be used for multiples users in differents machines, so I never know what user is using app

[2022-03-20 15:49] jepiqueau commented on #235
@Naerian can you try /usr/share/CapacitorDatabases

[2022-03-20 15:55] jepiqueau commented on #236
@Sampath-Lokuge this is the messages coming from capacitor itself nothing to do with the plugin

[2022-03-20 15:59] jepiqueau commented on #235
@Naerian you may also try /srv/CapacitorDatabases

[2022-03-20 16:04] Sampath-Lokuge commented on #236
Ok sure. I have mentioned that to the Capacitor team. We'll see that: https://github.com/ionic-team/capacitor/issues/5517

[2022-03-20 16:10] jepiqueau commented on #236
@Sampath-Lokuge 👍sorry there is nothing i can do keep me in the loop

[2022-03-20 16:20] Sampath-Lokuge commented on #236
Ok sure. Please keep this issue open until they'll give any feedback there. Thanks!

[2022-03-20 16:30] jepiqueau commented on #236
@Sampath-Lokuge ok

[2022-03-20 17:02] jepiqueau commented on #235
@Naerian if you give the permission read/White to the /home folder it may work also

[2022-03-20 17:13] Sampath-Lokuge commented on #236
Nice. It has an option here: https://capacitorjs.com/docs/v2/apis/console

[2022-03-20 17:13] #236 closed

[2022-03-20 17:26] Naerian commented on #235
With /usr/share folde... same error:

    at Object.mkdirSync (fs.js:987:3)
    at UtilsFile._mkdirSyncRecursive (/home/santillana/Desktop/linux-unpacked/resources/app.asar/node_modules/@capacitor-community/sqlite/electron/dist/plugin.js:2570:31)
    at UtilsFile._createFolderIfNotExists (/home/santillana/Desktop/linux-unpacked/resources/app.asar/node_modules/@capacitor-community/sqlite/electron/d

[2022-03-20 17:53] jepiqueau commented on #236
@Sampath-Lokuge thanks for the info i didn't know

[2022-03-20 17:54] Sampath-Lokuge commented on #236
Sure!

[2022-03-20 17:58] jepiqueau commented on #235
@Naerian on each machine the user will use its on databases not share with others can you confirm. If yes put only in the path AVDatabases without any / and it will be created at the user home folder

[2022-03-20 19:31] Naerian commented on #235
Hi @jepiqueau! If I set path like "AVDatabases", without "/", the file its created at the user home folder perfectly!

[2022-03-21 06:42] jepiqueau commented on #235
@Naerian sorry i thought i had mentioned this in the readme but after checking, it is not but it is effectively the way to have it in the user home. I will have to update the doc. Thanks for this and for your patience. Good luck with your app.

[2022-03-21 06:55] jepiqueau commented on #235
@Naerian i did update the readme.md again sorry for all this time wasted

[2022-03-21 12:56] Sampath-Lokuge opened #237 "Feat: Delete use case with Local to Server Sync"
Hi,

I would like to have your feedback/advice about building a better Sync workflow with my Ionic/Angular offline first app. Here is my workflow.

My client's requirement is like so:

Please let me know how to handle this kind of workflow with SQLite Data sync APIs?

I have already developed the SQLite on local databases and etc. I think we need to have an MS SQL server on the serverside no?

So

[2022-03-21 14:36] jepiqueau commented on #195
@mobilemarines can you share à code example which reproduce the isse

[2022-03-21 14:39] jepiqueau commented on #195
@mobilemarines i mean the issue  is on Android, iOS or electron.

[2022-03-21 14:59] mobilemarines commented on #195
@jepiqueau I only encountered the issue on iOS.

[2022-03-21 15:27] medida commented on #195
@mobilemarines i just got round the issue.
I was not concered with the data order from the select statement - other than i was not checking it for the insert statement later on.

From my select statements i call the columns correctly using there names.
For the inserts i was using the JSON in the format provided and then just builing the SQL - now i loop through the table format in question and reb

[2022-03-21 15:32] jepiqueau commented on #195
@mobilemarines @medida if you could share an simple example reproducing the issue including the way you create the table, fiil the data and query would be a good start to fix the issue

[2022-03-21 15:40] Sampath-Lokuge commented on #237
Thanks a lot for the feedback. Sure, I'll go through your doc and will let you know if I'll have more questions.

One question here: Can you tell me how to handle the Delete use case with Local to Server Sync. i.e `Export to Json`

I fully delete the record from the table right now. So then how the server knows about that deleted record on partial mode?

[2022-03-21 16:21] jepiqueau commented on #237
@Sampath-Lokuge that the good point. Nobody ask for it before so i will have to have a look at it

[2022-03-21 16:24] Sampath-Lokuge commented on #237
Ok sure. Please let me know your thoughts/workaround and etc. after you'll see that. Thanks!

[2022-03-21 18:55] Naerian commented on #235
Thx u for you u time!!

[2022-03-21 18:55] #235 closed

[2022-03-22 17:13] jepiqueau commented on #195
@medida Were your table and data imported from a JSON Object if yes can you provide the JSON Object
@mobilemarines Can you provide a replicated code showing the error

[2022-03-22 17:47] jepiqueau commented on #195
@medida @mobilemarines  i could not fix something that i cannot reproduce. @medida you said `An example is the code at the top of the his page...` but i do not see any code at the top of this page.

[2022-03-22 18:20] medida commented on #195
This is the exact code but its the same as the example at the top

` this.appDatabaseService.database_query('Select client_forms.*,  substr("00000000"|| ifnull((select max(form_ref_id) + 1 from Client_Forms_Process  ),1), -8, 8) as form_ref_id_code , (select count(*) from client_forms_items where client_forms_items.formid = client_forms.formid) as form_items from client_forms where ifnull(client_f

[2022-03-23 07:16] mobilemarines commented on #195
@jepiqueau Yeah. I´m currently working on a small demo project. Will send you the link when it´s done.

[2022-03-23 08:18] jepiqueau commented on #195
@mobilemarines OK thanks that will help me to fix it

[2022-03-23 15:52] jepiqueau commented on #233
@CSVerbeek 3.4.2-1 has been published when tested if there is no more issues can you please close the issue

[2022-03-23 16:39] mobilemarines commented on #195
@jepiqueau Pushed a small demo project here: https://github.com/mobilemarines/simple-sqlite-demo. On the start page, I stringified the returned values into separate divs for a better overview. I hope that helps to understand/debug the issue.

[2022-03-23 18:05] jepiqueau commented on #195
@mobilemarines thanks for the small demo project i will have a look and come back to you

[2022-03-24 02:30] mpkasp opened #239 "Insert of floating point / decimal value on iOS throws UtilsSQLCipherError.bindFailed and inserts null value"
**Describe the bug**
Insert of floating point / decimal value on iOS throws UtilsSQLCipherError.bindFailed and inserts null value; works fine on websql, and Android.

**To Reproduce**
Steps to reproduce the behavior:

I have a typeorm object like this:
[code]

and if I insert fatPerGram at 0.5, I get an error from UtilsSQLCipherError.bindFailed. iOS stack trace shown in screenshot

**Expected beha

[2022-03-24 07:52] austin92jus opened #240 "select query not getting value on latest android ->"
**Describe the bug**
On Android 12 version I tired you get db data by selecting query its throw error

Error: CapacitorSQLitePlugin: Protocol message contained an invalid tag (zero).
    at Object.cap.fromNative (home:414:32)
    at <anonymous>:1:18
but same commands working on lower version without problem

query SELECT * From task_list  WHERE status != 'closed' order by updateAt desc  limit 10 o

[2022-03-24 08:12] austin92jus commented on #240
![image](https://user-images.githubusercontent.com/55691899/159871297-83a67cf7-5c46-43e4-868b-250c92e7f251.png)
(https://user-images.githubusercontent.com/55691899/159871297-83a67cf7-5c46-43e4-868b-250c92e7f251.png)

[2022-03-24 09:16] jepiqueau commented on #240
@austin92jus can you share your table schema and some data Was it working on previous releases

[2022-03-24 10:29] austin92jus commented on #240
{
            name: "task_list",
            schema: [
                { column: "id", value:  "INTEGER PRIMARY KEY AUTOINCREMENT" },
                { column: "_id", value: "TEXT UNIQUE  NOT NULL" },
                { column: "assignee", value: "INTEGER" },
                { column: "approved", value: "INTEGER" },
                { column: "cid", value: "TEXT" },
                { column: "create

[2022-03-24 10:47] austin92jus commented on #240
select query is working on most of phone but in Samsung latest android version 12 phone not getting work its throw error

[2022-03-24 15:57] pkzOR commented on #211
@jepiqueau  Sorry, but no progress as other priorties crept in this week.

[2022-03-24 15:57] pkzOR commented on #211
@jepiqueau  Sorry, but no progress as other priorties crept in this week.

[2022-03-24 21:43] jepiqueau commented on #239
@mpkasp Was it working in 3.4.1?

[2022-03-25 00:25] mpkasp commented on #239
I tried reverting and running an `ionic cap sync`. Looks like it still breaks in the same place
<img width="1468" alt="Screen Shot 2022-03-24 at 8 24 28 PM" src="https://user-images.githubusercontent.com/5695263/160030949-553bf2a1-9e3f-4cce-8523-0c97db1929e6.png">

[2022-03-25 01:39] mpkasp commented on #239
So seems the `value` is coming in to swift as a Float type from the plugin despite calling it type: 'double' in typeorm. Not sure the intricacies of this plugin but checking for a Float type in the binding call and casting it to double to bind to double seems to fix my issue:

[code]

[2022-03-25 05:26] austin92jus commented on #240
return new Promise((resolve, reject) => {
      const a = this.sqlitePlugin.query({ database: this.dbName, statement: stat, values: params }).then(res => {
        console.log('result of execution', res)
        resolve(res.values)
      }).catch(err => {
        console.log(err, ' error on fetching data')
        reject('Error On fetching data');
      })
    });

this is my function  I used
stat

[2022-03-25 06:47] austin92jus commented on #240
any updates on any side?

[2022-03-25 07:33] tobiasmuecksch commented on #193
To be honest, the documentation is really really confusing. Event for experienced developers. For example: When using the `createConnection()` method, you need to specify several parameters. The third is called `mode`. I'm scanning through the documentation to find a hint on what exactly this mode is, and which values I can give it. Until now, I had no luck....

[2022-03-25 07:49] jepiqueau commented on #193
@tobiasmuecksch did you look at the API.md under the docs folder. There are also application staters for different frameworks which will guide you under https://github.com/jepiqueau. But all the links to the statère apps are also in the readme.md file

[2022-03-25 08:02] tobiasmuecksch commented on #193
Sure I did. And I really appreciate the work, there massive amounts of stuff. But it is very complicated. For now I don't want a predefined singleton service. All I need to understand the core concepts is some examples about:

1. How to create a connection
2. How to setup a database
3. How to query a database
4. How does the versioning and upgrading work?
5. Some best practices and advices (for ex

[2022-03-25 08:07] jepiqueau commented on #193
@tobiasmuecksch what is the framework you intent to use ?

[2022-03-25 08:14] mobilemarines commented on #195
@jepiqueau Any news yet?

[2022-03-25 08:36] jepiqueau commented on #195
@mobilemarines not yet i work all yesterday on without finding a solution . This is due to the use of the dictionary to get the result of the query. I have to use an array instead  which has an impact in all the code. So it will require quite some time. Sorry for this it will come but i cannot yet fix à date for it.

[2022-03-25 09:18] tobiasmuecksch commented on #193
In the end, I will use ionic/angular/cap3.

But I want to understand this plugin without any framework related information as far as possible. I only want to know how to use it with simple TypeScript. No singleton services or anything else. I want to create my own service.

[2022-03-25 09:25] tobiasmuecksch commented on #193
The best introduction I could think of would look like this (just pseudo code, I know that most of it is wrong):

[code]

[2022-03-25 09:51] tobiasmuecksch opened #241 "Error: echo "Not implemented on web.""
**Describe the bug**
When I try to call `echo` on a `SQLiteConnection` instance an exception `Not implemented on web.`  is thrown in Safari.

Of course, I have added the wasm file to my angular assets folder.

**To Reproduce**
Demo Repo: https://github.com/tobiasmuecksch/capacitor-sqlite-angular

Steps to reproduce the behavior:

1. Create blank ionic angular starter
2. install dependencies
3. cop

[2022-03-25 10:01] tobiasmuecksch commented on #241
I'm having the same problem with `isJsonValid`.

[code]

It also throws an exception which says, that this would not be available for web, but  in the [supported methods section of the documentation](https://github.com/capacitor-community/sqlite#supported-methods) it clearly states, that this is available on web.

[2022-03-25 10:10] tobiasmuecksch commented on #241
I have created a demo repository:

https://github.com/tobiasmuecksch/capacitor-sqlite-angular

[2022-03-25 10:19] jepiqueau commented on #240
@austin92jus Can you provide some data the way you did enter them

[2022-03-25 10:45] tobiasmuecksch opened #242 "Electron error `TypeError: Cannot read properties of undefined (reading 'CapacitorSQLite')`"
**Describe the bug**
When I try to run my electron app, this exception is thrown:

![Bildschirmfoto 2022-03-25 um 11 39 02](https://user-images.githubusercontent.com/1294854/160105656-f2615fc0-df3f-4f9b-8b6d-ae1c007ba289.png)

**To Reproduce**
Steps to reproduce the behavior:

1. clone demo project: `git@github.com:tobiasmuecksch/capacitor-sqlite-angular.git`
2. `npm install && cd electron && npm

[2022-03-25 11:08] jepiqueau commented on #239
@mpkasp I could not reproduce the error, may be something coming from the typeOrm driver for this plugin. any how i will add what you suggest.

[2022-03-25 11:47] jepiqueau commented on #242
@tobiasmuecksch

[code]
open the `capacitor.config.ts` file and add the location for the electron databases

[code]
and then
[code]
and that will do

[2022-03-25 12:03] jepiqueau commented on #241
@tobiasmuecksch  you must edit your main.ts file
[code]
now `jeep-sqlite` can be used in your app it is requested to have the web part of the plugin
and update the `app.component.html` file
[code]
somehow you have to have a variable `isWeb `in your `app.component.ts`

and also something like this to initialize the webStore

[code]

[2022-03-25 12:05] tobiasmuecksch commented on #242
@jepiqueau Thank you very much for your quick response. In fact that helped!

I've been following the readme.md [here](https://github.com/capacitor-community/sqlite#electron). I'd highly recommend you to add the information about the mandatory configuration in `capacitor.config.ts` there.

P.S.: At the very top of the readme you said this

**CAN** be set means to me, that I don't have to, if I'm o

[2022-03-25 12:05] #242 closed

[2022-03-25 12:09] jepiqueau commented on #242
@tobiasmuecksch i will have a look, there may be a bug there, i just changed all this in that release.

[2022-03-25 12:18] tobiasmuecksch commented on #242
@jepiqueau I just found out, that when I run `npx cap sync @capacitor-community/electron` the configuration in `capacitor.config.ts ` is automatically removed. That's quite confusing.

[2022-03-25 12:25] tobiasmuecksch commented on #241
It worked. Thanks!

I'd recommend to add this information here: https://github.com/capacitor-community/sqlite#web

[2022-03-25 12:26] #241 closed

[2022-03-25 12:45] austin92jus commented on #240
"INSERT INTO task_list (delivers,reads,status,files,_id,title,du,cid,assignee,oid,type,createAt,updateAt,cInfo,last,category
      ) VALUES ('[]','[]','progress','[]','60857f2bd04e5800ce4720b7','test group updat','2021-04-25T14:39:20.220Z','60616972bf1ab71fef2926eb',91XXXX3,91XXXXX08,'task','2021-04-25T14:39:39.779Z','2021-10-19T11:08:50.271Z','{"91XXX8":0,"919XXX6":9,"91XXXXX33":0}','{"sender":91

[2022-03-25 12:54] jepiqueau commented on #240
@austin92jus i am going to look at it now to see if i can reproduce it thanks

[2022-03-25 12:56] jepiqueau commented on #241
@tobiasmuecksch happy that it works. Have a good app development

[2022-03-25 13:35] jepiqueau commented on #240
@austin92jus seems you have put some XXX to hide something but this does not work for integer

[2022-03-25 13:40] austin92jus commented on #240
its integer i hide some value
its privacy number of my application so I hide it

[2022-03-25 13:41] austin92jus commented on #240
actual query does'nt have XXX its replaced of integer

[2022-03-25 14:11] jepiqueau commented on #240
@austin92jus i have a Samsung S20FE 5G Android 12 and it is working fine. Have you completely deleted the folder android and run `npx cap add android` and all the other commands

[2022-03-25 14:16] jepiqueau commented on #240
@austin92jus Can you share the `db.service.ts` file

[2022-03-25 14:22] austin92jus commented on #240
yes I did

[2022-03-25 14:23] austin92jus commented on #240
import { Injectable } from "@angular/core";
import { CapacitorSQLite, CapacitorSQLitePlugin, SQLiteConnection, SQLiteDBConnection } from "@capacitor-community/sqlite";
import { BehaviorSubject } from "rxjs";
import { environment } from "src/environments/environment";
import { getPlatform } from "../helper/utility-helper";
import { dataToImport } from "./db_import";
//import "rxjs/add/operator/map"

[2022-03-25 14:49] jepiqueau commented on #240
@austin92jus is your database encrypted? Are you using biometrics?

[2022-03-25 15:20] jepiqueau commented on #240
@austin92jus Do you have Android Studio if yes can you try debug app with a break point
 - in line 887 of CapacitorSQLitePlugin.java
 - in line 764 of CapacitorSQLite.java
 - in line 488 of Database.java in the capacitor-community/sqlite
 - and move down line by line to see where the error is

[2022-03-25 15:22] austin92jus commented on #240
thank you
let me try to get

[2022-03-25 15:22] jepiqueau commented on #240
@austin92jus Add also a break point in line 89 of RetHandler.java

[2022-03-25 19:18] jepiqueau commented on #195
@medida @mobilemarines After so many trials, nothing work.

In fact reading the Capacitor documentation for plugin  iOS Returning Data Back
[code]
and according to the Apple doc
[code]
So Basically you have to deal with this in your app by recreating a json object from the return json object.

In Android and javascript you deal with json object directly

[2022-03-26 10:25] jepiqueau commented on #233
@CSVerbeek Did you test it?

[2022-03-26 10:34] CSVerbeek commented on #233
@jepiqueau Sorry. I got the flu and then I was busy with catching up with work. I didn't have time to test it yet.

[2022-03-26 12:01] jepiqueau commented on #233
@CSVerbeek hope you feel better. Tell me when done

[2022-03-26 15:54] tobiasmuecksch opened #244 "web: `.createConnection()` "Not implemented on web""
**Describe the bug**
I'm still trying to understand how this plugin works. Therefore I'm creating a simple demo project. And I got it working in browser (`echo`, `isJsonValid` do work).

When I try the following code, I see the error "Not implemented on web".

[code]

When I remove the line with `createConnection()` the error disappears.

**Steps to reproduce**
1. clone repository: https://github.

[2022-03-26 18:23] jepiqueau commented on #244
@tobiasmuecksch
the `app.module.ts`file
[code]
 the `sqlite.service.ts` has been modified
[code]

i did not look at the others functions i think you can manage this yourself.

[2022-03-26 19:16] tobiasmuecksch commented on #244
Thank you for your help. I hope this was the last issue 😅

[2022-03-26 19:16] #244 closed

[2022-03-27 07:33] jepiqueau commented on #239
@mpkasp Have you tested the new release 3.4.2-2?

[2022-03-27 10:52] tobiasmuecksch opened #245 "bug: Full ImportFromJson: DropTables Foreign Key constraint failed"
# Description

Let's say I start the app for the first time and create the database `products-db` with the following json.

Afterwards I restart the app (without changing the version number).
For some reason the `importFromJson` method ignores that the version is the same and try to replace the database (and the error below occurs).

Then, I increment the version number in the json by one and in t

[2022-03-27 12:09] jepiqueau commented on #245
@tobiasmuecksch thanks for your feedback. For the drop table, i thought i did put the foreign key constraints off but i should lost it in between two releases. for the import you right i am not checking the version, so i have to do it. i do not think it is a good idea to throw an error as when you test your app you will have to increase the version number each time which for me is stupid. the vers

[2022-03-27 15:58] mpkasp commented on #239
Tested and works for me now, thank you @jepiqueau !

[2022-03-27 15:58] #239 closed

[2022-03-28 06:54] comniemeer commented on #215
Had the exact same issue in a work project where log messages were inserted into the database at the same time as other queries were run.

Just to be clear: Has this method without transactions enabled any downside? From your comments in the issue here I can't see anything related to this question.

And could you include the solution somewhere in the documentation so others will find this easier?

[2022-03-28 14:44] mobilemarines commented on #195
@jepiqueau Alright, then we need to take care of that on our own. Thanks for your help.

[2022-03-28 19:53] aaronksaunders opened #246 "Errors When Installing SQLiteHook"
**Describe the bug**
Error when installing sqlite hook

**To Reproduce**
Steps to reproduce the behavior:

`npm i --save-dev react-sqlite-hook@latest`

**Expected behavior**
no errors

[code]

[2022-03-29 06:28] jepiqueau commented on #246
@aaronksaunders fix in `react-sqlite-hook`release 2.1.7

[2022-03-29 09:01] ChefKochNut commented on #154
Hi @jepiqueau ! sorry for the delayed answer. Got busy with some other tasks and just had the time to try it out.

So i upgraded to version 3.4.1 and added the settings to capacitor.config described in [here](https://github.com/capacitor-community/sqlite/blob/master/docs/Biometric-Authentication.md).
I get asked for fingerprint and all works pretty fine. Thanks! :)

The current error i am facing t

[2022-03-29 13:10] jepiqueau commented on #245
@tobiasmuecksch i am still working in.

[2022-03-29 13:13] tobiasmuecksch commented on #245
All good! Thank you for the effort you put into this plugin and your friendly support! 😃

[2022-03-29 13:15] jepiqueau commented on #154
@ChefKochNut Can you share your code?

[2022-03-29 13:29] ChefKochNut commented on #154
@jepiqueau some parts for sure, yes. I just cut out some unnecessary parts.

My custom function "initDb()" does the following:
`
const initDb = async (): Promise<void> => {
  if (!isPlatform("capacitor")) return;

  await CapacitorSQLite.checkConnectionsConsistency({ dbNames: ["DBNAME"] });
  const sqliteConnection = new SQLiteConnection(CapacitorSQLite);

  if (!(await sqliteConnection.isDatabase

[2022-03-29 13:50] jepiqueau commented on #245
@tobiasmuecksch i updated the jeep-sqlite accordingly so if you can test the Web part and tell me if it works.

[2022-03-29 14:24] tobiasmuecksch opened #247 "bug: `deleteDatabase()` does not work"
**Describe the bug**
I wanted to delete a database called `product-db` but it didn't work.
[The documentation](https://github.com/capacitor-community/sqlite/blob/master/docs/API.md#deletedatabase) is not very informative about deleting databases.

At first I saw this error:
[code]

I was a little confused, why I need a connection for that, but I created a connection. The connection itself does not

[2022-03-29 14:46] tobiasmuecksch commented on #247
I tested it on iOS, and it doesn't work there too.

[2022-03-30 05:19] jepiqueau commented on #246
@aaronksaunders feel free to close the issue when tested

[2022-03-30 05:20] jepiqueau commented on #240
@austin92jus Any progress on your side?

[2022-03-30 15:42] pkzOR commented on #211
@jepiqueau  I've confirmed that under Electron, the db is created in the expected location. It will be awhile before iOS and Android builds are running in our build environment, so for now, I consider this issue as being resolved.

Thanks for you efforts.

[2022-03-30 16:00] #246 closed

[2022-03-30 17:54] austin92jus commented on #240
yes i'm trying to reproduce the issues and debug

[2022-03-30 18:35] jepiqueau commented on #245
@tobiasmuecksch fix in 3.4.2-3
🚨 Since release 3.4.2-3 ->> 🚨

 - **overwrite** boolean parameter has been added to the Json Object (default false)
   - `true` : delete the physically the database whatever the version is.
   - `false`:
      - re-importing a database with the same `version` number will do nothing, keeping the existing database and will return `changes = 0`
      - re-importing a da

[2022-03-31 05:39] jepiqueau commented on #211
@pkzOR OK thanks so i will close the issue from now on. Feel free to re-open it if require. Good luck with your development

[2022-03-31 05:39] #211 closed

[2022-03-31 06:14] tobiasmuecksch commented on #245
Seems to work as expected. Thank you for your awesome work!

[2022-03-31 06:14] #245 closed

[2022-03-31 07:33] jepiqueau commented on #247
@tobiasmuecksch for me it works fine.
[code]
So i close the issue

[2022-03-31 07:33] #247 closed

[2022-03-31 07:46] jepiqueau commented on #154
@ChefKochNut Can you try
[code]

[2022-03-31 09:00] tobiasmuecksch commented on #247
You are right. It works with this code.

The problem is, that this method is not documented in the DB Connection Wrapper documentation.

https://github.com/capacitor-community/sqlite/blob/master/docs/APIConnection.md

[2022-03-31 10:20] ChefKochNut commented on #154
@jepiqueau i did. Result of it is false

[2022-03-31 10:42] jepiqueau commented on #154
@ChefKochNut Yes that normal has there is no connection yet returning true means that your connection is there and consistent

[2022-03-31 10:55] ChefKochNut commented on #154
@jepiqueau alright. But my general workflow is fine so far? In detail i mean:
when no db exist using first setEncryptionSecret to set a secret and then createConnection function to create a new db. We were not sure if we even need setEncryptionSecret when we use biometrics.
Or would you recommend another approach or something?

[2022-03-31 11:11] jepiqueau commented on #154
@ChefKochNut If you do not use encrypted database you do not need to use neither setEncryptionSecret or biometrics. If you use encrypted database you must setEncryptionSecret first before creating any database and then you can also use biometrics.

[2022-03-31 13:04] ChefKochNut commented on #154
@jepiqueau so should be fine then. No db exists. I want to create one with encryption so i call **_SetEncryptionSecret_** first before i call **_createConnection_**.
Maybe it makes a difference because i call the **_createConnection_** function from typeorm?

[2022-03-31 13:29] CSVerbeek commented on #233
@jepiqueau Thanks for implementing. It works. I'll close the issue.

[2022-03-31 13:29] #233 closed

[2022-03-31 14:16] jepiqueau commented on #233
@CSVerbeek 👍

[2022-03-31 14:18] jepiqueau commented on #154
@ChefKochNut should be fine tell me if it works and close the issue if it is

[2022-04-01 06:11] ChefKochNut commented on #154
@jepiqueau i still get the error

`Uncaught (in promise) Error: SetEncryptionSecret: Attempt to invoke virtual method 'void com.getcapacitor.community.database.sqlite.SQLite.UtilsSecret.setEncryptionSecret(java.lang.String)' on a null object reference`

when calling _setEncryptionSecret_ function.

sorry if it didnt come through in my last message

[2022-04-01 06:24] jepiqueau commented on #154
@ChefKochNut can you make a small app that you can share so i can have a look on my own. May be it is due to the typeOrm driver

[2022-04-01 08:37] ChefKochNut commented on #154
@jepiqueau here you go: https://github.com/ChefKochNut/testapp

[2022-04-01 10:01] jepiqueau commented on #154
@ChefKochNut i clone it update the JDK to version 11 and it works fine

[2022-04-01 12:26] jepiqueau commented on #154
@ChefKochNut To be more compliant with the latest release of typeOrm i have done this
[code]
and it still working fine
I cannot do more so tell me when it works on your side

[2022-04-01 12:34] ChefKochNut commented on #154
@jepiqueau thanks a lot already for all the help! Might not be able today to try anything more since its almost the weekend. But i will get back at you as soon as i found out. From what you are writing i recon its a version problem for sure.

[2022-04-01 12:47] jepiqueau commented on #154
@ChefKochNut  Ok, good luck and have a good weekend

[2022-04-01 12:49] ChefKochNut commented on #154
@jepiqueau you too!

[2022-04-02 18:59] jepiqueau commented on #195
@medida @mobilemarines this has been fixed in 3.4.2-5

[2022-04-04 08:04] medida commented on #195
thanks - I'll try it out when i next work on that project :)

[2022-04-04 08:15] dodo-sofranko opened #248 "saving database to storage - ANDROID"
**Describe the bug**
HI, at first, thanks for your work.
I am new to IONIC, and I am not sure how to save created sql database to storage of android.
I sucessfully created database and imported data from json api.
Also loading data from database works correctly, but is stored only for one session.
Somewhere I read that db.close() should store data automatically or I neet something more?
Thanks for

[2022-04-04 09:41] jepiqueau commented on #248
@dodo-sofranko Are you talking Web app or Android App? in Android the database is automatically created under the  `data/data/YOUR_PACKAGE/databases`. and it is there when you re-open the app except if you have delete it. You are mixing with the Web plugin where here you need to `db.close()` or `db.saveToStore()`to save the in-memory database to the store

[2022-04-04 14:10] dodo-sofranko commented on #248
@jepiqueau thanks for confirmation that it should work this way. I finally found typo which caused that.
Thanks again for your work

[2022-04-04 14:10] #248 closed

[2022-04-06 09:27] jfrmm opened #250 "Partially import JSON data without specifiying AUTOINCREMENT ids"
Hello!

I don't know if this is a bug or just a feature that would need developing: I'm doing a partial JSON import, and I would like to import the data, without having to specify the ID field, so that it would auto-increment.

So, I would have this table
[code]

and would import this dataset

[code]

I don't know if this is supported already, and it's just me not being able to use the plugin prop

[2022-04-07 13:33] jfrmm commented on #250
Thank you for your feedback!

[2022-04-07 13:33] #250 closed

[2022-04-09 05:46] jepiqueau commented on #231
@petterbergman this has been fixed in 3.4.2 the trigger has to be changed see doc ImportExportJson.md and a method has been added in the update to only update if there is a changé of data

[2022-04-10 14:14] Sampath-Lokuge commented on #237
Hi @jepiqueau

Do you have any solution/workaround to handle the below use case? Thanks!

[2022-04-10 21:07] jepiqueau commented on #237
@Sampath-Lokuge this has to be developed.

[2022-04-11 03:38] Sampath-Lokuge commented on #237
Ok sure. Please let us know after you'll develop it. Thanks!

[2022-04-11 04:03] Sampath-Lokuge opened #251 "Help: Handle BLOB images with Export To JSON workflow"
Hi,

I store images like so on the Sqlite table and all are working fine.

`  Image BLOB NULL,`

But I have an issue with the `Export To JSON` workflow. i.e. since that blob size is around 4MB I cannot use it to send API due to its huge size. I use Firebase Storage for the images on online-only apps. But since this is an offline-first app how to handle this kind of issue? Thanks!

**Note:** Here I

[2022-04-11 08:08] Sampath-Lokuge opened #252 "How to enable failed sync data for next `exportToJson` workflow"
Hi,

I have used `exportToJson` workflow like so and all are working fine. i.e. I need `partial` use case here. But I have a question here. Let's say the API update fails for a 1 record. Then how can I inform the `exportToJson` workflow to show that record on that table again for the next `exportToJson()` workflow too?

Now if I'll use the below code then it doesn't show any previous failed once.

[2022-04-11 08:53] jepiqueau commented on #251
@Sampath-Lokuge No idea except to split your export in several partial exports.

[2022-04-11 09:07] jepiqueau commented on #252
@Sampath-Lokuge It is certainly interesting to put all this questions on the table. You should also propose  some process solutions to answer these questions. If what is on the table is not good enough for your needs you can still write your own synchronization process by using in your app standard SQL queries. I cannot look on any directions. If the API failed to update a record, the transaction

[2022-04-11 13:45] Sampath-Lokuge commented on #252
I think where I have not given clear information here. Here API means backend API where I need to send this exported data. i.e. not the plugin's API.

My question is this. If I'll need to enable one record for the next `exportToJson()` cycle due to some issue on the backend API failer then how can I do that? Now I cannot see any way to do that. Can you tell me how have you set it all done after ru

[2022-04-11 13:48] Sampath-Lokuge commented on #251
Ok sure, I'll use 1 backend API call per record. Since my app regularly/automatically uploads the records to the API/Database where it'll have very less records per session.  Thanks!

[2022-04-11 13:48] #251 closed

[2022-04-11 14:14] jepiqueau commented on #251
@Sampath-Lokuge 👌

[2022-04-12 07:07] CosminCraciun opened #253 "createSyncTable: No last_modified column in tables"
**Describe the bug**
Android and Electron fails when calling db.createSyncTable() on an empty database.

Error: Error invoking remote method 'CapacitorSQLite-createSyncTable': createSyncTable: No last_modified column in tables

Seems to be related to commit https://github.com/capacitor-community/sqlite/commit/5176a13e2366942ff54b0f70fa18e6fd1b0aa241

Web not affected.

**To Reproduce**
Steps to re

[2022-04-12 10:37] jepiqueau commented on #253
@CosminCraciun thanks but this is the normal behaviour. To create the sync table you must have the database created with tables having a last_modified colum.  This is mandatory i am currently implementing a sql-deleted  column for synchronisation and i will use this to decide if it is a pure SQLite DELETE (no synchronisation) or an UPDATE  with the sql_deleted set to 1.
So change your app accordin

[2022-04-12 11:01] CosminCraciun commented on #253
I understand.
One thing to mention: the error is not thrown in the Web version

Thanks for the quick reply

[2022-04-12 11:01] #253 closed

[2022-04-13 20:08] tobiasmuecksch opened #254 "bug: cannot create tables with standard sql statements"
**Describe the bug**
I'm trying to create tables with standard sql statements as described in the documentation.
But sqlite responds with `{changes: {changes: 0}}` and the table is not created. There is no exception thrown.

When I try to read or write to the table, an exception is thrown stating, that the table does not exist.

[code]

**To Reproduce**

[code]

**Expected behavior**
The table sho

[2022-04-14 03:54] Sampath-Lokuge commented on #254
This is how I have created a table and all are working fine for me:

[code]

` this.sqliteDbConnection` -

This is my `SQLiteDBConnection`.

[2022-04-14 03:57] Sampath-Lokuge commented on #252
Hi @jepiqueau

Do we have any way/method to inform `exportToJson()` where we have an issue with one record and please regenerate that record again for the next `exportToJson()` workflow? Your thoughts? Thanks!

[2022-04-14 06:10] jepiqueau commented on #252
@Sampath-Lokuge exportToJson is browsing the database fully or partially  with standard SQL queries and lords the query results in a Json object. So i do not understand how you can have a problem with one record. You should give example. If you have a problem with one record meaning that the database data are wrong you could mak
- a partial import for that record to update it
- use a standard sql

[2022-04-14 06:12] jepiqueau commented on #254
@tobiasmuecksch Are you using the Web part of the plugin?

[2022-04-14 06:27] Sampath-Lokuge commented on #252
My question here is not about that workflow.

If I'll need to enable one record for the next `exportToJson()` cycle due to some issue on the backend API failer due to no internet or else then how can I do that? Now I cannot see any way to do that.

**e.g.**

`exportToJson()` will give 5 records to send backend API of mine. Here all the records are fine and no issues there. Lets' say due to an inte

[2022-04-14 06:38] tobiasmuecksch commented on #254
@jepiqueau Yes. With `jeep-sqlite` and so on.

[2022-04-14 06:39] jepiqueau commented on #254
@tobiasmuecksch Can you share your project on github. As your `query` statement contains only the table schema it is correct that the returned res is `{changes: {changes: 0}}` if its failed it would have been ` {changes: {changes: -1}}`.
if you do the following after executing the query

[code]
it should return
[code]

[2022-04-14 06:42] tobiasmuecksch commented on #254
@jepiqueau I'll create a demo specifically for this problem in the next hours.

[2022-04-14 06:42] jepiqueau commented on #254
@tobiasmuecksch it should come from your setup. i test it this morning with Safari Version 15.3 (17612.4.9.1.8) and as foreseen i do not have any issue. Which framework are you using?

[2022-04-14 06:45] jepiqueau commented on #254
@tobiasmuecksch i just saw that you are using Safari 15.4, i did not have it install yet

[2022-04-14 06:46] tobiasmuecksch commented on #254
I'm working with Ionic & Angular. This is the repo I'm working in (https://github.com/tobiasmuecksch/capacitor-sqlite-angular). You should know it, since you already helped me with getting sqlite to work in the browser.

It does not contain the code for the reproduction yet. I'll let you know, when I have finished.

[2022-04-14 06:48] tobiasmuecksch commented on #254
I've just tested it in Chrome 100 and the error is there too.

[2022-04-14 06:53] jepiqueau commented on #254
@tobiasmuecksch that is what i was just thinking suggesting. So it is not due to Safari 15.4

[2022-04-14 06:58] tobiasmuecksch commented on #254
@jepiqueau While creating the demo code, I found the problem:

I haven't closed the connection after creating the table. I've reused the same connection to run a select query.

Do I have to close the connection after every query? Are there any rules on when I have to close db connections?

[2022-04-14 07:19] jepiqueau commented on #254
@tobiasmuecksch No you should not but for web you have a `saveToStore` method which save the `in-memory` database to store that you can use at your discretion
[code]
When you use the `db.close()` or the `sqlite.closeConnection("db_tab3")`  this is done automatically.

my test code is:
[code]
with
[code]
Hope this clarify

[2022-04-14 07:23] jepiqueau commented on #254
@tobiasmuecksch  in my code above you can replace
[code]
by
[code]
and continue working with the open connection

[2022-04-14 07:32] tobiasmuecksch commented on #254
@jepiqueau Do I have to call the `.saveToStore()` method after ever query which creates or changes data?

[2022-04-14 07:44] jepiqueau commented on #254
@tobiasmuecksch It is not mandatory, you can do it  at your discretion when the database got quite a number of changes and that if there is a crash of the browser or the app these changes would have already been stored in localforage store

[2022-04-14 07:47] tobiasmuecksch commented on #254
Allright. Thank you so much, for your awesome support!

Just one more question. If I would never call this method, does the plugin automatically save the data to the store from time to time?

[2022-04-14 08:04] jepiqueau commented on #254
@tobiasmuecksch No, it is only call automatically when you close the db or the connection

[2022-04-14 08:05] tobiasmuecksch commented on #254
Good to know! Thank you very much.

[2022-04-14 08:05] #254 closed

[2022-04-14 10:08] jepiqueau commented on #252
@Sampath-Lokuge now i understand your question. Your app has to manage to wait the success from your backend before to set the syncDate

[2022-04-14 10:31] jepiqueau commented on #237
@Sampath-Lokuge i am working on. I have nearly the iOS part working still have an issue when deleting an item which are others items reference to it in an other table. A new column sql_deleted equal to 0 or 1 will be added and if there is a sync table the DELETE statement will be change to UPDATE statement with the column sql_deleted set to 1

[2022-04-14 12:40] tobiasmuecksch opened #255 "bug: `npx cap sync @capacitor-community/electron` breaks configuration"
**Describe the bug**
As we already discussed in [this issue](https://github.com/capacitor-community/sqlite/issues/242) it is necessary to add some configuration to the `electron/capacitor.config.ts` file.

The problem is, that whenever I run `npx cap sync @capacitor-community/electron` it removes the `plugin` section completely. I am using this command frequently, and I wonder how to fix that?

**

[2022-04-14 14:03] Sampath-Lokuge commented on #252
I think that will not solve my issue hence I need to do this only for 1 or 2 records. i.e. not for all.

What about this kind of workflow here?

Hence I'll need to do this only for a few known records what if I'll update the `last_modified` date of that record a few hours ahead of the SyncDate? Then I think that record will available for the next `exportToJson()` workflow no?

[2022-04-14 14:06] Sampath-Lokuge commented on #237
This is great news. Please let us know after you'll fully complete this for both native platforms. Good luck!

[2022-04-15 07:36] jepiqueau commented on #255
@tobiasmuecksch You must put
[code]
in the `capacitor.config.ts` file of your app then this file will be automatically copied to the electron folder when you use the standard process
[code]
Look at the different app starter
Voilà Good development

[2022-04-15 07:55] tobiasmuecksch commented on #255
Well, that's embarrassing. I haven't even realized that this file synchronized from the app's root folder to electron.

Thanks!

[2022-04-15 07:55] #255 closed

[2022-04-15 08:13] jepiqueau commented on #255
@tobiasmuecksch 👍may be if you have sometimes you could make a PR to improve the documentation so others could benefit from all these discussions  and have a better and easy start. For myself i try to concentrate on development and fixes

[2022-04-15 11:37] tobiasmuecksch commented on #255
@jepiqueau Sure. I'm already thinking about how the documentation could be improved 😊

[2022-04-15 14:36] jepiqueau commented on #255
@tobiasmuecksch 👍👏

[2022-04-15 17:16] Sampath-Lokuge opened #256 "Bug: ExportToJson: return Obj is not a JsonSQLite Obj - prod build only"
Hi,

I set Syncdate like so:
[code]
I set `last_modified` like so:

` last_modified INTEGER NOT NULL,`

[code]

But still, it says like so:

[code]

My workflow:

1. init

[code]

The above will run only once for the app life

2. Each and every transaction where I update the `last_modified` like so on the above. i.e. ` dayjs().unix(),`

3. At the end of the `exportToJson` where I update the Sync d

[2022-04-17 08:45] tobiasmuecksch opened #257 "Documentation improvements"
In this issue, I want to collect topics and improvements for the documentation.

- Simplified getting started with platform specific hints
- Simplified ["Singleton service"](https://github.com/capacitor-community/sqlite/blob/master/docs/Ionic-Angular-Usage.md) with better readability
- Platform specific quirks and hints
    - e.g. on `electron` we have to call `saveToStore` programmatically. `clos

[2022-04-17 08:48] tobiasmuecksch commented on #257
Issues to consider for information gathering:

- https://github.com/capacitor-community/sqlite/issues/255
- https://github.com/capacitor-community/sqlite/issues/254
- https://github.com/capacitor-community/sqlite/issues/247
- https://github.com/capacitor-community/sqlite/issues/244
- https://github.com/capacitor-community/sqlite/issues/242
- https://github.com/capacitor-community/sqlite/issues/241

[2022-04-17 08:56] tobiasmuecksch commented on #257
@jepiqueau Could you give me some explanation for this question?

[2022-04-17 11:15] tobiasmuecksch opened #258 "bug: Simultaneous write operations broken on `web` and `electron`"
**Describe the bug**
I'm working on a chat app. That means, that my app receives events asynchronously. For example such an event could be a new message.

It happens pretty often, that multiple messages are received at the same time, which means that the app tries to add multiple messages at the same time to the database. On `Android` that works perfectly fine. But on `iOS` `web` and `electron` it

[2022-04-18 03:39] Priyansu431 commented on #196
Thanks, It's worked for me... :)

[2022-04-18 09:15] jepiqueau commented on #258
@tobiasmuecksch you must do it with the await to make sure that the transaction is completed  or add them to a queue that you execute within the same transaction

[2022-04-18 09:17] jepiqueau commented on #258
@tobiasmuecksch when you insertion an item avoid to open each time the db test if it is open and if not open it that slow down the process

[2022-04-18 09:24] jepiqueau commented on #257
@tobiasmuecksch
Query is for select statement
Execute is for executing  a set of raw statement given in a string.
Run is for executing one raw statement Insert, Update, Delete with given values meaning that you prépare the statement and bind the values if any
ExecuteSet is to run on or more raw statements and bind them with values or an array of values .
Hope this clarify

[2022-04-18 09:28] jepiqueau commented on #257
@tobiasmuecksch on Electron you do not need to use saveToStore. This is only for the Web platform

[2022-04-18 09:53] tobiasmuecksch commented on #258
@jepiqueau Thanks for the hint. In fact my `openDB` method checks if there already is a connection, and re-uses it.

[2022-04-18 10:01] tobiasmuecksch commented on #258
Hm. That's not how I'd expect a database to work. No database I have ever worked with, required the developer to take care of execution locks and/or queues.

As I already explained, data is added to the database as a reaction to asynchronous events which are triggered by the sever via web-socket. Therefore `await` does not have any effect inside an event callback.

If I understand you right, I hav

[2022-04-18 10:07] tobiasmuecksch commented on #257
My bad. I fixed the issue description.

[2022-04-18 14:09] Sampath-Lokuge commented on #256
Any feedback here?

[2022-04-18 16:26] jepiqueau commented on #256
@Sampath-Lokuge i did not look at it yet. I was and still is working on the implementation of the delete process whick take me a lot of time

[2022-04-18 16:39] Sampath-Lokuge commented on #256
Hi @jepiqueau

Ok sure. It would be great if you'll find out some time to see this issue hence this is an issue of an already existing feature. i.e. delete workflow is a completely brand new feature. So on our side where we are completely blocked right now due to we cannot send our SQLite data to the API. So we'll highly appreciate it if you'll provide us with some advice/solutions here. Thanks in

[2022-04-19 05:40] jepiqueau commented on #256
@Sampath-Lokuge can you share your code

[2022-04-19 06:04] jepiqueau commented on #256
@Sampath-Lokuge if i do
```ionic build --prod```
or
```ng build --configuration production```
i got the following error at build time
[code]

[2022-04-19 06:13] jepiqueau commented on #258
@tobiasmuecksch can you test  executing this statement
[code]
after the db.open()
This must solve the issue

[2022-04-19 06:49] tobiasmuecksch commented on #258
I just tried that, and the following exception occurred:

[code]

[2022-04-19 07:22] jepiqueau commented on #258
@tobiasmuecksch just do your execute command with transaction to false

[2022-04-19 07:24] tobiasmuecksch commented on #258
Allright; I got rid of the exception with a little workaround.

<details>
<summary>Screenshot: Workaround Code</summary>
<img width="951" alt="Bildschirmfoto 2022-04-19 um 09 20 34" src="https://user-images.githubusercontent.com/1294854/163947954-301c1a49-fa60-4847-974e-c74aca4c847b.png">
</details>

On line 89 I'm querying and printing the `journal_mode` to make sure that it really is applied. An

[2022-04-19 07:29] tobiasmuecksch commented on #258
Ah, you are right. I overlooked that there is a `transaction` parameter on this method. I changed my code accordingly. The problem is still the same :(

<details>
<summary>Screenshot corrected code<summary>

<img width="924" alt="Bildschirmfoto 2022-04-19 um 09 27 11" src="https://user-images.githubusercontent.com/1294854/163949276-2f2a2e6d-45a9-4b64-8cb6-d7aec8f6d67e.png">

</details>

[2022-04-19 08:03] tobiasmuecksch commented on #258
@jepiqueau I've done some research and found out that there is a `wal2` mode.

Soruce: https://stackoverflow.com/a/54475279/1646019

I'm still testing it, but it seems to fix the issue.

If this really fixes the issue. Can you make it the default mode for all connections?

[2022-04-19 08:34] tobiasmuecksch commented on #258
On android, setting the `journal_mode` to `wal2` fails with this error:

[code]

[2022-04-19 08:41] tobiasmuecksch commented on #258
On `electron` changing to `wal2` does not fix the exception

![](https://user-images.githubusercontent.com/1294854/163711873-963c7a6c-3566-49bc-97ca-065912d24d31.png)

[2022-04-19 09:30] jepiqueau commented on #256
@Sampath-Lokuge You must not update the last_modified yourself.
A trigger can manage this for you .
This trigger is automatically created when you use an importFromJson which is not your case so when you create the Schema of your database add the creation of this trigger for each table:
[code]

[2022-04-19 09:32] jepiqueau commented on #256
@Sampath-Lokuge Your createExpense function is wrong you must have the same number of times ? than you have the number of given values

[2022-04-19 13:20] Sampath-Lokuge commented on #256
Hi @jepiqueau

All are working perfectly fine on all the use cases now. Thanks a lot.

It would be great if you'll update the doc with these things hence I was not able to find out these details anywhere on the doc.

[2022-04-19 13:20] #256 closed

[2022-04-19 14:33] jepiqueau commented on #256
@Sampath-Lokuge Sorry i come back on work.
i had change createExpense like this
[code]
and add the trigger and it is working fine.
Ok that this is working for you know
in fact i will modify the error message when the partial export does not return anything which in that case it was returning the message return Obj is not aJsonSQLite Obj

[2022-04-19 14:36] Sampath-Lokuge commented on #256
Yes, that is true. We would like to have a more meaningful error message in the context of the use case here.

[2022-04-19 15:04] Sampath-Lokuge opened #259 "Feat: Ionic/Angular app with TypeORM"
Hi,

Can we have a sample `Ionic/Angular` app with the `TypeORM` library? I think that will help a lot of devs who would like to use TypeORM with your plugin. Thanks!

https://typeorm.io/

[2022-04-19 17:01] tobiasmuecksch opened #260 "bug: electron db is not open although`.openDB()` runs without exception"
**Describe the bug**
In the constructor of my `app.component.ts` I'm calling a method which creates tables if they do not exist and then inserts some data.

Sometimes it happens that, although I have called `await dbConnection.open()` and `dbConnection.isDBOpen()` is returning `true` I see the following error:

<img width="1112" alt="Bildschirmfoto 2022-04-19 um 18 40 19" src="https://user-images.

[2022-04-19 18:38] jepiqueau commented on #258
@tobiasmuecksch
[code]

[2022-04-19 18:46] jepiqueau commented on #256
@Sampath-Lokuge you can have a look at [ionic-sqlite-256](https://github.com/jepiqueau/ionic-sqlite-256)

[2022-04-19 19:05] jepiqueau commented on #259
@Sampath-Lokuge You are asking far too much, you have to make your home work. There are developers working with TypeOrm and sqlite. There is a documentation available TypeORM-Usage.md and there is a vue typeorm example in https://github.com/jepiqueau and also a ionic angular app https://github.com/jepiqueau/ionic-sqlite

[2022-04-20 03:45] Sampath-Lokuge commented on #256
Sorry, I didn't get that. Is this for what?

[2022-04-20 03:51] jepiqueau commented on #256
@Sampath-Lokuge this is the app i develop to see the issue and where it was coming from

[2022-04-20 03:53] Sampath-Lokuge commented on #256
Ok sure. All are working fine now on my app too. Thanks a lot!

[2022-04-20 03:57] Sampath-Lokuge commented on #259
I use Ionic/Angular only. It seems you have not documented [this ](https://github.com/jepiqueau/ionic-sqlite) TypeORM sample app no?

[2022-04-20 05:06] jepiqueau commented on #260
@tobiasmuecksch i do not have the right to `git clone --branch electron-dbOpen-bug git@github.com:tobiasmuecksch/capacitor-sqlite-angular.git`

[2022-04-20 06:45] tobiasmuecksch commented on #260
@jepiqueau That's strange, because this is a public repository. Can you clone it without the branch tag and then switch to the branch?

[2022-04-20 08:15] jepiqueau commented on #260
@tobiasmuecksch i will have a look this evening now i am out travelling

[2022-04-20 10:31] #260 closed

[2022-04-20 10:39] tobiasmuecksch commented on #258
@jepiqueau as I already said, `WAL` does not fix the problem. Only `WAL2` does fix this problem for `ios` and `web`. `electron` automatically sets `WAL` instead of `WAL2`. So I still need a solution for `electron`.

What do you think about, making `wal2` the default pragma on `iOS` and `web` ?

[2022-04-20 12:25] tobiasmuecksch commented on #260
For future reference:

The first part of the problem was, that the `openDB()` method does **re-open a connection**, even if it is already open. That can result in **race-conditions**. Therefore the developer should manage the connections himself, and reuse open connections.

The second part of the problem was, that while `sqlite3` (the underlying sqlite package) is described to be a `non-blocking`

[2022-04-20 16:42] tobiasmuecksch commented on #258
@jepiqueau No need to hurry 😉

All right. I do understand. Since it's not possible to run simultaneous write operations anyways, what do you think about implementing a queue into the plugin? We could add a configuration variable with which developers can turn it off, if they want to.

[2022-04-21 06:31] tobiasmuecksch commented on #259
@Sampath-Lokuge I don't understand your problem. There is an example which will work in every framework here:

https://github.com/capacitor-community/sqlite/blob/master/docs/TypeORM-Usage.md

The documentation is not up-to-date because `createConnection()` is deprecated and you have to use `new DataSource()`. I've created a pull request, which should work with the latest version of typeorm.

You c

[2022-04-21 07:13] dragermrb opened #263 "Error on Upgrade Database Version, another table already exists"
Sometimes we have some problems updating the database schema.

At some point, one of the temporary tables has not been deleted and when you do the update again the table already exists and you cannot continue.

[code]

Is there a way to drop the temporary tables before starting the upgrade schema?

## Versions
[code]

[2022-04-21 07:26] tobiasmuecksch commented on #263
This might be a duplicate of issue #245

Could you please try the latest version `@capacitor-community/sqlite@3.4.2`?

[2022-04-21 07:29] Sampath-Lokuge opened #264 "Bug: Unable to insert multiple records at once (Bulk insertion)"
Hi,

I need to add bulk records at once. I have tried it like so:

[code]

But it gives exception like so:

[code]

This is Ionic/Angulat native app. Please let me know what is the issue here. Thanks!

[2022-04-21 07:30] jepiqueau commented on #259
@tobiasmuecksch @Sampath-Lokuge i knowall this guys i have less time to give to development those days but it will come. I like the way Tobias works asking and making PR's as he contributes to the improvment of the plugin. I am in the middle of the implementation of the delete command as requested   by @Sampath-Lokuge so i will see how and when to do the merge. You can have a look at vue-typeorm-a

[2022-04-21 07:38] tobiasmuecksch commented on #264
@Sampath-Lokuge You are using it wrong. The correct implementation would look more like this:

[code]

[2022-04-21 08:24] dragermrb commented on #263
Hi!

I think it is not the same issue. In my case we are not using `ImportFromJson` and I don't see any significant changes between versions 3.0.4 and 3.4.2 (https://github.com/capacitor-community/sqlite/compare/v3.4.0...master) for the files:

`android/src/main/java/com/getcapacitor/community/database/sqlite/SQLite/UtilsDrop.java`
`android/src/main/java/com/getcapacitor/community/database/sqlite/

[2022-04-21 08:37] dragermrb commented on #263
I'm going to try version 3.4.2, but we don't know when the error actually occurs and it's hard to reproduce.

[2022-04-21 08:43] tobiasmuecksch commented on #263
What exactly are the changes you're proposing? Could you please explain with a few words what you did in the code above?

[2022-04-21 08:51] Sampath-Lokuge commented on #264
Hi,

I have tried like so. But it is not working. Please let me know this issue here.

[code]

![1](https://user-images.githubusercontent.com/5206526/164417707-33d38074-c730-4621-8e49-b2467c0da59a.png)

![2](https://user-images.githubusercontent.com/5206526/164417735-b4e2d97a-6e2d-45ae-81f3-3db30131c633.png)

![3](https://user-images.githubusercontent.com/5206526/164417759-f32a2998-b40c-4d31-a5f5-

[2022-04-21 08:58] dragermrb commented on #263
Hi!

The idea is to drop the temporary table if it exists before renaming the real table.

For example, if we have the `messages` table, the `backupTable()` method takes care of the following:

1. Delete the `_temp_messages` table if it exists (This is the correction that I propose in the previous code)
2. Rename the `messages` table in `_temp_messages`

I can make a PR if you prefer

[2022-04-21 09:00] tobiasmuecksch commented on #264
The issue is, that you are still using it wrong. Please have a close look at the documentation for [`executeSet()`](https://github.com/capacitor-community/sqlite/blob/master/docs/APIDBConnection.md#executeset) and [`capSQLiteSet`](https://github.com/capacitor-community/sqlite/blob/master/docs/APIDBConnection.md#capsqliteset).

It should work like this:

[code]

[2022-04-21 09:06] tobiasmuecksch commented on #263
Thanks for your clarification. I'm just confused, that this is necessary, as this should already be handled in this line.

https://github.com/capacitor-community/sqlite/blob/83c7e134f8c5d3c86d9e59c1c3ecbf581f28bbfe/android/src/main/java/com/getcapacitor/community/database/sqlite/SQLite/UtilsUpgrade.java#L155

[2022-04-21 09:11] Sampath-Lokuge commented on #264
Hi @tobiasmuecksch

Ok sure. All are working fine now. Thanks a lot for the support.

[2022-04-21 09:40] tobiasmuecksch commented on #263
Have you seen such an error? If yes, could you post it here? It would help to understand what exactly is happening.

[2022-04-21 10:01] dragermrb commented on #263
We have not been able to see the error directly. We have an application with many users and on some occasions we find the initial error of this issue ("_another table already exists_").

We use rollbar (https://rollbar.com/) to access the error reports, but we don't have the original error, just the "_another table already exists_" error.

[2022-04-21 10:31] tobiasmuecksch commented on #263
Maybe @jepiqueau has an idea, where this issue could come from?

@dragermrb I think as a temporary workaround, you could run `"DROP TABLE IF EXISTS _temp_" + table + ";"`  in your code, before triggering the upgrade.

[2022-04-21 10:41] dragermrb commented on #263
How? `UtilsUpgrade.onUpgrade()` is executed inside `db.open()` and I can't execute querys before open db.

[2022-04-21 10:49] tobiasmuecksch commented on #263
Ah yes, your are right. Sorry for that.

[2022-04-21 12:59] jepiqueau commented on #263
@dragermrb thanks for using the plugin, if there is `_temp_YOURTABLENAME` already existing means that one of the previous upgrade did not complete successfully. So adding a finally block like you suggest is correct in Android i will have to see how defer works in swift i never use it. Any how if will have also to add a drop all `_temp_*` at the beginning of the process.
@tobiasmuecksch thanks for

[2022-04-21 15:44] dragermrb commented on #263
@jepiqueau I'm not sure if a finally block is a good idea. I can find some situations where it can be problematic (it will work for my app, but not in a general way). For example:

- Upgrade begins
- Rename `messages` table to `_temp_messages`
- Some errors occurs
- Finally block delete `_temp_message` so the *user lost all data*

I think we need another approach like use transactions to upgrade t

[2022-04-22 16:34] jepiqueau commented on #263
@dragermrb Did you test the 3.4.3-1 and if it works can you close the issue

[2022-04-23 09:03] dragermrb commented on #263
Hi @jepiqueau

It works for my app, thanks for the fast patch.

I will close this issue, but did you view my last comment? https://github.com/capacitor-community/sqlite/issues/263#issuecomment-1105399035

[2022-04-23 09:03] #263 closed

[2022-04-23 15:15] jepiqueau commented on #263
@dragermrb i saw your comment but i am so concentrate on the delete process that i forgot to answer. Yes it would be interesting that you develop your idea.if you think it is a big change i may need some help to implement it . So let see what you have and we will discuss it later. May be @tobiasmuecksch  could also have a look at it and comment. The plugin start to be big and it becomes difficult

[2022-04-23 20:34] tobiasmuecksch commented on #263
Sure I will help where I can 😊👍

[2022-04-28 15:25] jepiqueau commented on #237
@Sampath-Lokuge This has been implemented in 3.4.3-2 for Web, iOS and Android. You can have a look to ([solidjs-vite-sqlite-app](https://github.com/jepiqueau/capacitor-solid-sqlite)) which i have used for implementation and testing.

[2022-04-28 15:27] jepiqueau commented on #240
@austin92jus Any progress on this otherwise i will close the issue

[2022-04-28 15:30] jepiqueau commented on #259
@Sampath-Lokuge Did you make some progress on this. I still have to do the delete process for Electron platform before looking at this if it is still required.

[2022-04-28 15:48] Sampath-Lokuge commented on #237
Hi @jepiqueau

Actually, I'm an Ionic/Angular developer only. So I hope you'll do the same for the Ionic/Angular repo too. Thanks!

[2022-04-29 03:14] austin92jus commented on #240
@jepiqueau thank you for your reply.. now its working fine

[2022-05-02 11:31] MonicaExplan opened #265 "executeSet return capSQLiteChanges Changes.changes not equal to the statement in array"
Hi,
I'm using executeSet to execute a set of "insert on conflict update" statement.
My statement are 57 butwhen I execute the executeSet statement:

- the first execution return Changes.changes 60
- the second one return Changes.changes 114
I expected Changes.changes return the number of statement I pass in.
So, what does Changes.changes mean in executeSet?
The Changes.changes number what is refer

[2022-05-03 04:53] jepiqueau commented on #265
@MonicaExplan it is difficult to answer without having more details on the state of the database and the executeSet statement. The changes number is not tje number of statements executed but it is the number of changes in the database made by the set of statements.

[2022-05-03 07:58] tobiasmuecksch commented on #265
@jepiqueau I'm not sure I understand your explanation. Let's say I  this is my Database:

**Database scheme**
user(userId, name, email, country)

**Already in the database**
user(1, Peter, peter@email.com, france)

Then I'm running this:
`REPLACE INTO user (userId, name, email, country) VALUES(1, 'Maria', `marina@email.com`, 'france');`

Will this return the count of changed column values (in this

[2022-05-03 08:21] MonicaExplan commented on #265
@jepiqueau

You have write:
"The changes number is not tje number of statements executed but it is the number of changes in the database made by the set of statements."

Briefly:
- there are already 3 records in table sites
- I prepare an array named "executionSet" with the statement below foreach of my sites (number 57)
`INSERT INTO sites (syncId, code, name, address, city, province, country, zip

[2022-05-04 06:02] jepiqueau commented on #265
@tobiasmuecksch a REPLACE will return changes.changes = 1

[2022-05-04 06:08] jepiqueau commented on #265
@MonicaExplan I am looking at it this type of statement which was never test so i cannot anticipate the behavior of the plugin. I assume excluded.code, excluded.name ...  are some default values. Are these values the same for all your sites. I do not see the values given for the ?,?,...
Can you provide the detailed complete code of that executeSet

[2022-05-04 07:41] MonicaExplan commented on #265
@jepiqueau
I'm using this SQLite statement
https://www.sqlite.org/lang_UPSERT.html

**1. About "excluded"**
In the link above you can read this explanationa about excluded
"Column names in the expressions of a DO UPDATE refer to the original unchanged value of the column, before the attempted INSERT. To use the value that would have been inserted had the constraint not failed, add the special "exc

[2022-05-04 08:35] jepiqueau commented on #265
@MonicaExplan
I made the following example
i start with 6 users in my deb
[code]
the code is:
[code]
so the changes is 5:  2 update and 3 insert  and the lastId = 13 : 10 prior the executeSet + 3 new in executeSet

the result in the database is
[code]
i got the same result if transaction is false

So for me there is no issue

[2022-05-04 09:02] jepiqueau commented on #237
@Sampath-Lokuge This has been implemented in 3.4.3-3 for Electron. I will close the issue

[2022-05-04 09:02] #237 closed

[2022-05-04 09:09] jepiqueau commented on #252
@Sampath-Lokuge Well you can do this it will make the job you do not need to wait hours, you can create a delay function
[code]
 await delay(2, 'before updating last_modified on few records');
and now you call your function to update the last_modified on few records
Voilà

[2022-05-04 09:09] #252 closed

[2022-05-04 09:26] jepiqueau commented on #265
@MonicaExplan Thanks for your explanation, i will make a new test

[2022-05-04 10:18] MonicaExplan commented on #265
@jepiqueau
I've tried your test and seems ok...maybe something wrong in my version or package.json?!

### furthermore sqlite_sequence table increase seq value
I don't have experience if the table sqlite_sequence is managed by SQLite Manager or is about this capacitor sqlite plugin.
If so, the seq value increase even if NO insert are made.
If I run executeSet more then one time on the same resul se

[2022-05-04 14:04] jepiqueau commented on #265
@MonicaExplan
i did the following test:
[code]

which is similar to what you do
the first executeSet with two sites returns
``` changes.change = 2 & changes.lastId = 2 ```
the second execSet with seven sites including the two of the first executeSet returns
``` changes.changes = 7 & changes.lastId = 9 ```
if i look at the database
the id 3 & 4 does not exist.
so what i understand is that SQLite (n

[2022-05-04 15:42] #265 closed

[2022-05-05 15:15] jepiqueau commented on #237
@Sampath-Lokuge You can now find a Ionic/Angular app implementing the change [angular-sqlite-synchronize-app](https://github.com/jepiqueau/angular-sqlite-synchronize-app). Hope you will enjoy it

[2022-05-05 15:16] Sampath-Lokuge commented on #237
Great! I'll see that. Thanks!

[2022-05-05 15:21] jepiqueau commented on #257
@tobiasmuecksch i just issue a new Ionic/Angular  app demonstrating how to use the @capacitor-community/sqlite plugin to synchronize with a remote server database by using the import & export of Json Object. The deleted rows are now well managed. Look at [angular-sqlite-synchronize-app](https://github.com/jepiqueau/angular-sqlite-synchronize-app), hope this will clarify

[2022-05-06 09:55] richardliebmann opened #266 "Android: Support binary data for insert/update and query"
**Is your feature request related to a problem? Please describe.**
We are trying to insert binary data into the SQLite database. It's not best practice, but we'd like to have everything together in the database. We are currently only developing a solution for Android, so it has not been tested on other platforms.

There are several issues we have identified:

- TypedArrays are not supported by Cap

[2022-05-06 20:03] felipecarrillo100 commented on #266
You can use SQL syntax to upload binary data a hexadecimal string,   for this convert you binary array to a hexadecimal string and then use  X'' to indicated the string is hexadecimal data

Here an example:
// data: ArrayBuffer;

    const sql = "INSERT OR REPLACE INTO images (id, img) VALUES( ?, X'"+ buf2hex(data) +"')" ;

Here an implementation of how to implement buf2hex

function buf2hex(buffe

[2022-05-06 20:16] felipecarrillo100 opened #268 "Not installing with new new capacitor/core"
**Describe the bug**
Recently a new ionic  capacitor core was published.
When I do

npm install @capacitor-community/sqlite it fails

**To Reproduce**
Install latest ionic

1. Use ionic start to create a new project,  this will install the latest core
    "@capacitor/core": "3.5.1",
2. Install latest version of  sqlite plugin
npm install @capacitor-community/sqlite

**Expected behavior**
npm insta

[2022-05-07 05:07] jepiqueau commented on #266
@felipecarrillo100 thanks for your smart answer. This allows to use the plugin as it is. @richardliebmann is that suggestion solve your issue.

[2022-05-07 05:13] jepiqueau commented on #268
@felipecarrillo100 this is right you have to downgrade to capacitor 3.4.3. I usually works with the previous release of capacitor to allow for bug fixes. Here i am 2 releases behind as i worked  on the delete implementation for synchronisation  which had a huge impact on the code. Hope you will understand.

[2022-05-07 06:15] richardliebmann commented on #266
@felipecarrillo100 thanky you, I didn't think about that.

@jepiqueau This will solve the issue for insert/update binary data, but we won't get back the data properly. Should the query also return the data as binary hex string to be consistent?

[2022-05-07 07:28] felipecarrillo100 commented on #266
To retrieve the data it is even easier because you can use the existing sql function. You will have a hex string that you can convert back to a  binary array with JavaScript.

In this example sql converts binary data to hex string, and then in JavaScript you convert the string back to a binary array. Then the binary array can be converted to a blob, or to a url to show an image like <img src=>

[2022-05-07 07:47] felipecarrillo100 commented on #268
Thanks for your reply.  Yes I understand of course. I opened the issue just to let you know there is a new capacitor/core and to let the users know there is a work around until you have time to catch up.

Thanks also for the great work, your sqlite plugin is great.  I only wish it had Spatiality support, then it would be perfect for my needs.

Keep up the good work

[2022-05-07 09:14] richardliebmann commented on #266
@felipecarrillo100 Yes, that's true, but it feels like a hack to me ;-). In my opinion, type translation should be handled in the library and decoupled from use. Especially when a orm mapper is used (e.g. type format), it is often not easy to latch into it.

[2022-05-07 14:42] jepiqueau commented on #268
@felipecarrillo100 i looked a couple of time at it but i did not find a way. For me the best will be to write a wapper in javascript which use standard plugin command. I will not do that myself as i do not know Spatialite and when i ask ealier to some one asking for it to write a spec hé did not do it

[2022-05-07 16:58] jepiqueau commented on #266
@richardliebmann Seems that you have modified 2 methods `SelectSQL` in Database.java  and `objectJSArrayToArrayList` in UtilsSQLite.java. Can you confirmed. Can you share a simple example so i can look if i can make the modification in iOS, Electron and Web and test it. I do not want to have discrepancy between platforms. So i am waiting your data prior to take the decision to implement it or not

[2022-05-09 06:31] robingenz commented on #268
Hi @jepiqueau,
is there a reason why you do not allow the following?
[code]
There will be no breaking changes in minor and patch releases, so this should not be a problem, or?

[2022-05-09 11:59] jepiqueau commented on #268
@robingenz i will review this later to day

[2022-05-09 14:46] JarJarBoinks commented on #268
Hi all, I'm really new to both Ionic and Capacitor!
How would one downgrade their version of capacitor to work with the sqlite plugin?

[2022-05-09 15:39] jepiqueau commented on #268
@JarJarBoinks i do this developement on my free time. You can ask the community i answer queries fast enough.

[2022-05-09 17:15] felipecarrillo100 commented on #268
You downgrade the same way as you do with any NPM project.  Just specify the version in your package.json file.  You can google that.

[2022-05-09 17:52] jepiqueau commented on #268
@robingenz thanks for your proposal @felipecarrillo100 @JarJarBoinks  This has been implemented in release 3.5.0. i will close the issue. Good luck with your development.

[2022-05-09 17:52] #268 closed

[2022-05-09 17:53] robingenz commented on #268
Thank you very much @jepiqueau ! 🎉

[2022-05-09 17:56] jepiqueau commented on #259
@Sampath-Lokuge I have been working on without success when entities have `OneToMany` and `ManyToOne` relation.
if someone can help here, he will be welcome.

[2022-05-10 15:08] Sampath-Lokuge opened #269 "Help:Can I access Cordova SQLite database within Capacitor SQLite plugin to fetch those data"
Hi,

I have an old Ionic 3/ Angular native app. It has used this Cordova Sqlite plugin: https://github.com/storesafe/cordova-sqlite-storage

The new version of the app has Ionic 6/Angular and Capacitor SQLite plugin. i.e. it is a completely new app. But we need to use the same bundle id as Ionic 3.

My question is this. Can I access the old SQLite Cordova database and its table within this new SQL

[2022-05-11 02:25] Sampath-Lokuge commented on #269
Hi,

I have seen this doc https://github.com/capacitor-community/sqlite/blob/master/docs/MigratingCordovaDatabases.md

Please let me know how can I use it in my situation above? i.e. I need to read the old db table values and then fetch those dat to the new db schema on the Capacitor plugin. Thanks!

[2022-05-11 05:16] jepiqueau commented on #269
@Sampath-Lokuge there are two ways
- migrate the databases from where they where stored by the cordova plugin as shown in the doc your mentioned and then you can use them with the standard plugin commands. The database will have the SQLite suffix.
- use a non-conform connection which allow to connect to the database where there are stored by the cordova plugin without the SQLite suffix.  ( case wh

[2022-05-11 06:02] jepiqueau commented on #269
@Sampath-Lokuge look at the doc non-conformed databases. Hope this clarify

[2022-05-11 10:34] jrobeson opened #270 "Knex support for @capacitor-community/sqlite"
**Describe the bug**
This isn't really a bug, but it's not a feature request either.

I've created preliminary support for using @capacitor-community/sqlite with http://knexjs.org/

The typing isn't great because knex doesn't expose some of their types, and none of the drivers are themselves typed.

Here's the somewhat working implementation and example usage:

https://gist.github.com/jrobeson/788

[2022-05-11 11:57] muuvmuuv opened #271 "DELETE FROM does not work"
**Describe the bug**

I cannot longer `DELETE FROM`. Am I required to add a `sql_deleted` now? This does not match our design/model and we have no upstream database to sync with. Can we have the old behaviour back or at least add an option like "strict" mode or something like that. We really need to *remove* everything not update a table col.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2022-05-11 12:14] Sampath-Lokuge commented on #269
Ok sure. I'll try with the first workflow and will let you know. Thanks!

[2022-05-11 16:20] jepiqueau commented on #271
@muuvmuuv do you have a last_modified column and/or a synchronisation table?

[2022-05-11 21:12] muuvmuuv commented on #271
Nope, :/ just five tables with some foreign keys. Really nothing special. I was able to get it to work with 3.4.2. Evey release after that just fails, I mean it does not delete nor prints an error. I havent checked if its add these columns.

[2022-05-12 05:03] jepiqueau commented on #271
@muuvmuuv  Which platform?

[2022-05-12 05:29] jepiqueau commented on #271
@muuvmuuv i could not reproduce the error see implementation of `issue271` in [capacitor-solid-sqlite](https://github.com/jepiqueau/capacitor-solid-sqlite). You MUST not have a column `last_modified` in your tables

[2022-05-12 08:07] muuvmuuv commented on #271
I tested on iOS. We have no last_modified table or anything special.

[2022-05-12 08:35] muuvmuuv commented on #271
@jepiqueau just found it. Don't ask me how and why, but when you forget the leading `;` it does not delete anything nor errors. Just tested with your shared repo. Just replace the the sql stmts in your try/catch with this:

[code]

[2022-05-12 13:23] jepiqueau commented on #271
@muuvmuuv what do you mean by 'when you forget the leading'

[2022-05-12 16:11] jepiqueau commented on #271
@muuvmuuv

if you do this
[code]
you get this
[code]
When you executeSet you get five changes and when you do the delete you get also  five changes and no contacts are returned from the select. This is correct
So i do not understand your case.

[2022-05-12 16:12] jepiqueau commented on #271
@muuvmuuv Can you give your package.json file

[2022-05-12 19:02] muuvmuuv commented on #271
I used the repo you shared and just installed missing deps like your stencil sqlite and sql.js.

This is strange. I have tested it ten times. Adding a semicolon at the end of "DELETE FROM xxx" and removing it have two different behaviours.

[2022-05-13 03:51] Sampath-Lokuge commented on #269
All are working fine. Thanks a lot for the nice utility methods.

[2022-05-13 03:51] #269 closed

[2022-05-13 04:21] jepiqueau commented on #269
@Sampath-Lokuge i am happy of this. Have a good development of your app

[2022-05-13 04:24] jepiqueau commented on #271
@muuvmuuv you must not install Stencil jeep-sqlite and sql.js. there are installed when you install @capacitor-community/sqlite. It works as it is

[2022-05-13 04:26] jepiqueau commented on #271
@muuvmuuv i notice that in the code you give above you call two times `await db.executeSet(fiveContacts)`

[2022-05-13 04:39] Sampath-Lokuge commented on #269
Great! Yes, of course. Thanks!

[2022-05-13 05:51] Sampath-Lokuge opened #272 "Bug: Delete database is not working"
Hi,

Any reason why this is not working or there is another way to drop the database here? Thanks!

`Code:`

`CapacitorSQLite.deleteDatabase({ database: 'dataSQLite' });`

`Error:`

[code]

My use case here is I need to delete both the Cordova DB and its Capacitor one like so:

[code]

[2022-05-13 06:03] muuvmuuv commented on #271
I had to. I use pnpm and it was required. Anyway that aint the problem.

Yeah just to trst but the query to get is right before and after the delete so it doesnt matter.

Let me test it again and create a PR

[2022-05-13 06:12] jepiqueau commented on #272
@Sampath-Lokuge as said by the error message you must create a connection first to the database and then delete it from the connection

[2022-05-13 06:17] Sampath-Lokuge commented on #272
Sorry, I didn't get that? Can I have an example here?

My connection is this `this.sqliteConnection` and it doesn't have any `deleteDatabase` method. i.e. it has `deleteOldDatabases()` only.

[2022-05-13 12:42] sattasundar opened #273 "Bug: Unable to delete data from a table"
**Describe the bug**
I need to delete a row from the table by id. But getting error.

Code:
[code]
Result:
`
changes:
   changes: 1
`
**Expected behavior**
Data need to be deleted.

- Version "@capacitor-community/sqlite": "^3.4.3"
- Framework Ionic-Angular

[2022-05-13 17:50] jepiqueau commented on #272
@Sampath-Lokuge it is the DBConnection which has a method delete

[2022-05-14 03:13] jepiqueau commented on #273
@sattasundar if you got result = {changes:{changes:1}} means that it has been deleted. I do not understand why you need to ```
     const dbConnection = await this.sqliteDatabseService.openDatabase('user-db',false, 'full', 1);
[code]

[2022-05-14 03:25] Sampath-Lokuge commented on #272
Yes, it is for the `Delete a SQLite DB Connection`. i.e. not the database. Your thoughts?

[2022-05-14 03:26] jepiqueau commented on #273
@sattasundar a test has been added to Issue271.tsx of [capacitor-solid-sqlite](https://github.com/jepiqueau/capacitor-solid-sqlite) and it works fine.

[2022-05-14 03:39] jepiqueau commented on #266
@richardliebmann if you do not reply i cannot do anything

[2022-05-14 07:19] Sampath-Lokuge commented on #272
Hi @jepiqueau

Will we have a solution here from you hence I'm completely blocked right now due to this issue? Please let me know. Thanks!

[2022-05-14 08:55] jepiqueau commented on #272
@Sampath-Lokuge it is for deleting the database

[2022-05-14 08:56] jepiqueau commented on #272
@there are plenty of angular starting apps

[2022-05-14 13:12] Sampath-Lokuge commented on #272
It is working perfectly fine. Thanks a lot!

[2022-05-14 13:12] #272 closed

[2022-05-14 17:11] jepiqueau commented on #272
@Sampath-Lokuge 👍

[2022-05-15 00:50] victorybiz commented on #271
The recent release is causing errors in our delete functions, as we have a last_modified column in most of our tables but we use our `custom database synchronization` strategy, we are not using `importFromJson` and `exportToJson`.

Is there an option to turn off this new default behaviour?

[2022-05-15 09:48] jepiqueau commented on #271
@victorybiz the last_modified is a reserved column name for capacitor-community/sqlite. You must rename yours in each of your tables and it will work fine.

[2022-05-15 10:55] victorybiz commented on #271
@jepiqueau Thanks for the response, this will be tough though because we have 100+ tables, we have to do these updates on the production serverless DB as well to maintain the same structure including the recreation of all indexes.

[2022-05-15 11:03] jepiqueau commented on #271
@victorybiz OK i understand i will add to the test the existence of the sql_deleted column that hopefully you do not use in your tables. It will be part of the next release. I amquite busy on private things right now meaning that you will have to wait till i get some free time.

[2022-05-15 11:18] jepiqueau commented on #271
@victorybiz which platform are you using ?

[2022-05-15 11:44] victorybiz commented on #271
@jepiqueau Thank you so much, I will really appreciate this. We currently use it on all platforms; Android, iOS, Electron and Web, it's a cross-platform app.

[2022-05-16 04:28] #271 closed

[2022-05-16 04:50] jepiqueau commented on #271
@victorybiz this has been fixed in 3.5.1-1

[2022-05-16 14:50] robingenz opened #275 "`Error: getTableColumnNamesTypes` on iOS"
**Describe the bug**
A clear and concise description of what the bug is.

After updating version `3.3.3-5` to `3.5.1-1` i get the following error message under iOS:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Couldn't figure out how to reproduce it yet, unfortunately. I am still trying to figure it out.

**Expected behavior**

No error message.

**Screenshots**

<img width="1439" a

[2022-05-16 17:56] eshernandez commented on #196
Thanks, It's worked for me... :)**** x2

I had too that error

[2022-05-16 19:34] victorybiz commented on #271
@jepiqueau Thank you so much for this update.

[2022-05-17 06:35] rakibul111 opened #276 "Errors When Installing SQLiteHook"
Describe the bug
Error when installing sqlite hook with "@capacitor-community/sqlite": "^3.5.1-1" in React Ionic

To Reproduce
Steps to reproduce the behavior:

npm i --save-dev react-sqlite-hook@latest

Expected behavior
no errors

$ npm i --save-dev react-sqlite-hook@latest
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: nextjs-tailwi

[2022-05-17 09:12] muuvmuuv commented on #271
My issue continues to occur. You can reproduce it here: https://github.com/muuvmuuv/issue-capacitor-sqlite/commit/9d0e472c148c300b394435de06ff348907c0a0bc

It did fix it though by adding the semicolon at the end of the delete statement. I guess the newer version is somehow "stricter" in syntax.

[2022-05-17 09:26] jepiqueau commented on #271
@muuvmuuv if you do a db.execute you must have a semi column as a db.execute could have several statement which is not the case of a db.run

[2022-05-17 10:28] muuvmuuv commented on #271
Did not know that. Nice to know, I need to update some statements now

[2022-05-20 04:30] jepiqueau commented on #275
@robingenz can you provide your table schema and the run command that you execute

[2022-05-20 04:31] jepiqueau commented on #273
@sattasundar can you close the issue if it is working fine on your side

[2022-05-21 05:28] jepiqueau commented on #276
@rakibul111 fix by removing the peer-dependencies.

[2022-05-21 05:44] jepiqueau commented on #275
@robingenz Any news? Are you using "last_modified" column and "sql_deleted" column for synchronization with a remote server database.

[2022-05-21 07:23] robingenz commented on #275
Hi @jepiqueau,
sorry for the late reply. I am very busy at the moment. Therefore, unfortunately, I did not have time to debug the issue. I'll try to find some time next week.
My more tempo solution was to go back to version `3.3.3-5.`

No, our tables are pretty simple. They have guids as names and two columns: Key and Value - both strings (we use `JSON.stringify()`).

[2022-05-21 07:37] jepiqueau commented on #275
@robingenz is that happen when you delete a row or on which sql statement

[2022-05-21 07:44] robingenz commented on #275
I'll check and let you know.

[2022-05-22 06:09] jepiqueau commented on #275
@robingenz i have tried to reproduce your error with what i understood from you, see [capacitor-solid-sqlite](https://github.com/jepiqueau/capacitor-solid-sqlite) issue275 test. Everything works fine. It seems to be more a syntax error in the sql command

[2022-05-22 08:29] robingenz commented on #275
@jepiqueau Thank you for your efforts! Best you wait until I have time to reproduce this again. I'll get back to you in the next few days.

[2022-05-23 07:14] robingenz commented on #275
Okay got an example.

This is my code:

[code]

Error Message: `Run: Failed in runSQL :  Error: prepareSQL Error: getTableColumnNamesTypes Failed in selectSQL : Error: querySQL prepare failed rc: 1 message: near ".": syntax`

As said, this code still works in version `3.3.3-5`.

Maybe I will find more examples later.

[2022-05-23 07:22] rakibul-dit commented on #276
@jepiqueau I don't know how to remove peer-dependencies

[2022-05-23 12:48] jepiqueau commented on #276
@rakibul111 remove the node_modules folder and the package-lock.json modified the package.json file to have the latest version of both @capacitor-community/sqlite and react-sqlite-hook and do npm install. This should work

[2022-05-23 14:17] robingenz opened #277 "iOS does not throw an error if a table does not exist"
**Describe the bug**

Plugin version: `3.3.3-5`

When I run the following statement for a table that does not exist, iOS behaves differently than Android:

[code]

As far as I know Android throws an error that the table does not exist.
On iOS I get no error and the following result:

[code]

`returnCode` in https://github.com/capacitor-community/sqlite/blob/c7cc541568e6134e77c0c1c5fa03f7a79b1f9150

[2022-05-23 15:27] jepiqueau commented on #277
@robingenz having returned changes.changes = -1 and change.lastId = -1 means that an error occurs i have to look why the error is not thrown

[2022-05-23 15:29] jepiqueau commented on #277
@robingenz there is also a methos isTableExist

[2022-05-23 15:53] robingenz commented on #277
Yes, but each request costs performance. I'd rather get an error that a table doesn't exist and then create it, like checking if the table exists before each statement. This would directly double my plugin calls.

[2022-05-23 15:55] robingenz commented on #277
Either way, all platforms should behave consistently. If no platform throws an error, I'd still prefer that.

[2022-05-26 14:07] sattasundar commented on #273
@jepiqueau yeah, its working for me now :-)

[2022-05-26 14:07] #273 closed

[2022-05-28 05:45] #276 closed

[2022-05-28 05:47] jepiqueau commented on #276
@rakibul111 this has been fixed with react-sqlite-hook@2.1.12

[2022-05-28 07:17] jepiqueau commented on #277
@robingenz You must do this under a try ... catch in that way you will get the error in the catch

[code]

then you will get the error message
- in iOS

[code]
- in Android

[code]
- in Web

[code]

- in Electron the error is not returned so i will have a look for it

So for me except Electron everything works as expected. If you do not catch the error you will not see it.

[2022-05-28 07:21] jepiqueau commented on #277
@robingenz you can have a look at [capacitor-solid-sqlite](https://github.com/jepiqueau/capacitor-solid-sqlite)

[2022-05-28 09:32] jepiqueau commented on #275
@robingenz In the code you gave the statement and values are commented. can you share the ` mfapp.global` schema and some Insert that you did and the proper delete code.

[2022-05-30 04:53] Sampath-Lokuge opened #278 "Help: composite PK with ExportToJson feature"
Hi,

I have created a single PK table, and it is working fine. i.e. I need the ExportToJson feature too. But now I need to make that as composite PK. So can you tell me how to handle that use case here? Thanks in advance.

[code]

With Composite PK

[code]

So how can I define this line then?

[code]

[2022-05-31 00:32] victorybiz commented on #271
Greetings @jepiqueau , I just discovered this issue still exist in `iOS` platform. Delete not working on iOS with `ERROR MESSAGE:  {"errorMessage":"Run: Failed in runSQL :  Error: prepareSQL prepare failed rc: 1 message: no such column: sql_deleted"`.

[2022-05-31 04:26] jepiqueau commented on #277
@robingenz Where do you stand on this?

[2022-05-31 06:15] jepiqueau commented on #278
@Sampath-Lokuge  Did you try
[code]

[2022-05-31 06:19] #277 closed

[2022-05-31 06:44] robingenz commented on #277
@jepiqueau I am very busy at the moment and have not yet had time. I'll test it again but last time it didn't work on ios.

[2022-05-31 06:46] robingenz commented on #275
@jepiqueau Yes, of course, sorry.
Schema is the same as in #277:

[code]

[2022-05-31 07:30] jepiqueau commented on #271
@victorybiz read the doc you need now to adda column sql_deleted on each of your tables to be able to synchronize the deleted éléments between to exportToJson

[2022-05-31 08:35] victorybiz commented on #271
@jepiqueau You did fix this in the last release for users who are NOT using the package's provided `synchronization` (`importFromJson` and `exportToJson`) feature nor have `sql_deleted` column BUT have the `last_modified` column in all their tables for their custom database synchronization. The fix in the last release works on Web, Android and Electron platforms but does not work on `the iOS` plat

[2022-05-31 11:56] Sampath-Lokuge opened #279 "Help: Method to detect old Cordova db existence?"
Hi,

Is there any method to detect old Cordova db existence? Because I need to detect it upfront to give some message to the user. e.g. `Please wait while we are migrating your data.`

`Ref:` https://github.com/capacitor-community/sqlite/blob/master/docs/MigratingCordovaDatabases.md

Thanks!

This is my current configuration method:

[code]

[2022-05-31 18:09] jepiqueau commented on #279
@Sampath-Lokuge getMigratableDbList is the method returning the cordova database liste for à given path and addSQLiteSuffix to copy them to the right sqlite path

[2022-06-01 02:26] Sampath-Lokuge commented on #279
Yes, it is working fine. Thanks!

[code]

[2022-06-01 02:26] #279 closed

[2022-06-01 04:13] Sampath-Lokuge opened #280 "Bug: incomplete input: CREATE TRIGGER IF NOT EXISTS"
Hi,

[code]

This is my Trigger

[code]
Can you see any issue with the above statement? Thanks!

[2022-06-01 04:31] Sampath-Lokuge opened #281 "Bug: CreateSyncTable: No last_modified column in tables"
Hi,

[code]

I use the latest version of this plugin. i.e. ` "@capacitor-community/sqlite": "3.5.1-2",`

I do not need to have `last_modified` column on all the tables. e.g. No need it for Master tables. So how can I avoid it? Now it shows the above error. Thanks!

Code

[code]

[2022-06-01 13:51] Sampath-Lokuge opened #282 "Bug: Error: CreateSyncTable: No last_modified column in tables"
Hi,

[code]

But I have created Triggers or `last_modified` column for each and every table. Please see this:

![tri](https://user-images.githubusercontent.com/5206526/171420844-dde4f11d-ee05-47fb-9ec9-86938b7a1f11.png)

I use ` "@capacitor-community/sqlite": "3.5.1-2",` with native Ionic/Angular app. Thanks!

P.S.

`exportToJson` is also not working due to the above error. Any clue, please?

[cod