[2020-03-30 19:26] chriswep opened #1 "multiple databases support"
As far as i see, the plugin only supports a single database, since it stores the database handle internally after opening the db. What about returning the handle and/or some kind of db instance with the query methods?

[2020-04-01 17:55] digaus opened #2 "fr: Electron support (sqlite3) and Web support (sql.js)"
Great work. Looking for an electron solution aswell. For a business application we need to store a lot of data. You mentioned that you forwarded the question to Capacitor team. Any solution yet?

Wouldnt this solution also work for us:

https://stackoverflow.com/a/57964289

Related issue:
https://github.com/jepiqueau/capacitor-data-storage-sqlite/issues/10

[2020-04-01 23:37] digaus commented on #2
I played a bit with your repo but I just cannot wrap my head around his to add electron as a plugin. iOS and Android is ok and will documented but for electron I could not get it to work.

Nevertheless I managed to create a test DB, created a table, insert data and then select the data.

For my project I am already using electron-builder to build the exe. This worked very nicely and I did not have

[2020-04-02 06:53] jepiqueau commented on #2
@digaus Thanks for your question, i didn't get any answer from the Ionic Capacitor team. The problem is not to have sqlite running with Electron, the problem is in differentiating the electron plugin from the web plugin which is what i didn't succeed to do. The second problem is that from my first look, i have been rewriting the plugin to get encryption and now use SQLCipher on top of sqlite3. I m

[2020-04-02 07:04] vikashsingh009 opened #3 "where to find At the end of the test, two databases should have been created and both are encrypted"
I  have  run npx cap open android  and  able  to  run  on  simlator  but  i  cant  able  to  find  sqlite DB  location  ,i  want  to  open  that  sqlite  db  using  sqlite  Db  Browser  how  its  possible?

[2020-04-02 09:13] digaus commented on #2
Yeah I know this is also where I am currently stuck. Do not know how to integrate electron in the plugin. All I got was "No electron implementation available"

For web there is sql.js which we could try to use.

https://github.com/sql-js/sql.js

Really hope Capacitor team will do something for Electron. Otherwise they should not claim that they support it as a platform.

As a workaround we maybe c

[2020-04-02 09:30] jepiqueau commented on #2
Yes, this is what i am doing right now on Electron and it works well as IndexDB on browser. I will have a second look later and i will advise you when i will have found the solution

[2020-04-02 09:33] jepiqueau commented on #3
@vikashsingh009 Be sure to have modified the MainActivity.java file as described in the doc and you will see the database under data/data/YOURPACKAGE/databases

[2020-04-02 19:09] digaus commented on #2
I did some tests today: https://github.com/digaus/capacitor-sqlite/pull/1/files

There are some steps needed. User needs to install sqlite3 as dep in electron folder.

Also needs to include this in script tag of index.html:
[code]
Then where you want to use it we need to add

`      this._sqlite.sqlite3 = window['sqlite3'];`

Hacky, but it works. Do you have a better solution? If not would you acc

[2020-04-04 09:02] jepiqueau commented on #1
@chriswep Look closely to the readme and the application provided as example ie https://github.com/jepiqueau/capacitor-apps/tree/master/IonicAngular/jeep-test-app and you will see that you can use multiple databases at once.  If the comment is to make query with join to multiple databases, you right so it is something that i could have a look at. Hope it's clarify

[2020-04-04 12:50] chriswep commented on #1
@jepiqueau hmm, unless you mean that you can open a database, do a query, then open another db and do a query on that one, i don't see it. as far as i understand the README, opening a database does not return a handle or connection object but just sets the database internally. i can't see how multiple databases can be open at the same time this way

[2020-04-05 12:59] jepiqueau commented on #1
@chriswep the databases are not open at the same time and you do not need it as the plugin open the db with the curent name before each command and close it after command completion. So i includes an example of how it works
[code]
hope this clarify

[2020-04-05 15:37] digaus commented on #1
@jepiqueau
I think what @chriswep means is that it would be nicer if you would return a Typesricpt DB handle where you can call all other calls expect open.

->

[code]
THis would make it nicer top work with.

[2020-04-05 15:40] digaus opened #4 "Types are confusing"
Would be really good to clean up the types because currently one would think we can also specify the database name on every call or run statements directly on database open call.

We should split up capSQLiteOptions capSQLiteResult in multiple interfaces.

[2020-04-05 16:44] jepiqueau commented on #1
@digaus i understand your point and the one of @chriswep, but if you do that the plugin is just reduce to open a database and return a DB handle and that is it.

[2020-04-05 17:43] digaus commented on #1
Yes thats it but why is this bad? The functions would still be there but called with the DB handle?

[2020-04-06 06:13] jepiqueau commented on #2
@digaus i am getting close of releasing the plugin with the Electron support, i thank you for your work.

[2020-04-06 10:41] chriswep commented on #1
@jepiqueau @digaus maybe i'm missing something here, but isn't opening a sqlite database doing more than setting a pointer to a file in the underlying native sqlite implementation (like initialising indices, caches, metadata, etc.)? In most use cases those databases will need to be open at the same time, with a lot of parallel access going on. Even with no initialisation cost, this will likely fai

[2020-04-06 11:28] digaus commented on #1
At least for electron it should work by default:

https://github.com/kriasoft/node-sqlite#opening-multiple-databases

[2020-04-06 13:43] digaus commented on #2
Thank you for the fast implementation :)

You should add try/catch block arround the script content in the index.html in the README

[2020-04-06 13:51] #2 closed

[2020-04-06 16:01] jepiqueau commented on #1
@chriswep @digaus We could discuss this for ever. I didn't intent to replicate what  the Cordova plugin is doing. People can still work with the Cordova plugin as far as i know. To stay on the safe side, i decided to have only one database open at a time and even more the database is opened and closed after each sql statement execution completion. So you can have an application accessing multiple

[2020-04-06 16:02] jepiqueau commented on #3
@vikashsingh009 Did that work for you ?

[2020-04-06 16:04] chriswep commented on #1
thanks for the clarification!

[2020-04-06 17:43] jepiqueau commented on #2
@digaus Thanks for the comments. Yes it is going so fast in Electron that i had to change the code of the app starter which was working find on IOS & Android and step back from Observable to promise as i didn't find what was going on. I will add a try catch block thanks for this. but i am not too much happy with this solution has that give an error message under IOS as process is not known. I was

[2020-04-10 00:13] xTancho opened #6 "Error on responses"
Hi, im trying to use this plugins and i have had some problems on android, im going to list them.

1.- When query return no values, it also send a message: "Query command failed", its a lil confusing because its not an error.
![image](https://user-images.githubusercontent.com/58521955/78949668-3a4e8c80-7a9a-11ea-8d44-d953b2dfc370.png)

2.- When there is an error on any kind of query (query, create

[2020-04-10 00:32] xTancho commented on #6
i went a lil deeper and i found this problem
![image](https://user-images.githubusercontent.com/58521955/78951699-062a9a00-7aa1-11ea-9f62-d39f69746b10.png)
when there is an error on catch it wont return -1 because the finally will be always the one who return.

[2020-04-10 05:51] jepiqueau commented on #6
@xTancho Thanks for using the plugin, and thanks top point me out this error. I will have a look and make the correction in the next release

[2020-04-10 08:09] #3 closed

[2020-04-10 08:37] jepiqueau commented on #6
@xTancho this is now fix in capacitor-sqlite2.0.0-2. thanks again for your cooperation. i close the issue

[2020-04-10 08:37] #6 closed

[2020-04-13 06:32] piotrblasiak opened #7 "Not usable in web worker"
It seems this package relies on Device.getInfo (which also is not clear, and should not be a requirement?) being called first - but Device.getInfo does not work in web workers.

[2020-04-13 07:46] piotrblasiak commented on #7
Nevermind, this actually seems to be a limitation in Capacitor...

[2020-04-13 07:46] #7 closed

[2020-04-14 06:33] jepiqueau commented on #7
@piotrblasiak Hi, seems that there is some misunderstanding here. Service-workers are used in web applications as well as PWA which are Web applications. Being Web application they will use the Web part of a capacitor plugin and the not required to use the Device.getInfo as it will return always web. so in PWA app or javascript app you just need to import the plugin. It is only when you develop na

[2020-04-16 22:30] vikashsingh009 commented on #3
Yes @jepiqueau   worked  for  me ,sorry  for  late  response

[2020-04-17 02:47] vikashsingh009 opened #8 "after running on Android studio generated file test-encryptedSQLite but open in sqlitestudio for table structure failed"
I  have sqlite  db  location  got from simulator ,i  have  changed secret in  GlobelSqlite

public class GlobalSQLite {
    public String secret = "visur@123";
    public String newsecret = "visur@123";
}

after  that  run  on  simulator  to  generate  test-encryptedSQLite.db ,when  i  am opening  on  SQliteStudio with database type SQlCipher  and  load  test-encryptedSQLite.db location  and  pass

[2020-04-17 07:49] jepiqueau commented on #8
i think the problem comes from the fact that you make the change in one step you should do it in two steps. you cannot open the database with secret=visur@123 if you do not have run a
[code]
keep the secret as it was before  and change the newsecret by "visur@123" in the GlobalSQLite.java file and run
[code]
change now the secret by "visur@123"  in the GlobalSQLite.java file and now run
[code]
Now

[2020-04-17 09:00] vikashsingh009 commented on #8
@jepiqueau ,i  have  tried  above  steps  but  still  not  able  to  open  in  Sqlite  Studio ,i  also  see  logcat  log  like

2020-04-17 14:12:55.219 32716-324/com.jeep.app.ionic.angular D/SQLiteDatabaseHelper:  **************DataBase File Path /data/user/0/com.jeep.app.ionic.angular/databases/test-sqliteSQLite.db
2020-04-17 14:12:55.219 32716-324/com.jeep.app.ionic.angular D/SQLiteDatabaseHelpe

[2020-04-17 12:29] tobiasmuecksch opened #9 "iOS: Error: selectSQL prepare failed"
Hello,

I'm trying to execute a `SELECT` sql statement as described in the readme.

But the result looks like this:

[code]

This is the relevant excerpt of my code:
[code]

I am trying this on my iPhone 10 device.
Am I doing something wrong or is there a bug?

[2020-04-18 04:00] jepiqueau commented on #9
@tobiasmuecksch First thanks for using the plugin. Which release of the plugin are you using?.
According to the readme, it should be
[code]
this should work.

[2020-04-18 04:18] jepiqueau commented on #8
@vikashsingh009 It seems that Sqlite studio cannot open an encrypted database, i used DB Browser for SQLite and it works fine.

[2020-04-18 04:51] jepiqueau commented on #8
@vikashsingh009 I went a bit further SQLite Studio when you select SQLCipher at Database type and not sqlite3 and you try the Cipher encryption method there is a long list, unfortunately not containing HMAC SHA512 which is the default one in the sqlcipher release i am using.
So the cipher  parameter are:
SQLCipher 4 default
Page Size: 4096
KDF Iterations: 256000
HMAC Algorithm: SHA512
KDF Algorith

[2020-04-18 04:55] vikashsingh009 commented on #8
Thanks @jepiqueau ,
But  i have  used  db  browser  for  window  latest  version  where  i  cannot  able  to  open  database  shows  shows  file  is  not  a  database

![Screenshot_10](https://user-images.githubusercontent.com/7962189/79628452-d04f7a80-815e-11ea-85d9-9b23f474edf5.png)
![Screenshot_11](https://user-images.githubusercontent.com/7962189/79628464-e0675a00-815e-11ea-8b50-472ac8ea276e.p

[2020-04-18 05:20] vikashsingh009 commented on #8
@jepiqueau thanks  its  work  now
i  have  to  update   db  browser  for  cipher  latest  nightly  build

[2020-04-18 07:19] tobiasmuecksch commented on #9
@jepiqueau Thank you for your response. I'm using version `2.0.0-4`

[2020-04-18 07:23] jepiqueau commented on #8
@vikashsingh009
my DB Browser about
![image](https://user-images.githubusercontent.com/16580653/79631001-34ba0c00-8156-11ea-8391-9dabc150aa6f.png)

[2020-04-18 07:28] #8 closed

[2020-04-18 07:28] vikashsingh009 commented on #8
@jepiqueau thanks  for  solving  issues  great  to  work  with  you

[2020-04-18 07:29] tobiasmuecksch commented on #9
@jepiqueau I have created a demo repository for you.

1. clone this repo: https://github.com/tobiasmuecksch/capacitor-sqlite-demo
2. `ionic cap run ios`
3. connect safari developer console with device or simulator
4. push "Test SQLite" button
5. check console output

[2020-04-18 08:31] jepiqueau commented on #8
@vikashsingh009 You are welcome

[2020-04-18 11:10] jepiqueau commented on #9
@tobiasmuecksch
The run and select methods are for **one statement** and not for multiple statements
so when you defined
[code]
it can only be executed by the **execute** method
so replace
[code]
with
[code]
this should be better if your statement were correct but it is wrong SQL Statement

look first at the design of your database you intend to create a table "myTable" and you make a query on tab

[2020-04-18 11:15] jepiqueau commented on #9
@tobiasmuecksch Ok you are welcome

[2020-04-18 11:17] jepiqueau commented on #9
I will have a look to deal with  sqlite NULL value in the next release, to day i am currently working on storing base64 image strings as Blob in sqlite3 which is not as easy

[2020-04-18 11:19] tobiasmuecksch commented on #9
Good to know. So I'd have to set empty strings instead?

[2020-04-18 19:49] snow-drop opened #10 "Return ID of the newly created record"
Good day. I'm currently playing with this plugin and seems good so far. The problem I'm facing right now is I don't know the ID of the newly created record when I run an `INSERT INTO` query. The `run` function only returns  `changes`. The idea came from the `cordova-sqlite` plugin I'm using before in a cordova app and is pretty helpful since I could now query again the newly created record to get

[2020-04-19 05:54] #9 closed

[2020-04-19 07:50] jepiqueau commented on #10
@snow-drop First thanks to use the plugin. Your remark is a positive and i understand your point. It will be taking into account in a future release of the plugin. The "Changes" parameter instead of being an int will be a json object {changes: number, id: any}. Will that fit your need ?. I am currently working hard to add the storage of images through based64 string and validating the code when a

[2020-04-19 07:51] jepiqueau commented on #10
@snow-drop on which platform you need it first?

[2020-04-19 09:01] snow-drop commented on #10
@jepiqueau Sure no problem ;). I'm grateful that you are helping the ionic capacitor community with this plugin. I don't want to take your time for the functions that you need priority and there are workarounds for my use case so I can wait ;).

As for your question about the platform that I'm going to use it for, I'm currently playing around with Android.

Thank you very much.

[2020-04-21 17:58] jepiqueau commented on #10
@snow-drop this is now available in release 2.0.0 of the plugin

[2020-04-21 18:37] bojanbizjak opened #11 "SpatiaLite support"
Is there any plan or possibility that spatialite will be integrated?

We are interested in spatialite support on Android, iOS and Electron platform.

[2020-04-22 01:01] loama opened #12 "Should I open and close the db on each transaction?"
Just a quick performance question.

If I am accessing the db multiple times, should I just keep the db open or there is a good (security or performance) reason to be opening and closing it?

[2020-04-23 06:19] jepiqueau commented on #12
@loama Sorry for my late reply, i missed out your question. You do not need to do so. Internally the plugin close the db after each transaction (Insert, Update, Select ...) for security. Hope this is helpful. Can you close the issue.

[2020-04-23 06:20] #12 closed

[2020-04-23 06:20] loama commented on #12
Thanks!

[2020-04-24 05:00] snow-drop commented on #10
@jepiqueau thank you very much. I'll give it a try. Should I close this issue now or  should I test it first once it's released before closing?

[2020-04-24 09:20] jepiqueau commented on #10
@snow-drop Better to test it first and after if successful which should be the case close the issue thanks

[2020-04-24 12:55] snow-drop commented on #10
@jepiqueau ok, thanks!

[2020-04-28 05:47] snow-drop opened #13 "Batch execution with values"
Good day. In this [link](https://github.com/jepiqueau/capacitor-sqlite#executestatementsfoostatements--promisechangeschangesnumbermessagestring) for batch execution, is there any way I could include values to query statements? Based on the method signature, it only accepts statements. If this function is not yet implemented, I think we could use something like this:

[code]
Also, in this signature

[2020-04-29 08:06] jepiqueau commented on #13
@snow-drop `fooStatements` is a string and the `execute` command allow to execute a set of raw statements which are regroup in a string. so the way to achieve passing values is made as follows:
[code]
hope this clarify

[2020-04-29 08:23] jepiqueau commented on #11
@bojanbizjak I have not plan for this, i did not even know what is spatialite doing. After a quick search, it seems that it should be a dedicated plugin as i am not sure that one can make it working with SQLCipher. Sorry but i do not think i will go for that trip ...

[2020-04-29 09:23] bojanbizjak commented on #11
Thanks for the reply.

[2020-04-30 08:22] #11 closed

[2020-04-30 18:23] snow-drop commented on #13
I see. I asked it because some libraries I used in databases uses a separates the values from the statements so that it can escaped the content of value whenever the value contains a maliciously crafted SQL query or a character/word belongs  to the reserve words. Anyway, thank you very much for the clarification. Your example code made it crystal clear. ;)

[2020-04-30 18:23] #13 closed

[2020-05-01 06:39] snow-drop commented on #10
@jepiqueau Good day. Why the close? I haven't tested your fix yet as I see that in the 'Releases' section in the Github project, It's still on 1.5.3, 25 days ago. Or was it released already? If it is, how could I get the latest release? Thanks!

[2020-05-01 06:55] jepiqueau commented on #10
@snow-drop It was released on npm, but i forgot to push it on github, Thanks for your comment, it is done now

[2020-05-01 06:57] jepiqueau commented on #10
@snow-drop i re-open it, as i did'nt hear from you i thought it was ok

[2020-05-02 11:21] snow-drop commented on #10
@jepiqueau I see. I'm sorry I didn't know that it was already on NPM as I'm just basing on the release section on the github project. I'll check it later and I'll get back here with the results. Thank you!

[2020-05-02 11:47] snow-drop commented on #10
I've already tested and it does work with the following output.
[code]
 Thank you very much.

[2020-05-02 11:47] #10 closed

[2020-05-02 21:51] jsoret opened #14 "error execution in web environment"
First thanks for your work JEPIQUEAU, I am following the documentation for trying to run the plugin in the web development environment and then build with capacitor to android but I have this error:

**Error: Uncaught (in promise): Not implemented**

after invoking the open method.

The plugins do not work on the web?

[2020-05-03 06:01] jepiqueau commented on #14
@jsoret First thanks for using the plugin. You right, there is no implementation for web. Browsers do not support sqlite storage, this is the reason why you get the message **Not Implemented**.

[2020-05-04 07:49] govertbuijs opened #15 "iOS emulator crashes"
When i use the plugin on iOS, the emulator crashes with the following error :
`
Thread 5: Fatal error: Not enough bits to represent the passed value
`

It happens in `UtilsSQLite.swift`, line 100
`sqlite3_bind_int(handle,Int32(idx), Int32(value))`

OS X 10.14.6
XCode 11.3.1

[2020-05-04 09:09] erikkemperman commented on #15
I am seeing the same thing!

[2020-05-04 15:39] #14 closed

[2020-05-04 15:41] jepiqueau commented on #15
@govertbuijs @erikkemperman First thanks for using the plugin Which value are you passing ?

[2020-05-05 06:28] jepiqueau commented on #15
@govertbuijs @erikkemperman Is it when you try storing a boolean value ?

[2020-05-05 06:48] jepiqueau commented on #15
@govertbuijs @erikkemperman Can you. give me in few lines what you were trying to do, it will help to test and close the issue Thanks

[2020-05-05 11:16] govertbuijs commented on #15
HI @jepiqueau

I'm storing a milliseconds timestamp (e.g. 1583498806502) into an INTEGER column.
As it doesn't fit in 32 bits, it should have been picked up by the third `if` (`Int64`).
But its type is recognized as an `Int`, which could also be 64 bits (seems to be iOS version dependent).

I'm not a Swift developer, but this seems to work for my case :

[code]

[2020-05-05 17:42] jepiqueau commented on #15
hi @govertbuijs  Thanks for your answer, i think i will use convert any Int in Int64 as for sqlite it is always the type INTEGER. i will do this in the next release. For your example, you should divide by 1000 your timestamp to get it in second this is what i did and it is the reason why i did not see the problem thanks anyhow, you help to make the plugin more reliable

[2020-05-05 17:55] jepiqueau commented on #15
@govertbuijs @erikkemperman this should be fixed now on release capacitor-sqlite@2.0.1-3.
Can you test it and close the issue after this

[2020-05-06 07:33] govertbuijs commented on #15
Hi @jepiqueau
This seems fixed, thanks for the quick response and the nice plugin!

[2020-05-06 11:02] jepiqueau commented on #15
hi @govertbuijs You are welcome so i close the issue

[2020-05-06 11:02] #15 closed

[2020-05-07 09:20] digaus opened #16 "Electron Databases get deleted with app update"
Currently the databases are stored under `C:\Users\xxx\AppData\Local\Programs\xxx\Databases`.
This folder however gets cleared when updateing the application.

The DB should be stored under `C:\Users\xxx\AppData\Roaming\xxx\databases` or somewhere similar so it does not get deleted.

[2020-05-11 22:53] programando-ideas opened #17 "Running example of importFromJson"
Hello! Could someone help me with a functional example of the importFromJson function.

I get this error "importFromJson command failed: Stringify Json Object not Valid"

please help!!!

thanks!

[2020-05-12 05:15] jepiqueau commented on #16
@digaus Sorry for my late answer i was quite busy on the capacitor-video-player for answering issue. The path you suggest is a good idea but only valid for windows. What do you think about Users\Databases\ApplicationName, I will have a look on the feasibility

[2020-05-12 05:21] jepiqueau commented on #17
@programando-ideas First thank to use the plugin. Did you have a look at ```https://github.com/jepiqueau/angular-sqlite-app-starter``` you have an example of importFromJson  in https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/testsqlite/testsqlite.component.ts line 365.
Do not hesitate to come back if you have more questions about it

[2020-05-12 09:03] digaus commented on #16
@jepiqueau

I am not that familar with electron but maybe we could use `const configDir = (electron.app || electron.remote.app).getPath('userData');` to retrieve a persistent storage location?

[2020-05-12 18:14] jepiqueau commented on #16
@digaus This is done release 2.1.0-1
you have to modify the `index.html` file  as follows:

[code]
New databases location User/Databases/YOUR_APP_NAME/ . Do not forget to copy your old databases in this new location. Hope it will suit your need

[2020-05-12 21:32] programando-ideas commented on #17
Hello! Thank you so much for your answer.

Just a few comments:

1) It's very important to note in the documentation that the parameter must be passed to the function **importFromJson**  as follows
[code]
otherwise it doesn't work!

2) The table schema must contain a column named id of the integer type
[code]
otherwise it doesn't work!

3) Thanks very much for your example!!!!

greetingsss!!

[2020-05-13 05:23] jepiqueau commented on #17
@programando-ideas  Thanks for your remarks
- 1) this is written in the doc
`### importFomJson({jsonstring:fooJSONString}) => Promise<{changes:{changes:number},message:string}>`
-2) agree i will add it

[2020-05-13 05:44] jepiqueau commented on #17
@programando-ideas Done

[2020-05-13 17:29] programando-ideas commented on #17
One more thing, the following example when I run it on an Android emulator gives an error

[code]
![error](https://user-images.githubusercontent.com/54816242/81844622-f9bcb580-9514-11ea-8024-d3428cfb29f8.PNG)

`unable to close due to unfinalized statements or unfinished backups: sqlite3_close() failed`

This error only occurs when you want to insert many records, with few they do not occur. In thi

[2020-05-13 17:53] fernandocode commented on #17
Not specifically about this library, but as you mentioned that this only occurs with a large flow of information (1000 records) I believe it is related to the problem of OutOfMemory on Android, with the deserialization of JSON there (or in the transfer between javascript and the Native), as this consumes a lot of memory, I recommend you do it in parts.

A way to seek to identify this, and track th

[2020-05-14 08:07] jepiqueau commented on #17
@programando-ideas @fernandocode Well, i have reproduce the issue, its happened randomly meaning not at the same insert command of a user.
It is a message send by `sqlcipher compilestatement` .
if you look at the database, all users have been created. I will have a look if i can override this message

[2020-05-14 09:31] jepiqueau commented on #17
@programando-ideas @fernandocode i update sqlcipher to 4.4.0 so the random error does not exist anymore but it is still failing as it try to close the db while the endTransaction is not completed. i have tried to create a synchronized block but it does not change anything. Any ideas from your side ?

[2020-05-14 10:42] jepiqueau commented on #17
@programando-ideas @fernandocode i published a new release capacitor-sqlite@2.1.0-3 where the problem is fixed. for the time being i remove the db.close(). Any suggestion is welcome

[2020-05-14 13:50] programando-ideas commented on #17
Hello!!, sorry for not responding sooner. Thank you very much for the new version :)

It's true, the library save the date successfully beyond the error occurs.

I'll download the new version for testing. I'll notify to you if and error occur.

Thanks!!!

[2020-05-14 14:10] programando-ideas commented on #17
@jepiqueau @fernandocode  I leave you the result of the tests with 2500 records! Everything worked perfect!

### package.json
&nbsp;&nbsp;&nbsp;&nbsp;![packagejson](https://user-images.githubusercontent.com/54816242/81944176-ffbca000-95c1-11ea-80d4-25cc482a31fb.png)

### Android emulator hardware
&nbsp;&nbsp;&nbsp;&nbsp;![android_emulator_hardware](https://user-images.githubusercontent.com/5481624

[2020-05-14 18:02] jepiqueau commented on #17
@programando-ideas
You are welcome. i close the issue

[2020-05-14 18:02] #17 closed

[2020-05-14 18:03] jepiqueau commented on #16
@digaus Thanks i close the issue

[2020-05-14 18:03] #16 closed

[2020-05-18 14:06] samirame opened #18 "iOS: handling sqlite NULL values"
Hi!

 while using capacitor-sqlite 2.0.0-3 on iOS, I faced the following exception trying to SELECT some data from a table containing some NULL values. ( the same code works just fine on Android)

[code]

It seems that iOS version is not able to handle NULL values.

Could you please advice?

[2020-05-18 14:12] samirame opened #19 "Issue after updating the Sqlite plugin to v. 2.1.0-3"
Hi!

I have just updated the sqlite plugin from version 2.0.0-3 to 2.1.0-3. and now I receive the following error when built for Android:  “ERROR Error: Uncaught (in promise): Not implemented” as I call the openDB() function.

Here is the code:

[code]

I have even tried running the "Ionic/Angular SQLite Application Starter"(https://github.com/jepiqueau/angular-sqlite-app-starter) and faced the sa

[2020-05-18 15:57] samirame commented on #19
Hi!

just noticed that after updating the plugin I should have updated the MainActivity.java as specified in https://github.com/jepiqueau/capacitor-sqlite#running-on-android

[2020-05-18 15:57] #19 closed

[2020-05-18 17:14] jepiqueau commented on #18
@samirame Hi thanks for using the plugin. Can you give me a bit more about what you were doing. Is the select has been done on a database created with importFromJson or the standard way. If it is the standard way can you give me how the table was created an how the data were inserted so i can have a better understanding.

[2020-05-18 17:17] jepiqueau commented on #19
@samirame Yes you should do it, it is the way that capacitor is setup. So here you confirm that on Android you don't have any problem with null value.

[2020-05-18 17:48] jepiqueau commented on #18
@samirame I have had a field  as TEXT in one of my test databases and i do not insert any data for that field. When i made a Select * i do not have any problem. Did you get on which line the error occurred ? Can you make a simple case  showing the error  and share it on github.

[2020-05-19 10:22] samirame commented on #18
Hi!

Thanks for the follow-up. Here is how I created the table, inserted and selected a row:

[code]

The error occurs in line 165 of function getColumnValue() in UtilsSQLite.swift file:

[code]
Note: I just updated the Sqlite plugin from 2.0.0-3 to the latest (2.1.0-3) and the same code works fine now on iOS. I get back empty string "" for the columns with NULL values.

So it seems that the issue

[2020-05-19 12:13] jepiqueau commented on #18
@samirame I was testing with 2.1.0-3, reason why i did not get any message, in fact that was modified in 2.1.0-1 to handle null values properly. Usually try to use the latest release of the plugin. Anyhow i am pleased to hear that you do not have any problem now. Do not hesitate to contact me if you are facing new issues. I close the issue

[2020-05-19 12:13] #18 closed

[2020-05-22 00:35] urbanboy opened #20 "Not able to add references columns or foreign keys"
Hi everybody plugin is nice, but when I trying to add references columns or foreign keys plugin not works, I test on batch run statements(execute()) or single run statement(run()), thanks for any help.

[2020-05-22 06:09] jepiqueau commented on #20
@urbanboy first thanks to use the plugin. if i understand well your question, as you didn't give an example of the SQL statement you are trying to execute, this is happening when you are trying to ALTER a table to add a FOREIGN KEY and to add a REFERENCES to the key of another table.
[code]
If it is the case, this is not supported by sqlite and de facto by the plugin. What you have to do is to cre

[2020-05-22 06:12] jepiqueau commented on #20
@urbanboy see https://www.sqlite.org/omitted.html

[2020-05-22 14:00] urbanboy commented on #20
Thanks You, definetly I ever trying add foreing key at creation of table like you but   is imposible table is incomplet without the column of foreign key, maybe is posible use the documentation about PRAGMA foreign_keys ? https://www.sqlite.org/foreignkeys.html
Sentence of creation of table with foreign key not works just un the line of definition of foreing key, Can You try this and then use of e

[2020-05-22 15:29] jepiqueau commented on #20
@urbanboy
i did this and it works fine
[code]

Now for the importFromJson and exportToJson i will have to see how it can be implemented
Hope this will help

[2020-05-22 15:43] samirame opened #21 "Issue Exporting DB to Json"
Hi!

I am using Sqlite plugin  v. 2.1.0-3 and have some difficulties exporting my DB in '**full**' mode to Json.

The scheme of the DB is defined in normal way, as follows:

[code]
Then I am using the following code to export the Db to json (similar to the code used in sqlite-starter project):

[code]
However, by executing the exportToJson() method, I receive the following response:

` {export: {}

[2020-05-22 16:55] urbanboy commented on #20
Thank you so much, your sample code works well.Greetings.

[2020-05-22 18:14] jepiqueau commented on #21
@samirame see my answer to issue#20. FOREIGN KEY are not yet supported in importFromJson and exportToJson, this is the reason why you get this error. I will look at it tomorrow for my understanding what means ON DELETE CASCADE and ON DELETE SET DEFAULT. I will keep you aware of the progress thanks for your patience

[2020-05-23 19:57] jepiqueau commented on #21
@samirane Hopefully, i will fix this issue tomorrow, i have the electron & ios plugins ready but i have still to validate the android. so be patient...

[2020-05-24 12:30] jepiqueau commented on #21
@samirame This is now fixed in release capacitor-sqlite@2.1.0-4

[2020-05-24 12:31] jepiqueau commented on #20
@urbanboy The support of FOREIGN KEY has been added in release capacitor-sqlite@2.1.0-4. Hope you will find it helpful

[2020-05-24 12:31] #20 closed

[2020-05-24 12:33] jepiqueau commented on #21
@samirame Come back to me if something wrong.

[2020-05-24 12:33] #21 closed

[2020-05-25 15:03] samirame commented on #21
Thank you very much for the new release! The export works fine now 👍

just for the sake of documentation and with the hope that it might save someone else's time, I would like to mention this experience:

After updating the plugin to the newest version 2.1.0-4, I still kept getting the error. After few hours of struggling, I found out that in one of the CREATE TABLE statements, I have used "tab",

[2020-05-25 15:55] samirame opened #22 "Issue importing the exported DB"
Hi!

Thank you for the caring support.

I am using version 2.1.0-4 of the plugin and have some problem importing the DB that I have already exported. Here is the steps that I have taken ( the scenario is based on the andular-sqlite-app-starter):
1. create the tables using the following statement (with no data inserts)

[code]

2. export the DB in "full" mode:
3. and then import the exported json s

[2020-05-26 13:15] jepiqueau commented on #22
@samirane, thanks for the issue, i got the fix but it is more than one hour i tried to publish it without success time out issue so hopefully it will come soon

[2020-05-26 14:17] jepiqueau commented on #22
@samirame the new release capacitor-sqlite@2.1.0-5 is fixing the issue

[2020-05-27 14:12] samirame commented on #22
Thanks for the new release!
However, it seems to me there is still some problem. In the generated json, for the indexes, the "column" value is always set to the string "name".

this is what I actually get:
`"indexes":[{"name":"table1_index_wrd_fk","column":"name"},  {"name":"table1_index_cat_fk","column":"name"},{"name":"table1_index_typ_fk","column":"name"}]}`

this is what I expect to get:
`"ind

[2020-05-27 19:35] accron-1 opened #23 "'ON DELETE CASCADE' not triggering"
Hi,

I have `ON DELETE CASCADE` statements in my DDL that work when I run them on my Sqlite installation on my PC, but seem to not be triggered in the plugin.

I have also tried executing
[code]
right after opening the db, but it makes no difference.

Are there any known limitation with `ON DELETE CASCADE` in the plugin?

If not, can you please show an example that you would expect to work?

Regar

[2020-05-28 07:40] accron-1 commented on #23
Hi, thank you for the reply.I forgot to mention it in my first post, but I later updated it: I have tried that in different ways, but it makes no difference, unfortunately.

    On Wednesday, May 27, 2020, 9:49:43 PM GMT+2, Fernando Leal <notifications@github.com> wrote:

This could be it: PRAGMA foreign_keys=OFF in your device's database

—
You are receiving this because you authored the thread.

[2020-05-28 13:21] jepiqueau commented on #23
@accron-1 I found the issue, one have to set-up the pragma each time a connection to the db is made. So this is solved in the next release as soon as i can publish on npm which is quite hard those days.(timeout issue).
this is the way i tested
[code]
Ya, if finally got it publish release 2.1.0-6. I would like to thank you for your contribution to debug. it helps. Do not hesitate to come back if yo

[2020-05-28 13:27] jepiqueau commented on #22
@samirame Thanks for your contribution to the debug process. This is hopefully solved in release 2.1.0-6 of the plugin. Do not hesitate to come back if any think else is wrong.

[2020-05-28 17:10] accron-1 commented on #23
I just tried the updated version and everything works as expected now.

Thank you for the prompt fix, and thank you again for providing this important and awesome plugin!

[2020-05-28 17:10] #23 closed

[2020-05-31 19:40] michelpetrovic opened #24 "Exported db data of JavaScript milliseconds is not represented correctly"
I store JavaScript milliseconds (e.g. `Date.now()`) in a field defined as:
`starttime INTEGER NOT NULL`

Before the export the value is stored correctly:
`1590952516107` == `Sun May 31 2020 21:15:16 GMT+0200 (Central European Summer Time)`

When exported, the value is incorrectly represented as:
`1814616587` == `Thu Jan 22 1970 01:03:36 GMT+0100 (Central European Standard Time)`

Looking at the `c

[2020-06-01 06:10] #22 closed

[2020-06-01 13:22] jepiqueau commented on #24
@michelpetrovic Thanks for using the plugin, this will be fixed in the next release 2.1.0-7 as soon as i can publish it successfully on npm.

[2020-06-02 04:51] #24 closed

[2020-06-02 12:50] michelpetrovic commented on #24
Thank you for the quick fix, everything works correctly now.

And thank you for sharing the plugin!

[2020-06-06 05:36] NeeteshSonkiya opened #25 "while reading data from sqlite all the column names are coming in lower case in ionic app (IOS)."
I am trying to execute select query to read data from sqlite tables. but while reading data all the column names are coming in lower case in ios but its coming pascal case in android.

createtablequery = 'CREATE TABLE IF NOT EXISTS TestTable (ID varchar(255) NOT NULL PRIMARY KEY, FirstName varchar(255), LastName varchar(255),Address varchar(255),MobileNumber varchar(255));'
-----------------------

[2020-06-06 08:15] jepiqueau commented on #25
@NeeteshSonkiya First thanks for using the plugin, Sqlite3 Swift doesn't make the differences between lastname, LastName, lastName so even if the column is created with LastName if you look at the database with an external tool like DBBrowser you can see LastName when you query like
```SELECT LastName from TestTable```
or
```SELECT lastname from testtable```
or
```SELECT lastName from testTable```

[2020-06-12 04:57] mpat8121 commented on #22
@jepiqueau Hi.
I'm getting the same error trying to import the export JSON as per the original issue using version 2.1.0-7, however, I don't have any table indexes and the JSON string is passing validation using the isJsonValid method.

The JSON string is 18423 characters long. Is there a limit on the import?
Additionally, the table and column names have capitalisation. Would this be likely to cau

[2020-06-12 05:58] jepiqueau commented on #22
@mpat8121 Hi, thanks for using the plugin, the JSON string has for limit the limit for a string which is different on IOS and Android. The problem is coming from capitalization in column names see my answer to issue #25 Android sqlite recognize capitalization letters not ios sqlite. so you should not use capitalization letters in your column names. I may be dealing with that later, but it will slo

[2020-06-12 06:53] mpat8121 commented on #22
@jepiqueau Thanks for getting back to me so quickly & for the plugin.
This issue is occurring on an Android emulator. I have been able to import JSON with capitalisation in both table and column names. It only seems to be after exporting then trying to re-import that it fails.
I'll re-write it to be lowercase.

[2020-06-12 16:20] jepiqueau commented on #22
@mpat8121 Going lowercase is better, i will have a look later as i am busy working on the capacitor-video-player

[2020-06-13 00:40] mpat8121 commented on #22
@jepiqueau Thanks. I have changed over the SQL schema to be all lowercase but I am still getting the same error.
The JSON string is 19553 characters long so I don't believe it should be exceeding the maximum allowed.
What other information can I provide you to make this easier to identify?

[2020-06-13 09:33] jepiqueau commented on #22
@mpat8121 Can you provide the schema of the database as well as the number of data in each table.
Is it a full export? Can you provide the error and on which line of the code it is happening. Did you had any chance to test it on IOS to see if you get the same error. Please provide me any data that allows me to reproduce. I thought it was due to the Capitalization but it seems not so i need to dig

[2020-06-14 02:33] mpat8121 commented on #22
@jepiqueau I've attached the object that is being imported via a service during app initialisation (Angular 8+ & Ionic 5). This same data is exported and errors when imported.
It is a full import initially and a full export.
I am having trouble getting the app to hit breakpoints within the vendor.js to identify which line(s) it is failing on within this plugin. The response object is:

I will spin

[2020-06-14 19:29] jepiqueau commented on #22
@mpat8121 First in the schema.txt you have to modify
```       { foreignkey: "siteid", value: "REFERENCES Sites(id)" },```
as
```       { foreignkey: "siteid", value: "REFERENCES sites(id)" },```
you have to do the same for ```"REFERENCES Defects(id)"```as ```"REFERENCES defects(id)"```

Now the issue is that for an import full as of to day you must have for each table the definition of the schema

[2020-06-14 19:32] jepiqueau commented on #22
@mpat8121 i tested it for both ios and android and it works

[2020-06-15 10:02] mpat8121 commented on #22
@jepiqueau Thanks for the hints in the right direction. I think I've figured this out that even though the import of the tables (the second partial import) always returns `changes: {changes: -1}
message: "importFromJson command failed: import JsonObject not successful"` the tables themselves are actually created.

It looks to me like the importFromJson method in SQLiteDatabaseHelper.java (specific

[2020-06-15 11:08] jepiqueau commented on #22
@mpat8121 You right, i will go through the complete process again soon, with a more exhaustive testing including your original case. the success = false was added at a certain stage invalidating the originals tests where you could have schemas without data. Give me a bit of time

[2020-06-15 11:53] mpat8121 commented on #22
@jepiqueau There is no hurry. I have it now working with this understanding. Thanks again for the assistance.

[2020-06-16 16:38] jepiqueau commented on #22
@mpat8121 This is now fixed in release 2.1.0. Capitalization characters in field name are also fixed enjoy...

[2020-06-16 16:40] jepiqueau commented on #25
@NeeteshSonkiya This has been fixed in release 2.1.0, you can now use Capitalization characters in field name.

[2020-06-16 16:40] #25 closed

[2020-06-17 23:07] mpat8121 commented on #22
@jepiqueau Thanks! Everything seems to be working perfectly. I was not expecting you to re-work this so quickly 😮

[2020-06-18 06:17] jepiqueau commented on #22
@mpat8121 thank you for the feedback you are welcome

[2020-06-23 07:31] oxylius commented on #13
Hi there, is there a implementation planned to allow execute a batch of prepared statements? Like @snow-drop mentioned it would be much better to prevent SQL-Injections and it would be better to let a library create evaluate those prepared statements.

[2020-06-23 15:14] jepiqueau commented on #13
@oxylius first thank for using the plugin, I thought my answer to @snow-drop was clear, but if you come back you are thinking at something different. so can you specify yours thoughts much deeper so i can understand what you are after. Can you give me an example of library which do the job, so after it i will evaluate the necessary work.

[2020-06-23 16:36] jepiqueau commented on #13
@oxylius @snow-drop Are the batch of prepared statements include **only** INSERT or UPDATE statements ?

[2020-06-23 18:17] jepiqueau commented on #13
@oxylius @snow-drop
i got this working on my dev for electron. Is it what you are looking for ?
[code]

[2020-06-24 06:53] oxylius commented on #13
Hi @jepiqueau
Thank you for your fast reply. I've been testing this and it looks like it is working, thank you for clarification. I think the main problem is the reuse of typings [capSQLiteOptions](https://github.com/jepiqueau/capacitor-sqlite/blob/3e637b4f18f4272fa62d5bfd924e06119e6ed996/src/definitions.ts#L83) and [capSQLiteResult](https://github.com/jepiqueau/capacitor-sqlite/blob/3e637b4f18f42

[2020-06-24 19:07] jepiqueau commented on #13
@oxylius @snow-drop
the new release of the plugin 2.2.0-2 allow you to run batch execution with values. A new command has been added `executeSet` for that purpose
to use it
[code]
For the documentation, i do not know why you are looking at  capSQLiteOptions and capSQLiteResult in the code, look at the readme for each command you have the entry parameters and the output result described as well as

[2020-06-30 09:07] fema16 opened #26 "DB don't work after error on insert "PrepareSQL step failed""
I have change the cordova plugin to this plugin when I update my app to capacitor, but I have a several problem with this plugin. When I do insert and this query have an error  (e. duplicate primary key, invalid column type, ...) the return is {changes: -1, PrepareSQL step failed}... at this moment all the next querys returns the same error.

To works fine, I have dead the app and open back

[2020-07-01 06:38] mpat8121 opened #27 "Import from JSON failing due to PRAGMA"
Hi @jepiqueau,

Thanks again for this plugin - we're using it extensively.

I'm having an issue in iOS only where the ImportFromJson method is failing due to the PRAGMA setup in the createDatabaseSchema method -> https://github.com/jepiqueau/capacitor-sqlite/blob/master/ios/Plugin/DatabaseSQLiteHelper.swift#L528

This fails on the execSQL step in the do block and throws the error "ImportFromJson c

[2020-07-02 07:10] jepiqueau commented on #27
@mpat8121 I will have a look but as i took one week of and as  i am away of good internet connection you may have to wait for mid next week. Can you confirm that this happen only with IOS. and works fine for Android and Electron. Are you using foreign keys ? hope you can wait without too much disagreement

[2020-07-02 07:14] jepiqueau commented on #26
@fema16 first thanks for using the plugin. i am away from good internet connection till mid next week. It is not clear to me if it is working or if you have still a problem after what you said "dead the app and open back"?

[2020-07-02 09:34] jepiqueau commented on #27
@mpat8121 i had a quick look but not able to reproduce the problem. i did initially a full import with only the schema of several tables for one database followed by a partial import of some data for some tables followed by another partial import with more table data and it works fine. Can you reproduce the error in a small test app and store it on github so i can have a closer look on a real scen

[2020-07-02 11:09] mpat8121 commented on #27
@jepiqueau There is no rush. Enjoy your time off.
I will try and get a test app up and running replicating the problem.

To answer your questions:
- I can confirm I'm only seeing this in iOS - the android import seems to be working. I do not have an electron setup to confirm.
- The tables do contain foreign keys

I _think_ it is related to issue #26 where if one sql command fails, then all subsequ

[2020-07-02 12:02] jepiqueau commented on #26
@fema16 Is that happened only on IOS plugin

[2020-07-02 12:11] jepiqueau commented on #27
@mpat8121 Can you try just before you do the synchronization to close the db, open it and as first command do your import and tell me if it is still failing? May be the database is not close for unknown reason.

[2020-07-02 12:42] jepiqueau commented on #27
@mpat8121 Are you sure that there is no others previous commands still running on other threads at the same time you try to invoke the synchronization. Changing the PRAGMA can only be done when the db is free from any processes

[2020-07-02 12:47] mpat8121 commented on #27
That was my suspicion as the app does make other calls as part of the page initialisation, however, I haven't been able to prove/prevent this.

I tried forcing the database closed and then open as you suggested but no luck. Still seeing the same issue with return code 5.

The snippet of the Xcode log showing successful closure and re-opening and then the import in sequence:

To Native ->  Capacito

[2020-07-02 12:51] jepiqueau commented on #27
@mpat8121 let's continue to have a look

[2020-07-02 12:55] mpat8121 commented on #27
The rc value is set to 5 when trying the PRAGMA foreign_keys=ON; command. I think the PRAGMA user_version = 1; command is succeding first.

<img width="324" alt="Screen Shot 2020-07-02 at 10 54 11 pm" src="https://user-images.githubusercontent.com/6610593/86361374-14124480-bcb7-11ea-82ca-54d3335eeac2.png">

[2020-07-02 13:02] jepiqueau commented on #27
@mpat8121 What was the last SQLIte command on the database before making the synchronization

[2020-07-02 13:09] mpat8121 commented on #27
A select query that returned zero results:

⚡️  [log] - Running queryCmd SELECT Id, Type, Name, Reference, Created FROM Projects ORDER BY Name COLLATE NOCASE ASC
⚡️  To Native ->  CapacitorSQLite query 29283061
selectSQL: []
⚡️  TO JS {"values":[]}

[2020-07-02 13:47] mpat8121 commented on #27
@jepiqueau Ok, it's not the importFromJson function and it isn't the PRAGMA's. There were some insert queries occurring earlier than that last select that were failing. Once I bypassed them, the import worked, however, I believe that issue #26 is the root cause.
If an insert query fails, all subsequent database commands fail.
I'll try spin up a demo app for you tomorrow/Saturday to review.
Thanks

[2020-07-02 14:12] jepiqueau commented on #27
@mpat8121 i have replace the following function
[code]
i will try to reproduce now a failed insert to see what is happening

[2020-07-02 14:40] jepiqueau commented on #27
@mpat8121 After the import of schemas i did the following insert which are failing
[code]
it failed as the column name `settings` is wrong it should be `setting`
i got  the following messages on Xcode
[code]
and after i did the two imports of data without any problems so i do not see `If an insert query fails, all subsequent database commands fail.`
So i am waiting your demo do not make it to big

[2020-07-03 11:05] mpat8121 commented on #27
@jepiqueau I'm trying to get a demo running that shows this error but am having trouble replicating it.

Can you try simulating the 'prepareSQL' error instead of the execSQL Error? I _think_ the prepareSQL error is where the problem exists.

[2020-07-03 12:37] jepiqueau commented on #27
@mpat8121 I did what you ask for, replacing the execute by two run commands followed by a select
[code]
and then the two partial imports, everything run fine.
the messages in Xcode are
[code]

[2020-07-03 14:57] jepiqueau commented on #27
@mpat8121  Can you try to modify the runSQL and the prepareSQL to see if you still have the error

[code]

[2020-07-04 00:16] mpat8121 commented on #27
@jepiqueau Those changes to the prepare and run seem to have fixed everything. The same sql commands prior to the import are still failing but now the import runs successfully.
Thanks for your efforts!

[2020-07-04 06:12] jepiqueau commented on #27
@mpat8121  i am happy that those changes fix the issue. My intuition was good in fact when  an error was thrown the database was not closed. I will have to revisit the code for all others methods too. All theses fixes will be in the next release which will be published when i am back home sometime mid or end next week. Hope you can work with the temporary fixes sent yesterday till then.  Do you kn

[2020-07-04 23:48] mpat8121 commented on #27
@jepiqueau Next week is fine. It is probably better that I ensure all SQL commands are working properly rather than relying on the error handling.

Yes, I did find the issue - There were insert commands that were violating the unique constraint on one of the columns in the table being inserted into.
Interestingly, when I ran the app in Android Studio, the run/debug log produces the full error stac

[2020-07-05 09:30] jepiqueau commented on #27
@mpat8121 Can you provide an insert command which was violating the unique constraint so i can look at the ios version why it doesn't reveal the full error stack. Thanks for participating to the debug process it will benefit all the community and make the plugin stronger

[2020-07-05 11:50] jepiqueau commented on #27
@mpat8121 Can you try to replace prepareSQL with the following and tell me if it help to grab the previous error
[code]

[2020-07-05 11:52] mpat8121 commented on #27
@jepiqueau Just in the middle of responding as you provided your last comment.

There is a table defined like this:
`{
      name: "Settings",
      schema: [
        { column: "Id", value: "INTEGER PRIMARY KEY NOT NULL" },
        { column: "Key", value: "TEXT UNIQUE NOT NULL" },
        { column: "Setting", value: "TEXT NOT NULL" },
      ],
}`

and was running the following SQL command twice in

[2020-07-05 12:15] mpat8121 commented on #27
@jepiqueau Log output from iOS is as follows:

[log] - Running runCmd INSERT INTO Settings (Key,Setting) VALUES (?,?)
⚡️  To Native ->  CapacitorSQLite run 34262567
⚡️  TO JS {"message":"Run command failed : Error: prepareSQL finalize failed rc: 19 message: UNIQUE constraint failed: Settings.Key","changes":{"changes":-1}}

I am unsure of how it will respond to all possible failure types, but this

[2020-07-05 13:02] jepiqueau commented on #27
@mpat8121 Ok, i am implementing this everywhere so it will catch all errors

[2020-07-05 15:26] jepiqueau commented on #27
@mpat8121 I did publish the new release 2.2.0-4 tell me if everything looks fine

[2020-07-05 15:28] jepiqueau commented on #26
@fema16 i did publish a new release 2.2.0-4 where the issue should be fixed. tell me if you still have some problems

[2020-07-07 14:42] jepiqueau commented on #26
@fema16 As you did not comeback i close the issue

[2020-07-07 14:42] #26 closed

[2020-07-07 14:46] jepiqueau commented on #4
@digaus I have updated the readme so for each method the input options and the output results are clearly specified. so i close the issue

[2020-07-07 14:46] #4 closed

[2020-07-07 14:48] jepiqueau commented on #27
@mpat8121 Did you had time to test the new release, if everything is fine can you please close the issue

[2020-07-08 01:16] mpat8121 commented on #27
@jepiqueau Yes, I have checked it and everything seems to be running smoothly. This issue is resolved.

[2020-07-08 01:16] #27 closed

[2020-07-08 05:00] srbala opened #28 "PouchDB Wrapper"
Any plans for PouchDB wrapper?

Do you think it might help data avilabilty in browsers and PWA use cases?

[2020-07-08 14:06] jepiqueau commented on #28
@srbala there is no plan for this. PouchDB is a document database not  SQL. The problem associated with PWA or Web browsers app is that no permanent storage is available. Before to answer, i look at pouchDB and try without success to create an app in typescript with Ionic5 and Angular9 and using pouchdb-adapter-cordova-sqlite and cordova-plugin-sqlite-2 (Could not import pouchdb) to create a servi

[2020-07-08 19:23] srbala commented on #28
Looking into the possibility of single ORM layer library (lets say capacitor-db-wrapper as CDW) which can work browser and app, detects and adopts based on availability or device type. This way app development has the calls CDW, CDW takes care of rest.

https://pouchdb.com/adapters.html
https://www.techiediaries.com/ionic-sqlite-pouchdb/

https://github.com/google/lovefield seems to alternate for

[2020-07-08 19:25] srbala commented on #28
Having single code base for Mobile app vs PWA, when it comes to storage, it seems to be complicated.

[2020-07-08 19:49] fernandocode commented on #28
I don't know, but it looks like what you (@srbala) want is what the plugin was already doing ([https://github.com/jepiqueau/capacitor-data-storage-sqlite](https://github.com/jepiqueau/capacitor-data-storage-sqlite)), even before this sql plugin was created, maybe what you are requesting is the opposite of what I requested some time ago ([https://github.com/jepiqueau/capacitor-data-storage-sqlite/i

[2020-07-08 19:53] #28 closed

[2020-07-09 05:54] jepiqueau commented on #28
@srbala is the answer given by @fernandocode is good enough for what you are looking for ? As you close the issue i assume yes. Thanks anyway for looking at both plugins

[2020-07-09 10:38] srbala commented on #28
@jepiqueau Thanks for checking

I am looking for a library (or ready to contribute to built one), which can hide the complexity underneth and provide consistant API for development.

I think might have to do some more research and experiments.

Mobile app development is fairly new world for me, trying to PWA in parallel. My experience in the past are mainly enterprise application development, usua

[2020-07-09 11:39] fernandocode commented on #28
As I saw that you mentioned the typeorm (I found it very interesting), if you go to a project where sql is needed, I use in my projects [ionic-database-builder](https://github.com/fernandocode/ionic-database-builder), which in its base uses [database-builder](https://github.com/fernandocode/database-builder), currently I haven’t published the configuration for use with capacitor (open an issue the

[2020-07-09 14:32] fema16 commented on #26
Hi @jepiqueau,

I'm on holidays and I don't see your answers. Next Monday I will return and test the new realase 2.2.0-4.

Thanks for all

[2020-07-12 06:12] mpat8121 opened #29 "iOS exportToJson converting zero and empty string values to "NULL""
Hi again @jepiqueau,

I've just noticed that the exportToJson method is iOS is converting values that are a 0 or an empty string "" to "NULL" when exporting. As a result, when I re-import the exported JSON, the import fails due to NOT NULL CONSTRAINT failures.

An example of the exported JSON from iOS is:

[code]

Where all the "NULL" strings should be zeros.

The Android exportToJson exports the

[2020-07-12 15:36] jepiqueau commented on #29
@mpat8121 this is fixed in the release 2.2.1-2 of the plugin. Thanks for your debugging help

[2020-07-13 11:28] mpat8121 commented on #29
@jepiqueau Sorry, but I'm still seeing the zeros being converted to null when exporting using release 2.2.1-2. I've tried with multiple different simulators and a real iPad device and the result is the same across all.

[2020-07-13 12:07] mpat8121 commented on #29
@jepiqueau I had to remove node_modules and package.lock.json from the ionic app and reinstall. This appears to have resolved everything.
Thanks for your prompt fix!

[2020-07-13 12:07] #29 closed

[2020-07-13 16:44] jothipandiyanjp opened #30 "Invoke capacitor sqlite plugin methods from Custom Plugin"
Hi, I am working on implementing custom plugin and in that plugin I want to insert records into sqlite using capacitor sqlite plugin…
Is there any example, where we can call method of one plugin from another plugin…

I have tried, but while calling a method need to pass PluginCall object as parameter… for that i need to pass message handler, PluginCall(this.handler,pluginId,callbackid,methodname,d

[2020-07-14 10:40] haavardj opened #31 "query value array types"
There are some inconsistencies in how the values[] array type is handled between iOS and Android.

On iOS queries, values array _must_ be string[]. In Plugin.swift line 204
[code]

On Android, any[] is accepted and the plugin will seemingly happily convert to strings. In CapacitorSQLite.java line 229
[code]

This feature implies that something that works perfectly on Android may fail on iOS. This

[2020-07-14 14:07] jepiqueau commented on #30
@jothipandiyanjp Thanks for looking at the plugin, I have been looking at your question and tried some ideas. I do not think it is feasible as the PluginCall wraps a call from the web layer to native where in fact you would like to access it directly in the native part of your plugin meaning not going through the bridge. So the only way i can think off is to define for the capacitor-sqlite plugin

[2020-07-14 14:12] jothipandiyanjp commented on #30
@jepiqueau Thanks for your reply. Will you add this requirement in your future enhancement?

[2020-07-14 14:24] jepiqueau commented on #30
@jothipandiyanjp I am not sure as this requires a complete rewrite of the plugin and on top of this, even if you install the capacitor-sqlite plugin in the custom plugin it seems with my first attempt that you need also to install it in the app using the custom plugin, installing only the custom plugin is not enough.

[2020-07-14 14:36] jepiqueau commented on #30
@jothipandiyanjp There is also the question of handling the error messages raised by the capacitor-sqlite in your custom plugin. Are you sure that you cannot develop your app by using the two plugins. The last way would be to take the cdssUtils folder and implements it directly in your custom plugin define mDb = new SQLiteDatabaseHelper(context,dbName+"SQLite.db",encrypted,
                inMode,

[2020-07-15 08:21] jepiqueau commented on #31
@haavardj Thanks for using the plugin and pointing me out some inconsistencies. The Android plugin has been fixed in release 2.2.1-3. It must be an Array<String>. When you have test it please close the issue

[2020-07-15 17:40] haavardj commented on #31
It now correctly throws 'Must provide an Array of strings' on Android. Thanks!

[2020-07-15 17:40] #31 closed

[2020-07-20 11:06] jothipandiyanjp commented on #30
@jepiqueau  closing this issue. I have added cdssUtils folder in my custom plugin and using it..

[2020-07-20 11:06] #30 closed

[2020-07-21 07:34] jepiqueau commented on #30
@jothipandiyanjp Ok, may be in the future i will do two interfaces, so it will be easier for you to update, tell me if you have some issues

[2020-07-21 13:36] mhartington opened #32 "Join the capacitor community org?"
Hi there! My name is Mike and I'm from the Ionic team. We've recently started up the capacitor-community org on github to bring together capacitor plugin authors and provide a semi-official place to maintain plugins.

I wanted to reach out and see if you'd be up for joining the org and having this sqlite plugin be part of that group.

https://github.com/capacitor-community

Let me know if you'd li

[2020-07-22 08:13] jepiqueau commented on #32
@mhartington Hi Mike, i saw that the Ionic team launched recently the capacitor-community org on github and yes i will be pleased to have my plugins part of that group. I have 3 plugins which are possible candidates : capacitor-sqlite, capacitor-data-storage-sqlite and capacitor-video-player. Can you please explain me the process to follow to be part of that group. I was wondering if there is a te

[2020-07-22 19:50] mhartington commented on #32
@jepiqueau First step would be to join the capacitor slack

https://getcapacitor.herokuapp.com

Once in there, ping me and we'll get you in a private contributors channel.
From there, we can get you added to the community org and discuss the plugins and transfer them over.

[2020-07-24 15:08] mhartington commented on #32
I think we can close this now 😄

[2020-07-24 15:08] #32 closed

[2020-07-27 00:55] Karyfars opened #33 "CapacitorSQLite does not respond to method call "executeSet" using selector "executeSet:""
When i try to execute the executeSet command on iOS i receive the following error message (all other commands are fine):
[code]

I used the example code to reproduce the error on iOS 13.1 in the Simulator.
I'm running CapacitorSQLite Version 2.2.1-3

Code:
[code]

[2020-07-27 17:43] jepiqueau commented on #33
@Karyfars First thanks for using the plugin. have you try to run the app
[code]
you can use the tag 2.2.1-3 of the app, the latest version is under test as we are moving the capacitor-sqlite plugin to the @capacitor-community where it will be named sqlite

on your simulator with IOS 13.1, i test it with IOS 13.6 and i do not have any problem. tell me if it runs

In your example, i assume that the

[2020-07-28 09:14] Karyfars commented on #33
@jepiqueau Thanks for your answer. I updated xcode to the newest version and it solved the issue.

[2020-07-28 09:14] #33 closed

[2020-07-28 09:39] jepiqueau commented on #33
@Karyfars  ok, i am happy that you solve it as i could not reproduce it. Enjoy

[2020-07-29 13:14] beyondsanity opened #34 "Using plugin on existing remote sqlite file"
**Is your feature request related to a problem? Please describe.**
I'm trying to work on a remote db file coming from our backend but i'm not sure if the library allows to work with external sources.

**Describe the solution you'd like**
I'd like a documented procedure to import external files as dbs on my app.

**Describe alternatives you've considered**
I've considered using .sql set of queries

[2020-07-30 11:54] jepiqueau commented on #34
@beyondsanity
Thanks for using the plugin. What is available from the library to transfer from the backend database server is the method `importFromJson` which take a stringify JSON Object where the format is described in `https://github.com/capacitor-community/sqlite/blob/master/ImportExportJson.md` This JSON Object must be created on the server side for good performance. I can be a **full** or *

[2020-08-03 11:03] jepiqueau commented on #34
@beyondsanity
Having not received anything new from your side, i will close the issue

[2020-08-03 11:03] #34 closed

[2020-08-06 16:38] Karyfars opened #36 "Android - net.sqlcipher.database.SQLiteException: unable to close due to unfinalized statements or unfinished backups: sqlite3_close() failed"
**Describe the bug**
On "larger" queries (e.g. a `run` call with 20 Create Table statements or a `executeSet` call with 30 Update queries) the android version will always throw an exception due to unfinalized statements or unfinished backups.

The exact Exceptions always thrown are:
[code]
When i execute the statements in `executeSet` one after the other with `run`, everything finishes without err

[2020-08-07 04:45] jepiqueau commented on #36
@Karyfars i will have a look and come back

[2020-08-07 07:23] jepiqueau commented on #36
@Karyfars which version of the plugin are you using?
make sure that you run the following after you install `npm i --save @capacitor-community/sqlite@latest`
[code]
i test this and it works fine 22 tables and 55 (insert/update) in executeSet. the tables are created and the corresponding data are loaded
[code]

[2020-08-07 10:30] Karyfars commented on #36
@jepiqueau thanks for the reply!

im using the current 2.3.0 version. version 2.2.1-3 had the same behavior.

sry i made an error, my estimated query amount was way off. the `executeSet` call contains between 200 and 850 INSERT OR REPLACE Statements.

i've limited the number of statements in an `executeSet` to 50, but still the same error.
right now i execute between 39 to 66 `executeSet` calls wi

[2020-08-07 11:25] jepiqueau commented on #36
@Karyfars can you share on github your app or a replicate having the bug

[2020-08-07 11:25] jepiqueau commented on #36
@Karyfars dis you try with iOS?

[2020-08-07 11:30] jepiqueau commented on #36
@Karyfars Can you show me some of the REPLACE Statements, i never test REPLACE

[2020-08-07 11:34] Karyfars commented on #36
@jepiqueau iOS works just fine. it only occures on android.

i am trying to strip down the problem step by step to create a reproducible outcome. but it happens so randomly. i will try to create a new clean app through the weekend where i try to reproduce the error in a shareable environment.

[2020-08-07 11:38] Karyfars commented on #36
Here is a debug output which contains some of INSERT OR REPLACE Statements
[code]

[2020-08-07 12:01] jepiqueau commented on #36
@Karyfars in iOS did you check the database after completion? is it correct or do you have some INSERT OR REPLACE missing?

[2020-08-07 12:13] Karyfars commented on #36
as far as i know everything was there on iOS and there is no ticket about missing content from the testing team. but i'll check iOS database, just to be sure.

[2020-08-07 12:20] jepiqueau commented on #36
@Karyfars Is that happen when one statement violates the constraint define in the table schema?
can you modify the code of the execSet function in the SQLiteDatabaseHelper as follows and tell me

[code]

[2020-08-07 12:25] jepiqueau commented on #36
@Karyfars if you see some "*** ExecSet failed: breaking lastId -1 ***" in the run console means that some of the statements are wrong or infringe some constraints

[2020-08-07 12:32] Karyfars commented on #36
@jepiqueau nope sry, there are no constraints set. i've run your code changes and there was no *** ExecSet failed in the console

[2020-08-07 12:34] Karyfars commented on #36
@jepiqueau like i mentioned, when i run the statements through `run` instead of buffering them and running with `executeSet` everything runs fine (except it takes way longer).

[2020-08-07 12:36] jepiqueau commented on #36
@Karyfars even just before the crash

[2020-08-07 12:39] Karyfars commented on #36
@jepiqueau my bet at the moment is that the `execSet` runs just fine. the `db.close()` causes the exception.

[2020-08-07 13:22] Karyfars commented on #36
@jepiqueau found the cause!

`prepareSQL` function in `SQLiteDatabaseHelper` misses a `stmt.close()` before `return lastId;` which finalises the statement and the `db.close();` in `execSet` can be called safely.

[2020-08-07 13:37] jepiqueau commented on #36
@Karyfars i miss that one thanks a lot. i will suggest this two changes

[code]
and
[code]

[2020-08-07 13:41] jepiqueau commented on #36
@Karyfars Can you do this and tell me if it works. the changes in execSet are more in line which what we found in the literature. if you revert ok i will implemented in the next release with the support of capacitor 2.4.0 . Thanks for your help in debugging, i was really working in the dark as i could not reproduce it. It will benefit to all the others

[2020-08-07 13:49] Karyfars commented on #36
@jepiqueau your changes work. tested multiple times. so thats an OK from me =D

thanks for your help!
have a nice weekend! =)

[2020-08-07 14:26] jepiqueau commented on #36
@Karyfars you are welcome have a nice weekend too

[2020-08-07 18:21] jepiqueau commented on #36
@Karyfars this is now released in 2.4.0 After test could you please close the issue and thanks again

[2020-08-09 22:39] pritamsoni-hsr opened #38 "ORM support"
Any plan for adding sqlite orm? something like `expo-sqlite-orm` maybe.

[2020-08-10 05:21] jepiqueau commented on #38
@pritamsoni-hsr Thanks for looking at the plugin. i look at `expo-sqlite-orm` to understand the concept of ORM.  I have no plan yet but it is a quite interesting concept.

[2020-08-10 08:46] Karyfars commented on #36
@jepiqueau Tested, works! Thank you!

[2020-08-10 08:46] #36 closed

[2020-08-10 19:12] dwieeb commented on #38
An ORM would require **a lot** of work, and they're hard to "finish" (users will report bugs and features no matter how much work goes into it).

If someone wanted to pursue it, I would recommend a separate package (`@capacitor-community/sqlite-orm`, for example). It could just be a JS library that uses `@capacitor-community/sqlite` as a driver.

[2020-08-11 08:47] jepiqueau commented on #38
@dwieeb you right, it is a lot of work and i agree it should be a separate package to not add complexity and bugs to the `@capacitor-community/sqlite` package. Any idea on how to add a capacitor plugin in another capacitor plugin as i think the plugin interface of the called plugin should not go through the bridge so do we have to manage two interfaces for that plugin one going through the bridge

[2020-08-11 12:01] pritamsoni-hsr commented on #38
@jepiqueau @dwieeb I don't think we need another capacitor plugin for this, having a serializer and de-serializer package would work.
A rough approach to this could be, we design models and/or queries and orm translates them to sql queries, and the model class would take an extra database argument which is a capacitor/sqlite plugin.

[2020-08-11 17:59] dwieeb commented on #38
Correct, `@capacitor-community/sqlite-orm` wouldn't need to be a Capacitor plugin, just a JS layer that builds SQL queries from models and uses the sqlite plugin to actually perform the query. Luckily, I think it may be possible to use an existing JS ORM and build the part that connects the ORM to the driver (e.g. ["dialects"](https://github.com/sequelize/sequelize/tree/master/src/dialects) for se

[2020-09-22 08:12] paulantoine2 opened #40 "Better permission request on Android"
**Is your feature request related to a problem? Please describe.**

The immediate permission request on load must not be mandatory, it's really aggressive.

**Describe the solution you'd like**

I would like to be able to request Storage permission myself when needed

**Describe alternatives you've considered**

For ANDROID

I've replaced the `pluginRequestPermissions()` in the plugin `load()` fun

[2020-09-22 08:30] jepiqueau commented on #40
@paulantoine2 Sorry, i did not want to be agressive, it is just that sqlite requires the storage permission. i will have a look later.
which frameworks and platforms are you using

[2020-09-22 08:50] paulantoine2 commented on #40
Thanks for the quick answer @jepiqueau !
I mean it's aggressive for users to see the popup straight when you open the app (on Android). Usually apps have an onboarding process with pretty screens gently asking to give permissions in that case.
I'm using React Ionic for Android/Ios

[2020-09-22 11:03] paulantoine2 commented on #40
This is what worked for me if you are interested : #41

[2020-09-22 17:28] jepiqueau commented on #40
@paulantoine2 i have accepted the pull request, i trust that you test it and it works. I add you as a contributor in the readme file. Thanks for this, do not hesitate if you find other issues. I close this one

[2020-09-22 17:28] #40 closed

[2020-09-23 07:44] paulantoine2 commented on #40
Not sure if it's a good idea to merge it like that, it might be a breaking change for apps already using it !

[2020-09-23 09:10] jepiqueau commented on #40
@paulantoine2 Developers can still use the old version of the plugin if they wish on their applications or they will have to update, it is how software development goes. i judge that your pull request was acceptable and bring more softness by asking the permissions when the app needs them and not at the beginning of the app which you and some others, i assume, did not like. voilà ... i think i wil

[2020-09-23 13:35] chriswep commented on #1
@jepiqueau seeing this now is the kind of "official" sqlite community capacitor plugin i want to reopen this discussion to avoid potentially creating a second plugin for mostly the same purpose. i'm currently still using the Cordova plugin in capacitor however i want to get rid of it at some time.

I looked into the code a bit and it seems to me that this plugin indeed creates a new connection for

[2020-09-23 13:39] chriswep commented on #38
i think using typeorm would make the most sense here. there are also similar plugins for cordova-sqlite and others that can be taken as a start.

Together with multiple database support (https://github.com/capacitor-community/sqlite/issues/1) this would make this plugin useful in many more use cases.

[2020-09-23 15:04] jepiqueau commented on #1
@chriswep I understand now that if we want to make ORM support with typeorm which seems to have the consensus of the community, we need  to have the db connection available and so the multiple support of databases. This requires a complete refactoring of the plugin which is quite a task but feasible. Would you be kind and some others to participate to this refactoring but before to start refactori

[2020-09-23 21:09] digaus opened #42 "Properly support electron"
**Is your feature request related to a problem? Please describe.**

Currently for electron we need to include a bunch of stuff in the index.html and call a different plugin.

**Describe the solution you'd like**

 With https://github.com/capacitor-community/electron this is not needed anymore and we can inlcude it without these hacks.

See also https://capacitor-community-electron-docs-site.vercel

[2020-09-24 05:30] jepiqueau commented on #42
@digaus this was on my plan since `@capacitor-community/electron` is out but i didn't find the time to do it yet. the refactor #1 is not in the plan yet it is a huge task and i certainly do not want to do it alone

[2020-09-24 15:38] jepiqueau commented on #42
@digaus i started the conversion of the electron plugin see `https://github.com/capacitor-community/sqlite/tree/dev-electron/electron` it builds nicely but when i used it in the angular application see `https://github.com/jepiqueau/angular-sqlite-app-starter/tree/dev-electron/electron` the build failed
[code]
i have no idea could you have a look ?

[2020-09-24 16:30] chriswep commented on #1
if one of the goals is to have a TypeORM driver at the end we could start from there. There is already an abstract sqlite driver in TypeORM that all sqlite-based drivers extend: https://github.com/typeorm/typeorm/tree/master/src/driver/sqlite-abstract. It might make sense to take the Cordova driver as a template for a capacitor driver: https://github.com/typeorm/typeorm/tree/master/src/driver/cord

[2020-09-24 17:41] digaus commented on #42
Did you build the electron plugin before installing? Did not have this issue with my plugin. Maybe you can try checkout my plugin and copy your code there?

[2020-09-25 06:31] jepiqueau commented on #42
@digaus Can you share a small app where you use your plugin i need to see the package.json of that app

[2020-09-25 15:27] digaus commented on #42
{
  "name": "Ionic App",
  "version": "0.0.1",
  "author": "Ionic Framework",
  "homepage": "https://ionicframework.com/",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/common": "~10.0.0",
    "@angular/core": "~10.0.0",
    "@angular/forms"

[2020-09-25 16:47] vikashsingh009 opened #43 "i have created plgugin project for ios but in main App module not found"
**Describe the bug**
i  have create plugin  project and  then  use  plugins and  link  plugin  using  npx  cap  link:bss  after  that  in  main  projects  install  dependency  using npp i  plugin  project  file  location

**To Reproduce**

1. Go to '"MobileApp  Project in  vscode '
2. install  npm i  plugin  file  path  ,theb  npx cap  sync after  that  npx  cap add  ios
3. then  npx  cap  open  i

[2020-09-25 18:15] jepiqueau commented on #42
@digaus I have clone your plugin, install it and run `npm run build` and `npm run build-electron` an created a blank ionic app with the following package.json
[code]
the home page is as follow
[code]
After this i did
[code]
in the second build i got the following error
[code]

What is wrong in the  home page?

[2020-09-26 05:39] jepiqueau commented on #42
@digaus i found the issue, i will look i sqlite works now thanks for your help

[2020-09-26 12:21] jepiqueau commented on #43
@vikashsingh009 in your app folder
[code]

in Xcode, clean the project and build the project

[2020-09-26 12:38] jepiqueau commented on #42
@digaus well i made yours wifi working now if i duplicate from the folder wifi and rename it `wifi2`
go in the code change the Wifi by Wifi2 run npm build and npm build-electron
then add it to the home page
[code]
i got the following result
[code]
As you can see when using `wifi` the this.wifi got the correct platform `electron` , using `wifi2`  the this.wifi2 got the wrong platform `web` and then

[2020-09-27 11:16] digaus commented on #42
@jepiqueau
That looks odd.

I just import and use it like this:

[code]

[code]

[2020-09-28 08:36] jepiqueau commented on #42
@digaus Did you do anything special to have your plugin into the electron/plugins/plugin.js-e6306aba0ce2b64828951551d09b09c3.js file of your app ?

[2020-09-28 08:46] jepiqueau commented on #42
@digaus Did you copy it manually?

[2020-09-28 09:12] jepiqueau commented on #42
@digaus I finally found  the solution, in fact each time you add a new plugin to an existing app you have to remove the electron platform an redo a `npx cap add @capacitor-community/electron` because it is during that process that there is `Updating Electron Plugins` process

[2020-09-28 10:12] digaus commented on #42
Oh yeah I thought that was obvious ;)

[2020-09-28 11:24] jepiqueau commented on #42
@digaus are you also doing `npx cap copy @capacitor-community/electron` as when doing `npx cap copy` you got a warning `[warn] The electron platform is deprecated!` Now for the sqlite plugin the question is where do i install the `sqlite3` package in the plugin or in the app because i was doing `electron-rebuild -f -w sqlite3` in the app before. I am currently trying to figure out

[2020-09-28 13:05] digaus commented on #42
I am always doing `npx cap sync @capacitor-community/electron` but will check later. I added my node dependency by just running `npm install node-wifi` on the app which uses the plugin. So maybe just add it there aswell?

[2020-09-29 09:47] noerw opened #45 "support swapping out sqlite-implementation (i.e. spatialite)"
**Is your feature request related to a problem? Please describe.**
I store spatial data in my app and want to efficiently query it: I need [spatialite](https://www.gaia-gis.it/fossil/libspatialite/index).

**Describe the solution you'd like**
For starters, I'd just like to have **documentation that shows what needs to be done to change the underlying sqlite implementation**.
If my request seems a

[2020-09-29 09:48] noerw commented on #45
Am I right to assume that - for Android - `SQLiteDatabaseHelper` is the only place that references the sqlite implementation?

https://github.com/capacitor-community/sqlite/blob/fd9642cd12ffc7be5bcf37f04761948ec691aa4a/android/src/main/java/com/getcapacitor/community/database/sqlite/cdssUtils/SQLiteDatabaseHelper.java#L35

[2020-09-30 06:18] jepiqueau commented on #42
this issue is now fixed

[2020-09-30 06:18] #42 closed

[2020-09-30 06:19] jepiqueau commented on #43
@vikashsingh009 any news

[2020-09-30 14:02] digaus commented on #42
Your definitions look weired:

[code]

There is no need to make this cases. Just use

[code]

[2020-09-30 14:30] vikashsingh009 commented on #43
Hello @jepiqueau   thanks  for  you  reply,i  have  tried with  created  new Plugin  but  whenever link  with  Application  to call  plugin  still  i  am  getting  SqlChipher No Module found  in  development,i  have  triyed  so  many  times  above  steps  but unfortunately its  not  worked  please  find  some  of  the  check

![Screenshot_3](https://user-images.githubusercontent.com/7962189/946990

[2020-09-30 19:32] hardtmedia opened #46 "CapacitorSQLPlugin.CapacitorSQLiteElectron is undefined"
When loading the plugin for electron, as described in the readme, `CapacitorSQLPlugin.CapacitorSQLiteElectron` is undefined. Code Completion does not provide the suggestion for `CapacitorSQLiteElectron`, hence the cast to "any".

Imports:
[code]

Method to select the correct plugin
[code]

When I try the example service from the jeep starter project, there is no distinction between the platforms a

[2020-10-01 08:33] hardtmedia commented on #46
Reading the changes in this: https://github.com/jepiqueau/angular-sqlite-app-starter/commit/a57a3f3bbddc05f8276486ea41e82d57ecae83ca

In combination with carefully reading https://github.com/capacitor-community/sqlite/issues/42 brought on the solution.

Thank you for your work :)

[2020-10-01 08:33] #46 closed

[2020-10-01 12:12] jepiqueau commented on #42
@digaus Do you want me to add you as a contributor as you spent quite a time in supporting me till i get there. Thanks for your help

[2020-10-01 12:15] jepiqueau commented on #46
@hartmedia Thanks for using the plugin. Sorry for this, it took times so the documentation was not up-to-date. Now it is and the app-starter was alined with the new release of the plugin.
If you still find something not really feel free to tell me

[2020-10-01 12:16] jepiqueau commented on #45
@noerw  yes you right

[2020-10-01 12:50] jepiqueau commented on #43
@vikashsingh009 Well looking at the views, it seems that you have created a new plugin which is using SQLCipher
In the `CapacitorPluginBackgroundSqliteSync.podspec` file you must add `s.dependency 'SQLCipher'`  and redo the `pod install` hope this will help

[2020-10-01 20:03] vikashsingh009 commented on #43
@jepiqueau , thanks  for  above  dependency  issues  solution  ,  now  i  able  to  buid  and  trigger  plugin  app

[2020-10-02 04:22] jepiqueau commented on #43
@vikashsingh009 ok fine i close the issue

[2020-10-02 04:22] #43 closed

[2020-10-21 17:15] xgiral-metacodi opened #47 "this._sqlite = CapacitorSQLPlugin.CapacitorSQLiteElectron;"
**Describe the bug**
Property 'CapacitorSQLiteElectron' does not exist on type 'typeof import("../node_modules/@capacitor-community/sqlite/dist/esm/index")'

**To Reproduce**
on documentation:
[code]

[2020-10-22 09:41] jepiqueau commented on #47
@xgiral-metacodi  Sorry i forgot to update the readme since 2.4.2-1 and the use of @capacitor-community/electron  you must do
[code]
i will update the doc Thanks anyway to use this plugin

[2020-10-27 16:52] accron-1 opened #48 "CapacitorSQLite.requestPermissions() not working as expected on Android"
**Describe the bug**
`await CapacitorSQLite.requestPermissions()` does not resume execution after storage permissions are granted on Android.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `await CapacitorSQLite.requestPermissions()` where execution of app starts.
2. Run app on emulator or physical device

**Expected behavior**
The app should halt the execution on `requestPermissions()`

[2020-10-28 00:25] vikashsingh009 opened #49 "fetch Column info bypass chacking sqlite3_step(handle) when select Query in ios"
**Describe the bug**
i  am  trying  to  query sqlite  db  table  for  that  i  have useed UtillSqlite  Query Function ,but  when  i  am calling and  passing select  query  for  table ,its  not  checking while sqlite3_step(handle) == SQLITE_ROW

**To Reproduce**
Steps to reproduce the behavior:

1. create a select  statement query  eg;  select *  from Users
2 Call  the SQlite Query function which

[2020-10-29 09:47] vikashsingh009 opened #50 "SqliteText always getting null even i have value in Database"
**Describe the bug**
i  am  doing  select  query  on  Sqlite database and  usign  SqliteUtill  getColumnValue  but  when  i am  debugging i  am  always  getting column  value  null
**To Reproduce**
Steps to reproduce the behavior:

1. prepare  select  query  like  select *  from  user
2.   create  conection
3. Query SqliteUtll getColumn  type  and  which will  return  Varchar  and  then  response

[2020-10-29 12:15] #47 closed

[2020-10-29 12:22] jepiqueau commented on #50
@vikashsingh009  Can you share your database table schema for user. Can you also share the code so i can reproduce the error

[2020-10-29 12:34] vikashsingh009 commented on #50
Hello @jepiqueau ,here  is  the  schema for  the  DB

![image](https://user-images.githubusercontent.com/7962189/97573527-eb554e00-1a0f-11eb-8563-a643a15ede5f.png)

[code]

[2020-10-29 13:12] jepiqueau commented on #50
@vikashsingh009 Are you using the sqlite plugin inside  an iOS app. UtilsSQLite has no function `fetchColumnInfo1` the function id `fetchColumnInfo` Seems that you are writing your own functions. So i cannot spend time to debug your code. All apps i have written use the plugin from a framework (Angular, React, Vue) for native apps and work fine. If you are using the plugin directly inside an iOS a

[2020-10-29 13:34] vikashsingh009 commented on #50
i  am getting  same  error  even  i  am  using fetchColumnInfo  from util  class also

[2020-10-29 16:32] jepiqueau commented on #50
@vikashsingh009 the sqlite3 datatypes are
[code]
It seems that you are using `VARCHAR` which is not a recognize datatype so it could be the reason.  Try to replace `VARCHAR` with `TEXT` and tell me if it works

[2020-10-29 16:47] vikashsingh009 commented on #50
@jepiqueau ,i  canot  change  the  DataType  for  the  table  as  Table  is  auto  creating  from  api  but  i  have  triyed below  steps
[code]
and  i  am  able  to  get  values  from  Table  ,i  am  not able  to  find  what  was  issues  with earlier  code

[2020-10-29 16:49] vikashsingh009 commented on #50
@jepiqueau ,i  canot  change  the  DataType  for  the  table  as  Table  is  auto  creating  from  api  but  i  have  triyed below  steps
[code]
and  i  am  able  to  get  values  from  Table  ,i  am  not able  to  find  what  was  issues  with earlier  code

[2020-10-29 16:50] vikashsingh009 commented on #50
@jepiqueau ,i  canot  change  the  DataType  for  the  table  as  Table  is  auto  creating  from  api  but  i  have  triyed below  steps
[code]
and  i  am  able  to  get  values  from  Table  ,i  am  not able  to  find  what  was  issues  with earlier  code

[2020-10-29 18:26] jepiqueau commented on #49
@vikashsingh009 Can you be more specific what do you mean by `failed but passed if statement like "Pragma user_version" ` You mean its failed when you do `select * from Users`

[2020-10-29 18:28] vikashsingh009 commented on #49
Yes ,it failed for that select user query

On Thu, Oct 29, 2020, 11:56 PM QUEAU Jean Pierre <notifications@github.com>
wrote:

[2020-10-29 18:34] jepiqueau commented on #50
@vikashsingh009 I am trying to reproduce the issue#49 by defining name with varchar(255)  and when i do `select * from Users` it works well i will continue a bit deeper

[2020-10-29 18:56] jepiqueau commented on #50
@vikashsingh009 from my tests issue#49 and issue#50 cannot be reproduced everything works fine.
my test db is
[code]

[2020-10-29 19:17] vikashsingh009 commented on #50
Thanks for your valuable time  ,do we have any sample refrenace where we
are calling getcolumn value and show results it will help me to debug mine
issue if I missed something

On Fri, Oct 30, 2020, 12:26 AM QUEAU Jean Pierre <notifications@github.com>
wrote:

[2020-10-29 20:59] #49 closed

[2020-10-30 06:41] jepiqueau commented on #50
@vikashsingh009 you can look at `https://github.com/jepiqueau/react-sqlite-app-starter` and `Issue49Tests`

[2020-10-30 07:01] vikashsingh009 commented on #50
@jepiqueau thanku  very  much  for  tests provided  ,i  have  implemented  and  tested  and  i  able  to  query  user result.Mine  issues  is  like  all  backend  code  i  have  to   write  in  swift  using Plugin and  Swift  SqlCipher   .I  am  only  getting  issues  when  i  am  calling getColumnValues  from  here  https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/Utils/UtilsS

[2020-10-30 08:38] jepiqueau commented on #50
@vikashsingh009 i do not have Swift tests available for this. If you debug step by step  the code with Xcode you may understand the reason for failure and on which field it happens (on a varchar field or on the blob field

[2020-10-30 08:49] jepiqueau commented on #50
@vikashsingh009 is your Blob a base64 string? otherwise it could be the reason for failure

[2020-10-30 09:08] vikashsingh009 commented on #50
yes,i  have  debug  in  xcode  and  get  to  know  its  failed for varchar as well  Int   for  Varchar  i  am  getting "NULL" and  for  Int  getting  0   but  both  value  did  not  match  according  to  Db  Data.

yes,i  have  blob  base64  encoded

[2020-10-30 09:14] jepiqueau commented on #50
@vikashsingh009 if your Blob is not a base64 String Can you try this
add a `Blob.swift` file to the plugin
[code]
go into `UtilsBinding.swift` and go to the `class func bind` and after line 43 add the following
[code]
or
[code]
Tell me if that fix the issue and which one did it or both
If it is the case i will modify the plugin code and publish a new release

[2020-10-31 16:34] accron-1 commented on #38
I downvoted this suggestion as there is a real risk of it being a huge time sink and will distract @jepiqueau from the core functionality of the plugin.

Let's keep this plugin lean and focused, and avoid bloat.

Also, ORM in itself is [controversial](http://blogs.tedneward.com/post/the-vietnam-of-computer-science/), so I hope the idea will be rejected.

@jepiqueau: if you didn't know ORM before a

[2020-10-31 17:16] accron-1 commented on #48
Can someone confirm that it is supposed to work as I describe under *Expected behavior*?

[2020-11-01 07:01] jepiqueau commented on #48
I see your request, I was busy on something else and did not consider it as urgent. I will have a look tomorrow if I can reproduce it and come back

[2020-11-01 07:12] jepiqueau commented on #38
Thanks for your clear advise. I agree that it will be a big work to refactor the plug-in and I have not take any decision yet as for the time I know that the plug-in is working as it is and requires a good maintenance and cleaning. It is also requiring demonstrating apps in different frameworks which is my current plan I have already Ionic/Angular, Ionic/React, React and I will come soon with Ioni

[2020-11-02 06:35] jepiqueau commented on #40
@paulantoine2 Any idea why it `doesn't exist on the Typescript declaration and does not allow to wait for the result nor provide a listener` Where did you find an example of this implementation so i can have a look

[2020-11-02 08:14] jepiqueau commented on #48
@accron-1
I tested it both with Ionic/Angular and Ionic/React and it works fine
for Ionic/Angular i defined a sqlite.service.ts see(`https://github.com/jepiqueau/angular-sqlite-app-starter.git`)
[code]

[code]
So for me the issue can be closed

[2020-11-02 08:24] accron-1 commented on #48
Thank you for looking into it.

I originally reported it in the Ionic forum [here](https://forum.ionicframework.com/t/how-handle-storage-permissions/198518/9).
Since then another user in that thread has reported the same issue, I'm not the only person with that problem it seems.

FWIW I'm using the plugin with a Vue based app (Quasar). Maybe the lifecycles are handled differently in the different

[2020-11-02 08:34] jepiqueau commented on #48
@accron-1 I am going to provide soon a `vue-sqlite-hook` and a Vue3 apps which will demonstrate how to use it.

[2020-11-02 08:38] accron-1 commented on #48
So it's completely expected that the plugin doesn't work in Vue, until you release that hook?

[2020-11-02 08:40] jepiqueau commented on #48
@accron-1 which version of the plugin are you using?  I will not close the issue till i demonstrate it works in Vue. You will have to wait few days. I put this as my top priority. Thanks any how for your comments..

[2020-11-02 08:44] jepiqueau commented on #48
@accron-1 Are you using a pure Vue3 js app or a Ionic/vue ts app ? so i can fix my priority

[2020-11-02 09:19] accron-1 commented on #48
It's the stable v. 2.4.0

It's a mobile Android app based on [Quasar](https://quasar.dev), which is Vue. For now Quasar supports Vue2 only.
However, the [Quasar mobile apps](https://quasar.dev/quasar-cli/developing-capacitor-apps/introduction) are in turn completely based on Ionic's Capacitor, so if you get it to work on Ionic Capacitor-Vue, I hope it will work on Quasar as well.

The only possibl

[2020-11-02 09:58] jepiqueau commented on #48
@accron-1 You should use the 2.4.2-8 which has got a lot of fixes. my version number depends on @capacitor/core version. So i will go to 2.4.2 as soon as Ionic will release 2.4.3 and after this i will go to 2.4.3-1 for my fixes and so on
I do not know Quasar so here i cannot help you too much. so try 2.4.2-8 with Quasar and Vue2 and tell me if it works

[2020-11-02 10:00] jepiqueau commented on #48
@accron-1 the requestPermission for Android has been implemented in 2.4.1-1

[2020-11-02 12:05] accron-1 commented on #48
Thank you for the quick reply. I updated to but 2.4.2-8, but unfortunately little has changed. The app still crashes on first startup, and on subsequent runs.

My real init code looks like this:
[code]

This logs the following:

![log1](https://user-images.githubusercontent.com/14213307/97865674-dc6de480-1d0a-11eb-9e1a-099ade126b19.png)

The only difference is that it now also logs `1`, which it d

[2020-11-02 13:29] jepiqueau commented on #48
@accron-1  Well i do not know what is `await db.open();` means and on what `db` point to.
the correct way to open a database is:

[code]

[2020-11-02 13:30] jepiqueau commented on #48
@accron-1  where `mDatabase` is the name of your database (type string)

[2020-11-02 13:44] accron-1 commented on #48
`db` is my **own** db object that executes the sql against your api, i.e. it's just a wrapper around your plugin `CapacitorSQLite`.

Inside my `db.open()` I do a bunch of stuff, including calling your api `await db.open({database: "db_name"});`, so that's not the issue, or else it wouldn't work when commenting out the line `await CapacitorSQLite.requestPermissions()` either.

`loadSettings()` also

[2020-11-02 13:56] jepiqueau commented on #48
@accron-1 a bit strange try to move the requestPermissions inside your db.open it seems that there is a `capacitorSQLite.query`  before the `capacitorSQLite.open`

[2020-11-02 16:20] jepiqueau commented on #48
@accron-1 i got now everything working for Vue3 see `https://github.com/jepiqueau/vue-sqlite-app.git` using `https://github.com/jepiqueau/vue-sqlite-hook.git`

[2020-11-02 18:22] accron-1 commented on #48
I had a db call in another child component, inside the main component, that did the db call: I missed the fact that the child components will be created and executed regardless of what happens inside the parent component, so that's why there was a db call before the db was opened, while the parent component was waiting for the `CapacitorSQLite.requestPermissions()` input. My bad, I'm very sorry.

[2020-11-03 06:53] jepiqueau commented on #48
@accron-1 I am please to hear that it works now. Do not apology, it is part of software development, the error could have been from my side, this is why i was pretty concerned. It force me to change my priority and propose quickly a `vue-sqlite-hook` which was certainly impatiently waited by the community as overnight 46 developers downloaded it. Good luck with your app. By curiosity what Quasar i

[2020-11-03 06:54] jepiqueau commented on #48
@accron-1 i close the issue

[2020-11-03 06:54] #48 closed

[2020-11-03 06:57] jepiqueau commented on #50
@vikashsingh009 I will close the issue as i did not hear from you since my last comment. I hope that you found what was wrong in your side as all the tests i did from my side did not show any errors

[2020-11-03 06:57] #50 closed

[2020-11-03 17:55] accron-1 commented on #48
Thank you, my app is already in the Play store.

The number of downloads you've had proves how important your plugin is. That's why I think the focus of your work should be of that kind, rather than things like ORM support.

Quasar is a [Vue based framework](https://quasar.dev/introduction-to-quasar#What-is-Quasar%3F), but unlike Ionic you can also write web and electron apps with Quasar, not only

[2020-11-03 20:41] danielprrazevedo commented on #38
@accron-1 I agree that this should not be the responsibility of @jepiqueau, as he is responsible for the plugin only, drivers for orm can be for other members of the community, including me, of course. However, I do not believe that rejecting the request is the best. I believe we can move it to other discussions or maybe bring it to the typeorm itself, because the typeorm drivers are included in t

[2020-11-04 10:14] accron-1 commented on #38
@danielprrazevedo If adding ORM support didn't require any additional work from @jepiqueau there wouldn't be a request here, you'd simply use his existing code/plugin as-is. So clearly this request does expect him to do some work in some shape or form.

The core function of this plugin is to provide cross platform access to Sqlite. It doesn't say anything about ORM, nor would I expect it to. ORM t

[2020-11-04 10:59] pritamsoni-hsr commented on #38
@accron-1  I agree, we can add typeorm with some effort, this issue was more of a question to @jepiqueau and I agree it'll bring more complexity and bugs, add bloatware.

[2020-11-11 10:12] eugenezhornyak opened #51 "RequestPermissions exception"
**Describe the bug**
I try to create database using sqlite service from https://github.com/jepiqueau/angular-sqlite-app-starter

I have next code:
app.component.ts:
[code]
database.initialization.service.ts
[code]
But after launching my app I have next exception:

/io.ionic.starter E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.ionic.starter, PID: 11955
    java.lang.RuntimeException: Fai

[2020-11-11 12:38] jtheiss opened #52 "Encryption question"
Hi,

as soon as i enable the encryption every single request works, but takes ~500ms on my real android device.
(without encryption it is ~30ms).
After a look at your plugin this may be due to connection open & close with every request.

The question is:
Is 500ms a normal/expected value because it seems very high to me? (Samsung A50, so the phone is not that old)

Thanks & have a good day!

[2020-11-11 16:48] jepiqueau commented on #52
@jtheiss thanks for using the plugin, Are you comparing the same request with and without encryption. the `connection open and close` is done the same way for with and without encryption and it give access security to the database for each request. I have notice that the android plugin is slower compare to the iOS plugin. In android i use the `net.sqlcipher.database.SQLiteDatabase`, `net.sqlcipher

[2020-11-11 18:49] jepiqueau commented on #51
@eugenezhornyak
First thanks for using the plugin, i spent my afternoon to try understanding what is wrong. In fact the main reason is that the way you want to work with the plugin is questionable. In fact, the `sqliteService` instance use in `DatabaseInitializationService` and the one `ProductsRepositoryService` is not the same meaning that the
[code]
  async readAll(): Promise<Product[]> {
    /

[2020-11-12 10:03] jtheiss commented on #52
@jepiqueau Thank you for your response!

At first i noticed this with the app i am currently working on.
To be sure there is no other influcence i created a plain ionic/angular app with the cli, added the sqlite plugin and the following simple code for testing:

[code]

No matter if i execute 1 statement in the executeSet or all 10 together in one set it shows >500 ms with encryption.
It does not

[2020-11-12 13:31] jepiqueau commented on #51
@eugenezhornyak i have found the solution. I have to update first the android plugin to implement a listener for granted permissions and after this i will share the app.

[2020-11-12 17:05] jepiqueau commented on #51
@eugenezhornyak have a look at `https://github.com/jepiqueau/test-sqlite-issue51`
You cannot instantiate `DatabaseInitializationService` in the `ngAfterViewInit` lifecycle event on the `app.component` as the router bring you straight forward in the `Home` page. Hope this will help.

[2020-11-12 18:15] eugenezhornyak commented on #51
@jepiqueau Thank you for attention paid! Your solution is very helpful. My problem solved

[2020-11-13 09:42] jepiqueau commented on #51
@eugenezhornyak Happy that everything works fine. i close the issue

[2020-11-13 09:42] #51 closed

[2020-11-13 17:47] vikashsingh009 opened #53 "How to list all tables names"
**Describe the bug**
i  have  issues  in  listing  all  tables  names  from  sqlite  but  it  return  only  1  tables name
**To Reproduce**
Steps to reproduce the behavior:

1. have  used  Utill  sqlite
2. initiliaze  connection
3. Prepare  statement
4. send select  query
bellow  is  code  i  have  used

[code]

[2020-11-13 19:40] jepiqueau commented on #53
@vikashsingh009 You have a method `getTablesNames` in the class `UtilsDrop` of the iOS plugin

[2020-11-14 10:05] vikashsingh009 commented on #53
@jepiqueau  thanks ,works for  me

[2020-11-14 15:47] #53 closed

[2020-11-20 15:03] jepiqueau commented on #1
@chriswep i start looking at this for Android but i didn't find a way to return a  kind of db-handle object from a createConnection method.
so what i could may be do is something like this
[code]
in the plugin, a dictionary handling the pair dbName, dbHandler

this will allow for multiple database connections
so the connection will be done once and not anymore for each request/execute/query/transa

[2020-11-20 15:53] chriswep commented on #1
i'm not familiar enough with the system sqlite on android to speak into the db-handle issue. in the end it just comes down to what you save in the internal state to identify/access the correct database. if android-sqlite does not have db-handles and you just pass the same dbName to requests (i.e. it manages the open databases internally) then you just keep track of string.

I think it would be a n

[2020-11-21 06:01] jepiqueau commented on #1
@chriswep
[code]
this is what i was trying to do and test but it doesn't work . i asked the question to the `capacitor team` of how `to pass a Native Object pointer to the typescript code` but i did not get the answer yet.

[2020-11-21 06:09] jepiqueau commented on #1
@chriswep I will see if i can implement what you suggest in a `typescript wrapper service` to the `CapacitorSQLite plugin`

[2020-11-21 13:31] jepiqueau commented on #1
@chriswep i have created a wrapper plugin for Angular that way (see below) and it is working well. Do you thing that will answer your request?
so i create a class `sqliteConnection.ts`
[code]

i then create a service `sqlite.service.ts`

[code]
and now call the service from a component

[code]

[2020-11-21 14:48] eduard1993-sudo opened #54 "Is there a way to open an existing database?"
Hello,
Is there a way to open an existing .db file on android and ios?
I'm using this plugin for the first time and I want to open an existing .db file ( called "mydatabase.db) which in pre-populated.
1. where i should put the .db file?
2. how the code will look for opening and querying and existing db?
Many thanks!

[2020-11-21 16:17] jepiqueau commented on #54
@eduard1993-sudo Hi, thanks for looking at the plugin. i never test but i do not see any reason why not.
According to the API doc
[code]
so your database should be rename as `mydatabaseSQLite.db` and when you open the database the command should be  something
[code]
Have a look at the different app starters (Ionic/Angular, Ionic/React, Ionic/Vue, React or Vue) depending on the framework you are us

[2020-11-21 18:32] eduard1993-sudo commented on #54
Hey jepiqueau, thank you so much for your message and support.
I will try this solution, i didn't name the .db file with "SQLite.db" at the end and the parameter for .open method without the suffix.
But until tomorrow, i do have one more question:
Where is the path data/data/MY_APP/databases ? i can't find it. should i create it?

I uploaded a pic with the tree in my android project dummy app. (i

[2020-11-22 07:00] jepiqueau commented on #54
@eduard1993-sudo In Android Studio, open the `Device File Explorer` Select your device emulator or your physical device

![image](https://user-images.githubusercontent.com/16580653/99897167-8819ad00-2c97-11eb-8de2-821e8b84741d.png)

Look for the package define in your manifest file

[code]

![image](https://user-images.githubusercontent.com/16580653/99897240-31f93980-2c98-11eb-8f45-108bec8c9ac8.pn

[2020-11-22 17:53] jepiqueau commented on #1
@chriswep , @digaus I have published a first alpha release of the refactor `npm i @capacitor-community/sqlite@refactor` which basically do what @chriswep has described. It is only developed for Android platform and doesn't contain all the methods. But i think is enough for understanding the principle. i also published a Ionic/angular app demonstrating the use of the new plugin ` https://github.com

[2020-11-22 18:00] jepiqueau commented on #52
@jtheiss I have published a first alpha release of the refactor `npm i @capacitor-community/sqlite@refactor` and provide an Ionic/angular app to demonstrate the use `https://github.com/jepiqueau/angular-sqlite-app-refactor`.I have remove the open/close for each sqlite query, that should normally give a better response time. the interface of the plugin has changed allowing for connection to multipl

[2020-11-22 22:09] MattOnyx opened #55 "CapacitorSQLite.requestPermissions() never ending on Android"
**Describe the bug**
`await CapacitorSQLite.requestPermissions()` does not resume execution after storage permissions are granted on Android;

**To Reproduce**
Steps to reproduce the behavior:

1. Add `await CapacitorSQLite.requestPermissions()` in your app initialization.
2. Run app on physical device

**Expected behavior**
The app should halt the execution on `requestPermissions()` and display a

[2020-11-23 07:01] jepiqueau commented on #55
@MattOnyx Thanks for using the plugin, a listener `androidPermissionsRequest` has been added to solve the issue#48

[code]
look at`https://github.com/jepiqueau/angular-sqlite-app-starter` Hope this clarify

[2020-11-23 08:24] MattOnyx commented on #55
My bad, I was indeed missing the androidPermissionsRequest part, thanks for your help!

[2020-11-23 08:24] #55 closed

[2020-11-23 10:49] jepiqueau commented on #55
@MattOnyx No problems, you are welcome.

[2020-11-23 11:27] marcsances opened #56 "Insert statement not accepting null values by parameter on iOS"
**Describe the bug**
When passing a ``null`` value as a parameter on a INSERT statement, on Android the insert is performed with NULL values as expected. On iOS I get an error "Not a SQL type".

**To Reproduce**
Attempt to perform an INSERT like this (assume ``this._sqlite`` is an open database with a table named Table and a column. The column is of type TEXT and nullable):

[code]

**Expected beh

[2020-11-23 11:55] jepiqueau commented on #38
@pritamsoni-hsr,  @dwieeb ,  @noerw , @danielprrazevedo,  i am currently working on a refactor of the `@capacitor-community/sqlite` plugin in view of exposing it through a connection to the database, multiple database connection, ...
this should easy the way to create a driver to `typeorm`.
An alpha version for Android  is now available including some of the basic sqlite methods ` https://github.c

[2020-11-23 13:54] jepiqueau commented on #56
@marcsances Thank for using the plugin and for reporting the issue. I will take into account of this in the next release as you didn't use the latest release to make your pull request.

[2020-11-23 14:08] jtheiss commented on #52
@jepiqueau Thank you for your effort!

I quickly did the needed changes to my testapp and it seems to work good on android now.
There is no noticeable difference between unencrypted & encrypted anymore for this simple case.

One thing i noticed:
When i query a table wich does not exist (yes, this is my fault - meant only as feedback ;-)
the app crashes and gets closed immediately.

` FATAL EXCEPTI

[2020-11-23 14:08] #52 closed

[2020-11-23 15:51] jepiqueau commented on #56
@marcsances This is fixed in release 2.4.3-1 of the plugin. i will reject the pull request
the test will be
[code]
Thanks again to use the plugin, close the issue when tested

[2020-11-23 16:16] marcsances commented on #56
Thank you for the quick reply on the matter. While the previous fix did work for some reason, now that I've checked out the plugin straight from master I'm having the same problem despite the NSNull check. It could be my environment. I've tried debugging, and it does have type NSNull, but the ``value is NSNull`` doesn't pass for some reason and falls to the ``else`` block.

I'm gonna further this

[2020-11-23 17:35] jepiqueau commented on #56
@marcsances
my test is
[code]
and the test was successful
after `npm i --save @capacitor-community/sqlite@latest` did you make a `npx cap sync` before the `npm run build`

[2020-11-23 18:39] jepiqueau commented on #52
@jtheis Do you mean that you have tested with the plugin refactor? You have to understand that it is not finalize yet but it good that you test it and report issues. that will help to debug and get a better and stable release when publish.
Thanks for your help.

[2020-11-23 19:53] marcsances commented on #56
Yeah now it's working, seems like our build scripts were messing with me and keeping the old plugin version. Thank you for the effort!

[2020-11-23 19:53] #56 closed

[2020-11-24 09:03] jepiqueau commented on #52
@jtheiss I didn't succeed to crash the app when inserting in a non existing table. Did you test the `result.changes.changes === -1` before continuing the rest of the code ?

[code]

[2020-11-24 10:51] jtheiss commented on #52
@jepiqueauy Yes, i did test the plugin refactor, sorry if that was unclear.
It is absolutely clear to me that this is an early not finished version and i will not really use it until a published version arrives.
I just tested it with my "sandbox" app only to provide you some hopefully useful feedback.

The crashing-problem does appear on a real android device with a simple query (SELECT * FROM non

[2020-11-24 12:16] jepiqueau commented on #52
@jtheiss thanks for the clarification, your feedback are important to me, so thanks for taking the time.
Can you share the code, on github, where the crash happen. What do you mean by `with the adb entry i previously provided` ? So please give me more info

[2020-11-24 12:18] jepiqueau commented on #52
@jtheiss What is the Android device are you doing the test and what is the Android (API level) on this device

[2020-11-24 13:07] jepiqueau commented on #52
@jtheiss i test it on my physical device which is quite old Samsung Note3 running lollipop and the app failed. It cannot open the database.
[code]

[2020-11-24 17:01] jepiqueau commented on #52
@jtheiss i finally got it working on my samsung and it work without crashing when i ask to insert in a wrong table without changing the code. the problem above come from the `deleteDatabase` i still have to figure out this

[2020-11-25 11:01] jtheiss commented on #52
@jepiqueau I tested on Samsung A50 (Android 10), but have several testing devices if you want me to test some specific android version. Just let me know.

As i said the crash does not happen on INSERT or REPLACE. Just on SELECT.

[2020-11-25 11:07] jtheiss commented on #52
@jepiqueau ADB log means the following lines taken from the native log of the phone:

```FATAL EXCEPTION: CapacitorPlugins Caused by: net.sqlcipher.database.SQLiteException: no such table: nonexistingtable: , while compiling: SELECT * FROM nonexistingtable; at net.sqlcipher.database.SQLiteCompiledSql.native_compile(Native Method) at net.sqlcipher.database.SQLiteCompiledSql.compile(SQLiteCompiledSq

[2020-11-25 18:44] jepiqueau commented on #52
@jtheiss i just published a new release i changed the select the try was not at the right position. Can you test and tell me if it is working now

[2020-11-25 18:45] jepiqueau commented on #52
@jtheiss the new release is `2.9.0-alpha.3`

[2020-11-26 06:48] jepiqueau commented on #54
@eduard1993-sudo   Is that solved your issue? if yes can you please close the issue

[2020-11-26 08:41] eduard1993-sudo commented on #54
Sure! all the best!!

[2020-11-26 08:41] #54 closed

[2020-11-26 09:30] jtheiss commented on #52
@jepiqueau confirmed working with 2.9.0-alpha.3

[2020-11-26 11:26] jepiqueau commented on #52
@jtheiss Thanks for the confirmation 👍

[2020-11-27 13:16] chriswep commented on #38
@jepiqueau i can have a look into the typeorm driver as soon as https://github.com/capacitor-community/sqlite/issues/1 is finalised

[2020-11-27 13:32] jepiqueau commented on #38
@chriswep This will be very nice if you can do it. You can even start quickly as the Android refactor is ready, only missing the json import/export. The iOS refactor will be there soon again without the json import/export so the interfaces  `ISQLiteConnection` and `ISQLiteDBConnection` will not really change now . I will only add a `getExistingConnection(database:string)` in `ISQLiteConnection` to

[2020-11-27 13:53] chriswep commented on #1
thanks @jepiqueau for pushing this forward. i wonder if `SQLiteConnection` is part of the plugin interface or if the user has to implement it themselves? if possible i think it would make sense to have that included in / returned from the plugin directly. don't know however how flexible you are with Capacitor plugins on the javascript side.

[2020-11-27 13:58] chriswep commented on #38
i'm not getting to this the next days anyway. maybe you have some basic documentation ready at some point? that would help getting started quickly.

[2020-11-27 14:04] jepiqueau commented on #38
@chriswep Ok fine, the documentation is there already
[API_Documentation](https://github.com/capacitor-community/sqlite/blob/refactor/docs/API.md)

[API_Connection_Wrapper_Documentation](https://github.com/capacitor-community/sqlite/blob/refactor/docs/APIConnection.md)

[API_DB_Connection_Wrapper_Documentation](https://github.com/capacitor-community/sqlite/blob/refactor/docs/APIDBConnection.md)

[2020-11-27 14:05] jepiqueau commented on #38
@chriswep sorry i close it by mistake

[2020-11-28 07:44] jepiqueau commented on #1
@chriswep `SQLiteConnection` and `SQLiteDBConnection` are part of the javascript side of the plugin

[code]
Voilà, that simple as you requested

[2020-12-02 21:54] accron-1 commented on #55
@jepiqueau Just to confirm: is `.addListener('androidPermissionsRequest'...)` the new way of requesting the permissions, in **all** JS frameworks, as opposed to the old way of simply doing an `await CapacitorSQLite.requestPermissions()` (which of course worked when I reported the issue #48 after your fix)?

[2020-12-03 09:54] jepiqueau commented on #55
@accron-1 Yes this is the way to do it now, see above. It was working well before but some users where complaining that the requestPermissions was not ending properly. With this way, at least there is no doubt.

[2020-12-16 13:42] digaus commented on #56
@jepiqueau

this won't work for `"INSERT INTO test (name, name1) VALUES (?,?)";` where `vals = [null, 'test2']`

Could you fix it for such cases aswell?

Also why is `run` check different from the `query `check?

Run: https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/Plugin.swift#L245

Query: https://github.com/capacitor-community/sqlite/blob/master/ios/Plugin/Plugin.swift#L314

[2020-12-16 13:48] jjgl opened #59 "Export To JSON Full or Partial"
Hi,

I am trying to use getDatabaseExport but getting the error below.
I've tried both passing 'full' and 'partial' as parameters.

For partial I made sure to have attribute 'last_modified' on all tables and called createSyncTable and setSyncDate methods.

The response I get invariably is:

{"message":"ExportToJson command failed : exportToJson(message: \"Error get tables \\'Partial\\' failed : Qu

[2020-12-16 13:50] ksymmonds commented on #56
@digaus This looks like you're not sanitising/validating your inputs. This is potentially dangerous.

[2020-12-16 15:28] digaus commented on #56
Why? I sync data from cloud and some values are null and I need to insert them into the local DB so I can access everything offline. Nothing to do with input values.

[2020-12-17 08:19] jepiqueau commented on #56
@digaus, which version of the plugin are you using. i test it with the `refactor` release and it works fine and it works also fine with release `2.4.3-1`

[2020-12-17 09:06] jepiqueau commented on #59
@jjgl first thanks for using the plugin. On iOS the syncdate is `Int(date.timeIntervalSince1970)` ie(1608195139) so you have to divide by 1000. Did you look at `https://github.com/jepiqueau/angular-sqlite-app-starter` and also at the documentation `https://github.com/capacitor-community/sqlite/blob/master/docs/API.md` and `https://github.com/capacitor-community/sqlite/blob/master/docs/ImportExport

[2020-12-17 11:39] jjgl commented on #59
Hi Jepiqueau, thank you very much for you reply, I really appreciate it.

Thanks for this:
"On iOS the syncdate is Int(date.timeIntervalSince1970) ie(1608195139) so you have to divide by 1000."

I had already checked API.md and ImportExportJson.md. I did copy paste content from API.md on my initial post as well.

Full mode should still work independently of last_modified being divided by 1000 or n

[2020-12-17 12:41] jepiqueau commented on #59
@jjgl `Error get table's names failed` means  that at the beginning of the process no tables list are returned. Did you open the database before and what is the database name in your open statement. So for testing just make a quick select on a table and see the result before to to `exportToJson("full")` .
For me the database is not opened or is empty that the only reason i can see for getting this

[2020-12-18 15:42] jepiqueau commented on #59
@jjgl Any news?

[2020-12-18 23:05] jjgl commented on #59
Thanks again Jean Pierre,

I can make inserts and selects and other operations on the database.

For example I have a table countries that I download from the server and
insert into the database

, the result is:

*response: {"changes":{"changes":230}}*

same with dummy customers:

*INSERT INTO customers
(last_modified,id,first_name,last_name,gender,email,phone,national_id,date_of_birth,created_at

[2020-12-19 08:52] jepiqueau commented on #56
@digaus Have you checked that it works fine with `2.4.3-1` the fix has been made in that version

[2020-12-19 09:19] jepiqueau commented on #59
@jjgl Have you try to debug in Xcode? It seems related to your database May be something that i have missed. It is happening in the `getTablesFull` method in the `ExportToJson.swift`. Can you share the schema of your database? so i could have a look to reproduce it. Would be nice to identify if it is in the `ExportToJson.getSchemaIndexes` method or in the `ExportToJson.getValues` Hope we will iden

[2020-12-19 09:26] jepiqueau commented on #59
@jjgl Is your countries id , customers id and country_id in customers TEXT?

[2020-12-19 13:42] jepiqueau commented on #59
@jjgl Is your `id` the first field in the schema of the `countries & customers` tables as mentioned in the API doc?

[2020-12-19 16:19] jepiqueau commented on #59
@jjgl OK i create a full test component like this
[code]
and i am able to reproduce the error so i will now work on finding the solution for it

[2020-12-19 20:33] jepiqueau commented on #59
@jjgl this is fixed in release 2.4.3. Test it and tell me if it is working now on your side

[2020-12-19 23:58] jjgl commented on #59
Hi @jepiqueau thanks again for running these tests:

 I updated my dependencies and now confirm getting:
All dependencies match the latest package versions :)

also double checking pakage.json has: "@capacitor-community/sqlite": "^2.4.3",

My schema just for testing this feature as simply as possible:
[code]

Again inserting 230 countries into de DB:

`[log] - sql: INSERT INTO countries (last_modi

[2020-12-20 14:04] jepiqueau commented on #59
@jjgl in your app folder go to
[code]

[2020-12-20 14:08] jepiqueau commented on #59
@jjgl this is working fine with release 2.4.3

[code]
if the `id` is an Integer it must be given in the INSERT as an Integer

i am updating the `angular-sqlite-app-starter` to demonstrate this Should be there soon

[2020-12-21 18:35] jepiqueau commented on #59
@jjgl Did you succeed to make it working ?

[2020-12-21 21:32] elianterelle opened #60 "Permission Request mostly unnecessary / unnecessary for Android > Api Level 19?"
I looked a little bit into why you need to request permissions for sqlite to work.
For me it seems like in most situations, it isn't necessary at all, because the permission requested by the Plugin are `READ_EXTERNAL_STORAGE` and `WRITE_EXTERNAL_STORAGE`. I guess these are only required when the user offloads the App's data to an SD Card for example?
Also, according to https://developer.android.co

[2020-12-22 04:32] jjgl commented on #59
Hi @jepiqueau,

I now have the export function working.

I deleted the iOS folder re added it and it worked.

I'm sure it was working when you updated the library and I'm sorry I didn't try this before.

Thank you very much for your help, it really encourages me to use and recommend this library with the level of support and involvement you have shown.

I will close this issue now.

[2020-12-22 04:32] #59 closed

[2020-12-22 08:23] jepiqueau commented on #59
@jjgl Happy that it is solved. If you just start to use this plugin, look at the `refactor` version of it, as the interface to the plugin is slightly different using a connection to the db object and allowing for making several simultaneous connections to different databases. I am currently finalizing the `importFromJson` and `exportToJson` methods which when available(few days) will finalize the

[2020-12-22 08:25] jepiqueau commented on #60
@elianterelle thank you for your comment, i will have a look

[2020-12-25 19:46] jepiqueau commented on #1
@chriswep , @digaus  The refactor process is now ended with the new release 2.9.0-beta.1 of the plugin. if you could have a look and revert to me .  It has been a quite heavy process, but all the tests pass. you could see the usage in a Ionic/Angular app `https://github.com/jepiqueau/angular-sqlite-app-refactor` Hope you will find what you were looking for. After testing, you could close the issue

[2020-12-26 08:26] jepiqueau commented on #52
@jtheiss the refactor is now on release 2.9.0-beta.1 and got all the features available for the 3 platforms. I think you can start planning to use it

[2021-01-01 22:09] danbenn opened #61 "Copying pre-existing sqlite databases"
Is copying pre-existing sqlite databases:

A: a feature that should live in a separate package, or,
B: something that would be welcome in a pull request for this package?

There is this existing package: https://github.com/an-rahulpandey/cordova-plugin-dbcopy

But it's difficult to use with capacitor.

Happy to look into writing this functionality, just wanted feedback on where that should live.

[2021-01-02 09:06] jepiqueau commented on #61
@danbenn You have to be a little more specific on what you want the copy to be. Where is residing the database that you want to copy ? Is there in the same folder? do you want to copy it to a new name? what about security of one copying your database ?
Currently, if the database is residing on a server you can use the importFromJson meaning that you have to do the function which is reading your da

[2021-01-02 17:06] danbenn commented on #61
@jepiqueau thanks for your thoughtful response.

I have a pre-populated sqlite database that lives in the assets folder.

The idea is that I could copy it from the assets to a folder where the database can be read.

Alternatively, I could download the database from a server and load it that way, just seems like unnecessary use of server resources if the user can get the database right from within

[2021-01-03 07:55] jepiqueau commented on #61
@danbenn, Thanks for clarifying, from the asset folder of your app it should be feasible. Are you using the `refactor` release of the plugin? Is it something urgent as i am currently busy on developing the Vue app starter for the refactor? I will have a look to implement it in the next release of the refactor, it will be a new method like `copyFromAsset()
[code]
the process flow will be
[code]

[2021-01-04 22:02] jepiqueau commented on #61
@danbenn This is solved in the release 2.9.0-beta.2 of the plugin. I did not updated yet the ionic/Angular and the Ionic/React app starters but i did it for the Ionic/Vue. so that could give you and idea. The database are stored in public/assets/databases folder of the app. All files with the `.db` extension  in the public/assets/databases are copied into the database folder of each device when yo

[2021-01-04 22:05] danbenn commented on #61
That was extremely fast, thank you @jepiqueau !! 👏 🎉

[2021-01-04 22:05] #61 closed

[2021-01-05 11:02] jepiqueau commented on #1
@chriswep as you did not comment i close the issue which is solved by the refactor.

[2021-01-05 11:02] #1 closed

[2021-01-05 11:07] jepiqueau commented on #38
Now that the refactor release is launched, it would be easy for one to develop the `typeorm driver`  when required. I will not develop it myself so i close that issue

[2021-01-05 11:07] #38 closed

[2021-01-11 14:57] chriswep commented on #1
thanks @jepiqueau - i'll get back to this when i tackle the migration form cordova-sqlite

[2021-01-12 08:22] jepiqueau commented on #1
thanks @chriswep

[2021-01-13 01:59] JayHong705 commented on #60
Our team also wondered why it requires permission for external storage. Is it possible to use internal storage instead of external storage? In the perspective of UX, it is very awkward for users to see an external storage permission on Android.
Our team always appreciates your effort for managing this plugin. Thank you and happy new year :)

[2021-01-13 02:40] no-dap commented on #60
Is this is progress? I also want to stop asking for 'photo' permissions to use a local database.
I can do some work for it if you want.

[2021-01-13 05:50] jepiqueau commented on #60
@no-dap @JayHong705 @elianterelle I have not yet started to look at it as i am concentrating on my two others plugins that i left away to develop the refactor and also trying to understand the effort to move to capacitor3. Is it something urgent ?

[2021-01-13 07:02] no-dap commented on #60
Yes. I currently add this plugin to my application, and the permission we're asking shown as photo permission on Android.
My customers barely grant it because of its name.

[2021-01-13 13:01] jepiqueau commented on #60
@no-dap Ok i will do it are you using the 2.4.5-1 or the refactor ?

[2021-01-13 13:29] jepiqueau commented on #60
@no-dap @elianterelle @JayHong705  this is fix in 2.4.5-2

[2021-01-13 14:31] maartenmensink commented on #60
Thanks for creating a pre-release. Any idea when this will 2.4.5 will be released?

[2021-01-13 17:48] jepiqueau commented on #60
@maartenmensink This is done

[2021-01-13 17:49] #60 closed

[2021-01-14 05:30] JayHong705 commented on #60
You released our users from embarrassment! Appreciate it so much!

[2021-01-14 06:21] jepiqueau commented on #60
@JayHong705 Thanks, you are welcome

[2021-01-14 13:51] gabrielberlanda opened #62 "REFACTOR - Electron 'encryption test' crashes example app on Windows 10"
**Describe the bug**

Running tests that use encrypted sqlite with electron on windows crashes the example app.

![image](https://user-images.githubusercontent.com/11332820/104598175-0588ea80-5655-11eb-8234-b5bd28be06fd.png)

**To Reproduce**

1. Clone [react-sqlite-app-starter](https://github.com/jepiqueau/react-sqlite-app-starter/tree/refactor)
2. Checkout in the refactor branch
3. Do all the [I

[2021-01-14 14:04] gabrielberlanda opened #63 "REFACTOR - All tests failed running electron packaged on Windows 10"
**Describe the bug**
Running [react-sqlite-app-starter](https://github.com/jepiqueau/react-sqlite-app-starter/tree/refactor#electron) or [angular-sqlite-app-refactor](https://github.com/jepiqueau/angular-sqlite-app-refactor) packaged for windows fails all tests

**To Reproduce**

1. Clone [react-sqlite-app-starter](https://github.com/jepiqueau/react-sqlite-app-starter/tree/refactor#electron)
2. Ch

[2021-01-14 14:29] rubentlc commented on #63
I have exactly the same problem with the android app...

[2021-01-14 17:42] jepiqueau commented on #63
@gabrielberlanda
this is the process
1. git clone --branch refactor https://github.com/jepiqueau/react-sqlite-app-starter.git
2. cd react-sqlite-app-starter
3. npm install
4. cd electron
5. npm install
6. cd ..
7. npm run build
8. npx cap sync
9. npx cap sync @capcitor-community/electron
10. npm run build
11. npx cap copy
12. npx cap copy @capacitor-community/electron
13. npx cap open @capacitor-c

[2021-01-14 18:07] jepiqueau commented on #62
@gabrielberlanda I will have a look but i do not have a development platform on Windows so it may take some time

[2021-01-14 18:21] jepiqueau commented on #63
@rubentlc you have to be more specific are you testing on a real device or on a simulator, are you using Android studio on windows or macOs? I can understand that electron could have an issue on windows but the android plugin is not sensitive to windows.

[2021-01-14 18:22] jepiqueau commented on #63
@gabrielberlanda, @rubentlc thanks for using the refactor release i will do all i can do to help you

[2021-01-14 18:37] gabrielberlanda commented on #63
@jepiqueau the electron:pack and the electron:build-windows are the commands to pack the application for distribution, to generate the .exe file.

Running with the npx cap open @capacitor-community/electron is for local test, running locally I found errors with encryption mentioned at #62.

[2021-01-14 18:49] jepiqueau commented on #63
@gabrielberlanda ok, i learned something, thanks i have something strange on my side i got a black screen and moving down to the elements in the dev tools where i got all the elements a blue rectangle appears on the black screen and if i click on i got the real player icon and when i click on i see the tab one and the tab button and sometime when clicking on tab2 and on the three test buttons it w

[2021-01-14 19:10] jepiqueau commented on #63
@gabrielberlanda it seems that there are some issues with @journeyapps/sqlcipher so i will have a deeper look

[2021-01-14 19:22] gabrielberlanda commented on #63
@jepiqueau Thanks a lot.

Unfortunately I don't have experience with capacitor plugins and Sqlite, but I can help testing this issue

[2021-01-14 19:26] deepakjsr7979 opened #64 "create the UNIQUE indexes"
Thanks for valuable addition to capacitor community..

I
want to add a index
 "indexes": [
	 	 { "name": "EmpIDIndex", "column": "CREATE UNIQUE INDEX EmpIDIndex ON FingerTemplateM (EmployeeId ASC, FingerIndex ASC)"}
	  ]
can you place the what i am doing Wong ; or can suggest me how to create indexes in table using .json file
thanks ..
Import and export the json file
**UNIQUE INDEX**

[2021-01-14 22:13] rubentlc commented on #63
hi @jepiqueau,

I'm testing in a real android device and I'm using android studio on a macOs.

The problem that I found is that the function "createConnection" returns always null.

[2021-01-15 06:37] jepiqueau commented on #63
@rubentic Are you testing an app starter  `react-sqlite-app-starter` or `angular-sqlite-app-refactor ` or in one of your app?

[2021-01-15 10:19] rubentlc commented on #63
@jepiqueau  I'm using in my own react app. Basically I have installed the modules "@capacitor-community/sqlite": "^2.9.0" and  "react-sqlite-hook": "^1.0.0-beta.4" as dependencies (not as dev-dependencies, I don't know if it does difference) and copied all the content of yout Tab2 page, all the components and the utils folder.

[2021-01-15 13:35] jepiqueau commented on #63
@rubentlc  Ok Did you modify the MainActivity.java file with the following
[code]
you must do this otherwise the plugin is unknown try and come back to me

[2021-01-15 13:51] jepiqueau commented on #63
@gabrielberlanda There was an error with the get App path in case of an executable, so this will be fixed and allow to run non-encrypted tests but the main problem is that @journeyapps/node-sqlcipher does not work or i could not make it working on windows, it works fine on mac you can visit `https://github.com/journeyapps/node-sqlcipher/issues`and the author did not give a way to solve this. i spe

[2021-01-15 14:54] gabrielberlanda commented on #63
@jepiqueau Thanks a lot!!

The encryption is not a big problem in my usecase, if it's working on packaged mode for me it's a big deal!

Out of curiosity, Would you know if have someone already working on the driver for the typeorm framework?

[2021-01-15 15:15] jepiqueau commented on #63
@gabrielberlanda typeorm see issue#38 and @chriswep he has proposed to do it.
if you give me still a bit of time, i found something so i will look to find how to solve it otherwise i will publish a new release with the warning on Windows if it is ok for you

[2021-01-15 17:21] deepakjsr7979 opened #65 "importFromJson file dont Suppoet data type BOOLEAN and DATETIME"
[code]
current JSON import don't support above data set and conditions. like cant have date-time function , can't set date time according to local-time zone, BOOLEAN  Type not support in importing and exporting data to the table,

**I capacitor community to look into this and enhance the plugin features.**

[2021-01-16 08:11] jepiqueau commented on #65
@deepakjsr7979 First thanks for using the plugin, BOOLEAN and DATETIME or not supported types from SQLite see doc `https://www.sqlite.org/datatype3.html` This is the reason why this type are not implemented in importFromJson.

[code]

[2021-01-16 08:30] jepiqueau commented on #64
@deepakjsr7979 This is explained in the doc `https://github.com/capacitor-community/sqlite/blob/master/docs/ImportExportJson.md`
[code]
I take the point on index UNIQUE and with combining columns. this is not implemented so it has to be done. Are you using the `REFACTOR`?

[2021-01-16 08:33] jepiqueau commented on #62
see REFACTOR - All tests failed running electron packaged on Windows 10 #63

[2021-01-16 08:33] #62 closed

[2021-01-16 10:32] jepiqueau commented on #63
@gabrielberlanda this is fix in 2.9.1 in fact when the app is running under Windows no encryption is done as i cannot figure out to do that with  @journeyapps/sqlcipher. It may come sometimes but to day i prefer spending my time on other bugs and on migrating my plugins to capacitor3.0. You can close the issue when you have tested on your side

[2021-01-16 10:33] jepiqueau commented on #63
@rubentlc as i did not hear from you i am assuming that your app works fine on android

[2021-01-16 10:56] deepakjsr7979 commented on #64
Thanks for your reply. 👍
No i m not using  REFACTOR yet.

[2021-01-16 11:10] deepakjsr7979 commented on #65
Thanks for your descriptive reply
 **relay informative , thanks man** 👍 .

[2021-01-16 11:25] deepakjsr7979 commented on #65
One more thing i want to ask
if i am evacuating any CapacitorSQLite.query({ statement, values: [] }))
how to get **SQL error statement** if query fails, as error message ?

[2021-01-16 11:34] deepakjsr7979 commented on #65
![image](https://user-images.githubusercontent.com/56829932/104810730-a8d82c00-581c-11eb-831a-090ae70553e6.png)
actually it gives so many data type options that is way i got confuse .

[2021-01-16 12:24] jepiqueau commented on #65
@deepakjsr7979 i understand your confusion but it seems that SQLiteStudio is not compliant if you take DB Browser for SQLite you will only see the 5 types described in the doc mentioned above. If you are using `refactor` release of the plugin, the result of a query return a Promise<capSQLiteValues> where

[code]

[2021-01-16 18:40] jepiqueau commented on #64
@deepakjsr7979 This has been fixed in the refactor 2.9.2

[2021-01-16 19:29] deepakjsr7979 commented on #65
thanks for your reply ,
message does't return the SQL query error only say  **Query command failed** not shows reason behind that failure
like SQL shows the message why the query got failed ?
not shows that.

[2021-01-16 19:35] deepakjsr7979 commented on #64
i am using "@capacitor-community/sqlite": "^2.4.5",
how i can get the latest one i run the cmd like
`npm i @capacitor-community/sqlite @latest -- save`
but nothing got changed.
please suggest 👍

[2021-01-17 10:30] jepiqueau commented on #64
@deepakjsr7979 to install the refactor you must do `npm i -- save @capacitor-community/sqlite@refactor` but before to do that as the interface as change visit the documentations for the refactor
- https://github.com/capacitor-community/sqlite/blob/refactor/docs/APIConnection.md
- https://github.com/capacitor-community/sqlite/blob/refactor/docs/APIDBConnection.md
- https://github.com/capacitor-comm

[2021-01-17 10:33] jepiqueau commented on #65
@deepakjsr7979 on which platform? i think in the refactor it must return the message, if not tell me as it was also part of the scope of the refactor to better handle the error message

[2021-01-17 15:07] deepakjsr7979 commented on #65
In Android platform , It only shows **Query command failed**  and changes -1 .

[2021-01-18 11:52] gabrielberlanda commented on #63
@jepiqueau It's working, thanks a lot!

[2021-01-18 11:52] #63 closed

[2021-01-18 14:52] rubentlc commented on #63
@jepiqueau it's working ok now! thanks!

[2021-01-19 08:12] jepiqueau commented on #65
@deepakjsr7979 Did you move your app to the refactor release of the plugin and if so do you still have the issue on the Error message?

[2021-01-21 04:26] najmulansari opened #67 "exportToJson command failed : return Obj is not a JsonSQLite Obj"
I am getting "exportToJson command failed : return Obj is not a JsonSQLite Obj" error whenever I do partial export. Full export always works. I have just 3 tables. I added just 2 entries still gives this error.

I am using the below plugins.
 "@capacitor-community/sqlite": "^2.9.5",
 "@capacitor/android": "^2.4.6",
 "@capacitor/core": "2.4.6"

Please help as I am stuck with this since long.

[2021-01-21 06:14] jepiqueau commented on #67
@najmulansari first thanks for using the refactor release it help to sort out all the bugs. I am ready to help but for this i need more data from you. The schema of your database , the stored synchronization date before the partial export, the 2 entries that you added was it from a partial importFromJson or from a normal  use (execute, executeSet or run). Can i see partially the code where you do

[2021-01-21 10:05] jepiqueau commented on #67
@najmulansari Are you using the Electron platform?

[2021-01-21 15:53] najmulansari commented on #67
Hi @jepiqueau,
Below are the details.

DB Schema.
--------------
export const tableSchema: string = `CREATE TABLE IF NOT EXISTS class (id INTEGER PRIMARY KEY NOT NULL,userId INTEGER,className TEXT,description TEXT,last_modified INTEGER  DEFAULT (strftime('%s', 'now')));
CREATE TABLE IF NOT EXISTS section (id INTEGER PRIMARY KEY NOT NULL,userid  INTEGER  ,classId  INTEGER  ,sectionName  TEXT NOT NU

[2021-01-21 17:26] jepiqueau commented on #67
@najmulansari Which platform are you testing Android, iOS, Electron

[2021-01-21 17:28] najmulansari commented on #67
@jepiqueau Android, OS 7/10

[2021-01-21 18:25] jepiqueau commented on #67
@najmulansari Ok i did reproduce the issue, so i have to figure out this thanks for your patience

[2021-01-21 19:35] jepiqueau commented on #67
@najmulansari the syncDate and the date of the insert users are the same so there is no object returned
so define your initial syncDate as date - 2 hours
[code]
after do your insert
do your export
this should work

[2021-01-22 03:22] najmulansari commented on #67
@jepiqueau - After making changes as per your suggestion, Now I am getting "SetSyncDate command failed".

  public async getDatabaseExport() {
    var result = await this.db.getSyncDate();
    if (result.syncDate === 0) {
      let date = new Date();
      date.setHours(date.getHours() - 2);
      let syncDate: string = date.toISOString();
      await this.db.setSyncDate(syncDate);
      return;

[2021-01-22 07:06] jepiqueau commented on #67
@najmulansari this has been implemented in ` https://github.com/jepiqueau/angular-sqlite-app-refactor` and works well but it was to explained the reason of failure more than thing you should do. For me, there is no reason to do a partial export just after creating a database. Usually the process flow of synchronization is

- get the database schemas, indexes and table's data from a server
- create

[2021-01-23 02:56] najmulansari commented on #67
Thank you so much for your help, I really appreciate it. I think setSyncDate was the issue. On setting 2 hours earlier it solved the problem. A big thumbs up for you.

[2021-01-23 06:18] jepiqueau commented on #67
@najmulansari you are welcome

[2021-01-23 06:18] #67 closed

[2021-01-23 06:19] jepiqueau commented on #64
@deepakjsr7979 Any news ?

[2021-01-23 06:20] #65 closed

[2021-01-23 18:03] deepakjsr7979 commented on #64
Haf of the reference  link  are not working ,
However if i update the existing plugin did i have to change my code big way?

[2021-01-24 08:41] jepiqueau commented on #64
@deepakjsr7979 All the links where working when i gave them to you, but now the don't as i move the refactor branch of the plugin to branch 2.9.x since i have published the beta using the capacitor3 in the master. so they are now
- https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/APIConnection.md
- https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/APIDBConnection.md
- http

[2021-01-24 10:49] deepakjsr7979 commented on #64
#thanks man
Really appreciate your contribution to ionic community..

Bro as u r using your own oh JSON import structure to create tables and import data , but if export from tools like DB browser for sqlite or sqlite studios it has a different SQL skema na data , if ther way to map bother the json system generated according to your JSON import structure , because if you have database created in S

[2021-01-24 15:35] seanwu1105 commented on #2
@jepiqueau Any updates for web platform support with sql.js?

[2021-01-24 18:23] deepakjsr7979 commented on #64
i have now updated my 2.4 to
` "@capacitor-community/sqlite": "^2.9.6",`
now i m gating error
{"result":false,"message":"isJsonValid command failed : Stringify Json Object not Valid"}
same json was working on perfectly on 2.4 ver.
at list message will say why its not valid..? i have added  "version": 1, -- but stell has that error.

[2021-01-25 06:47] jepiqueau commented on #64
@deepakjsr7979  look at https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor it will help you to see what should be the impact in your code of moving from 2.4 to 2.9.6. You will see that the plugin initialization has changed. See the new service below
[code]

You can also share your code on github so i may have a look

[2021-01-25 08:05] deepakjsr7979 commented on #64
retrieveAllConnections return Null;

if i put database: this.dbName in every method its working is it recommended to do so?

[code]

[2021-01-25 08:06] deepakjsr7979 commented on #64
Bro can You please  reply on this as well?

[2021-01-25 08:10] seanwu1105 commented on #2
@jepiqueau I understand sql.js only supports a volatile database which might not be a good choice. However, IMHO, supporting web platform would greatly help to debugging or fast prototyping an app as I do not need to build the Capacitor project to emulator or physical devices. I can simply build and serve the app on local browser to verify the functionality just implemented.

sql.js provides a way

[2021-01-25 09:57] jepiqueau commented on #64
@deepakjsr7979 As already mentioned the code is there https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor . Clone it and make it working. When you will have understood modify your code accordingly and it will work. For what i saw from DBBrowser if can exported the SQL statements or the table data in json but not the shemas or indexes. So if you want to import a database exported

[2021-01-25 12:41] cparkinsonMYCM opened #69 "Where do I begin?"
**Describe the bug**
Just can't get started with this...

Nothing I do will put the package into my android project.
`npx cap sync` recognises the plugin is there and then just leaves it at that...
I get:
[code]

but when I put `import com.getcapacitor.community.database.sqlite.CapacitorSQLite;` in my `MainActivity.java` I get
"Cannot resolve symbol 'community'"

I assume part of the sync and/or c

[2021-01-25 12:53] cparkinsonMYCM commented on #69
Or maybe they did?

I don't know what it was that I changed, but after just mindlessly fiddling with folders and things it now doesn't error and finds the package in the `node_modules\@capacitor-community` folders...

Feel free to close, I guess.
I assume it's Capacitor's issue if not Android Studio's...

[2021-01-25 14:41] jepiqueau commented on #69
@cparkinsonMYCM Which version are you using ? 2.4.6, 2.9.6, 3.0.0-beta2 ? Have you tried the application starters?
Which Framework ?

[2021-01-25 15:01] jepiqueau commented on #2
@seanwu1105 Understand your point. I never thought about it.  But in fast prototyping you could use the Electron platform, which works on the "Web browser" allowing you to store the db on your disk. It is as easy as the Web.
you just do the following
[code]
instead of
[code]
the sql.js project is not even storing the db in indexDB, if it would it could have been much easier. For me is quite a lot

[2021-01-25 15:20] cparkinsonMYCM commented on #69
For reference, though I don't think it was fault of the plugin.
I'm using 2.9.6, also was an issue with 2.9.5 on Friday before I left for the weekend.

Framework is Ionic/Angular.

At the time `Synchronize the Project with Gradle Files` wasn't an option, it was disabled. I haven't manually chosen that, so maybe it happened from updating things.
I did make sure Gradle and every other tool I could u

[2021-01-25 15:52] jepiqueau commented on #69
@cparkinsonMYCM You are welcome,  i am glad that it works now. thanks for using the plugin. Hope you will enjoy it in your development. If you find issues do not hesitate to report them. So i close the issue

[2021-01-25 15:52] #69 closed

[2021-01-26 08:13] dinosaadeh opened #70 "Import with foreign keys defined"
I noticed that when I do an import and that there are foreign keys, the child table doesn't import and I think it is part of a transaction logic.. Importing the child while the parent table import didn't commit is causing the whole transaction to abort.

[2021-01-26 11:12] alu0100991659 opened #71 "Compound primary Key when ImportFromJSON"
Hi, is it possible to define a compound primary key when creating a database from a JSON?

The example bellow didn't work

[code]

[2021-01-26 15:56] jepiqueau commented on #71
@alu0100991659  hi, thanks for using the plugin, it is a feature to implement, i will have to figure out

[2021-01-26 16:04] jepiqueau commented on #70
@dinosaadeh hi, thanks to bring this on github. I never test it, thinking about it  and before i bring a solution i suggest the following workaround. make a first import 'full' containing all the table's (schema, indexes) and the parent table's data and when it is executed successfully make a second 'partial' import containing all the child table's data. I didn't test it but i think it should work

[2021-01-27 19:25] vorkapps opened #72 "com.getcapacitor.community.database.sqlite.CapacitorSQLitePlugin cannot find symbol"
I was using the 2.4.4 version of the plugin which presented random problems with the permissions, so I thought to use the 2.9.6 version and modified my code to use the new methods.
However while trying to build the Android native application, Android Studio cannot find the com.getcapacitor.community.database.sqlite.CapacitorSQLitePlugin import

I've tried everything, removing and re-installing the

[2021-01-27 19:27] vorkapps commented on #72
it finds com.getcapacitor.community.database.sqlite.CapacitorSQLite but not com.getcapacitor.community.database.sqlite.CapacitorSQLitePlugin, as if it's finding the old version of the plugin

[2021-01-27 20:10] vorkapps commented on #72
Ok it seems that on the main README.md it says that you need to use:
import com.getcapacitor.community.database.sqlite.CapacitorSQLitePlugin;

public class MainActivity extends BridgeActivity {
    @Override
    public void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);

        registerPlugin(CapacitorSQLitePlugin.class);

    }

But when you look on the README.

[2021-01-27 20:10] #72 closed

[2021-01-28 06:33] jepiqueau commented on #72
@vorkapps hi, thanks for using the plugin and to migrate to 2.9.6. If you use the 2.9.6 `(latest)` , you have to look on github to the readme of the branch 2.9.x to get the instructions. The instructions that you are talking about are on the master branch which are corresponding to the `next` release which are using Capacitor3. if you look also at `https://www.npmjs.com/package/@capacitor-communit

[2021-01-28 08:29] vorkapps commented on #72
@jepiqueau hi and thanks for replying :) My bad then! :) I look forward to using your plugin when v3 is out
Many thanks!

[2021-01-28 10:25] jepiqueau commented on #72
@vorkapps Ok so for the v3 look at the master, in fact for Android you will not have to add something in the mainActivity.java i will updated the readme i have tested it for Ionic/Vue and Ionic/React and it works so i will also update for Ionic/angular. thanks again for using the plugin

[2021-01-28 21:03] vorkapps opened #73 "No permission to write to db"
Hi, I'm using 2.9.6 (latest)

I'm having real troubles identifying what's going on... On some devices the sqldb is create, opened and populated fine, without any issues. On others it does not get created...

No permission is requested from the user on either of the above. I assume it is "obtained" by default, as it is not requested even for the devices it functions correctly.

Code fragment:

sqli

[2021-01-29 08:24] jepiqueau commented on #73
@vorkapps Have you identified on which device it does not work? It is difficult to say. I only test on Apple simulators as i do not have any Apple real device. Normally, there is no need for permissions as far as i know on Apple.
I do not understand in your code why you are missing `await` and `.then` which may cause an issue
[code]
i think it should be either
[code]
or
[code]
Which framework are

[2021-01-29 11:23] CosminCraciun opened #74 "getSyncDate() bogus output"
getSyncDate doesn't work as expected.

I used the provided [Ionic/Angular app](https://github.com/jepiqueau/angular-sqlite-app-starter) from the repo.
I modified the 2 databases test so that after setting the syncDate, I also retrieve it to see how it looks like:

[code]

The retrieved sync date is `1606293025`. I expected to see the same syncDate I inserted "2020-11-25T08:30:25.000Z".
Note that t

[2021-01-29 13:38] jepiqueau commented on #74
@CosminCraciun Thanks for using the plugin, the date which is returned is a number corresponding to the `unix epoch` of the date you have entered which is stored in the database. so if you do
[code]
you will get `c = 2020-11-25T08:30:25.000Z` which is the one you have given
Hope this clarify

[2021-01-29 13:51] CosminCraciun commented on #74
Yeah, thanks!
Initially I didn't multiply with 1 000. I didn't catch this in the documentation, but it's possible that I missed it.
Great work, though!

[2021-01-29 13:51] #74 closed

[2021-01-29 14:35] vorkapps commented on #73
I'm using Ionic/Angular
When I had the "if" statement to check the .result value it was never getting a true value for some reason
I have an "await" before the this.sqldb.open()..... because I want to execute the open asynchronously and move to the next statement only after the open() executes (either successfully or not). Is this wrong? But why should it interfere?

[2021-01-29 14:36] vorkapps commented on #73
The problem occurs on ANDROID, not sure about apple, but I think it does there too, but not on all devices

[2021-01-29 21:07] vorkapps commented on #73
Hi again, dont spend any time on this, I think there might be a logic error in the app, under certain conditions and it might not be a problem with the plugin. I will let you know soon. Thanks ! :)

[2021-01-30 09:57] jepiqueau commented on #73
@vorkapps Ok, tell me when you fix your app and close the issue

[2021-01-30 12:00] #64 closed

[2021-01-30 13:01] vorkapps commented on #73
Indeed it was a logic error which never occured when an existing "beta" tester was launching the app, even if it was newly installed... It never happened before, because all users were beta-testers, but now that the app is out in the open, it happens to all new users...
Sorry for troubling you, and thank you for an excellent plugin
Question (if I may get your feedback on it):  what is better on ne

[2021-01-30 14:18] jepiqueau commented on #71
@alu0100991659 This has been fixed in release 2.9.7. It is implemented with a `CONSTRAINT`
example for using it
[code]
if it works at your place, please close the issue

[2021-01-30 20:45] dinosaadeh opened #75 "Data import where the ID is a UUID"
I opted for a table (as a first step before changing the rest) to have a UUID. On import it failed. The reason being is that in UtilsJson.java, the method isIdExists is throwing an exception that was not caught. The key is passed and the dashes  in SQL represented unknown tokens. So I added the following which works both for numeric IDs and UUID (string):

[code]

This solved my issue. Please advi

[2021-01-31 06:57] deepakjsr7979 opened #76 "Can't create my own DB Trigger"
Can't create my table base own trigger according to my use , can't import export as well.. can we accept this to be done ✅ in future?

[2021-01-31 07:19] jepiqueau commented on #73
@vorkapps you can choose both options. you have to balance between the "dead-weight" of the pre-populated database which will be used only once and the time to execute the sql-set the first time which can be painful for the user and discourage them to use the app. i will certainly opt for the solution 1 for application size(kilobytes) reason, but it is up to you to evaluate this. i close this issu

[2021-01-31 07:20] #73 closed

[2021-01-31 07:26] jepiqueau commented on #76
@danielprrazevedo  Hi, yes i know that we cannot import/export trigger yet. It was on the list of ToDos, but i decided as know one where asking to prioritize the move to Capacitor3 which took me much more time that foreseen. that will be the first on the list except if there are other bugs requiring my attention. Is it something blocking for you?

can you more descriptif on `Can't create my table

[2021-01-31 08:06] jepiqueau commented on #75
@dinosaadeh Thank for that bug for Android and Electron. It was well written for iOS. it will come in the next release as:
[code]
Which version are you working with ?

[2021-01-31 08:26] deepakjsr7979 commented on #76
Thank's for your reply...

I mean to say that I have created my project  required own trigger , its working fine in my DB sqlite , but i don't know how to add that trigger to specific table , as u have it for last_modified

[2021-01-31 09:34] jepiqueau commented on #76
@deepakjsr7979 ok so you do not know how to add it to a specific table in the json object to import i assume

[2021-01-31 09:58] jepiqueau commented on #76
@deepakjsr7979  Which release of the plugin are you using?

[2021-01-31 11:10] deepakjsr7979 commented on #76
I m using 2.9.6

[2021-01-31 12:42] dinosaadeh commented on #75
"@capacitor-community/sqlite": "^2.4.3-1",

[2021-01-31 16:33] jepiqueau commented on #76
@deepakjsr7979 i am working on it, it will be on the next release

[2021-01-31 16:56] deepakjsr7979 commented on #76
Thanks man☺️ really appreciate your effort..

[2021-02-01 09:38] jepiqueau commented on #76
@deepakjsr7979 this has been fixed in 2.9.8

[2021-02-01 09:39] jepiqueau commented on #75
@dinosaadeh this has been fix in 2.9.8

[2021-02-01 13:37] jepiqueau commented on #76
@deepakjsr7979 There were a small issue for  `Android export 'Partial' triggers` which is fixed in 2.9.9

[2021-02-01 15:46] deepakjsr7979 commented on #76
Great 👌 I will check it and reply you soon 🙂.

[2021-02-01 15:55] deepakjsr7979 commented on #76
Can you please give  an example of Json structure  to create UUID and trigger ?

[2021-02-02 17:16] jepiqueau commented on #71
@alu0100991659 has you did not send any news i close the issue

[2021-02-02 17:16] #71 closed

[2021-02-02 17:21] jepiqueau commented on #76
@deepakjsr7979 The doc was updated so look at https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/ImportExportJson.md#full-mode-with-triggers-and-uuid

[2021-02-02 17:21] #76 closed

[2021-02-02 17:22] jepiqueau commented on #75
@dinosaadeh see example in the doc https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/ImportExportJson.md#full-mode-with-triggers-and-uuid , so i close the issue

[2021-02-02 17:22] #75 closed

[2021-02-03 07:54] jfernandino commented on #71
Sorry if i'm getting late to the issue but i tried this example and i'm getting the following error: "ImportFromJson: ImportJson: CreateDatabaseSchema: CreateSchema: Execute: SQLITE_ERROR: near ")": syntax error: ". If i remove the constraint it's working fine.

[2021-02-03 17:16] jepiqueau commented on #71
@jfernandino Are you on Windows ? i test on MacOs with Ionic/Angular and it works fine Did you run the "angular-sqlite-app-starter" ?

[2021-02-03 20:04] jfernandino commented on #71
I'm using windows yes. I ran react-sqlite-app-starter and added one table with composite pk, using the example above. And the problemen is the same yes.

`
{"changes":{"changes":-1},"message":"ImportFromJson: ImportJson: CreateDatabaseSchema: CreateSchema: Execute: SQLITE_ERROR: near \")\": syntax error: "}
 `

[2021-02-05 14:28] jepiqueau commented on #71
@jfernandino On my side, it is working. see https://github.com/jepiqueau/react-sqlite-app-starter/tree/refactor . May be you forgot to run `npx cap sync @capacitor-community/electron` after installing the new version of @capacitor-community/sqlite. This is the only thing i can think about it.

[2021-02-05 15:20] enginarmutcu opened #77 "Copy db from storage"
Hello,

I want to use my existing prepared database, I download from my server but I can not copy into assets folder so I can not use copyFromAssets function.Is there a way to use existing database in external folder or data folder?

Thanks.

[2021-02-05 16:20] jepiqueau commented on #77
@enginarmutcu On which platform have you download from your server (iOS, Android, Windows, MacOs) ?. Is it a sqlite db? why you cannot copy it to the asset folder?

[2021-02-06 15:37] enginarmutcu commented on #77
Hi,

I use Ionic 5 - capacitor and trying with android.I use sqlite db. While the app is running, I download sqllite db from web and the downloaded sqllite db stored in application data folder as you can see.
![image](https://user-images.githubusercontent.com/67257016/107122571-75337380-68a9-11eb-95ae-c3204e90036b.png)

As far as I understand, copyFromAssets function is not applicable to this fold

[2021-02-06 18:55] jepiqueau commented on #77
@enginarmutcu Ok, so just create a `databases` folder under io.ionic.starter, not under files folder and move the `transactiondb.db`  and rename the database as `transactionSQLite.db` then you can access it in your app by giving `transaction` as  database name
[code]
like this it should work.

[2021-02-07 13:04] deepakjsr7979 opened #78 "I am trying to use Database Inspector in Android Studio. always showing my application database (highlighted in the image) as "closed"."
![image](https://user-images.githubusercontent.com/56829932/107147239-f0ad2780-6972-11eb-835d-d5e791a39d35.png)

Any word on this issue?

[2021-02-08 07:59] jepiqueau commented on #78
@deepakjsr7979 No idea, i tried on one of my App running on an Emulator `Pixel 3a XL API29` and when i opened the Database Inspector, i could not see any of the databases, i got `Nothing to show`. I am running Android Studio 4.1.2. i look at other apps ie com.google.android.calendar , there i can see the all the dbs. Looking at the `Device File Explorer` the only difference i can see it that the p

[2021-02-08 09:09] jepiqueau commented on #78
@deepakjsr7979  I changed the permissions of my dbs to `-rw-rw----` but it does not change anything i still cannot see the databases in the `Database Inspector` So i cannot help more on this, sorry for this.

[2021-02-08 18:08] tfuetterer opened #79 "Is there a way to connect to a db file, that not has the prefix SQLite.db"
Hi,

I want to migrate from Cordova to Capacitor and have an existing Andoid app. But the db file does not have the SQLite.db extension, so I cannot connect to this with your plugin. Is there a way to do so?

Thanks in Advance

[2021-02-08 18:26] deepakjsr7979 commented on #78
Have you seen the answer there ? Or can suggest any thing from this link

https://stackoverflow.com/questions/65058335/android-studio-database-inspector-always-showing-database-as-closed

[2021-02-09 07:12] jepiqueau commented on #79
hi, thanks for using the plugin. Well can't you rename your db to have the suffix SQLite.db and after that it will works. In a mean time, i will put this on my list of improvements, i will add a command to rename all the dbs in the database folders for iOS and Android. I will do this a bit later so in a meantime tell me if you do not succeed to rename your file

[2021-02-09 07:13] jepiqueau commented on #77
@enginarmutcu Have you succeed to rename the file. see my answer to #79

[2021-02-09 07:29] jepiqueau commented on #78
@deepakjsr7979 I had a look but it does not change anything from my side. I do not see the databases even when i start in the debug mode. Did you do something to see them any preferences ? I am running the emulator in Android Studio.

[2021-02-09 07:55] tfuetterer commented on #79
Hi, thanks for the quick reply. I tried to copy the file, but with the capacitor FileSystem API, I was not able to access the databases folder in any way and I spend a whole day on this. Mayby you have expierience with this?

Maybe, instead of renaming the files, it would be better if you implement to copy the files, because then you have a backup of the db, just in case anything goes wrong =)

[2021-02-09 09:00] enginarmutcu commented on #77
Hello,
I can create _databases_ folder manually by android studio file explorer.But I need to do this programmatically.Capacitor filesystem plugins could not be create this folder or I can not do it.

[2021-02-11 07:52] ryaa opened #80 "Can this plugin used with ionic-storage?"
**Is your feature request related to a problem? Please describe.**
Ionic Storage (https://github.com/ionic-team/ionic-storage) can use cordova sqlite (https://github.com/storesafe/cordova-sqlite-storage) as a storage medium. Can this plugin replace cordova sqlite for usage with ionic storage?

**Describe the solution you'd like**
Use this plugin with ionic storage.

**Describe alternatives you've

[2021-02-11 08:46] jepiqueau commented on #79
@tfuetterer In which folder are your databases created with the cordova-plugin.? the process should be to copy the file from that folder to the database folder and rename them by adding the suffix SQLite. Up to you to manage the delete of the "cordova plugin" files later. Is that right?

[2021-02-11 08:46] Snogo opened #81 "sqlite undefined. retrieveConnection not working | Ionic Vue | function call"
first of all thank you very much for the package. I can successfully create my sqlite database and insert rows and access them and load them all into a page (ion-list). this works perfect. now however I want to implement a filter functionality. with a selection of an ion-select the data should be filtered via an WHERE query. when I try to do that I get the following error:

**Uncaught (in promise)

[2021-02-11 09:17] jepiqueau commented on #81
@Snogo I only test it from a component call by a view where i encapsulate the component into a Suspense for dealing with asynchroneous functions like this for the component `ExistingConnTest`
[code]
I never test it like you do. Can you show how this function is called

[2021-02-11 09:28] Snogo commented on #81
I see. here are the two code snippets of interest:

[code]
and

[code]

[2021-02-11 09:38] jepiqueau commented on #81
@Snogo can you also share createTablesNoEncryption, importAllAnimals so i can try to reproduce. Would be in fact better if you can share the whole code on github

[2021-02-11 09:43] jepiqueau commented on #81
@Snogo i do not see where you call initVDB, Would changing
[code]
by
[code]
make a difference

[2021-02-11 09:59] Snogo commented on #81
you are right. should put it in `async `but then somehow filterAnimal is not called anymore (not console outputs)

and `initVDB `is called inside `loadAnimal ` if there is no data in the sqlite database
I send you an invitation to the GitHub

[2021-02-11 09:59] jepiqueau commented on #80
@ryaa  Ionic Storage is a  simple key-value Storage module. so you can use the capacitor-data-storage-sqlite `https://www.npmjs.com/package/capacitor-data-storage-sqlite` which i have developed for key-value storage. This one is more for a general database purpose. Thanks for looking to those plugins

[2021-02-11 10:00] jepiqueau commented on #81
@Snogo ok thanks

[2021-02-11 10:08] jepiqueau commented on #81
@Snogo yes i did not saw it in a first look

if you do this can it solved
[code]

[2021-02-11 10:14] Snogo commented on #81
true. this is actually how I wanted it to be - but again `filterAnimal()` seems to be mysteriously not called anymore
maybe in the second function call in the same file in the LifeCycle `onMounted ` is not fired anymore (?)

[2021-02-11 11:08] jepiqueau commented on #81
@Snogo Can you try this filterSize is a ref so

[code]

[2021-02-11 11:32] NLueg commented on #80
@jepiqueau I don't think that you got the main point of the question as I think I have the same question.
Ionic Storage use  `cordova-sqlite-storage` directly out of the box if the plugin is installed.
Is this the same with this plugin? Does ionic-storage use this plugin out of the box if it is installed?

[2021-02-11 13:24] jepiqueau commented on #81
@Snogo i have try to implement your stuff in my app but it seems that the ion-select ionChange is not triggered so it never calls the filterAnimal

[2021-02-11 13:31] deepakjsr7979 commented on #78
i am ruining on android device.  and if  device android ver > 26 then u can see all the data base in android studio.

[2021-02-11 14:10] jepiqueau commented on #80
@ryaa  @NLueg The answer is no better talk to the Ionic team. I am not from Ionic. Sorry for this

[2021-02-11 14:14] jepiqueau commented on #78
@deepakjsr7979 I am running API 29 and I cannot see them. Why do you not use DB Browser to look at your DB's. It is free and works. You can also address this point to Android Studio.

[2021-02-11 16:30] deepakjsr7979 commented on #78
I don't know if db browser will so live device database change .. as android studio will so

[2021-02-11 19:46] MKlimentowicz opened #82 "More precise error message on failing statements"
Is it possible to have a more precise error message when a statement fails?

I have a Problem with this statement:
`SELECT * FROM myTable WHERE entityId = '710870e6-d70e-498c-8ad6-756ff361e75f';`

I then get such return:
`{ "values":[],"message":"Query command failed" }`

Is it possible to get an error message that comes directly from SQL. For example, an error code? (https://www.sqlite.org/rescod

[2021-02-12 08:57] Snogo commented on #81
I did but actually I give over `filterSize.value` in the parameter. thus it shouldn't be a ref anymore. I will also get a runtime error if I put that in the onMounted event for the first call of the function (loadAnimals)

`ionChange `is triggered. it actually tells me the correctly selected value of the ion-select in the console - however the onMounted event is not triggered again (a second time

[2021-02-12 09:30] jepiqueau commented on #82
@MKlimentowicz First thanks for using the plugin, Which release of the plugin are you using?. the UUID has been introduced in release 2.9.8. The error management has been enhanced in the 3.0.0-beta of the plugin through the use of try.. catch in order to bring back the SQLite message. Can you share the myTable schema and few inserts so i can try to replicate

[2021-02-12 09:56] MKlimentowicz commented on #82
@jepiqueau Thanks for your fast answer!

I use this version: `"@capacitor-community/sqlite": "^2.9.9"`

Here is the creation script for my schema:
[code]

It has no entries I just expect an empty result but I get this (it is my own console.log):
[code]

[2021-02-12 12:24] tfuetterer commented on #79
The database is actually in the same folder ("databases")

[2021-02-12 13:18] jepiqueau commented on #82
@MKlimentowicz  I am looking at it for the next release. In electron it is returning results=>{"values":[]}

[2021-02-12 13:22] #80 closed

[2021-02-12 16:25] Snogo commented on #81
about the `onMounted `not firing. it makes sense according to the [Ionic Docs ](https://ionicframework.com/docs/vue/lifecycle):

I now tried to close the sqlite connection everytime I finish doing something with the database before calling `filterAnimal` with no effect unfortunately. also the line `app?.appContext.config.globalProperties.$existingConn.setExistConn(true);` when trying to retrieve t

[2021-02-12 18:56] MKlimentowicz commented on #82
@jepiqueau Thank You! I have found that it is not an error at all. After I added a few records, there was no error. **But it would still be very useful to get more precise error messages**. Especially as I now have a problem adding several records at once and only get this information: `{"changes":{"changes":-1}}`

[2021-02-14 16:38] jepiqueau commented on #82
@MKlimentowicz fix in 2.9.10

[2021-02-14 16:39] jepiqueau commented on #79
@tfuetterer fix in 2.9.10 use new method `addSQLiteSuffix` and `deleteOldDatabases`

[2021-02-14 16:44] jepiqueau commented on #77
@enginarmutcu fix in 2.9.10, use `addSQLiteSuffix` and `deleteOldDatabases`methods see https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/MigratingCordovaDatabases.md for explanations

[2021-02-14 16:45] jepiqueau commented on #79
@tfuetterer see https://github.com/capacitor-community/sqlite/blob/2.9.x/docs/MigratingCordovaDatabases.md for explanations

[2021-02-15 08:48] Snogo commented on #81
@jepiqueau I put it now all in the .vue file in it works! the file gets huge and its against the project structure but at least it works now. file this as solved for now. don't know why the function calls don't work

[2021-02-15 19:51] jepiqueau commented on #81
@Snogo i finally got it look at https://github.com/jepiqueau/vue-sqlite-app-starter/tree/refactor/src/components/Animals it works wit a new version of the plugin 2.9.12 and a new version of the vue-sqlite-hook 1.0.1 Tell me if you like it

[2021-02-16 16:54] tfuetterer commented on #79
Thank you very much for the help. I will try it as soon as possible.

[2021-02-17 12:08] MKlimentowicz commented on #82
@jepiqueau
I get an error when I create my schema. I use `2.9.12` Version of your plugin.
[code]

This statement creates nothing and ends with an error. But the message I get is just that:

[code]

When I use the 'execute' method, the schemas are created. But with 'executeSet' it does not work. This is how you can reproduce the error:
[code]

From my point of view, the error messages have not chan

[2021-02-18 07:24] jepiqueau commented on #82
@MKlimentowicz Hi, the schema creation must be done through the `execute` command and not through the `executeSet` command which is made for inputting a set of data into the database.
The error message system  has been completely refactor on the 3.0.0-beta releases. This refactoring process will not be implemented in the 2.9.x releases. So move to the 3.0.0-beta which will become the official late

[2021-02-18 14:05] Snogo commented on #81
@jepiqueau thank you very much
however i just tried to use your new code with mine but get this error
`Property 'isDBOpen' does not exist on type 'SQLiteDBConnection'`
I have updated to the new packages  plugin 2.9.12 and vue-sqlite-hook 1.0.1

[2021-02-19 08:05] jepiqueau commented on #81
@Snogo Can you close the issue if everything work fine or i will close it to morrow

[2021-02-19 08:07] jepiqueau commented on #82
@MKlimentowicz Hi, i will close that issue to morrow if no news

[2021-02-19 08:08] jepiqueau commented on #79
@tfuetterer Hi, i will close that issue to morrow if no news

[2021-02-19 08:08] jepiqueau commented on #79
@tfuetterer Hi, i will close that issue to morrow if no news

[2021-02-19 08:09] jepiqueau commented on #78
@deepakjsr7979 As i cannot do too much i close the issue

[2021-02-19 08:09] #78 closed

[2021-02-19 08:09] #77 closed

[2021-02-21 19:50] pratiksan45 opened #83 "Can we create a new database file using this plugin ?"

[2021-02-22 10:43] Snogo commented on #81
I didn't use the same code structure as before for now but got no problems anymore with getting the SQLconnection so far with your fix. thus I will close this issue

[2021-02-22 10:43] #81 closed

[2021-02-22 11:24] Snogo opened #84 "AutoIncrement of Primary ID not working"
somehow the AutoIncrement for any primary ID is not working for me. I tried two different tables and different times to INSERT a new row with different values. also when inserting two rows subsequently with the same values. the `ret.changes.lastId` is always **1**. I also tried to include the word AUTOINCREMENT in my create table sql like `id INTEGER PRIMARY KEY _AUTOINCREMENT_ NOT NULL` with no e

[2021-02-22 11:58] jepiqueau commented on #83
@pratiksan45  the answer is yes for sure. What is the issue?

[2021-02-22 11:59] #79 closed

[2021-02-22 11:59] #82 closed

[2021-02-22 12:10] jepiqueau commented on #84
@Snogo this is strange , can you share the table schema and the createNewOccurrence string so i can try to reproduce it?

[2021-02-22 13:35] Snogo commented on #84
[code]

[code]

[2021-02-22 18:08] jepiqueau commented on #84
@Snogo look at `https://www.sqlite.org/datatype3.html` you will see that the DATETIME is not a SQLite types.
[code]
it should be the reason. me i used an Integer where i stored the unix epochs date

[2021-02-23 11:56] Snogo commented on #84
thank you for pointing that out. you are right. I changed it to **TEXT** and use the format "DD.MM.YYYY HH:MM:SS" and I am more conscious about using dates in general but still the `lastId ` is still **1** unfortunately. also in another table:

[code]
do you have another idea?

[2021-02-24 08:37] jepiqueau commented on #84
@Snogo this has been fixed in 2.9.13 see `https://github.com/jepiqueau/vue-sqlite-app-starter/tree/refactor`for validation test

[2021-02-24 13:36] Snogo commented on #84
@jepiqueau it works! thank you very much for the support and fix. I will close this issue

[2021-02-24 13:36] #84 closed

[2021-02-27 11:53] logisnap opened #85 "No available connection for database test-db"
First of all thanks for writing a really cool SQlite plugin. It looks like it simplifies all the issues i have had with mobil SQLite in the past.

After successfully importing json schema and trying to open connection to the database i am getting:
**"No available connection for database test-db"**

I have no data in the tables as some special logic are running to preseed the DB on the device.

If

[2021-02-27 16:58] jepiqueau commented on #85
@logisnap No problem to help you and thanks to looking at the plugin. First of All which release of the plugin are you using ?, which Framework (Ionic/Angular, Ionic/React or Ionic/Vue) ?  On which device are you testing and get the error? Did you look at the different applications starter which are referenced in the documentation. Can you share the code where you import the json Object till you g

[2021-02-27 17:04] jepiqueau commented on #85
@logisnap The article that you mentioned was using the old version of the plugin

[2021-02-27 18:43] logisnap commented on #85
HI @jepiqueau

Thank you for getting back to me.

I am using version "@capacitor-community/sqlite": "^2.9.12",  on ionic/angular.

My test devices are Oneplus and levono tab M7. Both behaves the same way. I am running with external server through android studio and chrome device debugging.

Here are my init db
`  async init(): Promise<void> {
    const info = await Device.getInfo();

    if (info.

[2021-02-27 18:45] logisnap commented on #85
Here are my downloadDatabase code:
`  private downloadDatabase(update = false) {
    try {
      this.http.get(environment.APIlogiURL+'database/getSchema').subscribe(async (jsonExport: JsonSQLite) => {
        console.log("Downloaded json:", jsonExport);
        const jsonstring = JSON.stringify(jsonExport);
        const isValid = await CapacitorSQLite.isJsonValid({ jsonstring });

        consol

[2021-02-27 19:35] logisnap commented on #85
The Starter app works on both platforms.

[2021-02-28 04:13] jepiqueau commented on #85
@logisnap You are mixing the code between the 2.4.x and the 2.9.x releases. In 2.9.12 the request for permissions has been removed. so look carefully at `https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor`to understand how the service works. again take care of the version as it seems that you are using the service from the master which is the 3.0.0-beta version. take the one of

[2021-02-28 09:23] logisnap commented on #85
THANK YOU!

for pointing me in the right direction. I have it running on 2.9

I must say that this is a really cool integration. Thumbs up.

I am closing the ticket.

[2021-02-28 09:23] #85 closed

[2021-02-28 13:46] jepiqueau commented on #85
@logisnap I am glad that you solved it. Good luck and happy development

[2021-03-02 12:39] Snogo opened #86 "sqlite undefined in async method | Ionic Vue"
maybe related to issue #81

in any async method inside the method block of the composition api `sqlite ` seems `undefined ` like here :

[code]
Windows10. "@capacitor-community/sqlite": "^2.9.13". "vue-sqlite-hook": "^1.0.1". "@ionic/vue": "^5.5.4"
Samsung Galax S7. Android

[2021-03-03 09:00] Snogo commented on #86
solved this by using the `sqlite` from the `setup`. so like
` const db = await **this**.sqlite.createConnection("vdb");`
which is actually the better and probably propper way to do it. thus I don't know if it's an isssue

[2021-03-03 11:13] timrosskamp opened #87 "Error "Not implemented on Web Platform" on iOS"
**Describe the bug**

I get the Error "{"result":false,"message":"Not implemented on Web Platform"}" when trying to use this plugin on a virtual device started by XCode. This shouldn't happen since I'm on iOS and not the Web Platform. I also tried this in Andoid Studio and I get a similar Error.

I'm trying to connect to an existing database which has been copied to the device. The file is located

[2021-03-03 11:43] jepiqueau commented on #83
@pratiksan45 as you did not come back i close the issue

[2021-03-03 11:46] jepiqueau commented on #87
@timrosskamp Did you run `npx cap sync` before building your app?

[2021-03-03 11:52] #83 closed

[2021-03-03 11:53] timrosskamp commented on #87
Yes I did. I just tried it again and rerun `ionic cap sync` and `ionic cap build ios`. Unfortunately the error persists.

[2021-03-03 11:59] jepiqueau commented on #86
@Snogo i think the problem is with `const sqlite= ... ` that should be in the setup() method and you can pass it as argument of your methods

[2021-03-03 13:51] felixerdy opened #88 "Allow users to set secret"
**Is your feature request related to a problem? Please describe.**
I'd like to provide users a way to set the secret for an encrypted database by themselves. Currently, it's only possible (as far as I'm aware of) to define the secret before building the app in [different files, depending on the platform](https://github.com/capacitor-community/sqlite/blob/master/docs/API.md#defining-your-own-secret

[2021-03-03 14:11] timrosskamp commented on #87
When I run: `console.log(await sqlite.echo('ping'))`
I get this in the logs:
[code]

[2021-03-03 14:30] timrosskamp commented on #87
I got it to work!

This is the code that seems to work:

[code]

I guess using `CapacitorSQLite` from `@capacitor-community/sqlite` always refers to the web plugin, while in `Plugins` from `@capacitor/core` the native plugin can be accessed.

Also I had to add the folder `databases/` to the database name.

This produces the following result in the logs:

[code]

[2021-03-03 14:30] #87 closed

[2021-03-04 07:36] jepiqueau commented on #87
@timrosskamp Hi, if you look at `https://github.com/jepiqueau/angular-sqlite-app-starter/blob/refactor/src/app/services/sqlite.service.ts` you have the way it should be implemented for the 2.9.x version of the plugin.
for the 3.0.0 you should look at `https://github.com/jepiqueau/angular-sqlite-app-starter/blob/master/src/app/services/sqlite.service.ts`
and do the same for Vue and it should work
Y

[2021-03-04 09:35] Snogo commented on #86
@jepiqueau true. I will close this issue

[2021-03-04 09:35] #86 closed

[2021-03-04 11:41] timrosskamp commented on #87
Oh, now I see what happend. I did accually look at `vue-sqlite-hook` to copy the code. My mistake was I didn't switch to the latest branch, so I copied outdated code.
Thanks for the development on this plugin!

[2021-03-04 13:43] danielprrazevedo opened #89 "executeSet on android not accept null values"
**Describe the bug**
When I try to insert a null value in a field that should accept null by executeSet, it tells me that it is not supported. (in the list of accepted values, null appears as a possible value)

**To Reproduce**
After creating your table in a field marked as null, try inserting, via executeSet, a null value in a field that should accept nulls

In Android Studio
```Error executeSet:

[2021-03-04 16:02] jepiqueau commented on #89
@danielprrazevedo Can you share the table schema and the executeSet statement so i can test it easily as i am quite busy on something else right now

[2021-03-04 16:08] jepiqueau commented on #88
@felixerdy It was done like this in early release, but people where complaining that it was not safe to do it that way and were asking to have it in the App so i do not know what is the right answer for this issue

[2021-03-06 11:01] Youssefraqui opened #90 "Changing encryption Key after build"
First of all, a big thanks for the effort to come up with this great capacitor library which will help a lot in interacting with SQLite databases.
I read your docs and i seems that we need to set yp the encryption key befor building the application, but what if i need to define a custom key per each application user. Therefore, i need to define the encryption key at the application install in each

[2021-03-06 18:42] jepiqueau commented on #90
@Youssefraqui First thanks for looking at the plugin. I understand the question which in fact is the same than issue#88. The only way i saw is to let the user giving the secret after the first installation and store it in a storage which is may be not really safe. For SQLCipher i use only the SQLCipher Community Edition which is  open source see `https://www.zetetic.net/sqlcipher/open-source/`

[2021-03-08 02:12] JuanDeLeon opened #91 "createConnection returns null"
Hey, not sure what I could be doing wrong, but the createConnection method is returning null.
Here's the relevant code. It is in a try catch block, but no exceptions or error messages are being thrown at all.

[code]

[code]

Package.json:
[code]

Expected the createConnection() result to not be null.
Getting the following in browser, simulator, and actual device.

<img width="632" alt="Captura de

[2021-03-08 05:23] JuanDeLeon commented on #91
Ok, somehow, my Podfile was missing this plugin... so I just added this line and ran 'pod install' then everything worked.
`pod 'CapacitorCommunitySqlite', :path => '../../node_modules/@capacitor-community/sqlite'`

[2021-03-08 05:23] #91 closed

[2021-03-08 08:23] jepiqueau commented on #91
@JuanDeLeon Thanks for using the plugin. I saw that you find your way. Good luck with your development

[2021-03-09 07:59] candreapps opened #92 "Browser support"
**Is your feature request related to a problem? Please describe.**
Browser is not supported.

**Describe the solution you'd like**
I would like to open my App in Browser and have the same behavior as on Mobile.

**Describe alternatives you've considered**
For Cordova Browser support seems to work https://github.com/storesafe/cordova-sqlite-storage

[2021-03-09 13:37] jepiqueau commented on #92
@candreapps Thanks for looking at the plugin. i already mentioned several times that i will not develop the browser support. The developer can use the Electron plugin part for this and then the database will be stored on disk. It will ask  a lot of work for storing a database in memory; `sql.js` uses a virtual database file stored in memory. So i do not really see the point of doing all this effor

[2021-03-09 15:15] candreapps commented on #92
Thank you for your quick reply. I found your statement on that in issue #2. Sorry for any inconvenience.

[2021-03-10 08:09] jepiqueau commented on #92
@candreapps No problem, You are welcome May be you would like to contribute and develop it yourself for the benefit of the capacitor community. Many developers asked for it, In that case make a PR and i will have a look.

[2021-03-10 12:46] noerw commented on #88
Having the key in the app source code is not safe either. The key is public,
Much less safe even, as it will be the same for all apps using this plugin unmodified.

The right way to do this for Android imho is:
- add password flag for app and/or user-provided to DB open constructor
- generate random key on DB creation
- store the random key in android's [KeyStore](https://developer.android.com/ref

[2021-03-10 12:47] noerw commented on #90
duplicate of #88, where I continued the discussion :)

[2021-03-10 15:23] candreapps commented on #92
Unfortunately I'm not that good at programming yet :)

[2021-03-11 07:56] jepiqueau commented on #88
@noerw thank you for opening the discussion with a proposal, the solution must also contains the migration of existing encrypted databases using the current way. I think this have to be done on the release 3 beta of the plugin.
Can you contribute for the android part following your proposal , i will review it and if it works well and accepted by the capacitor developer community, i will implement

[2021-03-11 08:08] jepiqueau commented on #88
@noerw the password can also be stored in Android Shared Preferences which is a key value store persisting when the app is close. The value could be encrypted with the device ID's

[2021-03-12 07:43] ncham opened #93 "Use copyFromAssets"
I'm new to ionic and sqlite, my requirement is to copy prepopulated .db file to android device.
I did read the documentation but bit confused using this library, about the connection and copyFromAssets() function.

Could anybody please give me a brief idea about this.

[2021-03-12 15:40] accron-1 opened #94 "Db export fails to export column of type 'REAL'"
**Describe the bug**
Exporting the db with `exportToJson({jsonexportmode:'full'})` fails to export column of type `REAL`.

**To Reproduce**
Create a db with a table that has a column type of `REAL`, and export the data.

**Expected behavior**
The exported data should also contain the data from column of type `REAL`.

**Screenshots**
Given the schema:
![db_schema](https://user-images.githubusercont

[2021-03-14 06:06] jepiqueau commented on #93
@ncham you should look at the application starter referenced in the Readme to understand how to use  this plugin before starting your development.
 The copyFromAssets allow you to set in your app prepopulated dbs. you store them into YOUR_APPLICATION/src/assets/databases folder. Then the first thing you do in your app is to copy the database(s) into the right location by using
[code]
and then you

[2021-03-14 06:09] jepiqueau commented on #94
@accron-1 I will have a look

[2021-03-14 07:39] jepiqueau commented on #94
@accron-1 Well it is working fine.
your entry for the import should be :
[code]

[2021-03-14 07:56] jepiqueau commented on #94
@accron-1 you can see it working in `https://github.com/jepiqueau/angular-sqlite-app-starter/tree/refactor`

[2021-03-14 08:43] accron-1 commented on #94
Thanks for looking into it!
However, that's not the output I get:
[code]
So there seems to be something else at play here.

My overall db schema is more complex of course:
![schema](https://user-images.githubusercontent.com/14213307/111062528-a1926f00-84a9-11eb-854e-08c0dfaaa693.png)

Also, this was one of the first features that I added and tested in my app, about a year ago, and it did work with

[2021-03-14 09:34] accron-1 commented on #94
I just tried changing `REAL` to `INTEGER` for the table schema, to see if it makes a difference, and sure enough everything works as expected:

![export_integer](https://user-images.githubusercontent.com/14213307/111063707-85de9700-84b0-11eb-937f-7dca62cd39ae.png)

So it definitely has something to do with the col type being `REAL`.

[2021-03-14 10:45] DiappyMed opened #95 "“export ‘registerPlugin’ was not found in ‘@capacitor/core’"
Hello,

When i tried to build the project using Capacitor-sqlite, i had the following error:

ERROR in ./node_modules/@capacitor-community/sqlite/dist/esm/index.js 2:24-38
“export ‘registerPlugin’ was not found in ‘@capacitor/core’

Do you have any idea how i can resolve it?

Thanks a lot in advance,

[2021-03-14 11:05] accron-1 commented on #94
To clarify: between the first implementation, when it worked, and now, I have upgraded the plugin on a few occasions, but I never tried the export-feature between upgrades. Therefore I can't say at what version it stopped working.

[2021-03-14 11:41] jepiqueau commented on #94
@accron-1 If you can make a small replicate of the app showing the problem and share it on github i could have a look otherwise it would be difficult for me to grab what is wrong as i could not replicate it

[2021-03-14 13:03] accron-1 commented on #94
I'm not sure if I can break down the app to anything smaller.
But in the meantime I've come up with another test: I set the col type to `INTEGER` (which we've seen seems to work), but insert a float instead (Sqlite doesn't enforce types, so it's no problem). Thus:

These values (note that `Weight` is now a decimal number):
![img1](https://user-images.githubusercontent.com/14213307/111069209-50e03d

[2021-03-14 16:20] jepiqueau commented on #94
@accron-1 I tested it on android and ios in an angular app using the @capacitor-community/sqlite@latest which is the 2.9.13 .
i bound the value according to the type which can be TEXT, REAL, INTEGER, BLOB and that is it so FLOAT is not a sqlite3 type.
if you cannot split the application in a small one and share it i could not really help as it works with my test app.

[2021-03-14 16:22] jepiqueau commented on #95
@DiappyMed  thanks for using the plugin which version of the plugin are you using ? which framework Ionic/Angular, Ionic/React, Ionic/Vue ? Did you look at the applications starter?

[2021-03-14 16:23] jepiqueau commented on #95
@DiappyMed Show me the package.json file

[2021-03-14 16:25] jepiqueau commented on #94
@accron-1 look at `https://www.sqlite.org/datatype3.html` for the supported types

[2021-03-14 17:30] DiappyMed commented on #95
Thank you for your quick reply. We are using Ionic/Angular.
},
  "private": true,
  "dependencies": {
    "@angular/common": "~10.0.0",
    "@angular/core": "~10.0.0",
    "@angular/forms": "~10.0.0",
    "@angular/platform-browser": "~10.0.0",
    "@angular/platform-browser-dynamic": "~10.0.0",
    "@angular/router": "~10.0.0",
    "@capacitor/core": "2.4.5",
    "@ionic-native/core": "^5.0.0",

[2021-03-14 18:17] accron-1 commented on #94
I'm aware that a `FLOAT` type doesn't exist in Sqlite, I was merely illustrating another potential issue.

What test can I do that will give you more info regarding this issue?

[2021-03-14 19:24] accron-1 commented on #94
Another difference between your export and mine is that yours contains the version number: `version : 1`
My export doesn't have that, as you can see above.
I noticed that from the start, but thought that I hadn't defined the version in my db script. I checked now and I do have it:
`PRAGMA user_version = 1;`
It's more evidence that our versions don't behave the same.

[2021-03-15 03:27] ncham commented on #93
I implemented it according to the documentation and the return value of
`await this._sqlite.copyFromAssets();`
was `Msg: {"result":false,"message":"Not implemented on Web Platform"}`
But I'm running it on Android Studio emulator.

Return value of
`let dbS = await this._sqlite.createConnection("sample", false, "no-encryption", 1);`
was `Msg: ERROR Error: Uncaught (in promise): Error: no db returned

[2021-03-15 07:16] jepiqueau commented on #95
@DiappyMed You have to follow the instructions from the readme file.
first install
[code]
when this is done install the plugin
[code]
and then
[code]
On Android, register the plugin in your main activity:
[code]
Now it should work

[2021-03-15 07:19] jepiqueau commented on #93
@ncham
Which version of the plugin are you using?
If it is 2.9.13 or lower and you are on Android platform, register the plugin in your main activity:
[code]
and it should work

[2021-03-15 07:45] jepiqueau commented on #94
@accron-1  ok show me your package.json file

Did you run `npx cap sync` before building your app.
Show me your `MainActivity.java` file
Was your database created with an `importFromJson` process or through standard use of SQLite statements (Execute, ExecuteSet, Run ...)
if `importFromJson` give me the json object  as you enter it
otherwise show me the statements.

Can run this statement with quer

[2021-03-15 08:01] jepiqueau commented on #94
@accron-1 In android studio, can you open your app
open the folder `capacitor-community-sqlite`
open the folder java and the subfolder `com.getcapacitor.community.database.sqlite.SQLite.ImportExportJson`
open the file `UtilsJson.java`
go to line 158
`            if (type.equals("REAL") && (value instanceof Double || value instanceof Integer)) ret = true;`
change it with
`            if (type.equal

[2021-03-15 08:15] ncham commented on #93
Registered the plugin but still the same result.

The version I'm using is 2.9.13 and developing with ionic and angular.
The app should run on both Android and iOS but still testing with Android.

I guess `CapacitorSQLite` is taken from sqlite/dist/esm/web.d.ts always.

[2021-03-15 08:34] DiappyMed commented on #95
Hello Jean Pierre,
Thanks a lot, i upgraded my Capacitor/Core to 2.4.7 and it is working fine.

I am facing another difficulty when using osDatabase or isDBExists. I did run the code on android studio emulator or my real divice, but i always get this returned result, even when i do copy the database first:

"{"result":false,"message":"Not implemented on Web Platform"}"

how i did use it:
Capacitor